---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Resource for managing the logging configurations for the Janssen Server.
---

# {{.Name}} ({{.Type}})

Resource for managing the logging configurations for the Janssen Server.
This resource cannot be created or deleted, only imported and updated.

## Example Usage

```terraform
resource "jans_logging_configuration" "global" {
  logging_level               = "INFO"
  logging_layout              = "text"
  http_logging_enabled        = false
  disable_jdk_logger          = true
  enabled_oauth_audit_logging = false
}
```

{{ .SchemaMarkdown | trimspace }}
