# editable install of jans-pycloudlib
-e .

# type-checker; run it with 'mypy --install-types jans'
mypy>=0.971

# internal docs generator
zensical>=0.0.58
mkdocstrings-python>=0.7.1
mkdocs-click>=0.8.0

idna>=3.15
