openapi: 3.0.1
info:
  title: jans-config-api
  description: jans-config-api - Authorization services
  contact:
    email: xxx@gluu.org
  license:
    name: License
    url: 'https://github.com/JanssenProject/blob/master/LICENSE'
  version: '1.0.0'
servers:
  - url: 'https://jans.io/'
tags:
  - name: developers
    description: jans-config-api enables access to the features available via the existing Jans Authorization Server API.
  - name: Attribute
  - name: Default Authentication Method
  - name: Cache Configuration
  - name: Cache Configuration – Memcached
  - name: Cache Configuration – Redis
  - name: Cache Configuration – in-Memory
  - name: Cache Configuration – Native-Persistence
  - name: Configuration – Properties
  - name: Fido2 - Configuration
  - name: Configuration – SMTP
  - name: Configuration – Logging
  - name: Configuration – JWK - JSON Web Key (JWK)
  - name: Custom Scripts
  - name: Database - LDAP configuration
  - name: OAuth - OpenID Connect - Clients
  - name: OAuth - UMA Resources
  - name: OAuth - Scopes
  - name: Configuration – Agama Flow
  - name: Statistics - User
  - name: Health - Check
  - name: Server Stats
  - name: Auth - Session Management
  - name: Configuration – User Management
  - name: SCIM - Config Management
  - name: Organization Configuration
  - name: Auth Server Health - Check
  - name: Admin UI - Role
  - name: Admin UI - Permission
  - name: Admin UI - Role-Permissions Mapping
  - name: Admin UI - License
paths:
  /jans-config-api/api/v1/jans-auth-server/config:
    get:
      summary: Gets all Jans authorization server configuration properties.
      description: Gets all Jans authorization server configuration properties.
      operationId: get-properties
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/properties.readonly]
      tags:
        - Configuration – Properties
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AppConfiguration
                description: Jans Authorization Server config properties.
                $ref: '#/components/schemas/AppConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Partially modifies Jans authorization server Application configuration properties.
      description: Partially modifies Jans authorization server AppConfiguration properties.
      operationId: patch-properties
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/properties.write]
      tags:
        - Configuration – Properties
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: loggingLevel, value: DEBUG } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AppConfiguration
                description: Jans authorization server config properties.
                $ref: '#/components/schemas/AppConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/api/v1/jans-auth-server/config/persistence:
    get:
      summary: Returns persistence type configured for Jans authorization server.
      description: Returns persistence type configured for Jans authorization server.
      operationId: get-properties-persistence
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/properties.readonly]
      tags:
        - Configuration – Properties
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: PersistenceConfiguration
                description: Jans Authorization Persistence Configuration object.
                $ref: '#/components/schemas/PersistenceConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/fido2/config:
    get:
      summary: Gets Jans Authorization Server Fido2 configuration properties.
      description: Gets Jans Authorization Server Fido2 configuration properties.
      operationId: get-properties-fido2
      tags:
        - Fido2 - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JansFido2DynConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/fido2.readonly]
    put:
      summary: Updates Fido2 configuration properties.
      description: Updates Fido2 configuration properties.
      operationId: put-properties-fido2
      tags:
        - Fido2 - Configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JansFido2DynConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JansFido2DynConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/fido2.write]
    parameters: []
  /jans-config-api/fido2/registration/entries/{username}:
    parameters:
      - name: username
        in: path
        required: true
        description: Username.
        schema:
          type: string
    get:
      summary: Get details of connected FIDO2 devices registered to user.
      description: Get details of connected FIDO2 devices registered to user.
      operationId: get-registration-entries-fido2
      tags:
        - Fido2 - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: FIDO2 registered devices
                description: List of all FIDO2 registered devices.
                type: array
                items:
                  $ref: '#/components/schemas/Fido2RegistrationEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [ https://jans.io/oauth/config/fido2.readonly ]
		
  /jans-config-api/api/v1/attributes:
    get:
      summary: Gets a list of Gluu attributes.
      description: 'Gets all attributes. Optionally max-size of the result, attribute status and pattern can be provided.'
      operationId: get-all-attribute
      tags:
        - Attribute
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          description: Unauthorized
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/attributes.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: string
            default: all
          in: query
          name: status
          description: Status of the attribute
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: inum
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".

    post:
      summary: Adds a new attribute.
      description: Adds a new attribute.
      operationId: post-attributes
      tags:
        - Attribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GluuAttribute'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          description: Unauthorized
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/attributes.write]
    put:
      summary: Updates an existing attribute.
      description: Updates an existing attribute.
      operationId: put-attributes
      tags:
        - Attribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GluuAttribute'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          description: Unauthorized
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/attributes.write]
    parameters: []
  '/jans-config-api/api/v1/attributes/{inum}':
    parameters:
      - name: inum
        in: path
        required: true
        description: Attribute ID.
        schema:
          type: string
    get:
      summary: Gets an attribute based on inum.
      description: Gets an attribute based on inum.
      operationId: get-attributes-by-inum
      tags:
        - Attribute
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/attributes.readonly]
    delete:
      summary: Deletes an attribute based on inum.
      description: Deletes an attribute based on inum.
      operationId: delete-attributes-by-inum
      tags:
        - Attribute
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/attributes.delete]
    patch:
      summary: Partially modify a GluuAttribute.
      description: Partially modify a GluuAttribute.
      operationId: patch-attributes-by-inum
      security:
        - oauth2: [https://jans.io/oauth/config/attributes.write]
      tags:
        - Attribute
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: displayName, value: \"CustomAttribute\" } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/api/v1/acrs:
    get:
      summary: Gets default authentication method.
      description: Gets default authentication method.
      operationId: get-acrs
      tags:
        - Default Authentication Method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationMethod'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/acrs.readonly]
    put:
      summary: Updates default authentication method.
      description: Updates default authentication method.
      operationId: put-acrs
      tags:
        - Default Authentication Method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationMethod'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationMethod'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/acrs.write]
    parameters: []
  /jans-config-api/api/v1/config/database/ldap:
    get:
      summary: Gets list of existing LDAP configurations.
      description: Gets list of existing LDAP configurations.
      operationId: get-config-database-ldap
      tags:
        - Database - LDAP configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: LdapConfiguration
                description: List of configured LDAP configuration.
                type: array
                items:
                  $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.readonly]
    post:
      summary: Adds a new LDAP configuration.
      description: Adds a new LDAP configuration.
      operationId: post-config-database-ldap
      tags:
        - Database - LDAP configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapConfiguration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.write]
    put:
      summary: Updates LDAP configuration.
      description: Updates LDAP configuration.
      operationId: put-config-database-ldap
      tags:
        - Database - LDAP configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.write]
    parameters: []
  /jans-config-api/api/v1/config/database/ldap/{name}:
    parameters:
      - name: name
        in: path
        required: true
        description: Name of LDAP configuration.
        schema:
          type: string
    get:
      summary: Gets an LDAP configuration by name.
      description: Gets an LDAP configuration by name.
      operationId: get-config-database-ldap-by-name
      tags:
        - Database - LDAP configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.readonly]
    delete:
      summary: Deletes an LDAP configuration.
      description: Deletes an LDAP configuration.
      operationId: delete-config-database-ldap-by-name
      tags:
        - Database - LDAP configuration
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.delete]
    patch:
      summary: Partially modify an LDAP configuration.
      description: Partially modify an LDAP configuration.
      operationId: patch-config-database-ldap-by-name
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.write]
      tags:
        - Database - LDAP configuration
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: maxConnections, value: 8 } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/api/v1/config/database/ldap/test:
    post:
      summary: Tests an LDAP configuration.
      description: Tests an LDAP configuration.
      operationId: post-config-database-ldap-test
      tags:
        - Database - LDAP configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
                description: LDAP connection status true if connection is successfully established.

        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/database/ldap.readonly]


  /jans-config-api/api/v1/config/scripts:
    get:
      summary: Gets a list of custom scripts.
      description: Gets a list of custom scripts.
      operationId: get-config-scripts
      tags:
        - Custom Scripts
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: inum
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
  
    post:
      summary: Adds a new custom script.
      description: Adds a new custom script.
      operationId: post-config-scripts
      tags:
        - Custom Scripts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomScript'
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.write]
    put:
      summary: Updates a custom script.
      description: Updates a custom script.
      operationId: put-config-scripts
      x-cli-getdata: get-config-scripts-by-inum
      tags:
        - Custom Scripts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomScript'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.write]

  /jans-config-api/api/v1/config/scripts/name/{name}:
    parameters:
      - name: name
        in: path
        required: true
        description: Script name.
        schema:
          type: string
    get:
      summary: Fetch custom script by name.
      description: Fetch custom script by name.
      operationId: get-custom-script-by-name
      tags:
        - Custom Scripts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.readonly]

  /jans-config-api/api/v1/config/scripts/type/{type}:
    parameters:
      - schema:
          type: string
          enum:
            - '- person_authentication'
            - '- introspection'
            - '- resource_owner_password_credentials'
            - '- application_session'
            - '- cache_refresh'
            - '- client_registration'
            - '- id_generator'
            - '- uma_rpt_policy'
            - '- uma_rpt_claims'
            - '- uma_claims_gathering'
            - '- consent_gathering'
            - '- dynamic_scope'
            - '- spontaneous_scope'
            - '- end_session'
            - '- post_authn'
            - '- scim'
            - '- ciba_end_user_notification'
            - '- persistence_extension'
            - '- idp'
            - 'revoke_token'
            - 'discovery'
            - 'update_token'
            - 'config_api_auth'
        name: type
        in: path
        description: Script type.
        required: true
      - schema:
          type: integer
          default: 50
        in: query
        name: limit
        description: Search size - max size of the results to return.
      - schema:
          type: string
        in: query
        name: pattern
        description: Search pattern.
      - schema:
          type: integer
          default: 1
        in: query
        name: startIndex
        description: The 1-based index of the first query result.
      - schema:
          type: string
          default: inum
        in: query
        name: sortBy
        description: Attribute whose value will be used to order the returned response.
      - schema:
          type: string
          default: ascending
          enum:
            - ascending
            - descending
        in: query
        name: sortOrder
        description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
    get:
      summary: Gets list of scripts by type.
      description: Gets list of scripts by type.
      operationId: get-config-scripts-by-type
      x-cli-ignore: true
      tags:
        - Custom Scripts
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.readonly]
  /jans-config-api/api/v1/config/scripts/inum/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        required: true
        description: Script identifier.
    get:
      summary: Gets a script by Inum.
      description: Gets a script by Inum.
      operationId: get-config-scripts-by-inum
      x-cli-ignore: true
      tags:
        - Custom Scripts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.readonly]
  /jans-config-api/api/v1/config/scripts/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        required: true
        description: Script identifier.
    delete:
      summary: Deletes a custom script.
      description: Deletes a custom script.
      operationId: delete-config-scripts-by-inum
      tags:
        - Custom Scripts
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.delete]
    patch:
      summary: Partially update custom script.
      description: Partially update custom script.
      operationId: patch-config-scripts-by-inum
      security:
        - oauth2: [https://jans.io/oauth/config/scripts.write]
      tags:
        - Custom Scripts
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: enabled, value: \"false\" } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /jans-config-api/api/v1/config/cache:
    get:
      summary: Returns cache configuration.
      description: Returns cache configuration.
      operationId: get-config-cache
      tags:
        - Cache Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.readonly]
    patch:
      summary: Partially modifies cache configuration.
      description: Partially modifies cache configuration.
      operationId: patch-config-cache
      tags:
        - Cache Configuration
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: memcachedConfiguration, value: response.memcachedConfiguration } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
  /jans-config-api/api/v1/config/cache/memcached:
    get:
      summary: Returns Memcached cache configuration.
      description: Returns Memcached cache configuration.
      operationId: get-config-cache-memcached
      tags:
        - Cache Configuration – Memcached
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates Memcached cache configuration.
      description: Updates Memcached cache configuration.
      operationId: put-config-cache-memcached
      tags:
        - Cache Configuration – Memcached
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemcachedConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
    parameters: []
    patch:
      summary: Partially modifies Memcached cache configuration.
      description: Partially modifies Memcached cache configuration.
      operationId: patch-config-cache-memcached
      tags:
        - Cache Configuration – Memcached
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: memcachedConfiguration, value: response.memcachedConfiguration } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
  /jans-config-api/api/v1/config/cache/redis:
    get:
      summary: Returns Redis cache configuration.
      description: Returns Redis cache configuration.
      operationId: get-config-cache-redis
      tags:
        - Cache Configuration – Redis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates Redis cache configuration.
      description: Updates Redis cache configuration.
      operationId: put-config-cache-redis
      tags:
        - Cache Configuration – Redis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
    parameters: []
    patch:
      summary: Partially modifies Redis cache configuration.
      description: Partially modifies Redis cache configuration.
      operationId: patch-config-cache-redis
      tags:
        - Cache Configuration – Redis
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: redisConfiguration/defaultPutExpiration, value: 80 } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
  /jans-config-api/api/v1/config/cache/in-memory:
    get:
      summary: Returns in-Memory cache configuration.
      description: Returns in-Memory cache configuration.
      operationId: get-config-cache-in-memory
      tags:
        - Cache Configuration – in-Memory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates in-Memory cache configuration.
      description: Updates in-Memory cache configuration.
      operationId: put-config-cache-in-memory
      tags:
        - Cache Configuration – in-Memory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InMemoryConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
    parameters: []
    patch:
      summary: Partially modifies In-Memory cache configuration.
      description: Partially modifies In-Memory cache configuration.
      operationId: patch-config-cache-in-memory
      tags:
        - Cache Configuration – in-Memory
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: inMemoryConfiguration/defaultPutExpiration, value: 80 } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
  /jans-config-api/api/v1/config/cache/native-persistence:
    get:
      summary: Returns native persistence cache configuration.
      description: Returns native persistence cache configuration.
      operationId: get-config-cache-native-persistence
      tags:
        - Cache Configuration – Native-Persistence
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates native persistence cache configuration.
      description: Updates native persistence cache configuration.
      operationId: put-config-cache-native-persistence
      tags:
        - Cache Configuration – Native-Persistence
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NativePersistenceConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
    parameters: []
    patch:
      summary: Partially modifies Native Persistence cache configuration.
      description: Partially modifies Native Persistence cache configuration.
      operationId: patch-config-cache-native-persistence
      tags:
        - Cache Configuration – Native-Persistence
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: nativePersistenceConfiguration/defaultPutExpiration, value: 80 } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/cache.write]
  /jans-config-api/api/v1/config/smtp:
    get:
      summary: Returns SMTP server configuration.
      description: Returns SMTP server configuration.
      operationId: get-config-smtp
      tags:
        - Configuration – SMTP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/smtp.readonly]
    post:
      summary: Adds SMTP server configuration.
      description: Adds SMTP server configuration.
      operationId: post-config-smtp
      tags:
        - Configuration – SMTP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmtpConfiguration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/smtp.write]
    put:
      summary: Updates SMTP server configuration.
      description: Updates SMTP server configuration.
      operationId: put-config-smtp
      tags:
        - Configuration – SMTP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmtpConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/smtp.write]
    delete:
      summary: Deletes SMTP server configuration.
      description: Deletes SMTP server configuration.
      operationId: delete-config-smtp
      tags:
        - Configuration – SMTP
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/smtp.delete]
    parameters: []
  /jans-config-api/api/v1/config/smtp/test:
    post:
      summary: Test SMTP server configuration.
      description: Test SMTP server configuration.
      operationId: test-config-smtp
      tags:
        - Configuration – SMTP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
                description: SMTP test status true if email sent is successful.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/smtp.readonly]
  /jans-config-api/api/v1/logging:
    get:
      tags:
        - Configuration – Logging
      summary: Returns Jans Authorization Server logging settings.
      description: Returns Jans Authorization Server logging settings.
      operationId: get-config-logging
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggingConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/logging.readonly]
    put:
      tags:
        - Configuration – Logging
      summary: Updates Jans Authorization Server logging settings.
      description: Updates Jans Authorization Server logging settings.
      operationId: put-config-logging
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoggingConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggingConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/logging.write]
    parameters: []
  /jans-config-api/api/v1/config/jwks:
    get:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Gets list of JSON Web Key (JWK) used by server.
      description: 'Gets list of JSON Web Key (JWK) used by server. JWK is a JSON data structure that represents a set of public keys as a JSON object [RFC4627].'
      operationId: get-config-jwks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebKeysConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.readonly]
    put:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Puts/replaces JWKS
      description: Puts/replaces JSON Web Keys (JWKS).
      operationId: put-config-jwks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebKeysConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebKeysConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.write]
    patch:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Patch JWKS
      description: Patch JSON Web Keys (JWKS).
      operationId: patch-config-jwks
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
              example: '[{"op": "add","path": "/keys/1", "value": { "kty": "RSA", "e": "AQAB","use": "sig","crv": "","kid": "dd570bfb-276a-44aa-a97d-667b57587108_sig_rs256","x5c": ["MIIDBDCC..."],"exp": 1599751946863,"alg": "RS256","n": "zj1NE.."}}]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebKeysConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.write]
  /jans-config-api/api/v1/config/jwks/key:
    post:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Adds a new key to JSON Web Keys (JWKS)
      description: Adds a new key to JSON Web Keys (JWKS).
      operationId: post-config-jwks-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonWebKey'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonWebKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.write]
  /jans-config-api/api/v1/config/jwks/{kid}:
    parameters:
      - schema:
          type: string
        name: kid
        in: path
        description: The unique identifier for the key.
        required: true
    get:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Get a JSON Web Key based on kid
      description: Get a JSON Web Key based on kid
      operationId: put-config-jwk-kid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonWebKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.readonly]
    patch:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Patch a specific JSON Web Key based on kid
      description: Patch a specific JSON Web Key based on kid
      operationId: patch-config-jwk-kid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
              example: '[{"op": "add","path": "/kty", "value": "RSA"}]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonWebKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.write]
    delete:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Delete a JSON Web Key based on kid
      description: Delete a JSON Web Key based on kid
      operationId: delete-config-jwk-kid
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/jwks.delete]
  /jans-config-api/api/v1/openid/clients:
    get:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Gets list of OpenID Connect clients
      description: Gets list of OpenID Connect clients
      operationId: get-oauth-openid-clients
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/openid/clients.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: inum
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
    post:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Create new OpenId Connect client
      description: Create new OpenId Connect client
      operationId: post-oauth-openid-clients
      requestBody:
        content:
          application/json:
            schema:
              title: OpenID Connect Client Details.
              description: OpenID Connect Client Details.
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: OpenID Connect Client Details.
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/openid/clients.write]
    put:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Update OpenId Connect client.
      description: Update OpenId Connect client.
      operationId: put-oauth-openid-clients
      requestBody:
        content:
          application/json:
            schema:
              title: OpenID Connect Client Details.
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: OpenID Connect Client Details.
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/openid/clients.write]
  /jans-config-api/api/v1/openid/clients/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        description: Client identifier
        required: true
    get:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Get OpenId Connect Client by Inum
      description: Get OpenId Connect Client by Inum.
      operationId: get-oauth-openid-clients-by-inum
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/openid/clients.readonly]
    delete:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Delete OpenId Connect client.
      description: Delete OpenId Connect client.
      operationId: delete-oauth-openid-clients-by-inum
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/openid/clients.delete]
    patch:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Update modified properties of OpenId Connect client by Inum.
      description: Update modified properties of OpenId Connect client by Inum.
      operationId: patch-oauth-openid-clients-by-inum
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: backchannel_authentication_request_signing_alg, value: false } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Client Details.
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/openid/clients.write]

  /jans-config-api/api/v1/uma/resources:
    get:
      tags:
        - OAuth - UMA Resources
      summary: Gets list of UMA resources.
      description: Gets list of UMA resources.
      operationId: get-oauth-uma-resources
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: inum
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
  
    post:
      tags:
        - OAuth - UMA Resources
      summary: Creates an UMA resource.
      description: Creates an UMA resource.
      operationId: post-oauth-uma-resources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmaResource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: UMAResource
                $ref: '#/components/schemas/UmaResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.write]
    put:
      tags:
        - OAuth - UMA Resources
      summary: Updates an UMA resource.
      description: Updates an UMA resource.
      operationId: put-oauth-uma-resources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmaResource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.write]
  /jans-config-api/api/v1/uma/resources/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Resource description ID.
        schema:
          type: string
    get:
      tags:
        - OAuth - UMA Resources
      summary: Gets an UMA resource by ID.
      description: Gets an UMA resource by ID.
      operationId: get-oauth-uma-resources-by-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: UMAResource
                $ref: '#/components/schemas/UmaResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.readonly]

    delete:
      tags:
        - OAuth - UMA Resources
      summary: Deletes an UMA resource.
      description: Deletes an UMA resource.
      operationId: delete-oauth-uma-resources-by-id
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.delete]

    patch:
      tags:
        - OAuth - UMA Resources
      summary: Partially updates an UMA resource by Inum.
      description: Partially updates an UMA resource by Inum.
      operationId: patch-oauth-uma-resources-by-id
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: clients, value: [\"client_1\",\"client_2\"] },{op:add, path: clients/2, value: \"client_3\" } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: UMAResource
                $ref: '#/components/schemas/UmaResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.write]


  /jans-config-api/api/v1/uma/resources/clientId/{clientId}:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    get:
      tags:
        - OAuth - UMA Resources
      summary: Fetch uma resources by client id.
      description: Fetch uma resources by client id.
      operationId: get-oauth-uma-resources-by-clientid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: UMA Resource list.
                description: List of UMA Resource.
                items:
                  $ref: '#/components/schemas/UmaResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/uma/resources.readonly]


  /jans-config-api/api/v1/scopes:
    get:
      tags:
        - OAuth - Scopes
      summary: Gets list of Scopes.
      description: Gets list of Scopes. Optionally type to filter the scope, max-size of the result and pattern can be provided.
      operationId: get-oauth-scopes
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/scopes.readonly]
      parameters:
        - schema:
            type: string
            enum:
              - openid
              - dynamic
              - uma
              - spontaneous
              - oauth
          in: query
          name: type
          description: Scope type.
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: inum
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
  

    post:
      tags:
        - OAuth - Scopes
      summary: Create Scope.
      description: Create Scope.
      operationId: post-oauth-scopes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scope'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/scopes.write]
    put:
      tags:
        - OAuth - Scopes
      summary: Updates existing Scope.
      description: Updates existing Scope.
      operationId: put-oauth-scopes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/scopes.write]
    parameters: []
  /jans-config-api/api/v1/scopes/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        required: true
        
    get:
      tags:
        - OAuth - Scopes
      summary: Get Scope by Inum
      description: Get Scope by Inum
      operationId: get-oauth-scopes-by-inum
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedScope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: ['https://jans.io/oauth/config/scopes.readonly']
      parameters:
      - schema:
          type: boolean
          default: false
        in: query
        name: withAssociatedClients
        description: Also fetch associated clients with scopes.
    delete:
      tags:
        - OAuth - Scopes
      summary: Delete Scope.
      description: Delete Scope.
      operationId: delete-oauth-scopes-by-inum
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/scopes.delete]
    patch:
      tags:
        - OAuth - Scopes
      summary: Update modified attributes of existing Scope by Inum.
      description: Update modified attributes of existing Scope by Inum.
      operationId: patch-oauth-scopes-by-id
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: clients, value: [\"client_1\",\"client_2\"] },{op:add, path: clients/2, value: \"client_3\" } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/scopes.write]

  /jans-config-api/api/v1/scopes/creator/{creatorId}:
    parameters:
      - schema:
          type: string
        name: creatorId
        in: path
        required: true
        description: Id of the scope creator. If creator is client then client_id if user then user_id.
    get:
      tags:
        - OAuth - Scopes
      summary: Get Scope by creatorId
      description: Get Scope by creatorId
      operationId: get-scope-by-creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Scope list.
                description: List of scope.
                items:
                  $ref: '#/components/schemas/ExtendedScope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: ['https://jans.io/oauth/config/scopes.readonly']

  /jans-config-api/api/v1/scopes/type/{type}:
    parameters:
      - schema:
          type: string
          enum:
            - openid
            - dynamic
            - uma
            - spontaneous
            - oauth
        name: type
        in: path
        required: true
        description: Type of the scope. 
    get:
      tags:
        - OAuth - Scopes
      summary: Get Scope by Type
      description: Get Scope by type
      operationId: get-scope-by-type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Scope list.
                description: List of scope.
                items:
                  $ref: '#/components/schemas/ExtendedScope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: ['https://jans.io/oauth/config/scopes.readonly']

  /jans-config-api/api/v1/agama:
    get:
      summary: Fetches all agama flow.
      description: Fetches all agama flow.
      operationId: get-agama-flows
      tags:
        - Configuration – Agama Flow
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/agama.readonly]
      parameters:
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: agFlowQname
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
        - schema:
            type: boolean
            default: false
          in: query
          name: includeSource
          description: Boolean value true indcates source to be included in response.
  
    post:
      summary: Create a new agama flow.
      description: Create a new agama flow.
      operationId: post-agama-flow
      tags:
        - Configuration – Agama Flow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgamaFlow'
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgamaFlow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/agama.write]

  /jans-config-api/api/v1/agama/{qname}:
    parameters:
      - schema:
          type: string
        name: qname
        in: path
        description: flow qname.
        required: true
    get:
      summary: Gets an agama flow based on Qname.
      description: Gets an agama flow based on Qname.
      operationId: get-agama-flow
      tags:
        - Configuration – Agama Flow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgamaFlow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/agama.readonly]
    
    post:
      summary: Create a new agama flow from source.
      description: Create a new agama flow from source.
      operationId: post-agama-flow-from-source
      tags:
        - Configuration – Agama Flow
      requestBody:
        content:
          text/plain:
            schema:
              type: string

      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgamaFlow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/agama.write]
   
    patch:
      summary: Partially modify a Agama Flow.
      description: Partially modify a Agama Flow.
      operationId: patch-agama-flow
      tags:
        - Configuration – Agama Flow
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: enabled, value: \"false\" } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgamaFlow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/agama.write]

    delete:
      summary: Deletes an agama flow based on Qname.
      description: Deletes an agama flow based on Qname.
      operationId: delete-agama-flow
      tags:
        - Configuration – Agama Flow
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/agama.delete]

  /jans-config-api/api/v1/agama/source/{qname}:
    parameters:
      - schema:
          type: string
        name: qname
        in: path
        description: flow qname.
        required: true

    put:
      summary: Update agama flow from source file.
      description: Update agama flow from source file.
      operationId: put-agama-flow-from-source
      tags:
        - Configuration – Agama Flow
      requestBody:
        content:
          text/plain:
            schema:
              type: string

      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgamaFlow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oauth2: [https://jans.io/oauth/config/agama.write]

  /jans-config-api/api/v1/stat:
    get:
      summary: Provides server with basic statistic.
      description: Provides server with basic statistic.
      operationId: get-stat
      security:
        - oauth2: [https://jans.io/oauth/config/stats.readonly jans_stat]
      tags:
        - Statistics - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: FlatStatResponse
                description: Jans Authorization Server statistic data.
                type: array
                items:
                  $ref: '#/components/schemas/StatResponseItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
        - schema:
            type: string
          in: query
          name: month
          description: Month for which the stat report is to be fetched. The parameter is mandatory if start_month and end_month parameters are not present.
          example:  202012 (2020 Dec) 202101 (2021 Jan))
        - schema:
            type: string
          in: query
          name: start_month
          description: Start-Month for which the stat report is to be fetched.
        - schema:
            type: string
          in: query
          name: end_month
          description: End-Month for which the stat report is to be fetched.
        - schema:
            type: string
            enum:
              - json
              - openmetrics
            default: json
          in: query
          name: format
          description: Report format

  /jans-config-api/api/v1/health:
    get:
      summary: Returns application health status.
      description: Returns application health status.
      operationId: get-config-health
      tags:
        - Health - Check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '500':
          description: Internal Server Error
  /jans-config-api/api/v1/health/live:
    get:
      summary: Returns application liveness status.
      description: Returns application liveness status.
      operationId: get-config-health-live
      tags:
        - Health - Check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatusItem'
        '500':
          description: Internal Server Error
  /jans-config-api/api/v1/health/ready:
    get:
      summary: Returns application readiness status.
      description: Returns application readiness status.
      operationId: get-config-health-ready
      tags:
        - Health - Check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatusItem'
        '500':
          description: Internal Server Error
  
  /jans-config-api/api/v1/health/server-stat:
    get:
      summary: Returns application server status.
      description: Returns application server status.
      operationId: get-server-stat
      tags:
        - Server Stats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsData'
        '500':
          description: Internal Server Error
  
  /jans-config-api/api/v1/jans-auth-server/session:
    get:
      summary: Returns current session.
      description: Returns current session.
      operationId: get-sessions
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/session.readonly]
      tags:
        - Auth - Session Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Auth session
                description: List of auth session.
                type: array
                items:
                  $ref: '#/components/schemas/SessionId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
  
  /jans-config-api/api/v1/jans-auth-server/session/{userDn}:
    parameters:
      - name: userDn
        in: path
        description: User domain name.
        required: true
        schema:
          type: string
    post:
      summary: Revoke all sessions by userDn.
      description: Revoke all sessions by userDn.
      operationId: revoke-user-session
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/session.delete, revoke_session]
      tags:
        - Auth - Session Management
      responses:
        '200':
          description: Ok
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  
  /jans-config-api/mgt/configuser:
    get:
      tags:
        - Configuration – User Management
      summary: Gets list of users
      description: Gets list of users
      operationId: get-user
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/user.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: integer
            default: 1
          in: query
          name: startIndex
          description: The 1-based index of the first query result.
        - schema:
            type: string
            default: inum
          in: query
          name: sortBy
          description: Attribute whose value will be used to order the returned response.
        - schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
          in: query
          name: sortOrder
          description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending".
    post:
      tags:
        - Configuration – User Management
      summary: Create new User
      description: Create new User
      operationId: post-user
      requestBody:
        content:
          application/json:
            schema:
              title: User Details.
              description: User Details.
              $ref: '#/components/schemas/ExtendedCustomUser'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: User Details.
                $ref: '#/components/schemas/CustomUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/user.write]
    put:
      tags:
        - Configuration – User Management
      summary: Update User.
      description: Update User.
      operationId: put-user
      requestBody:
        content:
          application/json:
            schema:
              title: User Details.
              $ref: '#/components/schemas/CustomUser'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: User Details.
                $ref: '#/components/schemas/CustomUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/user.write]
  /jans-config-api/mgt/configuser/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        description: User identifier
        required: true
    get:
      tags:
        - Configuration – User Management
      summary: Get User by Inum
      description: Get User by Inum.
      operationId: get-user-by-inum
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/user.readonly]
    delete:
      tags:
        - Configuration – User Management
      summary: Delete User.
      description: Delete User.
      operationId: delete-user
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/user.delete]
    patch:
      tags:
        - Configuration – User Management
      summary: Patch user properties by Inum.
      description: Patch user properties by Inum.
      operationId: patch-user-by-inum
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserPatchRequest'
              description: Patch request object
              example: '[ {"jsonPatchString": {"op": "add", "path": "userId","value": "test-user" }, "customAttributes": [{"name": "name, displayName, birthdate, email","multiValued": true,"values": ["string"]}]}]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: User Details.
                $ref: '#/components/schemas/CustomUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - oauth2: [https://jans.io/oauth/config/user.write]

 
  /jans-config-api/scim/scim-config:
    get:
      summary: Retrieves SCIM App configuration.
      description: Retrieves SCIM configuration.
      operationId: get-scim-config
      security:
        - oauth2: [https://jans.io/scim/config.readonly]
      tags:
        - SCIM - Config Management
      x-cli-plugin: scim
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ScimAppConfiguration
                description:  SCIM App configuration.
                $ref: '#/components/schemas/ScimAppConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Partially modifies SCIM App configuration.
      description: Partially modifies SCIM App configuration.
      operationId: patch-scim-config
      security:
        - oauth2: [https://jans.io/scim/config.write]
      tags:
        - SCIM - Config Management
      x-cli-plugin: scim
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[ {op:replace, path: loggingLevel, value: DEBUG } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ScimAppConfiguration
                description: SCIM App configuration.
                $ref: '#/components/schemas/ScimAppConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  
  /jans-config-api/api/v1/org:
    get:
      summary: Retrieves organization configuration.
      description: Retrieves organization configuration.
      operationId: get-organization-config
      security:
        - oauth2: [https://jans.io/oauth/config/organization.readonly]
      tags:
        - Organization Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Organization
                description:  Organization configuration.
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Partially modifies organization configuration.
      description: Partially modifies organization configuration.
      operationId: patch-organization-config
      security:
        - oauth2: [https://jans.io/oauth/config/organization.write]
      tags:
        - Organization Configuration
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
                description: String representing patch-document.
                example: '[{"op": "add", "path": "/jsFaviconPath", "value": "/opt/jans/jetty/jans-auth/custom/static/"}]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Organization
                description: Organization configuration.
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  
  /jans-config-api/api/v1/jans-auth-server/health:
    get:
      summary: Returns auth server health status.
      description: Returns auth server health status.
      operationId: get-auth-server-health
      tags:
        - Auth Server Health - Check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthHealthStatus'
        '500':
          description: Internal Server Error

  /jans-config-api/admin-ui/adminUIRoles:
    get:
      tags:
        - Admin UI - Role
      x-cli-plugin: admin-ui
      summary: Get all admin ui roles.
      description: Get all admin ui roles.
      operationId: get-adminui-roles
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/adminui/user/role.read]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Get admin ui roles.
                description: Get admin ui roles.
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          $ref: '#/components/responses/NotAcceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Admin UI - Role
      x-cli-plugin: admin-ui
      summary: Add admin ui role.
      description: Add admin ui role.
      operationId: add-adminui-role
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - role
              $ref: '#/components/schemas/AdminRole'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Add admin ui role.
                description: Add admin ui role.
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          $ref: '#/components/responses/NotAcceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Admin UI - Role
      x-cli-plugin: admin-ui
      summary: Edit admin ui role.
      description: Edit admin ui role.
      operationId: edit-adminui-role
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRole'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Edit admin ui role.
                description: Edit admin ui role.
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          $ref: '#/components/responses/NotAcceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Admin UI - Role
      x-cli-plugin: admin-ui
      summary: Delete admin ui role.
      description: Delete admin ui role.
      operationId: delete-adminui-role
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRole'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Delete admin ui role.
                description: Delete admin ui role.
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          $ref: '#/components/responses/NotAcceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/admin-ui/adminUIPermissions:
    get:
      tags:
        - Admin UI - Permission
      x-cli-plugin: admin-ui
      summary: Get admin ui permissions.
      description: Get admin ui permissions.
      operationId: get-adminui-permissions
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.read]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Get admin ui permissions.
                description: Get admin ui permissions.
                type: array
                items:
                  $ref: '#/components/schemas/AdminPermission'
        '400':
          $ref: '#/components/responses/NotAcceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Admin UI - Permission
      x-cli-plugin: admin-ui
      summary: Add admin ui permission.
      description: Add admin ui permission.
      operationId: add-adminui-permission
      security:
        - oauth2: [https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - permission
              $ref: '#/components/schemas/AdminPermission'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Add admin ui permission.
                description: Add admin ui permission.
[...]
