openapi: 3.0.1
info:
  title: Jans Config API
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
  variables: {}
tags:
- name: Attribute
- name: Default Authentication Method
- name: Cache Configuration
- name: Cache Configuration – Memcached
- name: Cache Configuration – Redis
- name: Cache Configuration – in-Memory
- name: Cache Configuration – Native-Persistence
- name: Configuration – Properties
- name: Configuration – SMTP
- name: Configuration – Logging
- name: Configuration – JWK - JSON Web Key (JWK)
- name: Custom Scripts
- name: Database - LDAP configuration
- name: OAuth - OpenID Connect - Clients
- name: OAuth - UMA Resources
- name: OAuth - Scopes
- name: Agama - Configuration
- name: Agama - Developer Studio
- name: Statistics - User
- name: Health - Check
- name: Server Stats
- name: Auth - Session Management
- name: Organization Configuration
- name: Auth Server Health - Check
- name: Plugins
- name: Configuration – Config API
paths:
  /api/v1/health:
    get:
      tags:
      - Health - Check
      summary: Returns application health status
      description: Returns application health status
      operationId: get-config-health
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HealthStatus'
        "500":
          description: InternalServerError
  /api/v1/health/live:
    get:
      tags:
      - Health - Check
      summary: Returns application liveness status
      description: Returns application liveness status
      operationId: get-config-health-live
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "500":
          description: InternalServerError
  /api/v1/health/ready:
    get:
      tags:
      - Health - Check
      summary: Returns application readiness status
      description: Returns application readiness status
      operationId: get-config-health-ready
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "500":
          description: InternalServerError
  /api/v1/health/server-stat:
    get:
      tags:
      - Health - Check
      summary: Returns application server status
      description: Returns application server status
      operationId: get-server-stat
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsData'
        "500":
          description: InternalServerError
  /api/v1/ads-deployment:
    get:
      tags:
      - Agama - Developer Studio
      summary: Fetches deployed Agama project based on name.
      description: Fetches deployed Agama project based on name.
      operationId: get-agama-dev-studio-prj-by-name
      parameters:
      - name: name
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Agama project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.readonly
        - https://jans.io/oauth/config/agama.write
        - https://jans.io/oauth/config/read-all
    post:
      tags:
      - Agama - Developer Studio
      summary: Deploy an Agama project.
      description: Deploy an Agama project.
      operationId: post-agama-dev-studio-prj
      parameters:
      - name: name
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/zip:
            schema:
              type: array
              items:
                type: string
                format: byte
      responses:
        "202":
          description: Agama project accepted
          content:
            application/zip:
              schema:
                type: string
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "409":
          description: Conflict
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.write
        - https://jans.io/oauth/config/write-all
    delete:
      tags:
      - Agama - Developer Studio
      summary: Delete a deployed Agama project.
      description: Delete a deployed Agama project.
      operationId: delete-agama-dev-studio-prj
      parameters:
      - name: name
        in: query
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.delete
  /api/v1/ads-deployment/list:
    get:
      tags:
      - Agama - Developer Studio
      summary: Retrieve the list of projects deployed currently.
      description: Retrieve the list of projects deployed currently.
      operationId: get-agama-dev-prj
      parameters:
      - name: start
        in: query
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Agama projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.readonly
        - https://jans.io/oauth/config/agama.write
        - https://jans.io/oauth/config/read-all
  /api/v1/acrs:
    get:
      tags:
      - Default Authentication Method
      summary: Gets default authentication method.
      description: Gets default authentication method.
      operationId: get-acrs
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationMethod'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                      "defaultAcr": "basic"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/acrs.readonly
        - https://jans.io/oauth/config/acrs.write
        - https://jans.io/oauth/config/read-all
    put:
      tags:
      - Default Authentication Method
      summary: Updates default authentication method.
      description: Updates default authentication method.
      operationId: put-acrs
      requestBody:
        description: String representing patch-document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationMethod'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                    "defaultAcr": "basic"
                  }
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationMethod'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/acrs.write
        - https://jans.io/oauth/config/write-all
  /api/v1/agama:
    get:
      tags:
      - Agama - Configuration
      summary: Fetches all agama flow.
      description: Fetches all agama flow.
      operationId: get-agama-flows
      parameters:
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ""
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: agFlowQname
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are
          "ascending" and "descending"
        schema:
          type: string
          default: ascending
      - name: includeSource
        in: query
        description: Boolean flag to indicate agama source is to be included
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Agama Flows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "start": 0,
                        "totalEntriesCount": 1,
                        "entriesCount": 1,
                        "entries": [
                            {
                                "dn": "agFlowQname=test,ou=flows,ou=agama,o=jans",
                                "qname": "test",
                                "revision": -1,
                                "enabled": false,
                                "metadata": {
                                    "timestamp": 1666786067495
                                },
                                "source": "Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\"",
                                "baseDn": "agFlowQname=test,ou=flows,ou=agama,o=jans"
                            }
                        ]
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.readonly
        - https://jans.io/oauth/config/agama.write
        - https://jans.io/oauth/config/read-all
    post:
      tags:
      - Agama - Configuration
      summary: Create a new agama flow
      description: Create a new agama flow
      operationId: post-agama-flow
      requestBody:
        description: Agama Flow
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
            examples:
              Request example:
                description: Request example
                value: |
                  {
                    "enabled": false,
                    "source":"Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\"",
                    "qname": "test"
                  }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                      "enabled": false,
                      "source":"Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\"",
                      "qname": "test"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.write
  /api/v1/agama/{qname}:
    get:
      tags:
      - Agama - Configuration
      summary: Gets an agama flow based on Qname.
      description: Gets an agama flow based on Qname.
      operationId: get-agama-flow
      parameters:
      - name: qname
        in: path
        description: Agama Flow name
        required: true
        schema:
          type: string
      - name: includeSource
        in: query
        description: Boolean flag to indicate agama source is to be included
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Agama Flow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "dn": "agFlowQname=test,ou=flows,ou=agama,o=jans",
                        "qname": "test",
                        "revision": -1,
                        "enabled": false,
                        "metadata": {
                            "timestamp": 1666786067495
                        },
                        "baseDn": "agFlowQname=test,ou=flows,ou=agama,o=jans"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.readonly
        - https://jans.io/oauth/config/agama.write
        - https://jans.io/oauth/config/read-all
    post:
      tags:
      - Agama - Configuration
      summary: Create a new agama flow from source
      description: Create a new agama flow from source.
      operationId: post-agama-flow-from-source
      parameters:
      - name: qname
        in: path
        description: Agama Flow name
        required: true
        schema:
          type: string
      requestBody:
        description: Agama Flow
        content:
          text/plain:
            schema:
              type: string
            examples:
              Request example:
                description: Request example
                value: "//This is a comment\nFlow test\n    Basepath \"hello\" \n\n\
                  in = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\n\
                  Finish \"john_doe\"\n"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                      "enabled": false,
                      "source":"Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\"",
                      "qname": "test"
                    }
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.write
    delete:
      tags:
      - Agama - Configuration
      summary: Deletes an agama flow based on Qname
      description: Deletes an agama flow based on Qname
      operationId: delete-agama-flow
      parameters:
      - name: qname
        in: path
        description: Agama Flow name
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.delete
    patch:
      tags:
      - Agama - Configuration
      summary: Partially modify a Agama Flow
      description: Partially modify a Agama Flow
      operationId: patch-agama-flow
      parameters:
      - name: qname
        in: path
        description: Agama Flow name
        required: true
        schema:
          type: string
      requestBody:
        description: JsonPatch object
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request example:
                description: Request example
                value: |
                  [{ "op": "replace", "path": "/source", "value": "Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\""}]
      responses:
        "200":
          description: Patched Agama Flow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                      "enabled": false,
                      "source":"Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\"",
                      "qname": "test"
                    }
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.write
  /api/v1/agama/syntax-check/{qname}:
    post:
      tags:
      - Agama - Configuration
      summary: Determine if the text passed is valid Agama code
      description: Determine if the text passed is valid Agama code
      operationId: agama-syntax-check
      parameters:
      - name: qname
        in: path
        description: Agama Flow name
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        "200":
          description: Agama Syntax Check message
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.readonly
        - https://jans.io/oauth/config/agama.write
        - https://jans.io/oauth/config/read-all
  /api/v1/agama/source/{qname}:
    put:
      tags:
      - Agama - Configuration
      summary: Update agama flow from source file
      description: Update agama flow from source file.
      operationId: put-agama-flow-from-source
      parameters:
      - name: qname
        in: path
        description: Agama Flow name
        required: true
        schema:
          type: string
      requestBody:
        description: String representing patch-document.
        content:
          text/plain:
            schema:
              type: string
            examples:
              Request example:
                description: Request example
                value: "//This is a comment\nFlow test\n    Basepath \"hello\" \n\n\
                  in = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\n\
                  Finish \"john_doe\"\n"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                      "enabled": false,
                      "source":"Flow test\n\tBasepath \"hello\"\n\nin = { name: \"John\" }\nRRF \"index.ftlh\" in\n\nLog \"Done!\"\nFinish \"john_doe\"",
                      "qname": "test"
                    }
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/agama.write
  /api/v1/attributes:
    get:
      tags:
      - Attribute
      summary: Gets a list of Gluu attributes.
      description: Gets a list of Gluu attributes.
      operationId: get-attributes
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ""
      - name: status
        in: query
        description: Status of the attribute
        schema:
          type: string
          default: all
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: inum
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are
          "ascending" and "descending"
        schema:
          type: string
          default: ascending
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "start": 0,
                        "totalEntriesCount": 78,
                        "entriesCount": 2,
                        "entries": [
                            {
                                "dn": "inum=08E2,ou=attributes,o=jans",
                                "selected": false,
                                "inum": "08E2",
                                "name": "departmentNumber",
                                "displayName": "Department",
                                "description": "Organizational Department",
                                "origin": "jansCustomPerson",
                                "dataType": "string",
                                "editType": [
                                    "admin"
                                ],
                                "viewType": [
                                    "user",
                                    "admin"
                                ],
                                "claimName": "department_number",
                                "status": "inactive",
                                "saml1Uri": "urn:mace:dir:attribute-def:departmentNumber",
                                "saml2Uri": "urn:oid:2.16.840.1.113730.3.1.2",
                                "urn": "urn:mace:dir:attribute-def:departmentNumber",
                                "oxMultiValuedAttribute": false,
                                "custom": false,
                                "requred": false,
                                "whitePagesCanView": false,
                                "adminCanEdit": true,
                                "userCanView": true,
                                "userCanEdit": false,
                                "adminCanAccess": true,
                                "adminCanView": true,
                                "userCanAccess": true,
                                "baseDn": "inum=08E2,ou=attributes,o=jans"
                            },
                            {
                                "dn": "inum=0C18,ou=attributes,o=jans",
                                "selected": false,
                                "inum": "0C18",
                                "name": "telephoneNumber",
                                "displayName": "Home Telephone Number",
                                "description": "Home Telephone Number",
                                "origin": "jansCustomPerson",
                                "dataType": "string",
                                "editType": [
                                    "user",
                                    "admin"
                                ],
                                "viewType": [
                                    "user",
                                    "admin"
                                ],
                                "claimName": "phone_number",
                                "status": "inactive",
                                "saml1Uri": "urn:mace:dir:attribute-def:telephoneNumber",
                                "saml2Uri": "urn:oid:2.5.4.20",
                                "urn": "urn:mace:dir:attribute-def:phone_number",
                                "oxMultiValuedAttribute": false,
                                "custom": false,
                                "requred": false,
                                "whitePagesCanView": false,
                                "adminCanEdit": true,
                                "userCanView": true,
                                "userCanEdit": true,
                                "adminCanAccess": true,
                                "adminCanView": true,
                                "userCanAccess": true,
                                "baseDn": "inum=0C18,ou=attributes,o=jans"
                            }
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/attributes.readonly
    put:
      tags:
      - Attribute
      summary: Updates an existing attribute
      description: Updates an existing attribute
      operationId: put-attributes
      requestBody:
        description: GluuAttribute object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GluuAttribute'
            examples:
              Request example:
                description: Request example
                value: |
                  {
                      "adminCanAccess": true,
                      "adminCanEdit": true,
                      "adminCanView": true,
                      "custom": false,
                      "dataType": "string",
                      "description": "QAAdded Attribute",
                      "displayName": "QAAdded Attribute",
                      "editType": [
                          "admin",
                          "user"
                      ],
                      "name": "qaattribute",
                      "origin": "jansPerson",
                      "jansMultivaluedAttr": false,
                      "requred": false,
                      "status": "active",
                      "urn": "urn:mace:dir:attribute-def:qaattribute",
                      "userCanAccess": true,
                      "userCanEdit": true,
                      "userCanView": true,
                      "viewType": [
                          "admin",
                          "user"
                      ],
                      "whitePagesCanView": false
                  }
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "adminCanAccess": true,
                        "adminCanEdit": true,
                        "adminCanView": true,
                        "custom": false,
                        "dataType": "string",
                        "description": "QAAdded Attribute",
                        "displayName": "QAAdded Attribute",
                        "editType": [
                            "admin",
                            "user"
                        ],
                        "name": "qaattribute",
                        "origin": "jansPerson",
                        "jansMultivaluedAttr": false,
                        "requred": false,
                        "status": "active",
                        "urn": "urn:mace:dir:attribute-def:qaattribute",
                        "userCanAccess": true,
                        "userCanEdit": true,
                        "userCanView": true,
                        "viewType": [
                            "admin",
                            "user"
                        ],
                        "whitePagesCanView": false
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/attributes.write
    post:
      tags:
      - Attribute
      summary: Adds a new attribute
      description: Adds a new attribute
      operationId: post-attributes
      requestBody:
        description: GluuAttribute object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GluuAttribute'
            examples:
              Request example:
                description: Request example
                value: |
                  {
                      "adminCanAccess": true,
                      "adminCanEdit": true,
                      "adminCanView": true,
                      "custom": false,
                      "dataType": "string",
                      "description": "QAAdded Attribute",
                      "displayName": "QAAdded Attribute",
                      "editType": [
                          "admin",
                          "user"
                      ],
                      "name": "qaattribute",
                      "origin": "jansPerson",
                      "jansMultivaluedAttr": false,
                      "requred": false,
                      "status": "active",
                      "urn": "urn:mace:dir:attribute-def:qaattribute",
                      "userCanAccess": true,
                      "userCanEdit": true,
                      "userCanView": true,
                      "viewType": [
                          "admin",
                          "user"
                      ],
                      "whitePagesCanView": false
                  }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "adminCanAccess": true,
                        "adminCanEdit": true,
                        "adminCanView": true,
                        "custom": false,
                        "dataType": "string",
                        "description": "QAAdded Attribute",
                        "displayName": "QAAdded Attribute",
                        "editType": [
                            "admin",
                            "user"
                        ],
                        "name": "qaattribute",
                        "origin": "jansPerson",
                        "jansMultivaluedAttr": false,
                        "requred": false,
                        "status": "active",
                        "urn": "urn:mace:dir:attribute-def:qaattribute",
                        "userCanAccess": true,
                        "userCanEdit": true,
                        "userCanView": true,
                        "viewType": [
                            "admin",
                            "user"
                        ],
                        "whitePagesCanView": false
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/attributes.write
  /api/v1/attributes/{inum}:
    get:
      tags:
      - Attribute
      summary: Gets an attribute based on inum
      description: Gets an attribute based on inum
      operationId: get-attributes-by-inum
      parameters:
      - name: inum
        in: path
        description: Attribute Id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "dn": "inum=08E2,ou=attributes,o=jans",
                        "selected": false,
                        "inum": "08E2",
                        "name": "departmentNumber",
                        "displayName": "Department",
                        "description": "Organizational Department",
                        "origin": "jansCustomPerson",
                        "dataType": "string",
                        "editType": [
                            "admin"
                        ],
                        "viewType": [
                            "user",
                            "admin"
                        ],
                        "claimName": "department_number",
                        "status": "inactive",
                        "saml1Uri": "urn:mace:dir:attribute-def:departmentNumber",
                        "saml2Uri": "urn:oid:2.16.840.1.113730.3.1.2",
                        "urn": "urn:mace:dir:attribute-def:departmentNumber",
                        "oxMultiValuedAttribute": false,
                        "custom": false,
                        "requred": false,
                        "whitePagesCanView": false,
                        "adminCanEdit": true,
                        "userCanView": true,
                        "userCanEdit": false,
                        "adminCanAccess": true,
                        "adminCanView": true,
                        "userCanAccess": true,
                        "baseDn": "inum=08E2,ou=attributes,o=jans"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/attributes.readonly
    delete:
      tags:
      - Attribute
      summary: Deletes an attribute based on inum
      description: Deletes an attribute based on inum
      operationId: delete-attributes-by-inum
      parameters:
      - name: inum
        in: path
        description: Attribute Id
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/attributes.delete
    patch:
      tags:
      - Attribute
      summary: Partially modify a GluuAttribute
      description: Partially modify a GluuAttribute
      operationId: patch-attributes-by-inum
      parameters:
      - name: inum
        in: path
        description: Attribute Id
        required: true
        schema:
          type: string
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
            examples:
              Patch request example:
                description: Patch request example
                value: |
                  [ {op:replace, path: displayName, value: "CustomAttribute" } ]
      responses:
        "200":
          description: Updated GluuAttribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "adminCanAccess": true,
                        "adminCanEdit": true,
                        "adminCanView": true,
                        "custom": false,
                        "dataType": "string",
                        "description": "QAAdded Attribute",
                        "displayName": "QAAdded Attribute",
                        "editType": [
                            "admin",
                            "user"
                        ],
                        "name": "qaattribute",
                        "origin": "jansPerson",
                        "jansMultivaluedAttr": false,
                        "requred": false,
                        "status": "active",
                        "urn": "urn:mace:dir:attribute-def:qaattribute",
                        "userCanAccess": true,
                        "userCanEdit": true,
                        "userCanView": true,
                        "viewType": [
                            "admin",
                            "user"
                        ],
                        "whitePagesCanView": false
                    }
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/attributes.write
  /api/v1/jans-auth-server/config:
    get:
      tags:
      - Configuration – Properties
      summary: Gets all Jans authorization server configuration properties.
      description: Gets all Jans authorization server configuration properties.
      operationId: get-properties
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfiguration'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/properties.readonly
    patch:
      tags:
      - Configuration – Properties
      summary: Partially modifies Jans authorization server Application configuration
        properties.
      description: Partially modifies Jans authorization server AppConfiguration properties.
      operationId: patch-properties
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: |
                  [
                  {"op":"add","path":"/authenticationFilters","value":[{}]},
                  {"op":"replace","path":"/useNestedJwtDuringEncryption","value":"true"},
                  {"op":"add","path":"/loggingLevel","value":"TRACE"}
                  ]
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfiguration'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/properties.write
  /api/v1/jans-auth-server/config/persistence:
    get:
      tags:
      - Configuration – Properties
      summary: Returns persistence type configured for Jans authorization server.
      description: Returns persistence type configured for Jans authorization server.
      operationId: get-properties-persistence
      responses:
        "200":
          description: Jans Authorization Server persistence type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "persistenceType": "ldap"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/properties.readonly
  /api/v1/config/cache:
    get:
      tags:
      - Cache Configuration
      summary: Returns cache configuration.
      description: Returns cache configuration.
      operationId: get-config-cache
      responses:
        "200":
          description: Cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "cacheProviderType": "NATIVE_PERSISTENCE",
                        "memcachedConfiguration": {
                            "servers": "localhost:11211",
                            "maxOperationQueueLength": 100000,
                            "bufferSize": 32768,
                            "defaultPutExpiration": 60,
                            "connectionFactoryType": "DEFAULT"
                        },
                        "inMemoryConfiguration": {
                            "defaultPutExpiration": 60
                        },
                        "redisConfiguration": {
                            "redisProviderType": "STANDALONE",
                            "servers": "localhost:6379",
                            "defaultPutExpiration": 60,
                            "useSSL": false,
                            "maxIdleConnections": 10,
                            "maxTotalConnections": 500,
                            "connectionTimeout": 3000,
                            "soTimeout": 3000,
                            "maxRetryAttempts": 5
                        },
                        "nativePersistenceConfiguration": {
                            "defaultPutExpiration": 60,
                            "defaultCleanupBatchSize": 10000,
                            "deleteExpiredOnGetRequest": false,
                            "disableAttemptUpdateBeforeInsert": false
                        }
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.readonly
    patch:
      tags:
      - Cache Configuration
      summary: Patch cache configuration.
      description: Patch cache configuration
      operationId: patch-config-cache
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: "[{ \"op\": \"replace\", \"path\": \"/memcachedConfiguration\"\
                  , \"value\": {\n        \"servers\": \"localhost:11211\",\n    \
                  \    \"maxOperationQueueLength\": 100000,\n        \"bufferSize\"\
                  : 32768,\n        \"defaultPutExpiration\":80,\n        \"connectionFactoryType\"\
                  : \"DEFAULT\"\n    }}] \n"
      responses:
        "200":
          description: Cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "cacheProviderType": "NATIVE_PERSISTENCE",
                        "memcachedConfiguration": {
                            "servers": "localhost:11211",
                            "maxOperationQueueLength": 100000,
                            "bufferSize": 32768,
                            "defaultPutExpiration": 60,
                            "connectionFactoryType": "DEFAULT"
                        },
                        "inMemoryConfiguration": {
                            "defaultPutExpiration": 60
                        },
                        "redisConfiguration": {
                            "redisProviderType": "STANDALONE",
                            "servers": "localhost:6379",
                            "defaultPutExpiration": 60,
                            "useSSL": false,
                            "maxIdleConnections": 10,
                            "maxTotalConnections": 500,
                            "connectionTimeout": 3000,
                            "soTimeout": 3000,
                            "maxRetryAttempts": 5
                        },
                        "nativePersistenceConfiguration": {
                            "defaultPutExpiration": 60,
                            "defaultCleanupBatchSize": 10000,
                            "deleteExpiredOnGetRequest": false,
                            "disableAttemptUpdateBeforeInsert": false
                        }
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
  /api/v1/config/cache/in-memory:
    get:
      tags:
      - Cache Configuration – in-Memory
      summary: Returns in-Memory cache configuration.
      description: Returns in-Memory cache configuration.
      operationId: get-config-cache-in-memory
      responses:
        "200":
          description: In-Memory configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.readonly
    put:
      tags:
      - Cache Configuration – in-Memory
      summary: Updates in-Memory cache configuration.
      description: Updates in-Memory cache configuration
      operationId: put-config-cache-in-memory
      requestBody:
        description: inMemoryConfiguration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InMemoryConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "defaultPutExpiration": 60
                  }
      responses:
        "200":
          description: In-Memory cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
    patch:
      tags:
      - Cache Configuration – in-Memory
      summary: Patch In-Memory cache configuration.
      description: Patch In-Memory cache configuration
      operationId: patch-config-cache-in-memory
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: "[{ \"op\": \"replace\", \"path\": \"/defaultPutExpiration\"\
                  , \"value\":80}] \n"
      responses:
        "200":
          description: In-Memory cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
  /api/v1/config/cache/memcached:
    get:
      tags:
      - Cache Configuration – Memcached
      summary: Returns memcached cache configuration.
      description: Returns memcached cache configuration.
      operationId: get-config-cache-memcached
      responses:
        "200":
          description: Memcached configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "servers": "localhost:11211",
                        "maxOperationQueueLength": 100000,
                        "bufferSize": 32768,
                        "defaultPutExpiration": 80,
                        "connectionFactoryType": "DEFAULT"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.readonly
    put:
      tags:
      - Cache Configuration – Memcached
      summary: Updates memcached cache configuration.
      description: Updates memcached cache configuration
      operationId: put-config-cache-memcached
      requestBody:
        description: Memcached Configuration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemcachedConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "servers": "localhost:11211",
                      "maxOperationQueueLength": 100000,
                      "bufferSize": 32768,
                      "defaultPutExpiration": 80,
                      "connectionFactoryType": "DEFAULT"
                  }
      responses:
        "200":
          description: Native persistence cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "servers": "localhost:11211",
                        "maxOperationQueueLength": 100000,
                        "bufferSize": 32768,
                        "defaultPutExpiration": 80,
                        "connectionFactoryType": "DEFAULT"
                    }
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
    patch:
      tags:
      - Cache Configuration – Memcached
      summary: Patch memcached cache configuration.
      description: Patch memcached cache configuration
      operationId: patch-config-cache-memcached
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: "[{ \"op\": \"replace\", \"path\": \"/maxOperationQueueLength\"\
                  , \"value\":10001}] \n"
      responses:
        "200":
          description: Memcached cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "servers": "localhost:11211",
                        "maxOperationQueueLength": 100000,
                        "bufferSize": 32768,
                        "defaultPutExpiration": 80,
                        "connectionFactoryType": "DEFAULT"
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
  /api/v1/config/cache/native-persistence:
    get:
      tags:
      - Cache Configuration – Native-Persistence
      summary: Returns native persistence cache configuration.
      description: Returns native persistence cache configuration.
      operationId: get-config-cache-native-persistence
      responses:
        "200":
          description: Native persistence configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60,
                        "defaultCleanupBatchSize": 10000,
                        "deleteExpiredOnGetRequest": false,
                        "disableAttemptUpdateBeforeInsert": false
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.readonly
    put:
      tags:
      - Cache Configuration – Native-Persistence
      summary: Updates native persistence cache configuration.
      description: Updates native persistence cache configuration
      operationId: put-config-cache-native-persistence
      requestBody:
        description: NativePersistenceConfiguration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NativePersistenceConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "defaultPutExpiration": 60,
                      "defaultCleanupBatchSize": 10000,
                      "deleteExpiredOnGetRequest": false,
                      "disableAttemptUpdateBeforeInsert": false
                  }
      responses:
        "200":
          description: Native persistence cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60,
                        "defaultCleanupBatchSize": 10000,
                        "deleteExpiredOnGetRequest": false,
                        "disableAttemptUpdateBeforeInsert": false
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
    patch:
      tags:
      - Cache Configuration – Native-Persistence
      summary: Patch native persistence cache configuration.
      description: Patch native persistence cache configuration
      operationId: patch-config-cache-native-persistence
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: "[{ \"op\": \"replace\", \"path\": \"/defaultCleanupBatchSize\"\
                  , \"value\":10001}] \n"
      responses:
        "200":
          description: Native persistence cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60,
                        "defaultCleanupBatchSize": 10000,
                        "deleteExpiredOnGetRequest": false,
                        "disableAttemptUpdateBeforeInsert": false
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
  /api/v1/config/cache/redis:
    get:
      tags:
      - Cache Configuration – Redis
      summary: Returns Redis cache configuration.
      description: Returns Redis cache configuration
      operationId: get-config-cache-redis
      responses:
        "200":
          description: Redis cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "redisProviderType": "STANDALONE",
                        "servers": "localhost:6379",
                        "defaultPutExpiration": 60,
                        "useSSL": false,
                        "maxIdleConnections": 10,
                        "maxTotalConnections": 500,
                        "connectionTimeout": 3000,
                        "soTimeout": 3000,
                        "maxRetryAttempts": 5
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.readonly
    put:
      tags:
      - Cache Configuration – Redis
      summary: Updates Redis cache configuration.
      description: Updates Redis cache configuration
      operationId: put-config-cache-redis
      requestBody:
        description: RedisConfiguration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "redisProviderType": "STANDALONE",
                      "servers": "localhost:6379",
                      "defaultPutExpiration": 60,
                      "useSSL": false,
                      "maxIdleConnections": 10,
                      "maxTotalConnections": 500,
                      "connectionTimeout": 3000,
                      "soTimeout": 3000,
                      "maxRetryAttempts": 5
                  }
      responses:
        "200":
          description: Redis cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "redisProviderType": "STANDALONE",
                        "servers": "localhost:6379",
                        "defaultPutExpiration": 60,
                        "useSSL": false,
                        "maxIdleConnections": 10,
                        "maxTotalConnections": 500,
                        "connectionTimeout": 3000,
                        "soTimeout": 3000,
                        "maxRetryAttempts": 5
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
    patch:
      tags:
      - Cache Configuration – Redis
      summary: Patch Redis cache configuration.
      description: Patch Redis cache configuration
      operationId: patch-config-cache-redis
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: "[{ \"op\": \"replace\", \"path\": \"/defaultPutExpiration\"\
                  , \"value\":80}] \n"
      responses:
        "200":
          description: Redis cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "redisProviderType": "STANDALONE",
                        "servers": "localhost:6379",
                        "defaultPutExpiration": 60,
                        "useSSL": false,
                        "maxIdleConnections": 10,
                        "maxTotalConnections": 500,
                        "connectionTimeout": 3000,
                        "soTimeout": 3000,
                        "maxRetryAttempts": 5
                    }
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cache.write
  /api/v1/openid/clients:
    get:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Gets list of OpenID Connect clients
      description: Gets list of OpenID Connect clients
      operationId: get-oauth-openid-clients
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ""
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are
          "ascending" and "descending"
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "start": 0,
                        "totalEntriesCount": 9,
                        "entriesCount": 9,
                        "entries": [
                            {
                                "dn": "inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans",
                                "deletable": false,
                                "clientSecret": "vA2TTjAOTfQY",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://jans.server2/admin-ui",
                                    "http://localhost:4100"
                                ],
                                "responseTypes": [
                                    "code"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "refresh_token",
                                    "client_credentials"
                                ],
                                "applicationType": "web",
                                "clientName": "Jans Config Api Client",
                                "logoUri": "",
                                "clientUri": "",
                                "policyUri": "",
                                "tosUri": "",
                                "subjectType": "pairwise",
                                "idTokenSignedResponseAlg": "RS256",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=C4F7,ou=scopes,o=jans",
                                    "inum=1200.487800,ou=scopes,o=jans",
                                    "inum=1200.9CEE5C,ou=scopes,o=jans",
                                    "inum=1800.FFE5C0,ou=scopes,o=jans",
                                    "inum=1800.472951,ou=scopes,o=jans",
                                    "inum=1800.556F45,ou=scopes,o=jans",
                                    "inum=1800.77FB4F,ou=scopes,o=jans",
                                    "inum=1800.AA8DFE,ou=scopes,o=jans",
                                    "inum=1800.CD5B72,ou=scopes,o=jans",
                                    "inum=1800.CBCF52,ou=scopes,o=jans",
                                    "inum=1800.12284F,ou=scopes,o=jans",
                                    "inum=1800.141B26,ou=scopes,o=jans",
                                    "inum=1800.A018AC,ou=scopes,o=jans",
                                    "inum=1800.6E4456,ou=scopes,o=jans",
                                    "inum=1800.55499D,ou=scopes,o=jans",
                                    "inum=1800.E730AA,ou=scopes,o=jans",
                                    "inum=1800.097318,ou=scopes,o=jans",
                                    "inum=1800.04CF24,ou=scopes,o=jans",
                                    "inum=1800.F963F9,ou=scopes,o=jans",
                                    "inum=1800.31F580,ou=scopes,o=jans",
                                    "inum=1800.E512E3,ou=scopes,o=jans",
                                    "inum=1800.E65DC6,ou=scopes,o=jans",
                                    "inum=1800.3C1F46,ou=scopes,o=jans",
                                    "inum=1800.20D48C,ou=scopes,o=jans",
                                    "inum=1800.4601AA,ou=scopes,o=jans",
                                    "inum=1800.A9B842,ou=scopes,o=jans",
                                    "inum=1800.864485,ou=scopes,o=jans",
                                    "inum=1800.F0B654,ou=scopes,o=jans",
                                    "inum=1800.45F1D7,ou=scopes,o=jans",
                                    "inum=1800.B78FA5,ou=scopes,o=jans",
                                    "inum=1800.E3D7E0,ou=scopes,o=jans",
                                    "inum=1800.E212DC,ou=scopes,o=jans",
                                    "inum=1800.94F80F,ou=scopes,o=jans",
                                    "inum=1800.9F96F3,ou=scopes,o=jans",
                                    "inum=1800.CB50EC,ou=scopes,o=jans",
                                    "inum=1800.1CA946,ou=scopes,o=jans",
                                    "inum=1800.18231E,ou=scopes,o=jans",
                                    "inum=1800.C25D78,ou=scopes,o=jans",
                                    "inum=1800.12B340,ou=scopes,o=jans",
                                    "inum=1800.7A78C3,ou=scopes,o=jans",
                                    "inum=1800.ECB839,ou=scopes,o=jans",
                                    "inum=1800.62579C,ou=scopes,o=jans",
                                    "inum=1800.29B156,ou=scopes,o=jans",
                                    "inum=1800.9DC774,ou=scopes,o=jans",
                                    "inum=1800.71BA21,ou=scopes,o=jans",
                                    "inum=1800.FC35D2,ou=scopes,o=jans",
                                    "inum=1800.F8CA5F,ou=scopes,o=jans",
                                    "inum=1800.D92553,ou=scopes,o=jans",
                                    "inum=1800.08CB80,ou=scopes,o=jans",
                                    "inum=1800.DF434B,ou=scopes,o=jans",
                                    "inum=1800.127954,ou=scopes,o=jans",
                                    "inum=1800.E7CB8C,ou=scopes,o=jans"
                                ],
                                "trustedClient": false,
                                "persistClientAuthorizations": true,
                                "includeClaimsInIdToken": false,
                                "customAttributes": [
                                    {
                                        "name": "displayName",
                                        "multiValued": false,
                                        "values": [
                                            "Jans Config Api Client"
                                        ],
                                        "value": "Jans Config Api Client",
                                        "displayValue": "Jans Config Api Client"
                                    }
                                ],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": false,
                                "accessTokenSigningAlg": "RS256",
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": false,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "jansDefaultPromptLogin": false
                                },
                                "tokenBindingSupported": false,
                                "authenticationMethod": "client_secret_basic",
                                "displayName": "Jans Config Api Client",
                                "baseDn": "inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans",
                                "inum": "1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6"
                            },
                            {
                                "dn": "inum=1802.db19d013-bb63-42c4-8ce9-79a4aa58aa7b,ou=clients,o=jans",
                                "deletable": false,
                                "clientSecret": "dpus42KsYjda",
                                "frontChannelLogoutSessionRequired": false,
                                "responseTypes": [
                                    "code"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "client_credentials",
                                    "refresh_token"
                                ],
                                "applicationType": "web",
                                "clientName": "Jans Config Api Client",
                                "logoUri": "",
                                "clientUri": "",
                                "policyUri": "",
                                "tosUri": "",
                                "subjectType": "pairwise",
                                "idTokenSignedResponseAlg": "RS256",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=1800.FFE5C0,ou=scopes,o=jans",
                                    "inum=1800.472951,ou=scopes,o=jans",
                                    "inum=1800.556F45,ou=scopes,o=jans",
                                    "inum=1800.77FB4F,ou=scopes,o=jans",
                                    "inum=1800.AA8DFE,ou=scopes,o=jans",
                                    "inum=1800.CD5B72,ou=scopes,o=jans",
                                    "inum=1800.CBCF52,ou=scopes,o=jans",
                                    "inum=1800.12284F,ou=scopes,o=jans",
                                    "inum=1800.141B26,ou=scopes,o=jans",
                                    "inum=1800.A018AC,ou=scopes,o=jans",
                                    "inum=1800.6E4456,ou=scopes,o=jans",
                                    "inum=1800.55499D,ou=scopes,o=jans",
                                    "inum=1800.E730AA,ou=scopes,o=jans",
                                    "inum=1800.097318,ou=scopes,o=jans",
                                    "inum=1800.04CF24,ou=scopes,o=jans",
                                    "inum=1800.F963F9,ou=scopes,o=jans",
                                    "inum=1800.31F580,ou=scopes,o=jans",
                                    "inum=1800.E512E3,ou=scopes,o=jans",
                                    "inum=1800.E65DC6,ou=scopes,o=jans",
                                    "inum=1800.3C1F46,ou=scopes,o=jans",
                                    "inum=1800.20D48C,ou=scopes,o=jans",
                                    "inum=1800.4601AA,ou=scopes,o=jans",
                                    "inum=1800.A9B842,ou=scopes,o=jans",
                                    "inum=1800.864485,ou=scopes,o=jans",
                                    "inum=1800.F0B654,ou=scopes,o=jans",
                                    "inum=1800.45F1D7,ou=scopes,o=jans",
                                    "inum=1800.B78FA5,ou=scopes,o=jans",
                                    "inum=1800.E3D7E0,ou=scopes,o=jans",
                                    "inum=1800.E212DC,ou=scopes,o=jans",
                                    "inum=1800.94F80F,ou=scopes,o=jans",
                                    "inum=1800.9F96F3,ou=scopes,o=jans",
                                    "inum=1800.CB50EC,ou=scopes,o=jans",
                                    "inum=1800.1CA946,ou=scopes,o=jans",
                                    "inum=1800.18231E,ou=scopes,o=jans",
                                    "inum=1800.C25D78,ou=scopes,o=jans",
                                    "inum=1800.12B340,ou=scopes,o=jans",
                                    "inum=1800.7A78C3,ou=scopes,o=jans",
                                    "inum=1800.ECB839,ou=scopes,o=jans",
                                    "inum=1800.62579C,ou=scopes,o=jans",
                                    "inum=1800.29B156,ou=scopes,o=jans",
                                    "inum=1800.9DC774,ou=scopes,o=jans",
                                    "inum=1800.71BA21,ou=scopes,o=jans",
                                    "inum=1800.FC35D2,ou=scopes,o=jans",
                                    "inum=1800.F8CA5F,ou=scopes,o=jans",
                                    "inum=1800.D92553,ou=scopes,o=jans",
                                    "inum=1800.08CB80,ou=scopes,o=jans",
                                    "inum=1800.DF434B,ou=scopes,o=jans",
                                    "inum=1800.127954,ou=scopes,o=jans",
                                    "inum=1800.E7CB8C,ou=scopes,o=jans",
                                    "inum=C4F7,ou=scopes,o=jans"
                                ],
                                "trustedClient": false,
                                "persistClientAuthorizations": true,
                                "includeClaimsInIdToken": false,
                                "customAttributes": [
                                    {
                                        "name": "displayName",
                                        "multiValued": false,
                                        "values": [
                                            "Jans Config Api Client"
                                        ],
                                        "value": "Jans Config Api Client",
                                        "displayValue": "Jans Config Api Client"
                                    }
                                ],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": false,
                                "accessTokenSigningAlg": "RS256",
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": false,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "jansDefaultPromptLogin": false
                                },
                                "tokenBindingSupported": false,
                                "authenticationMethod": "client_secret_basic",
                                "displayName": "Jans Config Api Client",
                                "baseDn": "inum=1802.db19d013-bb63-42c4-8ce9-79a4aa58aa7b,ou=clients,o=jans",
                                "inum": "1802.db19d013-bb63-42c4-8ce9-79a4aa58aa7b"
                            },
                            {
                                "dn": "inum=1201.1d010784-b5bf-4813-8f49-cfea00f50498,ou=clients,o=jans",
                                "clientSecret": "3r2aX1TUEEyX",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://jans.server2/.well-known/scim-configuration"
                                ],
                                "grantTypes": [
                                    "client_credentials"
                                ],
                                "applicationType": "native",
                                "clientName": "SCIM client",
                                "logoUri": "",
                                "clientUri": "",
                                "policyUri": "",
                                "tosUri": "",
                                "subjectType": "pairwise",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=1200.487800,ou=scopes,o=jans",
                                    "inum=1200.9CEE5C,ou=scopes,o=jans",
                                    "inum=1200.B6AE14,ou=scopes,o=jans",
                                    "inum=1200.2F4765,ou=scopes,o=jans",
                                    "inum=1200.5BFEE9,ou=scopes,o=jans",
                                    "inum=1200.E05ED3,ou=scopes,o=jans",
                                    "inum=1200.37F617,ou=scopes,o=jans",
                                    "inum=1200.585BE3,ou=scopes,o=jans",
                                    "inum=1200.CFB1B5,ou=scopes,o=jans",
                                    "inum=1200.B29D76,ou=scopes,o=jans"
                                ],
                                "trustedClient": false,
                                "persistClientAuthorizations": false,
                                "includeClaimsInIdToken": false,
                                "customAttributes": [
                                    {
                                        "name": "displayName",
                                        "multiValued": false,
                                        "values": [
                                            "SCIM client"
                                        ],
                                        "value": "SCIM client",
                                        "displayValue": "SCIM client"
                                    }
                                ],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": false,
                                "accessTokenSigningAlg": "RS256",
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": false,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "jansDefaultPromptLogin": false
                                },
                                "tokenBindingSupported": false,
                                "authenticationMethod": "client_secret_basic",
                                "displayName": "SCIM client",
                                "baseDn": "inum=1201.1d010784-b5bf-4813-8f49-cfea00f50498,ou=clients,o=jans",
                                "inum": "1201.1d010784-b5bf-4813-8f49-cfea00f50498"
                            },
                            {
                                "dn": "inum=2000.7810d591-69d3-458c-9309-4268085fe71c,ou=clients,o=jans",
                                "deletable": false,
                                "clientSecret": "M7plxxzCRxDN",
                                "frontChannelLogoutUri": "http://localhost:4100/logout",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://jans.server2/admin",
                                    "http://localhost:4100"
                                ],
                                "responseTypes": [
                                    "code"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "refresh_token",
                                    "client_credentials",
                                    "urn:ietf:params:oauth:grant-type:device_code"
                                ],
                                "applicationType": "web",
                                "clientName": "Jans Role Based Client",
                                "logoUri": "",
                                "clientUri": "",
                                "policyUri": "",
                                "tosUri": "",
                                "subjectType": "pairwise",
                                "idTokenSignedResponseAlg": "RS256",
                                "userInfoSignedResponseAlg": "RS256",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "postLogoutRedirectUris": [
                                    "http://localhost:4100",
                                    "https://jans.server2/admin"
                                ],
                                "scopes": [
                                    "inum=C4F7,ou=scopes,o=jans",
                                    "inum=C4F6,ou=scopes,o=jans",
                                    "inum=43F1,ou=scopes,o=jans",
                                    "inum=764C,ou=scopes,o=jans",
                                    "inum=F0C4,ou=scopes,o=jans"
                                ],
                                "trustedClient": false,
                                "persistClientAuthorizations": true,
                                "includeClaimsInIdToken": false,
                                "accessTokenLifetime": 2592000,
                                "customAttributes": [
                                    {
                                        "name": "displayName",
                                        "multiValued": false,
                                        "values": [
                                            "Jans Role Based Client"
                                        ],
                                        "value": "Jans Role Based Client",
                                        "displayValue": "Jans Role Based Client"
                                    }
                                ],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": true,
                                "accessTokenSigningAlg": "RS256",
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": true,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "introspectionScripts": [
                                        "inum=A44E-4F3D,ou=scripts,o=jans"
                                    ],
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "jansDefaultPromptLogin": false
                                },
                                "tokenBindingSupported": false,
                                "authenticationMethod": "client_secret_basic",
                                "displayName": "Jans Role Based Client",
                                "baseDn": "inum=2000.7810d591-69d3-458c-9309-4268085fe71c,ou=clients,o=jans",
                                "inum": "2000.7810d591-69d3-458c-9309-4268085fe71c"
                            },
                            {
                                "dn": "inum=FF81-2D39,ou=clients,o=jans",
                                "clientSecret": "FF81-2D39-jans",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://jans.server2/jans-auth-rp/home.htm",
                                    "https://client.example.com/cb",
                                    "https://client.example.com/cb1",
                                    "https://client.example.com/cb2"
                                ],
                                "claimRedirectUris": [
                                    "https://jans.server2/jans-auth/restv1/uma/gather_claims"
                                ],
                                "responseTypes": [
                                    "token",
                                    "code",
                                    "id_token"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "implicit",
                                    "refresh_token",
                                    "client_credentials"
                                ],
                                "applicationType": "web",
                                "clientName": "Jans Test Client (don't remove)",
                                "logoUri": "",
                                "clientUri": "",
                                "policyUri": "",
                                "tosUri": "",
                                "subjectType": "public",
                                "idTokenSignedResponseAlg": "RS256",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=F0C4,ou=scopes,o=jans",
                                    "inum=10B2,ou=scopes,o=jans",
                                    "inum=764C,ou=scopes,o=jans",
                                    "inum=43F1,ou=scopes,o=jans",
                                    "inum=341A,ou=scopes,o=jans",
                                    "inum=6D99,ou=scopes,o=jans"
                                ],
                                "trustedClient": true,
                                "persistClientAuthorizations": false,
                                "includeClaimsInIdToken": false,
                                "customAttributes": [
                                    {
                                        "name": "displayName",
                                        "multiValued": false,
                                        "values": [
                                            "Jans Test Client (don't remove)"
                                        ],
                                        "value": "Jans Test Client (don't remove)",
                                        "displayValue": "Jans Test Client (don't remove)"
                                    }
                                ],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": false,
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": false,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "jansDefaultPromptLogin": false
                                },
                                "tokenBindingSupported": false,
                                "authenticationMethod": "client_secret_basic",
                                "displayName": "Jans Test Client (don't remove)",
                                "baseDn": "inum=FF81-2D39,ou=clients,o=jans",
                                "inum": "FF81-2D39"
                            },
                            {
                                "dn": "inum=AB77-1A2B,ou=clients,o=jans",
                                "clientSecret": "AB77-1A2B-jans",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://client.example.com/cb"
                                ],
                                "claimRedirectUris": [
                                    "https://jans.server2/jans-auth/restv1/uma/gather_claims"
                                ],
                                "responseTypes": [
                                    "code",
                                    "id_token"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "implicit",
                                    "refresh_token",
                                    "client_credentials"
                                ],
                                "applicationType": "web",
                                "clientName": "Jans Test Resource Server Client (don't remove)",
                                "logoUri": "",
                                "clientUri": "",
                                "policyUri": "",
                                "tosUri": "",
                                "subjectType": "public",
                                "idTokenSignedResponseAlg": "RS256",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=6D99,ou=scopes,o=jans",
                                    "inum=7D90,ou=scopes,o=jans"
                                ],
                                "trustedClient": true,
                                "persistClientAuthorizations": false,
                                "includeClaimsInIdToken": false,
                                "customAttributes": [
                                    {
                                        "name": "displayName",
                                        "multiValued": false,
                                        "values": [
                                            "Jans Test Resource Server Client (don't remove)"
                                        ],
                                        "value": "Jans Test Resource Server Client (don't remove)",
                                        "displayValue": "Jans Test Resource Server Client (don't remove)"
                                    }
                                ],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": false,
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": false,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "jansDefaultPromptLogin": false
                                },
                                "tokenBindingSupported": false,
                                "authenticationMethod": "client_secret_basic",
                                "displayName": "Jans Test Resource Server Client (don't remove)",
                                "baseDn": "inum=AB77-1A2B,ou=clients,o=jans",
                                "inum": "AB77-1A2B"
                            },
                            {
                                "dn": "inum=3E20,ou=clients,o=jans",
                                "clientSecret": "3E20-jans",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://client.example.com/cb"
                                ],
                                "responseTypes": [
                                    "code",
                                    "id_token"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "implicit",
                                    "refresh_token",
[...]
