openapi: 3.0.1
info:
  title: Jans Config API - cacherefresh
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
  variables: {}
tags:
- name: cacherefresh - Configuration
paths:
  /cacherefresh/cache-refresh-config:
    get:
      tags:
      - Cache Refresh - Configuration
      summary: Gets Cache Refresh configuration.
      description: Gets Cache Refresh configuration.
      operationId: get-properties-cache-refresh
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheRefreshConfiguration'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cacherefresh.readonly
    put:
      tags:
      - Cache Refresh - Configuration
      summary: Updates Cache Refresh configuration properties.
      description: Updates Cache Refresh configuration properties.
      operationId: put-properties-cache-refresh
      requestBody:
        description: CacheRefreshConfiguration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheRefreshConfiguration'
      responses:
        "200":
          description: CacheRefreshConfiguration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheRefreshConfiguration'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/cacherefresh.write
components:
  schemas:
    CacheRefreshAttributeMapping:
      type: object
      properties:
        source:
          type: string
        destination:
          type: string
    CacheRefreshConfiguration:
      type: object
      properties:
        sourceConfigs:
          type: array
          items:
            $ref: '#/components/schemas/GluuLdapConfiguration'
        inumConfig:
          $ref: '#/components/schemas/GluuLdapConfiguration'
        targetConfig:
          $ref: '#/components/schemas/GluuLdapConfiguration'
        ldapSearchSizeLimit:
          type: integer
          format: int32
        keyAttributes:
          type: array
          items:
            type: string
        keyObjectClasses:
          type: array
          items:
            type: string
        sourceAttributes:
          type: array
          items:
            type: string
        customLdapFilter:
          type: string
        updateMethod:
          type: string
        defaultInumServer:
          type: boolean
        keepExternalPerson:
          type: boolean
        useSearchLimit:
          type: boolean
        attributeMapping:
          type: array
          items:
            $ref: '#/components/schemas/CacheRefreshAttributeMapping'
        snapshotFolder:
          type: string
        snapshotMaxCount:
          type: integer
          format: int32
    GluuLdapConfiguration:
      type: object
      properties:
        configId:
          type: string
        bindDN:
          type: string
        bindPassword:
          type: string
        servers:
          type: array
          items:
            type: string
        maxConnections:
          type: integer
          format: int32
        useSSL:
          type: boolean
        baseDNs:
          type: array
          items:
            type: string
        primaryKey:
          type: string
        localPrimaryKey:
          type: string
        useAnonymousBind:
          type: boolean
        enabled:
          type: boolean
        version:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://{op-hostname}/.../token"
          scopes:
            https://jans.io/oauth/config/cacherefresh.readonly: View cache refresh
              configuration related information
            https://jans.io/oauth/config/cacherefresh.write: Manage cache refresh
              configuration related information
