openapi: 3.0.1
info:
  title: Jans Config API - SAML
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
  variables: {}
tags:
- name: SAML - Configuration
- name: SAML - Trust Relationship
paths:
  /saml/samlConfig:
    get:
      tags:
      - SAML - Configuration
      summary: Gets SAML configuration properties
      description: Gets SAML configuration properties
      operationId: get-saml-properties
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlAppConfiguration'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml-config.readonly
    patch:
      tags:
      - SAML - Configuration
      summary: Partially modifies SAML configuration properties.
      description: Partially modifies SAML Configuration properties.
      operationId: patch-saml-properties
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: ""
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlAppConfiguration'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml-config.write
  /saml/scope/{clientId}:
    get:
      tags:
      - SAML - Client Scope
      summary: Get Client Scope
      description: Get Client Scope
      operationId: get-saml-client-scope
      parameters:
      - name: clientId
        in: path
        description: Client Id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProtocolMapperRepresentation'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml-scope.readonly
    put:
      tags:
      - SAML - Client Scope
      summary: Update Client Scope
      description: Update Client Scope
      operationId: post-saml-client-scope_1
      parameters:
      - name: clientId
        in: path
        description: Client Id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProtocolMapperRepresentation'
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProtocolMapperRepresentation'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml-scope.write
    post:
      operationId: addClientScope
      parameters:
      - name: clientId
        in: path
        description: Client Id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtocolMapperRepresentation'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProtocolMapperRepresentation'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
  /saml/scope/test/{clientId}:
    post:
      tags:
      - SAML - Client Scope
      summary: Add new Client Scope
      description: Add new Client Scope
      operationId: post-saml-client-scope
      parameters:
      - name: clientId
        in: path
        description: Client Id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtocolMapperRepresentation'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProtocolMapperRepresentation'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml-scope.write
  /saml/trust-relationship:
    get:
      tags:
      - SAML - Trust Relationship
      summary: Get all Trust Relationship
      description: Get all TrustRelationship.
      operationId: get-trust-relationship
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.readonly
    put:
      tags:
      - SAML - Trust Relationship
      summary: Update TrustRelationship
      description: Update TrustRelationship
      operationId: put-trust-relationship_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrustRelationship'
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.write
    post:
      tags:
      - SAML - Trust Relationship
      summary: Create Trust Relationship without File
      description: Create Trust Relationship without File
      operationId: post-trust-relationship
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrustRelationship'
      responses:
        "201":
          description: Trust Relationship List
          content:
            multipart/form-data:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.write
  /saml/trust-relationship/upload:
    post:
      tags:
      - SAML - Trust Relationship
      summary: Create Trust Relationship with File
      description: Create Trust Relationship with File
      operationId: post-trust-relationship-file
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrustRelationshipForm'
      responses:
        "201":
          description: Newly created Trust Relationship
          content:
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.write
  /saml/trust-relationship/{id}:
    delete:
      tags:
      - SAML - Trust Relationship
      summary: Delete TrustRelationship
      description: Delete TrustRelationship
      operationId: put-trust-relationship
      parameters:
      - name: id
        in: path
        description: Unique Id of Trust Relationship
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.write
  /saml/trust-relationship/id/{id}:
    get:
      tags:
      - SAML - Trust Relationship
      summary: Get TrustRelationship by Id
      description: Get TrustRelationship by Id
      operationId: get-trust-relationship-by-id
      parameters:
      - name: id
        in: path
        description: Unique identifier - Id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.readonly
  /saml/trust-relationship/{clientId}:
    get:
      tags:
      - SAML - Trust Relationship
      summary: Get TrustRelationship by name
      description: Get TrustRelationship by name
      operationId: get-trust-relationship-by-name
      parameters:
      - name: clientId
        in: path
        description: Name
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.readonly
components:
  schemas:
    IdpConfig:
      type: object
      properties:
        configId:
          type: string
        rootDir:
          type: string
        enabled:
          type: boolean
        metadataTempDir:
          type: string
        metadataDir:
          type: string
        metadataFilePattern:
          type: string
    SamlAppConfiguration:
      type: object
      properties:
        applicationName:
          type: string
        samlTrustRelationshipDn:
          type: string
        samlEnabled:
          type: boolean
        selectedIdp:
          type: string
        idpRootDir:
          type: string
        idpTempMetadataFolder:
          type: string
        idpMetadataFolder:
          type: string
        idpMetadataFilePattern:
          type: string
        spMetadataFilePattern:
          type: string
        idpConfigs:
          type: array
          items:
            $ref: '#/components/schemas/IdpConfig'
    JsonPatch:
      type: object
    ProtocolMapperRepresentation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        protocol:
          type: string
        protocolMapper:
          type: string
        consentRequired:
          type: boolean
        consentText:
          type: string
        config:
          type: object
          additionalProperties:
            type: string
    ProfileConfiguration:
      type: object
      properties:
        name:
          type: string
        signResponses:
          type: string
    TrustRelationship:
      required:
      - description
      - displayName
      - spMetaDataSourceType
      type: object
      properties:
        dn:
          type: string
        inum:
          type: string
        owner:
          type: string
        clientId:
          type: string
        displayName:
          maxLength: 60
          minLength: 0
          type: string
        description:
          maxLength: 4000
          minLength: 0
          type: string
        rootUrl:
          type: string
        adminUrl:
          type: string
        baseUrl:
          type: string
        surrogateAuthRequired:
          type: boolean
        enabled:
          type: boolean
        alwaysDisplayInConsole:
          type: boolean
        clientAuthenticatorType:
          type: string
        secret:
          type: string
        registrationAccessToken:
          type: string
        redirectUris:
          type: array
          items:
            type: string
        webOrigins:
          type: array
          items:
            type: string
        consentRequired:
          type: boolean
        jansSAMLMetaDataFilter:
          type: array
          items:
            type: string
        spMetaDataSourceType:
          type: string
          enum:
          - file
          - uri
          - federation
          - manual
          - mdq
        spMetaDataFN:
          type: string
        spMetaDataURL:
          type: string
        metaLocation:
          type: string
        jansIsFed:
          type: boolean
        jansEntityId:
          type: array
          items:
            type: string
        entityType:
          type: string
          enum:
          - Single SP
          - Federation/Aggregate
        jansProfileConf:
          type: array
          items:
            type: string
        releasedAttributes:
          type: array
          items:
            type: string
        url:
          pattern: "^(https?|http)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
          type: string
        spLogoutURL:
          pattern: "^$|(^(https?|http)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|])"
          type: string
        protocol:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - expired
          - register
        validationStatus:
          type: string
          enum:
          - In Progress
          - Success
          - Scheduled
          - Failed
        validationLog:
          type: array
          items:
            type: string
        profileConfigurations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProfileConfiguration'
        baseDn:
          type: string
    TrustRelationshipForm:
      required:
      - metaDataFile
      - trustRelationship
      type: object
      properties:
        trustRelationship:
          $ref: '#/components/schemas/TrustRelationship'
        metaDataFile:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://{op-hostname}/.../token"
          scopes:
            https://jans.io/oauth/config/saml.readonly: View SAML related information
            https://jans.io/oauth/config/saml.write: Manage SAML related information
            https://jans.io/oauth/config/saml-config.readonly: View SAML configuration
              related information
            https://jans.io/oauth/config/saml-config.write: Manage SAML configuration
              related information
