openapi: 3.0.1
info:
  title: Jans Config API - Shibboleth IDP
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: support@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Shibboleth - Plugin Configuration
- name: Shibboleth - Trust Relationship
paths:
  /shibboleth/shibboleth-plugin-config:
    get:
      tags:
      - Shibboleth - Plugin Configuration
      summary: Get Shibboleth Plugin configuration properties
      description: Gets Shibboleth Plugin configuration properties
      operationId: get-shibboleth-plugin-config
      responses:
        "200":
          description: Shibboleth Plugin configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShibbolethPluginConfiguration"
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.admin
      - oauth2:
        - https://jans.io/oauth/config/shibboleth.readonly
      - oauth2:
        - https://jans.io/oauth/config/read-all
    put:
      tags:
      - Shibboleth - Plugin Configuration
      summary: Update Shibboleth Plugin properties
      description: Update Shibboleth Plugin properties
      operationId: update-shibboleth-plugin-config
      requestBody:
        description: GluuAttribute object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShibbolethPluginConfiguration"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShibbolethPluginConfiguration"
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.admin
    patch:
      tags:
      - Shibboleth - Plugin Configuration
      summary: Partially modifies Shibboleth Plugin configuration properties.
      description: Partially modifies Shibboleth Plugin Configuration properties.
      operationId: patch-shibboleth-plugin-config
      requestBody:
        description: GluuAttribute object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShibbolethPluginConfiguration"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShibbolethPluginConfiguration"
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.admin
  /shibboleth/trust-relationships:
    post:
      tags:
      - Shibboleth - Trust Relationship
      summary: Adds trusted service provider
      description: Adds a new trusted service provider
      operationId: post-shibboleth-trust
      requestBody:
        description: Trust Relationship object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTrustRelationshipRequest"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "201":
          description: Newly created Trust Relationship
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustRelationship"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "401":
          description: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
components:
  schemas:
    ShibbolethPluginConfiguration:
      type: object
      properties:
        applicationName:
          type: string
        enabled:
          type: boolean
        trustRelationshipDn:
          type: string
        shibbolethMetadataDir:
          type: string
        shibbolethMetadataFile:
          type: string
        shibbolethMetadataFilePattern:
          type: string
    CreateTrustRelationshipRequest:
      type: object
      properties:
        display_name:
          type: string
        description:
          type: string
        nature:
          type: string
          enum:
          - INDIVIDUAL
          - AGGREGATE
    ActivationDiagnostics:
      type: object
      properties:
        status:
          type: string
          enum:
          - NO_DATA
          - SUCCEEDED
          - FAILED
        origin:
          $ref: "#/components/schemas/Origin"
        logEntries:
          type: array
          items:
            $ref: "#/components/schemas/ActivationLogEntry"
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
    ActivationLogEntry:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum:
          - DEBUG
          - INFO
          - WARNING
          - ERROR
          - CRITICAL
        message:
          type: string
    Description:
      type: object
      properties:
        value:
          type: string
    DisplayName:
      type: object
      properties:
        value:
          type: string
    DomainError:
      type: object
      properties:
        message:
          type: string
    EntityId:
      type: object
      properties:
        value:
          type: string
          format: uri
    EntityIds:
      type: object
      properties:
        entityIds:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EntityId"
    Id:
      type: object
      properties:
        value:
          $ref: "#/components/schemas/ResultUUID"
        assigned:
          type: boolean
        notAssigned:
          type: boolean
    InterceptorFlows:
      type: object
      properties:
        flows:
          type: array
          items:
            type: string
    MetadataSource:
      type: object
      properties:
        type:
          type: string
          enum:
          - FILE
          - URI
          - UPSTREAM
          - MANUAL
          - MDQ
          - NONE
    NameIdentifiers:
      type: object
      properties:
        nameIdentifiers:
          type: array
          items:
            type: string
    Origin:
      type: object
      properties:
        value:
          type: string
    ReleasedAttribute:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        displayName:
          type: string
    ReleasedAttributes:
      type: object
      properties:
        attributes:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ReleasedAttribute"
    ResultUUID:
      type: object
      properties:
        value:
          type: string
          format: uuid
        error:
          $ref: "#/components/schemas/DomainError"
        success:
          type: boolean
        failure:
          type: boolean
    Saml2ArtifactResolutionProfileConfiguration:
      type: object
      properties:
        assertionSigningPolicy:
          type: string
          enum:
          - SIGN_ASSERTIONS
          - DO_NOT_SIGN_ASSERTIONS
        assertionEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ASSERTIONS
          - DO_NOT_ENCRYPT_ASSERTIONS
        attributeEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ATTRIBUTES
          - DO_NOT_ENCRYPT_ATTRIBUTES
        type:
          type: string
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        inboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        outboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        requestSignatureValidationPolicy:
          type: string
          enum:
          - REQUIRE_VALID_SIGNATURE
          - SKIP_VALIDATION
        encryptionFallbackPolicy:
          type: string
          enum:
          - FAIL_IF_CANNOT_ENCRYPT
          - DISABLE_ENCRYPTION_IF_NECESSARY
        messageSigningPolicy:
          type: string
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        nameIdEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_NAMEIDS
          - DO_NOT_ENCRYPT_NAMEIDS
    Saml2AttributeQueryProfileConfiguration:
      type: object
      properties:
        assertionEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ASSERTIONS
          - DO_NOT_ENCRYPT_ASSERTIONS
        attributeEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ATTRIBUTES
          - DO_NOT_ENCRYPT_ATTRIBUTES
        friendlyNameRandomizationPolicy:
          type: string
          enum:
          - RANDOMIZED
          - STATIC
        type:
          type: string
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        inboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        outboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        requestSignatureValidationPolicy:
          type: string
          enum:
          - REQUIRE_VALID_SIGNATURE
          - SKIP_VALIDATION
        encryptionFallbackPolicy:
          type: string
          enum:
          - FAIL_IF_CANNOT_ENCRYPT
          - DISABLE_ENCRYPTION_IF_NECESSARY
        messageSigningPolicy:
          type: string
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        assertionLifetime:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        assertionSigningPolicy:
          type: string
          enum:
          - SIGN_ASSERTIONS
          - DO_NOT_SIGN_ASSERTIONS
        assertionTimeCondition:
          type: string
          enum:
          - INCLUDE_NOT_BEFORE
          - OMIT_NOT_BEFORE
        nameIdEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_NAMEIDS
          - DO_NOT_ENCRYPT_NAMEIDS
    Saml2EcpProfileConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        inboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        outboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        requestSignatureValidationPolicy:
          type: string
          enum:
          - REQUIRE_VALID_SIGNATURE
          - SKIP_VALIDATION
        friendlyNameRandomizationPolicy:
          type: string
          enum:
          - RANDOMIZED
          - STATIC
        requestSigningRequirement:
          type: string
          enum:
          - REQUIRE_SIGNED_REQUESTS
          - ALLOW_UNSIGNED_REQUESTS
        attributeEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ATTRIBUTES
          - DO_NOT_ENCRYPT_ATTRIBUTES
        attributeStatementPolicy:
          type: string
          enum:
          - INCLUDE_ATTRIBUTE_STATEMENT
          - OMIT_ATTRIBUTE_STATEMENT
        authenticationResultReusePolicy:
          type: string
          enum:
          - ALLOW_REUSE
          - DISALLOW_REUSE
        assertionEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ASSERTIONS
          - DO_NOT_ENCRYPT_ASSERTIONS
        endpointValidationPolicy:
          type: string
          enum:
          - ALWAYS_VALIDATE_ENDPOINT
          - SKIP_VALIDATION_WHEN_REQUEST_SIGNED
        maximumSPSessionLifetime:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        encryptionFallbackPolicy:
          type: string
          enum:
          - FAIL_IF_CANNOT_ENCRYPT
          - DISABLE_ENCRYPTION_IF_NECESSARY
        messageSigningPolicy:
          type: string
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        nameIdFormatPrecedence:
          $ref: "#/components/schemas/NameIdentifiers"
        assertionLifetime:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        assertionSigningPolicy:
          type: string
          enum:
          - SIGN_ASSERTIONS
          - DO_NOT_SIGN_ASSERTIONS
        assertionTimeCondition:
          type: string
          enum:
          - INCLUDE_NOT_BEFORE
          - OMIT_NOT_BEFORE
        nameIdEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_NAMEIDS
          - DO_NOT_ENCRYPT_NAMEIDS
    Saml2LogoutProfileConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        inboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        outboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        requestSignatureValidationPolicy:
          type: string
          enum:
          - REQUIRE_VALID_SIGNATURE
          - SKIP_VALIDATION
        encryptionFallbackPolicy:
          type: string
          enum:
          - FAIL_IF_CANNOT_ENCRYPT
          - DISABLE_ENCRYPTION_IF_NECESSARY
        messageSigningPolicy:
          type: string
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        nameIdEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_NAMEIDS
          - DO_NOT_ENCRYPT_NAMEIDS
    Saml2SsoProfileConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        inboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        outboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        requestSignatureValidationPolicy:
          type: string
          enum:
          - REQUIRE_VALID_SIGNATURE
          - SKIP_VALIDATION
        friendlyNameRandomizationPolicy:
          type: string
          enum:
          - RANDOMIZED
          - STATIC
        requestSigningRequirement:
          type: string
          enum:
          - REQUIRE_SIGNED_REQUESTS
          - ALLOW_UNSIGNED_REQUESTS
        attributeEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ATTRIBUTES
          - DO_NOT_ENCRYPT_ATTRIBUTES
        attributeStatementPolicy:
          type: string
          enum:
          - INCLUDE_ATTRIBUTE_STATEMENT
          - OMIT_ATTRIBUTE_STATEMENT
        authenticationResultReusePolicy:
          type: string
          enum:
          - ALLOW_REUSE
          - DISALLOW_REUSE
        assertionEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_ASSERTIONS
          - DO_NOT_ENCRYPT_ASSERTIONS
        endpointValidationPolicy:
          type: string
          enum:
          - ALWAYS_VALIDATE_ENDPOINT
          - SKIP_VALIDATION_WHEN_REQUEST_SIGNED
        maximumSPSessionLifetime:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        encryptionFallbackPolicy:
          type: string
          enum:
          - FAIL_IF_CANNOT_ENCRYPT
          - DISABLE_ENCRYPTION_IF_NECESSARY
        postAuthenticationFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        messageSigningPolicy:
          type: string
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        nameIdFormatPrecedence:
          $ref: "#/components/schemas/NameIdentifiers"
        assertionLifetime:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        maxAuthenticationAge:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        assertionSigningPolicy:
          type: string
          enum:
          - SIGN_ASSERTIONS
          - DO_NOT_SIGN_ASSERTIONS
        assertionTimeCondition:
          type: string
          enum:
          - INCLUDE_NOT_BEFORE
          - OMIT_NOT_BEFORE
        nameIdEncryptionPolicy:
          type: string
          enum:
          - ENCRYPT_NAMEIDS
          - DO_NOT_ENCRYPT_NAMEIDS
    ShibbolethSsoProfileConfiguration:
      type: object
      properties:
        attributeStatementPolicy:
          type: string
          enum:
          - INCLUDE_ATTRIBUTE_STATEMENT
          - OMIT_ATTRIBUTE_STATEMENT
        nameIdFormatPrecedence:
          $ref: "#/components/schemas/NameIdentifiers"
        type:
          type: string
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        inboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        outboundFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        authenticationResultReusePolicy:
          type: string
          enum:
          - ALLOW_REUSE
          - DISALLOW_REUSE
        postAuthenticationFlows:
          $ref: "#/components/schemas/InterceptorFlows"
        messageSigningPolicy:
          type: string
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        assertionLifetime:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        maxAuthenticationAge:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
        assertionSigningPolicy:
          type: string
          enum:
          - SIGN_ASSERTIONS
          - DO_NOT_SIGN_ASSERTIONS
        assertionTimeCondition:
          type: string
          enum:
          - INCLUDE_NOT_BEFORE
          - OMIT_NOT_BEFORE
    TrustRelationship:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        displayName:
          $ref: "#/components/schemas/DisplayName"
        description:
          $ref: "#/components/schemas/Description"
        nature:
          type: string
          enum:
          - INDIVIDUAL
          - AGGREGATE
        version:
          $ref: "#/components/schemas/Version"
        status:
          type: string
          enum:
          - DRAFT
          - READY
          - ACTIVATING
          - ACTIVE
          - INACTIVE
        metadataSource:
          $ref: "#/components/schemas/MetadataSource"
        discoveredEntityIds:
          $ref: "#/components/schemas/EntityIds"
        shibbolethSsoProfileConfiguration:
          $ref: "#/components/schemas/ShibbolethSsoProfileConfiguration"
        saml2ArtifactResolutionProfileConfiguration:
          $ref: "#/components/schemas/Saml2ArtifactResolutionProfileConfiguration"
        saml2AttributeQueryProfileConfiguration:
          $ref: "#/components/schemas/Saml2AttributeQueryProfileConfiguration"
        saml2EcpProfileConfiguration:
          $ref: "#/components/schemas/Saml2EcpProfileConfiguration"
        saml2SsoProfileConfiguration:
          $ref: "#/components/schemas/Saml2SsoProfileConfiguration"
        saml2LogoutProfileConfiguration:
          $ref: "#/components/schemas/Saml2LogoutProfileConfiguration"
        releasedAttributes:
          $ref: "#/components/schemas/ReleasedAttributes"
        activationDiagnostics:
          $ref: "#/components/schemas/ActivationDiagnostics"
        individualNature:
          type: boolean
        aggregateNature:
          type: boolean
    Version:
      type: object
      properties:
        value:
          type: integer
          format: int32
        initial:
          type: boolean
    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        description:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://{op-hostname}/.../token"
          scopes:
            https://jans.io/oauth/config/shibboleth.readonly: View Shibboleth related
              information
            https://jans.io/oauth/config/shibboleth.write: Manage Shibboleth related
              information
            https://jans.io/oauth/config/shibboleth.admin: Admin to manage Shibboleth
              related information
            https://jans.io/oauth/config/shibboleth/config.readonly: View Shibboleth
              config related information
            https://jans.io/oauth/config/shibboleth/config.write: Manage Shibboleth
              config related information
            https://jans.io/oauth/config/shibboleth/config.admin: Admin to manage
              Shibboleth config related information
            https://jans.io/oauth/config/shibboleth/trust.readonly: View Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/shibboleth/trust.write: Manage Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/shibboleth/trust.delete: Manage Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/shibboleth/trust.admin: Admin to manage Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/read-all: Super admin for viewing application
              resource information
            https://jans.io/oauth/config/write-all: Super admin for updating application
              resource information
            https://jans.io/oauth/config/delete-all: Super admin for deleting application
              resource information
