openapi: 3.0.1
info:
  title: Jans Config API - Shibboleth IDP
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: support@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Shibboleth - Plugin Configuration
- name: Shibboleth - Trust Relationship
paths:
  /shibboleth/shibboleth-plugin-config:
    get:
      tags:
      - Shibboleth - Plugin Configuration
      summary: Get Shibboleth Plugin configuration properties
      description: Gets Shibboleth Plugin configuration properties
      operationId: get-shibboleth-plugin-config
      responses:
        "200":
          description: Shibboleth Plugin configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShibbolethPluginConfiguration"
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.admin
      - oauth2:
        - https://jans.io/oauth/config/shibboleth.readonly
      - oauth2:
        - https://jans.io/oauth/config/read-all
    put:
      tags:
      - Shibboleth - Plugin Configuration
      summary: Update Shibboleth Plugin properties
      description: Update Shibboleth Plugin properties
      operationId: update-shibboleth-plugin-config
      requestBody:
        description: GluuAttribute object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShibbolethPluginConfiguration"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShibbolethPluginConfiguration"
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.admin
    patch:
      tags:
      - Shibboleth - Plugin Configuration
      summary: Partially modifies Shibboleth Plugin configuration properties.
      description: Partially modifies Shibboleth Plugin Configuration properties.
      operationId: patch-shibboleth-plugin-config
      requestBody:
        description: GluuAttribute object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShibbolethPluginConfiguration"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShibbolethPluginConfiguration"
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/config.admin
  /shibboleth/trust-relationship:
    get:
      tags:
      - Shibboleth - Trust Relationship
      summary: Gets trusted service providers
      description: Gets list of trusted service providers
      operationId: get-shibboleth-trust
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ""
      - name: startIndex
        in: query
        description: Index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: inum
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are
          "ascending" and "descending"
        schema:
          type: string
          default: ascending
      - name: PAGE
        in: query
        description: "Page number to be retrieved, the number of pages is the total\
          \ number of records divided by the page size (rounded up)"
        schema:
          type: integer
          format: int32
          default: 1
      - name: fieldValuePair
        in: query
        description: Field and value pair for searching
        schema:
          type: string
          default: ""
        examples:
          Field value example:
            description: Field value example
            value: "applicationType=web,persistClientAuthorizations=true"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustRelationshipPagedResult"
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
    put:
      tags:
      - Shibboleth - Trust Relationship
      summary: Update Trust Relationship details
      description: Update Trust Relationship details
      operationId: put-shibboleth-trust
      requestBody:
        description: Trust Relationship object
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/TrustRelationshipForm"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "200":
          description: Updated Trust Relationship
          content:
            multipart/form-data:
              schema:
                $ref: "#/components/schemas/TrustRelationship"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "401":
          description: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
    post:
      tags:
      - Shibboleth - Trust Relationship
      summary: Adds trusted service provider
      description: Adds a new trusted service provider
      operationId: post-shibboleth-trust
      requestBody:
        description: Trust Relationship object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrustRelationship"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "201":
          description: Newly created Trust Relationship
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustRelationship"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "401":
          description: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
  /shibboleth/trust-relationship/{inum}:
    get:
      tags:
      - Shibboleth - Trust Relationship
      summary: Gets trusted service provider by unique identifier
      description: shibbolethService
      operationId: get-shibboleth-trust-by-inum
      parameters:
      - name: inum
        in: path
        description: Trust Relationship identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustRelationship"
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
    delete:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Marks Trust Relationship for deletion
      description: Marks Trust Relationship for deletion
      operationId: delete-shibboleth-trust-by-inum
      parameters:
      - name: inum
        in: path
        description: TrustRelationship inum
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.delete
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
  /shibboleth/trust-relationship/{fed-id}/discovery/entities:
    get:
      tags:
      - Shibboleth - Trust Relationship
      summary: Gets list of federation entity ID based on federation ID
      description: Gets list of federation entity ID based on federation ID
      operationId: get-entities-by-fed-id
      parameters:
      - name: fedId
        in: path
        description: Federation ID
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringPagedResult"
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
  /shibboleth/trust-relationship/{inum}release-policyeffective:
    get:
      tags:
      - Shibboleth - Trust Relaattributetionship
      summary: Get  list Trust Relationship
      description: Get attribute list Trust Relationship
      operationId: get-shibboleth-trust-attribute-list
      parameters:
      - name: inum
        in: path
        description: Trust Relationship identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
  /shibboleth/trust-relationship/{inum}saml-profiles:
    get:
      tags:
      - Shibboleth - Trust Relationship
      summary: Gets configured SAML profiles for a trust relationship
      description: Gets configured SAML profiles for a trust relationship
      operationId: get-shibboleth-trust-saml-profiles
      parameters:
      - name: inum
        in: path
        description: Trust Relationship identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SAMLProfile"
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
    put:
      tags:
      - Shibboleth - Trust Relationship
      summary: Updates configured SAML profiles for a trust relationship
      description: Updates configured SAML profiles for a trust relationship
      operationId: post-shibboleth-trust_1
      parameters:
      - name: inum
        in: path
        description: Trust Relationship identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Trust Relationship object
        content:
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/SAMLProfile"
            examples:
              Request example:
                description: Request example
                value: ""
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SAMLProfile"
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "401":
          description: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
  /shibboleth/trust-relationship/{name}:
    get:
      tags:
      - Shibboleth - Trust Relationship
      summary: Gets trusted service providers by name.
      description: Gets list of trusted service providers by name
      operationId: get-shibboleth-trust-by-name
      parameters:
      - name: name
        in: path
        description: Trust Relationship Name
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TrustRelationship"
              examples:
                Response json example:
                  description: Response json example
                  value: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.readonly
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.write
      - oauth2:
        - https://jans.io/oauth/config/shibboleth/trust.admin
components:
  schemas:
    ShibbolethPluginConfiguration:
      type: object
      properties:
        applicationName:
          type: string
        enabled:
          type: boolean
        trustRelationshipDn:
          type: string
        shibbolethMetadataDir:
          type: string
        shibbolethMetadataFile:
          type: string
        shibbolethMetadataFilePattern:
          type: string
    MetadataSource:
      required:
      - metadataSourceType
      type: object
      properties:
        metadataSourceType:
          type: string
          description: Metadata Source Type
          enum:
          - none
          - file
          - uri
          - upstream
          - manual
          - mdq
        metadataStr:
          type: string
          description: Metadata Source Details
      description: Metadata source for Trust Relationship.
    SAMLProfile:
      type: object
      properties:
        profileType:
          type: string
          description: Type of SAML Profile Type
          enum:
          - SHIBBOLETH_SSO
          - SAML2_ATTRIBUTE_QUERY
          - SAML2_ARTIFACT_RESOLUTION
          - SAML2_ECP
          - SAML2_SSO
          - SAML2_LOGOUT
        profileStatus:
          type: string
          description: Indicates if the profile is active or inactive
          enum:
          - active
          - inactive
        inboundFlows:
          type: array
          description: Array of names of inbound interceptor flows to run prior to
            message processing.
          items:
            type: string
            description: Array of names of inbound interceptor flows to run prior
              to message processing.
        outboundFlows:
          type: array
          description: Array of names of outbound interceptor flows to run prior to
            message processing.
          items:
            type: string
            description: Array of names of outbound interceptor flows to run prior
              to message processing.
        postAuthenticationFlows:
          type: array
          description: Array of names of inbound interceptor flows to run after successful
            authentication.
          items:
            type: string
            description: Array of names of inbound interceptor flows to run after
              successful authentication.
        authResultReuse:
          type: boolean
          description: Indicates if authentication results can be reused
        maxAuthenticationAge:
          type: object
          properties:
            seconds:
              type: integer
              format: int64
            zero:
              type: boolean
            nano:
              type: integer
              format: int32
            negative:
              type: boolean
            positive:
              type: boolean
            units:
              type: array
              items:
                type: object
                properties:
                  durationEstimated:
                    type: boolean
                  duration:
                    type: object
                    properties:
                      seconds:
                        type: integer
                        format: int64
                      zero:
                        type: boolean
                      nano:
                        type: integer
                        format: int32
                      negative:
                        type: boolean
                      positive:
                        type: boolean
                  timeBased:
                    type: boolean
                  dateBased:
                    type: boolean
          description: ISO-8601 duration format PnDTnHnMn.nS. E.g. PT15M. Indicates
            how long until an AuthenticationResult can be reused for the current request
        messageSigningPolicy:
          type: string
          description: Policy regarding signing SAML messages for integrity and authenticity
          enum:
          - SIGN_BOTH
          - SIGN_RESPONSES_ONLY
          - SIGN_REQUESTS_ONLY
          - SIGN_NONE
        validationRequestSignature:
          type: boolean
          description: Indicates if request signature is to be validated or skiped
        encryptionFallbackPolicy:
          type: string
          description: Indicates if to automatically disable encryption if the RP
            doesn't possess a suitable key
          enum:
          - FAIL_IF_CANNOT_ENCRYPT
          - DISABLE_ENCRYPTION_IF_NECESSARY
        encryptNameId:
          type: boolean
          description: Indicates whether to encrypt name IDs
        signAssertion:
          type: boolean
          description: Indicates whether to sign assertions
        encryptAssertion:
          type: boolean
          description: Indicates whether to encrypt assertions
        encryptAttribute:
          type: boolean
          description: Indicates whether to encrypt attributes
    TrustRelationship:
      required:
      - displayName
      - entityType
      - metadataSource
      type: object
      properties:
        dn:
          type: string
        inum:
          type: string
          description: Unique identifier
        displayName:
          maxLength: 60
          minLength: 0
          type: string
          description: Trust Relationship display name.
        description:
          maxLength: 4000
          minLength: 0
          type: string
          description: Description of the Trust Relationship.
        entityType:
          type: string
          description: Nature of Trust Relationship.
          enum:
          - individual
          - aggregate
        metadataSource:
          $ref: "#/components/schemas/MetadataSource"
        releasedAttributes:
          type: array
          items:
            type: string
        entityIds:
          uniqueItems: true
          type: array
          description: Uniquely identifies the entity across federated systems.
          items:
            type: string
            description: Uniquely identifies the entity across federated systems.
        jansContainerFedId:
          type: string
          description: DN of the Federation
        jansProfileConfiguration:
          type: array
          description: SAML profiles.
          items:
            $ref: "#/components/schemas/SAMLProfile"
        status:
          type: string
          enum:
          - draft
          - valid
          - pending
          - active
          - inactive
          - error
        version:
          type: integer
          description: Trust Relationship version
          format: int32
        baseDn:
          type: string
    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        description:
          type: string
    StringPagedResult:
      type: object
      properties:
        start:
          type: integer
          format: int32
        totalEntriesCount:
          type: integer
          format: int32
        entriesCount:
          type: integer
          format: int32
        entries:
          type: array
          items:
            type: string
    TrustRelationshipPagedResult:
      type: object
      properties:
        start:
          type: integer
          format: int32
        totalEntriesCount:
          type: integer
          format: int32
        entriesCount:
          type: integer
          format: int32
        entries:
          type: array
          items:
            $ref: "#/components/schemas/TrustRelationship"
    TrustRelationshipForm:
      required:
      - trustRelationship
      type: object
      properties:
        trustRelationship:
          $ref: "#/components/schemas/TrustRelationship"
        metaDataFile:
          type: string
          format: binary
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://{op-hostname}/.../token"
          scopes:
            https://jans.io/oauth/config/shibboleth.readonly: View Shibboleth related
              information
            https://jans.io/oauth/config/shibboleth.write: Manage Shibboleth related
              information
            https://jans.io/oauth/config/shibboleth.admin: Admin to manage Shibboleth
              related information
            https://jans.io/oauth/config/shibboleth/config.readonly: View Shibboleth
              config related information
            https://jans.io/oauth/config/shibboleth/config.write: Manage Shibboleth
              config related information
            https://jans.io/oauth/config/shibboleth/config.admin: Admin to manage
              Shibboleth config related information
            https://jans.io/oauth/config/shibboleth/trust.readonly: View Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/shibboleth/trust.write: Manage Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/shibboleth/trust.delete: Manage Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/shibboleth/trust.admin: Admin to manage Shibboleth
              trust relationship related information
            https://jans.io/oauth/config/read-all: Super admin for viewing application
              resource information
            https://jans.io/oauth/config/write-all: Super admin for updating application
              resource information
            https://jans.io/oauth/config/delete-all: Super admin for deleting application
              resource information
