apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "casa.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: casa
{{ include "casa.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.casa.customAnnotations.deployment) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.casa.customAnnotations.deployment }}
{{ toYaml .Values.global.casa.customAnnotations.deployment | indent 4 }}
{{- end }}
{{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ include "casa.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        APP_NAME: casa
        app: {{ .Release.Name }}-{{ include "casa.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      {{- if or (.Values.global.istio.ingress) (.Values.global.casa.customAnnotations.pod) }}
      annotations:
      {{- if .Values.global.istio.ingress }}
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}  
      {{- if .Values.global.casa.customAnnotations.pod }}
      {{ toYaml .Values.global.casa.customAnnotations.pod | indent 8 }}
      {{- end }}
      {{- end }}
    spec:
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}

    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- include "casa.topology-spread-constraints" . | indent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.global.serviceAccountName }}
      containers:
        - name: {{ include "casa.name" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: CN_CASA_JAVA_OPTIONS
              value: {{ include "casa.customJavaOptions" . | trim }}
            {{- include "casa.usr-envs" . | indent 12 }}
            {{- include "casa.usr-secret-envs" . | indent 12 }}
          {{- if or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local") ( .Values.customScripts) (.Values.customCommand)}}
          command:
            {{- if .Values.customCommand }}
            {{- toYaml .Values.customCommand | nindent 14 }}
            {{- else }}
            - /bin/sh
            - -c
            - |
                {{- with .Values.customScripts }}
                {{- toYaml . | replace "- " "" | nindent 16}}
                {{- end }}
                {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
                /usr/bin/python3 /scripts/updatelbip.py &
                {{- end}}
                /app/scripts/entrypoint.sh
            {{- end}}    
          {{- end}}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.name }}
              containerPort: {{ .Values.service.port}}
              protocol: TCP
            {{ if .Values.global.cnPrometheusPort }}
            - name: prometheus-port
              containerPort: {{ .Values.global.cnPrometheusPort }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config-cm
            {{ if .Values.global.usrEnvs.secret }}
            - secretRef:
                name: {{ .Release.Name }}-global-user-custom-envs
            {{- end }}
            {{ if .Values.global.usrEnvs.normal }}
            - configMapRef:
                name: {{ .Release.Name }}-global-user-custom-envs
            {{- end }}
          lifecycle:
{{- toYaml .Values.lifecycle | nindent 12 }}
          volumeMounts:
          {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with (include "cn.config.schema" . | fromYaml).volumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
            - name: {{ include "casa.fullname" .}}-updatelbip
              mountPath: "/scripts"
          {{- end }}
          livenessProbe:
{{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
{{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- if .Values.global.cloud.testEnviroment }}
          resources: {}
          {{- else }}
          resources:
{{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        - name: {{ include "casa.fullname" . }}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
      {{- end }}
      {{- with (include "cn.config.schema" . | fromYaml).volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if not .Values.global.isFqdnRegistered }}
      hostAliases:
       - ip: {{ .Values.global.lbIp }}
         hostnames:
         - {{ .Values.global.fqdn }}
      {{- end }}
