servers: %(hostname)s

# The connect timeout is used when a Bucket is opened.
# If you feel the urge to change this value to something higher, there is a good chance that your network is not properly set up.
# Connecting to the server should in practice not take longer than a second on a reasonably fast network.
# Default SDK connectTimeout is 10s
connection.connect-timeout: %(couchbase_conn_timeout)s

# Enable/disable DNS SRV lookup for the bootstrap nodes
# Default dnsSrvEnabled is true
connection.dns.use-lookup: false

# Key/value timeout
# Default SDK kvTimeout is 2500ms
connection.kv-timeout: 5000

# Query timeout
# Default SDK queryTimeout is 75s
connection.query-timeout: 75000

# Configures whether mutation tokens will be returned from the server for all mutation operations
# Default mutationTokensEnabled is true
# connection.mutation-tokens-enabled: false

# At startup when connection error is occurred persistence layer can make another attempt to open buckets.
# Before make next try it pause process for 5 second. If after that total connection time is less than specified
# in property above new attempt will be executed
connection.connection-max-wait-time: %(couchbase_conn_max_wait)s

# Default scan consistency. Possible values are: not_bounded, request_plus, statement_plus
connection.scan-consistency: %(couchbase_scan_consistency)s

# Disable scan consistency in queries. Default value: false
# connection.ignore-attribute-scan-consistency: true

# Try to execute query with scan consitency specified in connection.scan-consistency first.
# On failure execute query again with scan consistency specified in attributes defintions. Default value: true
# connection.attempt-without-attribute-scan-consistency: false

# Enable scopes support. Default value: false
# connection.enable-scope-support: true

# Disable mapping to short attribute names. Default value: false
# connection.disable-attribute-mapping: true

auth.userName: %(couchbase_server_user)s
auth.userPassword: %(encoded_couchbase_server_pw)s

buckets: %(couchbase_buckets)s

bucket.default: %(default_bucket)s
%(couchbase_mappings)s

password.encryption.method: %(encryption_method)s

ssl.trustStore.enable: %(ssl_enabled)s
ssl.trustStore.file: %(couchbaseTrustStoreFn)s
ssl.trustStore.pin: %(encoded_couchbaseTrustStorePass)s
ssl.trustStore.type: pkcs12

tls.enable: false

binaryAttributes=objectGUID
certificateAttributes=userCertificate
