# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "persistence.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: persistence-loader
{{ include "persistence.labels" . | indent 4 }}
spec:
  template:
    metadata:
      name: {{ include "persistence.name" . }}
      labels:
        APP_NAME: persistence-loader
        app: {{ .Release.Name }}-{{ include "persistence.name" . }}
    spec:
    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      restartPolicy: Never
      containers:
      - name: {{ include "persistence.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        securityContext:
          runAsUser: 1000
          runAsNonRoot: true
        env:
          {{- include "persistence.usr-envs" . | indent 12 }}
          {{- include "persistence.usr-secret-envs" . | indent 12 }}
        {{- if .Values.global.istio.enabled }}
        command:
          - tini
          - -g
          - --
          - /bin/sh
          - -c
          - |
            /app/scripts/entrypoint.sh
            curl -X POST http://localhost:15020/quitquitquit
        {{- end }}
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config-cm
        {{ if .Values.global.usrEnvs.secret }}
        - secretRef:
            name: {{ .Release.Name }}-global-user-custom-envs
        {{- end }}
        {{ if .Values.global.usrEnvs.normal }}
        - configMapRef:
            name: {{ .Release.Name }}-global-user-custom-envs
        {{- end }}
        volumeMounts:
          {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 10 }}
          {{- end }}
        {{- if .Values.global.jackrabbit.enabled }}
          - name: jans-jackrabbit-admin-pass
            mountPath: /etc/jans/conf/jackrabbit_admin_password
            subPath: jackrabbit_admin_password
        {{- end }}
        {{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.cnPersistenceType "spanner") }}
          - mountPath: {{ .Values.global.cnGoogleApplicationCredentials }}
            name: google-sa
            subPath: google-credentials.json
        {{- end }}
        {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid")  }}
          - name: cb-pass
            mountPath: "/etc/jans/conf/couchbase_password"
            subPath: couchbase_password
          - name: cb-super-pass
            mountPath: "/etc/jans/conf/couchbase_superuser_password"
            subPath: couchbase_superuser_password
          - name: cb-crt 
            mountPath: "/etc/certs/couchbase.crt"
            subPath: couchbase.crt
        {{- end }}
        {{- if eq .Values.global.cnPersistenceType "sql" }}
          - name: sql-pass
            mountPath: "/etc/jans/conf/sql_password"
            subPath: sql_password
        {{- end }}
        resources:
{{- toYaml .Values.resources | nindent 10 }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.global.jackrabbit.enabled }}
        - name: jans-jackrabbit-admin-pass
          secret:
            secretName: cn-jackrabbit-admin-pass
      {{- end }}
      {{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.cnPersistenceType "spanner") }}
        - name: google-sa
          secret:
            secretName: {{ .Release.Name }}-google-sa
      {{- end }}
      {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid")  }}
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass
        - name: cb-super-pass
          secret:
            secretName: {{ .Release.Name }}-superuser-cb-pass
        - name: cb-crt 
          secret:
            secretName: {{ .Release.Name }}-cb-crt
      {{- end }}
      {{- if eq .Values.global.cnPersistenceType "sql" }}
        - name: sql-pass
          secret:
            secretName: {{ .Release.Name }}-sql-pass
      {{- end }}
