openapi: 3.0.1
info:
  title: Jans Config API - SAML
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
  variables: {}
tags:
- name: SAML - Configuration
- name: SAML - Trust Relationship
paths:
  /saml/saml-config:
    get:
      tags:
      - SAML - Configuration
      summary: Gets Jans SAML configuration properties
      description: Gets Jans SAML configuration properties
      operationId: get-properties-saml
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlConfig'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml-config.readonly
  /saml/trust-relationship:
    get:
      tags:
      - SAML - Trust Relationship
      summary: Get all Clients
      description: Get all Clients.
      operationId: get-saml-client
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SAMLTrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.readonly
    post:
      tags:
      - SAML - Trust Relationship
      summary: Create Client
      description: Create Client
      operationId: get-saml-trust-relationship
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SAMLTrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.write
  /saml/trust-relationship/user:
    get:
      tags:
      - SAML - Trust Relationship
      summary: Get all Users
      description: Get all Users.
      operationId: get-saml-client_1
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SAMLTrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.readonly
  /saml/trust-relationship/{name}:
    get:
      tags:
      - SAML - Trust Relationship
      summary: Get client by username
      description: Get client by username
      operationId: get-saml-client-by-name
      parameters:
      - name: name
        in: path
        description: Client name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SAMLTrustRelationship'
        "401":
          description: Unauthorized
        "500":
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/saml.readonly
components:
  schemas:
    SamlConfig:
      type: object
      properties:
        serverUrl:
          type: string
        realm:
          type: string
        username:
          type: string
        password:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    CustomAttribute:
      type: object
      properties:
        name:
          type: string
        multiValued:
          type: boolean
        values:
          type: array
          items:
            type: string
        value:
          type: string
        displayValue:
          type: string
    MetadataFilter:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        extensionSchemas:
          type: array
          items:
            type: string
        extensionSchema:
          type: string
        removeRolelessEntityDescriptors:
          type: boolean
        removeEmptyEntitiesDescriptors:
          type: boolean
        retainedRole:
          type: string
        retainedRoles:
          type: array
          items:
            type: string
        maxValidityInterval:
          type: integer
          format: int32
        id:
          type: string
        certPath:
          type: string
        requireSignedMetadata:
          type: boolean
        filterCertFileName:
          type: string
    ProfileConfiguration:
      type: object
      properties:
        name:
          type: string
        includeAttributeStatement:
          type: boolean
        signResponses:
          type: string
        signAssertions:
          type: string
        signRequests:
          type: string
        assertionLifetime:
          type: integer
          format: int32
        assertionProxyCount:
          type: integer
          format: int32
        encryptNameIds:
          type: string
        encryptAssertions:
          type: string
        profileConfigurationCertFileName:
          type: string
        defaultAuthenticationMethod:
          type: string
        nameIDFormatPrecedence:
          type: string
        nameIDFormatPrecedenceList:
          type: array
          items:
            type: string
    SAMLTrustRelationship:
      required:
      - description
      - displayName
      - spMetaDataSourceType
      type: object
      properties:
        dn:
          type: string
        inum:
          type: string
        displayName:
          maxLength: 60
          minLength: 0
          type: string
        description:
          maxLength: 4000
          minLength: 0
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - expired
          - register
        validationStatus:
          type: string
          enum:
          - In Progress
          - Success
          - Scheduled
          - Failed
        releasedAttributes:
          type: array
          items:
            type: string
        spMetaDataSourceType:
          type: string
          enum:
          - file
          - uri
          - federation
          - manual
          - mdq
        spMetaDataFN:
          type: string
        spMetaDataURL:
          type: string
        owner:
          type: string
        maxRefreshDelay:
          type: string
        releasedCustomAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
        metadataFilters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MetadataFilter'
        profileConfigurations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProfileConfiguration'
        gluuSAMLMetaDataFilter:
          type: array
          items:
            type: string
        gluuTrustContact:
          type: array
          items:
            type: string
        gluuTrustDeconstruction:
          type: array
          items:
            type: string
        gluuContainerFederation:
          type: string
        gluuIsFederation:
          type: string
        gluuEntityId:
          type: array
          items:
            type: string
        gluuProfileConfiguration:
          type: array
          items:
            type: string
        gluuSpecificRelyingPartyConfig:
          type: string
        url:
          pattern: "^(https?|http)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
          type: string
        spLogoutURL:
          pattern: "^$|(^(https?|http)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|])"
          type: string
        validationLog:
          type: array
          items:
            type: string
        researchBundleEnabled:
          type: string
        entityType:
          type: string
          enum:
          - Single SP
          - Federation/Aggregate
        metadataStr:
          type: string
        certificate:
          type: string
        federation:
          type: boolean
        entityId:
          type: string
        researchBundle:
          type: boolean
        mdqFederation:
          type: boolean
        fileMetadataSourceType:
          type: boolean
        uriMetadataSourceType:
          type: boolean
        mdqMetadataSourceType:
          type: boolean
        specificRelyingPartyConfig:
          type: boolean
        containerFederation:
          $ref: '#/components/schemas/SAMLTrustRelationship'
        uniqueGluuEntityId:
          uniqueItems: true
          type: array
          writeOnly: true
          items:
            type: string
        baseDn:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://{op-hostname}/.../token"
          scopes:
            https://jans.io/oauth/config/saml.readonly: View SAML related information
            https://jans.io/oauth/config/saml.write: Manage SAML related information
            https://jans.io/oauth/config/saml-config.readonly: View SAML configuration
              related information
            https://jans.io/oauth/config/saml-config.write: Manage SAML configuration
              related information
