# auth server
authserver.clientId=%(admin_ui_client_id)s
authserver.clientSecret=%(admin_ui_client_pw)s
authserver.authzBaseUrl=https://%(hostname)s/jans-auth/authorize.htm
authserver.scope=openid+profile+email+user_name
authserver.redirectUrl=https://%(hostname)s/admin
authserver.frontChannelLogoutUrl=https://%(hostname)s/admin/logout
authserver.postLogoutRedirectUri=https://%(hostname)s/admin
authserver.tokenEndpoint=https://%(hostname)s/jans-auth/restv1/token
authserver.introspectionEndpoint=https://%(hostname)s/jans-auth/restv1/introspection
authserver.userInfoEndpoint=https://%(hostname)s/jans-auth/restv1/userinfo
authserver.healthCheckUrl=https://%(hostname)s/jans-auth/sys/health-check
authServer.endSessionEndpoint=https://%(hostname)s/jans-auth/restv1/end_session

# token server
tokenServer.clientId=%(token_server_admin_ui_client_id)s
tokenServer.clientSecret=%(token_server_admin_ui_client_pw)s
tokenServer.authzBaseUrl=%(token_server_authz_url)s
tokenServer.scope=openid+profile+email+user_name
tokenServer.redirectUrl=https://%(hostname)s/admin
tokenServer.logoutUrl=https://%(hostname)s/admin/logout
tokenServer.tokenEndpoint=%(token_server_token_url)s
tokenServer.introspectionEndpoint=%(token_server_introspection_url)s
tokenServer.userInfoEndpoint=%(token_server_userinfo_url)s

# licenseSpring details
licenseSpring.apiKey=%(admin_ui_license_api_key)s
licenseSpring.productCode=%(admin_ui_license_product_code)s
licenseSpring.sharedKey=%(admin_ui_license_shared_key)s
licenseSpring.managementKey=%(admin_ui_license_management_key)s
# TODO: set to true for production mode
licenseSpring.enabled=false
