<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jansAuthClient" parallel="tests" thread-count="4">

    <listeners>
        <listener class-name="io.jans.as.client.RetryListener" />
    </listeners>

    <!-- Address claims test -->
    <test name="Address claims test (HTTP)" enabled="true">
        <classes>
            <class name="io.jans.as.client.ws.rs.AddressClaimsTest"/>
        </classes>
    </test>

    <test name="Multivalued claims" enabled="true">
        <classes>
            <class name="io.jans.as.client.ws.rs.MultivaluedClaims"/>
        </classes>
    </test>

</suite>
