[package]
name = "cedarling_python"
version = "0.0.0"
edition = "2021"

[lib]
name = "cedarling_python"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.5", features = ["extension-module", "gil-refs"] }
cedarling = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde-pyobject = "0.4.0"
jsonwebtoken = "9.3.0"
