# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
git+https://github.com/JanssenProject/jans@cee1cac845d5701e977a75dcf62d671561983516#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
