# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
git+https://github.com/JanssenProject/jans@85ca4f2cf74561e179626f41a83e63d1b5e2375e#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
