# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
git+https://github.com/JanssenProject/jans@acc4f87b5c8aa830b8af5b120645457b633705fc#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
