{{- if .Values.global.istio.enabled }}
# License terms and conditions:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cleanup.fullname" . }}
  labels:
{{ include "cleanup.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if .Values.additionalAnnotations }}
  annotations:
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
  selector:
    app: {{ .Release.Name }}-{{ include "cleanup.name" . }}
  type: ClusterIP
{{- end }}
