# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/docker-jans-*/ @moabu @iromli
/automation/ @moabu
/charts/ @moabu
/.github/ @moabu
/jans-*/version.txt @moabu
/jans-*/CHANGELOG.md @moabu
/jans-pycloudlib/ @moabu
/docker-jans-*/requirments.txt @mo-auto
/jans-bom/ @yurem @yuriyz
/jans-core/ @yurem @yuriyz
/jans-orm/ @yurem @yuriyz
/jans-notify/ @yurem
/jans-eleven/ @yuriyz
/jans-auth-server/ @yurem @yuriyz
/jans-fido2/ @yurem
/jans-scim/ @jgomer2001
/jans-config-api/ @pujavs @yuriyz @yurem
/jans-cli-tui/ @devrimyatar
/jans-linux-setup/ @devrimyatar @smansoft @yuriyz @yurem
/jans-linux-setup/jans_setup/setup_app/version.py @moabu
/jans-linux-setup/static/scripts/admin_ui_plugin.py @devrimyatar @duttarnab
/agama/ @jgomer2001
