<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jansAuthServerBcFips" parallel="false">

	<listeners>
		<listener class-name="io.jans.as.server.JansUnitTestsListener" />
	</listeners>

	<test name="JsonApplierServerTest" enabled="true">
        	<classes>
            		<class name="io.jans.as.server.BcFipsDemoTest" />
        	</classes>
	</test>

</suite>
