.project
.settings/
*.classpath

.idea



### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/oxd-server/.oxd-license
/oxd-server/oxd-server.log
/oxd-server/oxd_db.mv.db
/oxd-server/oxd_db.trace.db
oxd-gen-client/profiles/*
oxd-gen-client/profiles/*/
!oxd-gen-client/profiles/default/
oxd-gen-client/src/test/resources/properties/*
!oxd-gen-client/src/test/resources/properties/testng.properties
!oxd-gen-client/src/test/resources/properties/testng.xml
oxd-gen-client/target/
oxd-server/dependency-reduced-pom.xml
oxd-server/src/test/resources/properties/users/*
