ShibUserPassAuth {
    org.ldaptive.jaas.LdapLoginModule sufficient
    ldapUrl="ldaps://%(ldap_hostname)s:%(ldaps_port)s"
    baseDn="o=gluu"
    bindDn="%(ldap_binddn)s"
    subtreeSearch="true"
    bindCredential="%(ldapPass)s"
    useStartTLS="false"
    authenticationControls="org.ldaptive.control.PasswordPolicyControl"
    authenticationResponseHandlers="org.ldaptive.auth.ext.PasswordPolicyAuthenticationResponseHandler"
    userFilter="(uid={user})";
};