# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
ruamel.yaml==0.16.10
libcst<0.4
git+https://github.com/JanssenProject/jans@aaf957d27fae2bf4ddfd4f477732eca05b5ae7d4#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
