# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
ruamel.yaml==0.18.5
git+https://github.com/JanssenProject/jans@1f015919ada58a1abc0757379407fe0b1e6b8569#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
