<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="org.gluu.log">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />
		</Console>

		<RollingFile name="FILE" fileName="${sys:log.base}/logs/oxauth-rp.log" filePattern="${sys:log.base}/logs/oxauth-rp-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- ############### oxAuth ################# -->
		<Logger name="org.gluu.oxauth" level="debug" />
		<Logger name="org.gluu.service" level="error" />

		<!-- ############### Gluu ################# -->
		<Logger name="org.gluu" level="error" />

		<!-- ############### Embedded JBoss AS ################# -->
		<Logger name="org.jboss" level="error" />
		<Logger name="com.arjuna" level="error" />

		<!-- EMB-6, JMS activation throws an error due to deployment ordering, but as there is a timeout and retry the tests pass. Hide the error message -->
		<Logger name="jboss.resource.adapter.jms.inflow.JmsActivation" level="error" />

		<!-- ############### Hibernate logging ################# -->
		<Logger name="org.hibernate" level="error" />

		<!-- ############### Ajax4jsf logging ################# -->
		<Logger name="org.ajax4jsf.cache" level="error" />


		<!-- ############### Seam logging ################### -->
		<Logger name="org.jboss.seam" level="info" />

		<!-- These things are too noisy
		<category name="org.jboss.seam.jsf.SeamVariableResolver" level="info" />
		<category name="org.jboss.seam.contexts.Contexts" level="info" />
		<category name="org.jboss.seam.Component" level="info" />
		<category name="org.jboss.seam.deployment.Scanner" level="info" />
		<category name="org.jboss.seam.util.Naming" level="info" />
		<category name="org.jboss.seam.debug.hot" level="info" />
		<category name="org.jboss.seam.core.Events" level="info" />
		-->

		<!-- Debugging conversations and persistence contexts
		<Logger name="org.jboss.seam.core.Manager" level="debug" />
		<Logger name="org.jboss.seam.core.ManagedPersistenceContext" level="debug" />
		<Logger name="org.jboss.seam.jsf.AbstractSeamPhaseListener" level="debug" />
		<Logger name="org.jboss.seam.interceptors.ConversationInterceptor" level="debug" />
		<Logger name="org.jboss.seam.contexts.Lifecycle" level="debug" />
		<Logger name="org.hibernate.impl.SessionImpl" level="debug" />
		<Logger name="org.hibernate.event.def.AbstractFlushingEventListener" level="debug" />
		-->

		<Root level="info">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
