# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# Default values for nginx-ingress.
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080
ingress:
  # /.well-known/openid-configuration
  openidConfigEnabled: true
  # /.well-known/uma2-configuration
  uma2ConfigEnabled: true
  # /.well-known/webfinger
  webfingerEnabled: true
  # /.well-known/simple-web-discovery
  webdiscoveryEnabled: true
  # /.well-known/scim-configuration
  scimConfigEnabled: true
  # /jans-scim
  scimEnabled: true
  # /jans-config-api
  configApiEnabled: true
  # /.well-known/fido-configuration
  u2fConfigEnabled: true
  # /.well-known/fido2-configuration
  fido2ConfigEnabled: true
  # /jans-auth
  authServerEnabled: true
  # in the format of {cert-manager.io/cluster-issuer: nameOfClusterIssuer, kubernetes.io/tls-acme: "true"}
  additionalAnnotations: {}
  annotations: {}
  path: /
  hosts:
    - demoexample.jans.io
  tls: 
   - secretName: tls-certificate
     hosts:
       - demoexample.jans.io
