[workspace]
resolver = "2"
members = ["bindings/*", "cedarling", "sparkv", "test_utils"]

[workspace.dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
sparkv = { path = "sparkv" }
chrono = "0.4"
cedarling = { path = "cedarling" }
test_utils = { path = "test_utils" }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
web-sys = "0.3"
serde-wasm-bindgen = "0.6"


[profile.release]
strip = "symbols"
debug-assertions = false
lto = "thin"
opt-level = "s"
codegen-units = 1
