[package]
name = "cedarling"
version = "1.1.6"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
sparkv = { workspace = true }
uuid7 = { version = "1.1.0", features = ["serde", "uuid"] }
cedar-policy = "4.0.0"
base64 = "0.22.1"
url = "2.5.2"
lazy_static = "1.5.0"
di = { workspace = true }

[dev-dependencies]
# is used in testing
test_utils = { workspace = true }
