[package]
name = "cedarling"
version = "1.2.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
serde_yml = "0.0.12"
thiserror = { workspace = true }
sparkv = { workspace = true }
uuid7 = { version = "1.1.0", features = ["serde", "uuid"] }
cedar-policy = "4.2"
base64 = "0.22.1"
url = "2.5.2"
lazy_static = "1.5.0"
jsonwebtoken = "9.3.0"
reqwest = { version = "0.12.8", features = ["blocking", "json"] }
bytes = "1.7.2"
typed-builder = "0.20.0"
semver = { version = "1.0.23", features = ["serde"] }
derive_more = { version = "1.0.0", features = [
    "deref",
    "from",
    "display",
    "error",
] }
time = { version = "0.3.36", features = ["wasm-bindgen"] }
regex = "1.11.1"
chrono = "0.4.38"

[dev-dependencies]
# is used in testing
test_utils = { workspace = true }
rand = "0.8.5"
jsonwebkey = { version = "0.3.5", features = ["generate", "jwt-convert"] }
mockito = "1.5.0"
