[package]
name = "cedarling"
version = "0.0.0"
edition = "2024"
description = "The Cedarling: a high-performance local authorization service powered by the Rust Cedar Engine."
license = "Apache-2.0"

[features]
# blocking feature allows to use blocking cedarling client
blocking = ["tokio/rt-multi-thread"]

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true, features = ["raw_value"] }
serde_yml = "0.0.12"
thiserror = { workspace = true }
sparkv = { workspace = true }
uuid7 = { version = "1.1.0", features = ["serde", "uuid"] }
cedar-policy = { version = "4.3.2", features = ["partial-eval"] }
base64 = "0.22.1"
url = "2.5.2"
lazy_static = "1.5.0"
http_utils = { workspace = true }
jsonwebtoken = { workspace = true }
reqwest = { version = "0.12.8", features = ["json"] }
typed-builder = "0.20.0"
semver = { version = "1.0.23", features = ["serde"] }
derive_more = { version = "1.0.0", features = [
    "deref",
    "from",
    "display",
    "error",
] }
time = { version = "0.3.36", features = ["wasm-bindgen"] }
regex = "1.11.1"
chrono = { workspace = true }
tokio = { workspace = true, features = ["macros", "time"] }
tokio-util = { workspace = true }
rand = "0.8.5"
smol_str = "0.3.2"
strum = { version = "0.26", features = ["derive"] }
cedar-policy-validator = "4.3.3"
cedar-policy-core = "4.3.3"
datalogic-rs = "2.1.2"
flate2 = "1.1.1"
async-trait = "0.1.88"
futures = "0.3.31"
wasm-bindgen-futures = { workspace = true }
config = "0.15.11"
ahash = { version = "0.8.12", default-features = false, features = ["no-rng"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { workspace = true, features = ["console"] }


[dev-dependencies]
# is used in testing
test_utils = { workspace = true }
rand = "0.8.5"
jsonwebkey = { workspace = true, features = ["generate", "jwt-convert"] }
mockito = "1.5.0"
criterion = { version = "0.5.1", features = ["async_tokio"] }
tokio = { workspace = true, features = ["rt-multi-thread"] }
stats_alloc = "0.1.10"

[target.'cfg(not(any(target_arch = "wasm32", target_os = "windows")))'.dev-dependencies]
pprof = { version = "0.14.0", features = ["flamegraph"] }


[[bench]]
name = "authz_authorize_benchmark"
harness = false

[[bench]]
name = "startup_benchmark"
harness = false
