apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config-cm
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.configMap) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.configMap }}
{{ toYaml .Values.global.config.customAnnotations.configMap | indent 4 }}
{{- end }}
{{- end }}
data:
  # Jetty header size in bytes in the auth server
  CN_JETTY_REQUEST_HEADER_SIZE: {{ .Values.configmap.cnJettyRequestHeaderSize | quote }}
  # Port used by Prometheus JMX agent
  CN_PROMETHEUS_PORT: {{ .Values.global.cnPrometheusPort | quote }}
  {{ if or (eq .Values.global.configAdapterName "google") (eq .Values.global.configSecretAdapter "google") }}
  # [google_envs] Envs related to using Google
  GOOGLE_APPLICATION_CREDENTIALS: {{ .Values.global.cnGoogleApplicationCredentials | quote }}
  GOOGLE_PROJECT_ID: {{ .Values.configmap.cnGoogleProjectId | quote }}
  # [google_secret_manager_envs] Envs related to using Google Secret Manager to store config and secret layer
  CN_GOOGLE_SECRET_VERSION_ID: {{ .Values.configmap.cnGoogleSecretVersionId | quote }}
  CN_GOOGLE_SECRET_NAME_PREFIX: {{ .Values.configmap.cnGoogleSecretNamePrefix | quote }}
  # [google_secret_manager_envs] END
  {{- end }}
  {{ if or (eq .Values.global.configSecretAdapter "aws") (eq .Values.global.configAdapterName "aws") }}
  # [aws_envs] Envs related to using AWS
  {{- if .Values.configmap.cnAwsSecretsEndpointUrl }}
  CN_AWS_SECRETS_ENDPOINT_URL: {{ .Values.configmap.cnAwsSecretsEndpointUrl | quote }}
  {{- end }}
  CN_AWS_SECRETS_PREFIX: {{ .Values.configmap.cnAwsSecretsNamePrefix | quote }}
  CN_AWS_SECRETS_REPLICA_FILE: {{ .Values.global.cnAwsSecretsReplicaRegionsFile | quote }}
  AWS_DEFAULT_REGION: {{ .Values.configmap.cnAwsDefaultRegion | quote }}
  AWS_SHARED_CREDENTIALS_FILE: {{ .Values.global.cnAwsSharedCredentialsFile | quote }}
  AWS_CONFIG_FILE: {{ .Values.global.cnAwsConfigFile | quote }}
  {{- if or (ne .Values.configmap.cnAwsProfile "") (ne .Values.configmap.cnAwsProfile "default") }}
  AWS_PROFILE: {{ .Values.configmap.cnAwsProfile | quote }}
  {{- end }}
  # [aws_envs] END
  {{- end }}
  # [vault_envs] Envs related to Hashicorp vault
  {{ if eq .Values.global.configSecretAdapter "vault" }}
  CN_SECRET_VAULT_ADDR: {{ .Values.configmap.cnVaultAddr | quote }}
  CN_SECRET_VAULT_VERIFY: {{ .Values.configmap.cnVaultVerify | quote }}
  CN_SECRET_VAULT_ROLE_ID_FILE: {{ .Values.configmap.cnVaultRoleIdFile | quote }}
  CN_SECRET_VAULT_SECRET_ID_FILE: {{ .Values.configmap.cnVaultSecretIdFile | quote }}
  CN_SECRET_VAULT_NAMESPACE: {{ .Values.configmap.cnVaultNamespace | quote }}
  CN_SECRET_VAULT_KV_PATH: {{ .Values.configmap.cnVaultKvPath | quote }}
  CN_SECRET_VAULT_PREFIX: {{ .Values.configmap.cnVaultPrefix | quote }}
  CN_SECRET_VAULT_APPROLE_PATH: {{ .Values.configmap.cnVaultAppRolePath | quote }}
  # [vault_envs] END
  {{- end }}
  CN_SQL_DB_SCHEMA: {{ .Values.configmap.cnSqlDbSchema | quote }}
  CN_SQL_DB_DIALECT: {{ .Values.configmap.cnSqlDbDialect }}
  CN_SQL_DB_HOST: {{ .Values.configmap.cnSqlDbHost }}
  CN_SQL_DB_PORT: {{ .Values.configmap.cnSqlDbPort | quote }}
  CN_SQL_DB_NAME: {{ .Values.configmap.cnSqlDbName }}
  CN_SQL_DB_USER: {{ .Values.configmap.cnSqlDbUser }}
  CN_SQL_DB_TIMEZONE: {{ .Values.configmap.cnSqlDbTimezone }}
  CN_CONFIG_ADAPTER: {{ .Values.global.configAdapterName }}
  CN_SECRET_ADAPTER: {{ .Values.global.configSecretAdapter }}
  CN_CONFIG_KUBERNETES_NAMESPACE: {{ .Release.Namespace | quote }}
  CN_SECRET_KUBERNETES_NAMESPACE: {{ .Release.Namespace | quote }}
  CN_CONFIG_KUBERNETES_CONFIGMAP: {{ .Values.configmap.cnConfigKubernetesConfigMap }}
  CN_SECRET_KUBERNETES_SECRET: {{ .Values.configmap.cnSecretKubernetesSecret }}
  CN_CONTAINER_METADATA: {{ .Values.configmap.containerMetadataName | quote }}
  CN_MAX_RAM_PERCENTAGE: {{ .Values.configmap.cnMaxRamPercent | quote }}
  CN_CACHE_TYPE: {{ .Values.configmap.cnCacheType | quote }}
  CN_DOCUMENT_STORE_TYPE: {{ .Values.global.cnDocumentStoreType | quote }}
  DOMAIN: {{ .Values.global.fqdn | quote }}
  CN_AUTH_SERVER_BACKEND: {{ cat ( index .Values "global" "auth-server" "authServerServiceName" ) ":8080" | quote | nospace }}
  CN_AUTH_APP_LOGGERS: {{ index .Values "global" "auth-server" "appLoggers"
  | toJson
  | replace "authLogTarget" "auth_log_target"
  | replace "authLogLevel" "auth_log_level"
  | replace "httpLogTarget" "http_log_target"
  | replace "httpLogLevel" "http_log_level"
  | replace "persistenceLogTarget" "persistence_log_target"
  | replace "persistenceLogLevel" "persistence_log_level"
  | replace "persistenceDurationLogTarget" "persistence_duration_log_target"
  | replace "persistenceDurationLogLevel" "persistence_duration_log_level"
  | replace "scriptLogTarget" "script_log_target"
  | replace "scriptLogLevel" "script_log_level"
  | replace "auditStatsLogTarget" "audit_log_target"
  | replace "auditStatsLogLevel" "audit_log_level"
  | replace "enableStdoutLogPrefix" "enable_stdout_log_prefix"
  | squote
  }}
  {{- if index .Values "global" "config-api" "enabled" }}
  CN_CONFIG_API_APP_LOGGERS: {{ index .Values "global" "config-api" "appLoggers"
  | toJson
  | replace "configApiLogTarget" "config_api_log_target"
  | replace "configApiLogLevel" "config_api_log_level"
  | replace "persistenceLogTarget" "persistence_log_target"
  | replace "persistenceLogLevel" "persistence_log_level"
  | replace "persistenceDurationLogTarget" "persistence_duration_log_target"
  | replace "persistenceDurationLogLevel" "persistence_duration_log_level"
  | replace "scriptLogTarget" "script_log_target"
  | replace "scriptLogLevel" "script_log_level"
  | replace "enableStdoutLogPrefix" "enable_stdout_log_prefix"
  | squote
  }}
  {{- end }}
  {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
  LB_ADDR: {{ .Values.configmap.lbAddr }}
  {{- end }}
  CN_PERSISTENCE_TYPE: {{ .Values.global.cnPersistenceType }}
  CN_KEY_ROTATION_FORCE: "false"
  CN_KEY_ROTATION_CHECK: "3600"
  CN_KEY_ROTATION_INTERVAL: "48"
  {{- if .Values.global.isFqdnRegistered }}
  CN_SSL_CERT_FROM_SECRETS: "false"
  {{- else }}
  CN_SSL_CERT_FROM_SECRETS: "true"
  {{- end }}
  CN_CONTAINER_MAIN_NAME: {{ .Release.Name }}-auth-server
  # options: default/user/site/cache/statistic used only if CN_PERSISTENCE_TYPE is hybrid or hybrid
  {{- if (eq .Values.global.cnPersistenceType "hybrid") }}
  CN_HYBRID_MAPPING: {{ .Values.configmap.cnPersistenceHybridMapping | quote }}
  {{- end }}
  # Auto enable installation of some services
  {{ if or (eq .Values.configmap.cnCacheType "REDIS") (eq .Values.configmap.cnMessageType "REDIS") }}
  CN_REDIS_URL: {{ .Values.configmap.cnRedisUrl | quote }}
  {{- end }}
  {{ if eq .Values.configmap.cnCacheType "REDIS" }}
  CN_REDIS_TYPE: {{ .Values.configmap.cnRedisType | quote }}
  CN_REDIS_USE_SSL: {{ .Values.configmap.cnRedisUseSsl | quote }}
  CN_REDIS_SSL_TRUSTSTORE: {{ .Values.configmap.cnRedisSslTruststore | quote }}
  CN_REDIS_SENTINEL_GROUP: {{ .Values.configmap.cnRedisSentinelGroup | quote }}
  {{- end }}
  {{- if .Values.global.scim.enabled }}
  CN_SCIM_ENABLED: {{ .Values.global.scim.enabled | quote }}
  CN_SCIM_PROTECTION_MODE: {{ .Values.configmap.cnScimProtectionMode | quote }}
  CN_SCIM_APP_LOGGERS: {{ .Values.global.scim.appLoggers
  | toJson
  | replace "scimLogTarget" "scim_log_target"
  | replace "scimLogLevel" "scim_log_level"
  | replace "persistenceLogTarget" "persistence_log_target"
  | replace "persistenceLogLevel" "persistence_log_level"
  | replace "persistenceDurationLogTarget" "persistence_duration_log_target"
  | replace "persistenceDurationLogLevel" "persistence_duration_log_level"
  | replace "scriptLogTarget" "script_log_target"
  | replace "scriptLogLevel" "script_log_level"
  | replace "enableStdoutLogPrefix" "enable_stdout_log_prefix"
  | squote
  }}
  {{- end }}
  {{- if .Values.global.fido2.enabled }}
  CN_FIDO2_APP_LOGGERS: {{ .Values.global.fido2.appLoggers
  | toJson
  | replace "fido2LogTarget" "fido2_log_target"
  | replace "fido2LogLevel" "fido2_log_level"
  | replace "persistenceLogTarget" "persistence_log_target"
  | replace "persistenceLogLevel" "persistence_log_level"
  | replace "persistenceDurationLogTarget" "persistence_duration_log_target"
  | replace "persistenceDurationLogLevel" "persistence_duration_log_level"
  | replace "scriptLogTarget" "script_log_target"
  | replace "scriptLogLevel" "script_log_level"
  | replace "enableStdoutLogPrefix" "enable_stdout_log_prefix"
  | squote
  }}
  {{- end }}
  {{- if .Values.global.casa.enabled }}  # CASA
  CN_CASA_APP_LOGGERS: {{ .Values.global.casa.appLoggers
  | toJson
  | replace "casaLogTarget" "casa_log_target"
  | replace "casaLogLevel" "casa_log_level"
  | replace "timerLogTarget" "timer_log_target"
  | replace "timerLogLevel" "timer_log_level"
  | replace "enableStdoutLogPrefix" "enable_stdout_log_prefix"
  | squote
  }}
  {{- end }}
  CN_SQL_PASSWORD_FILE: {{ .Values.global.cnSqlPasswordFile }}
  CN_CONFIG_API_PLUGINS: {{ index .Values "global" "config-api" "plugins" | quote  }}
  {{- if .Values.global.saml.enabled }}
  QUARKUS_TRANSACTION_MANAGER_ENABLE_RECOVERY: {{ .Values.configmap.quarkusTransactionEnableRecovery | quote }}
  KC_LOG_LEVEL: {{ .Values.configmap.kcLogLevel | quote }}
  KC_DB: {{ .Values.configmap.kcDbVendor | quote }}
  KC_DB_USERNAME: {{ .Values.configmap.kcDbUsername | quote }}
  KC_DB_SCHEMA: {{ .Values.configmap.kcDbSchema | quote }}
  KC_DB_URL_HOST: {{ .Values.configmap.kcDbUrlHost | quote }}
  KC_DB_URL_PORT: {{ .Values.configmap.kcDbUrlPort | quote }}
  KC_DB_URL_DATABASE: {{ .Values.configmap.kcDbUrlDatabase | quote }}
  KC_DB_URL_PROPERTIES: {{ .Values.configmap.kcDbUrlProperties | quote }}
  {{- end }}
  CN_LOCK_ENABLED: {{ index .Values "global" "auth-server" "lockEnabled" | quote }}
  CN_MESSAGE_TYPE: {{ .Values.configmap.cnMessageType | quote }}
  CN_CONFIGURATOR_CONFIGURATION_FILE: {{ .Values.global.cnConfiguratorConfigurationFile | quote }}
  CN_CONFIGURATOR_DUMP_FILE: {{ .Values.global.cnConfiguratorDumpFile | quote }}
---

apiVersion: v1
data:
  tls_generator.py: |-
    from kubernetes import config, client
    import logging
    import base64

    from jans.pycloudlib import get_manager

    log_format = '%(asctime)s - %(name)8s - %(levelname)5s - %(message)s'
    logging.basicConfig(format=log_format, level=logging.INFO)
    logger = logging.getLogger("tls-generator")

    # use the serviceAccount k8s gives to pods
    config.load_incluster_config()
    core_cli = client.CoreV1Api()

    def patch_or_create_namespaced_secret(name, literal, value_of_literal, namespace="default",
                                          secret_type="Opaque", second_literal=None, value_of_second_literal=None,
                                          data=None):
        """Patch secret and if not exist create
        :param name:
        :param literal:
        :param value_of_literal:
        :param namespace:
        :param secret_type:
        :param second_literal:
        :param value_of_second_literal:
        :param data:
        :return:
        """
        # Instantiate the Secret object
        body = client.V1Secret()
        metadata = client.V1ObjectMeta(name=name)
        body.data = data
        if not data:
            body.data = {literal: value_of_literal}
        body.metadata = metadata
        body.type = secret_type
        if second_literal:
            body.data = {literal: value_of_literal, second_literal: value_of_second_literal}
        try:
            core_cli.patch_namespaced_secret(name, namespace, body)
            logger.info('Secret  {} in namespace {} has been patched'.format(name, namespace))
            return
        except client.rest.ApiException as e:
            if e.status == 404 or not e.status:
                try:
                    core_cli.create_namespaced_secret(namespace=namespace, body=body)
                    logger.info('Created secret {} of type {} in namespace {}'.format(name, secret_type, namespace))
                    return True
                except client.rest.ApiException as e:
                    logger.exception(e)
                    return False
            logger.exception(e)
            return False

    # check if janssen secret exists
    def get_certs(secret_name, namespace):
        """

        :param namespace:
        :return:  ssl cert and key from janssen secrets
        """
        def b64encode(value):
            return base64.b64encode(value.encode()).decode()

        manager = get_manager()

        # returns empty string if not found
        ssl_cert = manager.secret.get("ssl_cert")
        if ssl_cert:
            ssl_cert = b64encode(ssl_cert)

        # returns empty string if not found
        ssl_key = manager.secret.get("ssl_key")
        if ssl_key:
            ssl_key = b64encode(ssl_key)
        return ssl_cert, ssl_key


    def main():
        namespace = {{.Release.Namespace | quote}}
        secret_name = {{ .Values.configmap.cnSecretKubernetesSecret | quote }}
        cert, key = get_certs(secret_name, namespace)
        # global vars
        name = "tls-certificate"

        # if istio is enabled
        {{- if.Values.global.istio.ingress}}
        namespace = {{.Values.global.istio.namespace | quote}}
        {{- end}}

        if cert and key:
            patch_or_create_namespaced_secret(name=name,
                                              namespace=namespace,
                                              literal="tls.crt",
                                              value_of_literal=cert,
                                              secret_type="kubernetes.io/tls",
                                              second_literal="tls.key",
                                              value_of_second_literal=key)
        else:
            logger.error(
                "No certificate or key was found in secrets."
                "This can happen when the ssl certificate for the domain is able to be pulled."
                "In that scenario the ssl_cert will be pulled from the domain provided"
            )

    if __name__ == "__main__":
        main()

kind: ConfigMap
metadata:
  name: {{ include "config.fullname" . }}-tls-script
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.configMap) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.configMap }}
{{ toYaml .Values.global.config.customAnnotations.configMap | indent 4 }}
{{- end }}
{{- end }}

---

apiVersion: v1
data:
  updatelbip.py: |-
    #!/usr/bin/env python3
    # -*- coding: utf-8 -*-

    # Update the IP of the load balancer automatically

    """
     License terms and conditions for Janssen Cloud Native Edition:
     https://www.apache.org/licenses/LICENSE-2.0
    """

    import socket
    import os
    import logging
    import time

    logger = logging.getLogger("update-lb-ip")
    logger.setLevel(logging.INFO)
    ch = logging.StreamHandler()
    fmt = logging.Formatter('%(levelname)s - %(asctime)s - %(message)s')
    ch.setFormatter(fmt)
    logger.addHandler(ch)


    def backup(hosts):
        timenow = time.strftime("%c")
        timestamp = "Backup occurred %s \n" % timenow
        logger.info("Backing up hosts file to /etc/hosts.back ...")
        with open('/etc/hosts.back', 'a+') as f:
            f.write(timestamp)
            for line in hosts:
                f.write(line)


    def get_hosts(lb_addr, domain):
        ip_list = []
        hosts_list = []
        ais = socket.getaddrinfo(lb_addr, 0, 0, 0, 0)
        for result in ais:
            ip_list.append(result[-1][0])
        ip_list = list(set(ip_list))
        for ip in ip_list:
            add_host = ip + " " + domain
            hosts_list.append(add_host)

        return hosts_list


    def main():
        try:
            while True:
                lb_addr = os.environ.get("LB_ADDR", "")
                domain = os.environ.get("DOMAIN", "demoexample.jans.io")
                host_file = open('/etc/hosts', 'r').readlines()
                hosts = get_hosts(lb_addr, domain)
                stop = []
                for host in hosts:
                    for i in host_file:
                        if host.replace(" ", "") in i.replace(" ", ""):
                            stop.append("found")
                if len(stop) != len(hosts):
                    backup(host_file)
                    logger.info("Writing new hosts file")
                    with open('/etc/hosts', 'w') as f:
                        for line in host_file:
                            if domain not in line:
                                f.write(line)
                        for host in hosts:
                            f.write(host)
                            f.write("\n")
                        f.write("\n")
                time.sleep(300)
        except KeyboardInterrupt:
            logger.warning("Canceled by user; exiting ...")


    if __name__ == "__main__":
        main()

kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-updatelbip
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.configMap) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.configMap }}
{{ toYaml .Values.global.config.customAnnotations.configMap | indent 4 }}
{{- end }}
{{- end }}
