apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "config.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.job) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.job }}
{{ toYaml .Values.global.config.customAnnotations.job | indent 4 }}
{{- end }}
{{- end }}
spec:
  ttlSecondsAfterFinished: {{ .Values.global.jobTtlSecondsAfterFinished }}
  template:
    metadata:
      name: {{ include "config.name" . }}-job
      labels:
        APP_NAME: configurator
        app: {{ .Release.Name }}-{{ include "config.name" . }}-init-load
    spec:
    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (include "cn.config.schema" . | fromYaml).volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
        - name: {{ include "config.fullname" . }}-tls-script
          configMap:
            name: {{ include "config.fullname" . }}-tls-script
      serviceAccountName: {{ .Values.global.serviceAccountName }}
      containers:
      - name: {{ include "config.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        securityContext:
          runAsUser: 1000
          runAsNonRoot: true
        env:
          {{- include "config.usr-envs" . | indent 12 }}
          {{- include "config.usr-secret-envs" . | indent 12 }}
        lifecycle:
{{- toYaml .Values.lifecycle | nindent 10 }}
        volumeMounts:
          {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with (include "cn.config.schema" . | fromYaml).volumeMounts }}
{{- toYaml . | nindent 10 }}
          {{- end }}
          - mountPath: /scripts/tls_generator.py
            name: {{ include "config.fullname" . }}-tls-script
            subPath: tls_generator.py
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config-cm
        {{ if .Values.global.usrEnvs.secret }}
        - secretRef:
            name: {{ .Release.Name }}-global-user-custom-envs
        {{- end }}
        {{ if .Values.global.usrEnvs.normal }}
        - configMapRef:
            name: {{ .Release.Name }}-global-user-custom-envs
        {{- end }}
        resources:
{{- toYaml .Values.resources | nindent 10 }}
        command:
          {{- if .Values.customCommand }}
          {{- toYaml .Values.customCommand | nindent 12 }}
          {{- else }}
          - tini
          - -g
          - --
          - /bin/sh
          - -c
          - |
              {{- with .Values.customScripts }}
              {{- toYaml . | replace "- " "" | nindent 14}}
              {{- end }}
              {{- if .Values.migration.enabled }}
              /app/scripts/entrypoint.sh migrate --migration-dir {{ .Values.migration.migrationDir | quote }} --data-format {{ .Values.migration.migrationDataFormat | quote }} && /usr/bin/python3 /scripts/tls_generator.py
              {{- else }}
              /app/scripts/entrypoint.sh load && /usr/bin/python3 /scripts/tls_generator.py
              {{- end }}
              {{- if .Values.global.istio.enabled }}
              curl -X POST http://localhost:15020/quitquitquit
              {{- end }}
          {{- end}}     
      restartPolicy: Never
