apiVersion: v1
kind: Secret
metadata:
  name: {{ include "config.fullname" . }}-gen-json-file
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  generate.json: |-
    {
      "hostname": {{ .Values.global.fqdn | quote }},
      "country_code": {{ .Values.countryCode | quote }},
      "state": {{ .Values.state | quote }},
      "city": {{ .Values.city | quote }},
      "admin_pw": {{ .Values.adminPassword | quote }},
      "ldap_pw": {{ .Values.ldapPassword | quote }},
      "redis_pw": {{ .Values.redisPassword | quote }},
      "email": {{ .Values.email | quote }},
      "org_name": {{ .Values.orgName | quote }},
      {{ if eq .Values.global.cnPersistenceType "sql" }}
      "sql_pw": {{ .Values.configmap.cnSqldbUserPassword | quote }},
      {{- end }}
      {{ if or ( eq .Values.global.cnPersistenceType "couchbase" ) ( eq .Values.global.cnPersistenceType "hybrid" ) }}
      "couchbase_pw": {{ .Values.configmap.cnCouchbasePassword | quote }},
      "couchbase_superuser_pw": {{ .Values.configmap.cnCouchbaseSuperUserPassword | quote }},
      {{- end }}
      "auth_sig_keys": {{ index .Values "global" "auth-server" "authSigKeys" | quote }},
      "auth_enc_keys": {{ index .Values "global" "auth-server" "authEncKeys" | quote }},
      "optional_scopes": {{ list (include "config.optionalScopes" . | fromJsonArray | join ",") }},
      "salt": {{ .Values.salt | quote }},
      "init_keys_exp": {{ index .Values "global" "auth-server-key-rotation" "initKeysLife" }}
    }

{{ if or ( eq .Values.global.cnPersistenceType "couchbase" ) ( eq .Values.global.cnPersistenceType "hybrid" ) }}
{{- if not .Values.global.istio.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-crt
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  couchbase.crt: {{ .Values.configmap.cnCouchbaseCrt }}
{{- end }}
{{- end }}

{{ if or (eq .Values.global.configSecretAdapter "aws") (eq .Values.global.configAdapterName "aws") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-aws-config-creds
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  aws_shared_credential_file: |-
    [{{ .Values.configmap.cnAwsProfile }}]
    aws_access_key_id = {{ .Values.configmap.cnAwsAccessKeyId }}
    aws_secret_access_key = {{ .Values.configmap.cnAwsSecretAccessKey }}
  aws_config_file: |-
    [{{ .Values.configmap.cnAwsProfile }}]
    region = {{ .Values.configmap.cnAwsDefaultRegion }}
  aws_secrets_replica_regions: |-
    {{ .Values.configmap.cnAwsSecretsReplicaRegions | toJson }}
{{- end }}

{{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.cnPersistenceType "spanner") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-google-sa
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  google-credentials.json: {{ .Values.configmap.cnGoogleSecretManagerServiceAccount }}
{{- end}}

{{ if eq .Values.global.configSecretAdapter "vault" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-vault
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  vault_role_id: {{ .Values.configmap.cnVaultRoleId | b64enc }}
  vault_secret_id: {{ .Values.configmap.cnVaultSecretId | b64enc }}
{{- end}}

{{- if or (eq .Values.global.cnPersistenceType "ldap") (eq .Values.global.cnPersistenceType "hybrid")  }}
---
# Consider removing secret after moving ldapPass to global. This is only used by the cronJob ldap backup.
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ldap-cron-pass
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  password: {{ .Values.ldapPassword | b64enc }}
{{- end}}

{{- if or (eq .Values.global.cnPersistenceType "ldap") (eq .Values.global.cnPersistenceType "hybrid")  }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ldap-pass
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}

data:
  ldap_password: {{ .Values.ldapPassword | b64enc }}
  ldap_truststore_password: {{ .Values.ldapTruststorePassword | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ldap-certkey
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  opendj.crt: |-
{{ .Values.configmap.cnLdapCrt | indent 4 }}
  opendj.key: |-
{{ .Values.configmap.cnLdapKey | indent 4 }}
{{- end}}

{{- if or (eq .Values.global.cnPersistenceType "sql") (eq .Values.global.cnPersistenceType "hybrid")  }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-sql-pass
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  sql_password: {{ .Values.configmap.cnSqldbUserPassword | b64enc }}
{{- end}}

{{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid")  }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-pass
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  couchbase_password: {{ .Values.configmap.cnCouchbasePassword | b64enc }}
  couchbase_superuser_password: {{ .Values.configmap.cnCouchbaseSuperUserPassword | b64enc }}
{{- end}}


{{- if .Values.global.saml.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-kc-db-pass
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  kc_db_password: {{ .Values.configmap.kcDbPassword | b64enc }}
{{- end}}
