apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-configuration-file
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  configuration.json: |-
    {
      "_configmap": {
        "hostname": {{ .Values.global.fqdn | quote }},
        "country_code": {{ .Values.countryCode | quote }},
        "state": {{ .Values.state | quote }},
        "city": {{ .Values.city | quote }},
        "admin_email": {{ .Values.email | quote }},
        "orgName": {{ .Values.orgName | quote }},
        "auth_sig_keys": {{ index .Values "global" "auth-server" "authSigKeys" | quote }},
        "auth_enc_keys": {{ index .Values "global" "auth-server" "authEncKeys" | quote }},
        "optional_scopes": {{ list (include "config.optionalScopes" . | fromJsonArray | join ",") | quote }},
        "init_keys_exp": {{ index .Values "global" "auth-server-key-rotation" "initKeysLife" }}
      },
      "_secret": {
        "admin_password": {{ .Values.adminPassword | quote }},
        {{ if or ( eq .Values.global.cnPersistenceType "ldap" ) ( eq .Values.global.cnPersistenceType "hybrid" ) }}
        "ldap_password": {{ .Values.ldapPassword | quote }},
        "ldap_truststore_pass": {{ .Values.ldapTruststorePassword | quote }},
        "ldap_ssl_cert": {{ .Values.configmap.cnLdapCrt | quote }},
        "ldap_ssl_key": {{ .Values.configmap.cnLdapKey | quote }},
        {{- end }}
        "redis_password": {{ .Values.redisPassword | quote }},
        {{ if or ( eq .Values.global.cnPersistenceType "sql" ) ( eq .Values.global.cnPersistenceType "hybrid" ) }}
        "sql_password": {{ .Values.configmap.cnSqldbUserPassword | quote }},
        {{- end }}
        {{ if or ( eq .Values.global.cnPersistenceType "couchbase" ) ( eq .Values.global.cnPersistenceType "hybrid" ) }}
        "couchbase_password": {{ .Values.configmap.cnCouchbasePassword | quote }},
        "couchbase_superuser_password": {{ .Values.configmap.cnCouchbaseSuperUserPassword | quote }},
        "couchbase_cert": {{ .Values.configmap.cnCouchbaseCrt | quote }},
        {{- end }}
        {{ if eq .Values.global.configSecretAdapter "vault"  }}
        "vault_role_id": {{ .Values.configmap.cnVaultRoleId | quote }},
        "vault_secret_id": {{ .Values.configmap.cnVaultSecretId | quote }},
        {{- end }}
        "encoded_salt": {{ .Values.salt | quote }}
      }
    }

{{ if or (eq .Values.global.configSecretAdapter "aws") (eq .Values.global.configAdapterName "aws") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-aws-config-creds
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  aws_shared_credential_file: |-
    [{{ .Values.configmap.cnAwsProfile }}]
    aws_access_key_id = {{ .Values.configmap.cnAwsAccessKeyId }}
    aws_secret_access_key = {{ .Values.configmap.cnAwsSecretAccessKey }}
  aws_config_file: |-
    [{{ .Values.configmap.cnAwsProfile }}]
    region = {{ .Values.configmap.cnAwsDefaultRegion }}
  aws_secrets_replica_regions: |-
    {{ .Values.configmap.cnAwsSecretsReplicaRegions | toJson }}
{{- end }}

{{- if .Values.global.saml.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-kc-db-pass
  labels:
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  kc_db_password: {{ .Values.configmap.kcDbPassword | b64enc }}
{{- end}}
