{{- if not .Values.global.cnConfiguratorCustomSchema.secretName -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-configuration-file
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  {{ .Values.global.cnConfiguratorConfigurationFile | base }}: |-
{{ include "config.prepareSchema" . | indent 4 }}
{{- end }}

---

{{- if .Values.global.cnConfiguratorKey -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-configuration-key-file
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "config.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.config.customAnnotations.secret }}
{{ toYaml .Values.global.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  {{ .Values.global.cnConfiguratorKeyFile | base }}: {{ .Values.global.cnConfiguratorKey | b64enc }}
{{- end -}}
