<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="org.gluu.log">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />
		</Console>

		<RollingFile name="OX_HTTP_REQUEST_RESPONSE_FILE" fileName="${sys:log.base}/logs/http_request_response.log" filePattern="${sys:log.base}/logs/http_request_response-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<RollingFile name="FILE" fileName="${sys:log.base}/logs/oxauth.log" filePattern="${sys:log.base}/logs/oxauth-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<RollingFile name="OX_PERSISTENCE_FILE" fileName="${sys:log.base}/logs/oxauth_persistence.log" filePattern="${sys:log.base}/logs/oxauth_persistence-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<RollingFile name="OX_PERSISTENCE_DURATION_FILE" fileName="${sys:log.base}/logs/oxauth_persistence_duration.log" filePattern="${sys:log.base}/logs/oxauth_persistence_duration-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<RollingFile name="OX_PERSISTENCE_LDAP_STATISTICS_FILE" fileName="${sys:log.base}/logs/oxauth_persistence_ldap_statistics.log"
			filePattern="${sys:log.base}/logs/oxauth_persistence_ldap_statistics-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<RollingFile name="OX_SCRIPT_LOG_FILE" fileName="${sys:log.base}/logs/oxauth_script.log" filePattern="${sys:log.base}/logs/oxauth_script-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<RollingFile name="OX_AUDIT_LOG_FILE" fileName="${sys:log.base}/logs/oxauth_audit.log" filePattern="${sys:log.base}/logs/oxauth_audit-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%macAddr] [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- ############### oxAuth ################# -->
		<Logger name="org.gluu.oxauth" level="${log4j.default.log.level}" />
		<Logger name="org.gluu.service" level="${log4j.default.log.level}" />

		<!-- ############### Gluu ################# -->
		<Logger name="org.gluu" level="${log4j.default.log.level}" />

		<!-- EMB-6, JMS activation throws an error due to deployment ordering, but as there is a timeout and retry the tests pass. Hide the error message -->
		<Logger name="jboss.resource.adapter.jms.inflow.JmsActivation" level="error" />

	    <Logger name="com.ocpsoft" level="info" />

		<!-- ############### Hibernate logging ################# -->
		<Logger name="org.hibernate" level="error" />

		<Logger name="org.gluu.oxauth.audit.debug" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_HTTP_REQUEST_RESPONSE_FILE" />
		</Logger>

		<Logger name="org.gluu.site.ldap" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_FILE" />
		</Logger>

		<Logger name="org.gluu.persist" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_FILE" />
		</Logger>

		<Logger name="com.unboundid.ldap.sdk.LDAPConnection" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_FILE" />
		</Logger>

		<Logger name="org.gluu.persist.watch" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_DURATION_FILE" />
		</Logger>

		<Logger name="org.gluu.persist.ldap.operation.watch" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_DURATION_FILE" />
		</Logger>

		<Logger name="org.gluu.persist.couchbase.operation.watch" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_DURATION_FILE" />
		</Logger>

		<Logger name="org.gluu.oxauth.service.status.ldap" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_PERSISTENCE_LDAP_STATISTICS_FILE" />
		</Logger>

		<Logger name="org.gluu.service.PythonService" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_SCRIPT_LOG_FILE" />
		</Logger>

		<Logger name="org.gluu.service.custom.script" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_SCRIPT_LOG_FILE" />
		</Logger>

		<Logger name="org.gluu.oxauth.service.custom" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_SCRIPT_LOG_FILE" />
		</Logger>

		<Logger name="org.gluu.oxauth.audit.ApplicationAuditLogger" level="${log4j.default.log.level}" additivity="false">
			<AppenderRef ref="OX_AUDIT_LOG_FILE" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
