<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c{6}] %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/oxauth.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="BufferSize" value="1000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c{6}] %m%n"/>
        </layout>
    </appender>

    <!-- ================ -->
    <!-- OX appenders     -->
    <!-- ================ -->

    <appender name="OX_PERSISTENCE_LDAP_STATISTICS_FILE" class="org.apache.log4j.DailyRollingFileAppender">
         <param name="File" value="${catalina.home}/logs/oxauth_persistence_ldap_statistics.log"/>
         <param name="DatePattern" value="'.'yyyy-MM-dd"/>

         <layout class="org.apache.log4j.PatternLayout">
              <!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
              <param name="ConversionPattern" value="%d %-5p [%c{6}] (%t) %m%n"/>
          </layout>
   </appender>

    <appender name="OX_SCRIPT_LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
         <param name="File" value="${catalina.home}/logs/oxauth_script.log"/>
         <param name="DatePattern" value="'.'yyyy-MM-dd"/>

         <layout class="org.apache.log4j.PatternLayout">
              <!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
              <param name="ConversionPattern" value="%d %-5p [%c{6}] (%t) %m%n"/>
          </layout>
   </appender>

    <!-- ############### oxAuth #################  -->
    <category name="org.xdi.oxauth">
        <priority value="TRACE"/>
    </category>

    <category name="org.xdi.service">
        <priority value="TRACE"/>
    </category>

    <!-- ############### Embedded JBoss AS #################  -->
    <category name="org.jboss">
        <priority value="ERROR"/>
    </category>
    <category name="com.arjuna">
        <priority value="ERROR"/>
    </category>

    <!-- EMB-6, JMS activation throws an error due to deployment ordering, but as there is a timeout
    and retry the tests pass. Hide the error message -->
    <category name="jboss.resource.adapter.jms.inflow.JmsActivation">
        <priority value="ERROR"/>
    </category>

    <!-- ############### Hibernate logging ################# -->

    <category name="org.hibernate">
        <priority value="ERROR"/>
    </category>

    <!--
    <category name="org.hibernate.SQL">
        <priority value="TRACE"/>
    </category>
    <category name="org.hibernate.type">
        <priority value="TRACE"/>
    </category>
    <category name="org.hibernate.loader">
        <priority value="TRACE"/>
    </category>
    <category name="org.hibernate.cache">
        <priority value="TRACE"/>
    </category>
    -->

    <!-- Ajax4jsf is too noisy -->
    <category name="org.ajax4jsf.cache">
        <priority value="WARN"/>
    </category>


    <!-- ############### Seam logging ################### -->
    <category name="org.jboss.seam">
        <priority value="INFO"/>
    </category>



    <!-- These things are too noisy
    <category name="org.jboss.seam.jsf.SeamVariableResolver">
        <priority value="INFO"/>
    </category>
    <category name="org.jboss.seam.contexts.Contexts">
        <priority value="INFO"/>
    </category>
    <category name="org.jboss.seam.Component">
        <priority value="INFO"/>
    </category>
    <category name="org.jboss.seam.deployment.Scanner">
        <priority value="INFO"/>
    </category>
    <category name="org.jboss.seam.util.Naming">
        <priority value="INFO"/>
    </category>
    <category name="org.jboss.seam.debug.hot">
        <priority value="INFO"/>
    </category>
    <category name="org.jboss.seam.core.Events">
        <priority value="INFO"/>
    </category>
    -->

    <!-- Debugging conversations and persistence contexts
    <category name="org.jboss.seam.core.Manager">
        <priority value="DEBUG"/>
    </category>
    <category name="org.jboss.seam.core.ManagedPersistenceContext">
        <priority value="DEBUG"/>
    </category>
    <category name="org.jboss.seam.jsf.AbstractSeamPhaseListener">
        <priority value="DEBUG"/>
    </category>
    <category name="org.jboss.seam.interceptors.ConversationInterceptor">
        <priority value="DEBUG"/>
    </category>
    <category name="org.jboss.seam.contexts.Lifecycle">
        <priority value="DEBUG"/>
    </category>
    <category name="org.hibernate.impl.SessionImpl">
        <priority value="DEBUG"/>
    </category>
    <category name="org.hibernate.event.def.AbstractFlushingEventListener">
        <priority value="DEBUG"/>
    </category>
    -->

    <!-- ================ -->
    <!-- OX loggers       -->
    <!-- ================ -->

    <logger name="org.xdi.oxauth.service.status.ldap" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="OX_PERSISTENCE_LDAP_STATISTICS_FILE" />
    </logger>

    <logger name="org.xdi.service.PythonService" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="OX_SCRIPT_LOG_FILE" />
    </logger>

    <logger name="org.xdi.service.custom.script" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="OX_SCRIPT_LOG_FILE" />
    </logger>

    <logger name="org.xdi.oxauth.service.custom" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="OX_SCRIPT_LOG_FILE" />
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
