<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>RP Demo</display-name>

  <!--

  1. First of all you need to register your own client for your RP (Client):
     a) via Admin UI (Example: https://ce-dev2.gluu.org)
     b) via Dynamic Registration Endpoint
  Result: you will get client_id (example: @!40EA.D454.9D4F.E876!0001!ECE8.BBEF!0008!6BDC.2E0B).

  2. Get public address of you site and put that public address as redirectUri parameter below.
  -->
  <context-param>
    <param-name>authorizationServerHost</param-name>
    <param-value>https://ce-dev2.gluu.org</param-value>
  </context-param>
  <context-param>
    <param-name>authorizeParameters</param-name>
    <param-value>scope=openid+profile&amp;response_type=code+id_token&amp;nonce=nonce&amp;auth_mode=basic&amp;client_id=@!40EA.D454.9D4F.E876!0001!ECE8.BBEF!0008!6BDC.2E0B</param-value>
  </context-param>
  <context-param>
    <param-name>redirectUri</param-name>
    <param-value>https://ce-dev2.gluu.org/oxauth-rp-demo</param-value>
  </context-param>

  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>org.xdi.oxauth.rp.demo.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>RP Demo Servlet</servlet-name>
    <servlet-class>org.xdi.oxauth.rp.demo.RpDemoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RP Demo Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>