<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <display-name>RP Demo</display-name>

  <!-- Jetty -->
  <context-param>
    <param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
    <param-value>false</param-value>
  </context-param>

  <!--

  1. First of all you need to register your own client for your RP (Client):
     a) via Admin UI (Example: https://ce-dev2.gluu.org)
     b) via Dynamic Registration Endpoint

     Client must :
     a) has redirect_uri that point to your side
     b) scopes which you will use during authorization request (in this demo it is open_id and profile)
     c) response type and grant type for authorization grant type
     d) auth_mode is up to you (for simplicity here we are using basic acr)

     Result: you will get client_id (example: @!40EA.D454.9D4F.E876!0001!ECE8.BBEF!0008!6BDC.2E0B) and client_secret
             which must be put into init parameters of login filter

  2. Get public address of you site and put that public address as redirectUri parameter below.

  3. Specify authorizationServerHost address
  -->

  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>org.xdi.oxauth.rp.demo.LoginFilter</filter-class>
    <init-param>
      <param-name>authorizationServerHost</param-name>
      <param-value>https://ce-dev2.gluu.org</param-value>
    </init-param>
    <init-param>
      <param-name>clientId</param-name>
      <param-value>@!40EA.D454.9D4F.E876!0001!ECE8.BBEF!0008!0068.3E20</param-value>
    </init-param>
    <init-param>
      <param-name>clientSecret</param-name>
      <param-value>0BJtgc27iOo5</param-value> <!-- plain unencrypted client secret-->
    </init-param>
    <init-param>
      <param-name>authorizeParameters</param-name> <!-- with acr_values parameter it's possible to control which authentication script to execute (e.g. acr_values=duo to invoke "duo script")-->
      <param-value>scope=openid+profile&amp;response_type=code&amp;nonce=nonce&amp;acr_values=basic</param-value>
    </init-param>
    <init-param>
      <param-name>redirectUri</param-name> <!-- redirectUri must start from https:// protocol which is required for clients with application_type=web-->
      <param-value>https://ce-dev2.gluu.org/rp-demo</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>RP Demo Servlet</servlet-name>
    <servlet-class>org.xdi.oxauth.rp.demo.RpDemoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RP Demo Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>