# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "client-api.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: client-api
{{ include "client-api.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ include "client-api.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        APP_NAME: client-api
        app: {{ .Release.Name }}-{{ include "client-api.name" . }}
        release: {{ .Release.Name }}
      {{- if .Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      containers:
        - name: {{ include "client-api.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            {{- include "client-api.usr-envs" . | indent 12 }}
            {{- include "client-api.usr-secret-envs" . | indent 12 }}
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
          command:
            - /bin/sh
            - -c 
            - |
                /usr/bin/python3 /scripts/updatelbip.py &
                /app/scripts/entrypoint.sh
          {{- end }}
          ports:
            - containerPort: 8444
            - containerPort: 8443
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config-cm
            {{ if .Values.global.usrEnvs.secret }}
            - secretRef:
                name: {{ .Release.Name }}-global-user-custom-envs
            {{- end }}
            {{ if .Values.global.usrEnvs.normal }}
            - configMapRef:
                name: {{ .Release.Name }}-global-user-custom-envs
            {{- end }}
          livenessProbe:
{{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
{{- toYaml .Values.readinessProbe | nindent 12 }}
          volumeMounts:
          {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.cnPersistenceType "spanner") }}
            - mountPath: {{ .Values.global.cnGoogleApplicationCredentials }}
              name: google-sa
              subPath: google-credentials.json
          {{- end }}
          {{- if eq .Values.global.cnPersistenceType "sql" }}
            - name: sql-pass
              mountPath: "/etc/jans/conf/sql_password"
              subPath: sql_password
          {{- end }}
          {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid") }}
            - name: cb-pass
              mountPath: "/etc/jans/conf/couchbase_password"
              subPath: couchbase_password
            {{- if not .Values.global.istio.enabled }}
            - name: cb-crt
              mountPath: "/etc/certs/couchbase.crt"
              subPath: couchbase.crt
            {{- end }}
          {{- end }}
            {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
            - name: {{ include "client-api.name" . }}-updatelbip
              mountPath: /scripts
            {{- end }}
          {{- if or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
          resources: {}
          {{- else if .Values.global.cloud.testEnviroment }}
          resources: {}
          {{- else }}
          resources:
{{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.cnPersistenceType "spanner") }}
        - name: google-sa
          secret:
            secretName: {{ .Release.Name }}-google-sa
      {{- end }}
      {{- if eq .Values.global.cnPersistenceType "sql" }}
        - name: sql-pass
          secret:
            secretName: {{ .Release.Name }}-sql-pass
      {{- end }}
      {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid") }}
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass
        {{- if not .Values.global.istio.enabled }}
        - name: cb-crt
          secret:
            secretName: {{ .Release.Name }}-cb-crt
        {{- end }}
      {{- end }}
        {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        - name: {{ include "client-api.name" . }}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
        {{- end }}
      {{- if not .Values.global.isFqdnRegistered  }}
      hostAliases:
      - ip: {{ .Values.global.lbIp }}
        hostnames:
        - {{ .Values.global.fqdn }}
      {{- end }}

