# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  # the name must match the application
  name: {{ index .Values "global" "client-api" "clientApiServerServiceName" }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "client-api.labels" . | indent 4 }}
spec:
  ports:
    - port: 8444
      name: tcp-{{ include "client-api.name" . }}-admin-gui
    - port: 8443
      name: tcp-{{ include "client-api.name" . }}-app-connector
  selector:
    app: {{ include "client-api.name" . }}