apiVersion: v1
kind: Service
metadata:
  name: {{ index .Values "global" "auth-server" "authServerServiceName" }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: auth-server
{{ include "auth-server.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (index .Values.global "auth-server" "customAnnotations" "service") }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if index .Values.global "auth-server" "customAnnotations" "service" }}
{{ toYaml (index .Values.global "auth-server" "customAnnotations" "service") | indent 4 }}
{{- end }}
{{- end }}
spec:
  {{- if .Values.global.alb.ingress }}
  type: NodePort
  {{- end }}
  ports:
  - port: {{ .Values.service.port }}
    name: {{ .Values.service.name }}
  selector:
    app: {{ .Release.Name }}-{{ include "auth-server.name" . }} #auth-server
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  {{- with .Values.service.sessionAffinityConfig }}
  sessionAffinityConfig:
{{ toYaml . | indent 4 }}
  {{- end }}

---

{{- if and (index .Values.global "auth-server" "lockEnabled") (index .Values.global "auth-server" "ingress" "lockAuditEnabled") }}
apiVersion: v1
kind: Service
metadata:
  name: {{ index .Values "global" "auth-server" "authServerServiceName" }}-grpc
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: auth-server
{{ include "auth-server.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (index .Values.global "auth-server" "customAnnotations" "service") }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if index .Values.global "auth-server" "customAnnotations" "service" }}
{{ toYaml (index .Values.global "auth-server" "customAnnotations" "service") | indent 4 }}
{{- end }}
{{- end }}
spec:
  {{- if .Values.global.alb.ingress }}
  type: NodePort
  {{- end }}
  ports:
  - port: 50051 # avoid using the same pod port as some gateway implementation doesn't _like_ shared port for gRPC and non-gRPC
    targetPort: {{ .Values.service.port }}
    name: {{ .Values.service.name }}
  selector:
    app: {{ .Release.Name }}-{{ include "auth-server.name" . }} #auth-server
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  {{- with .Values.service.sessionAffinityConfig }}
  sessionAffinityConfig:
{{ toYaml . | indent 4 }}
  {{- end }}
{{- end }}
