node_modules/
release/app/node_modules/
release/app/dist/
release/build/
.erb/dll/
coverage/

.env
.env.*
!.env.example

*.log
npm-debug.log*
*.pid
*.seed
*.tsbuildinfo
.eslintcache

*.css.d.ts
*.sass.d.ts
*.scss.d.ts

.idea/
.DS_Store
