
# -- System for Cross-domain Identity Management (SCIM) version 2.0
# -- Configure the HorizontalPodAutoscaler
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  # -- metrics if targetCPUUtilizationPercentage is not set
  metrics: []
  # -- Scaling Policies
  behavior: {}
# -- Add custom normal and secret envs to the service
usrEnvs:
  # -- Add custom normal envs to the service
  # variable1: value1
  normal: {}
  # -- Add custom secret envs to the service
  # variable1: value1
  secret: {}
# -- Add custom dns policy
dnsPolicy: ""
# -- Add custom dns config
dnsConfig: {}
image:
  # -- Image pullPolicy to use for deploying.
  pullPolicy: IfNotPresent
  # -- Image  to use for deploying.
  repository: janssenproject/scim
  # -- Image  tag to use for deploying.
  tag: 1.0.7_dev
  # -- Image Pull Secrets
  pullSecrets: [ ]
# -- Service replica number.
replicas: 1
resources:
  limits:
    # -- CPU limit.
    cpu: 1000m
    # -- Memory limit.
    memory: 1000Mi
  requests:
    # -- CPU request.
    cpu: 1000m
    # -- Memory request.
    memory: 1000Mi
service:
  # -- The name of the scim port within the scim service. Please keep it as default.
  name: http-scim
  # -- Port of the scim service. Please keep it as default.
  port: 8080
  # -- Default set to None If you want to make sure that connections from a particular client are passed to the same Pod each time, you can select the session affinity based on the client's IP addresses by setting this to ClientIP
  sessionAffinity: None
  # -- the maximum session sticky time if sessionAffinity is ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
# -- Configure the liveness healthcheck for SCIM if needed.
livenessProbe:
  httpGet:
    # -- http liveness probe endpoint
    path: /jans-scim/sys/health-check
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 30
  timeoutSeconds: 5
# -- Configure the readiness healthcheck for the SCIM if needed.
readinessProbe:
  httpGet:
    # -- http readiness probe endpoint
    path:  /jans-scim/sys/health-check
    port: 8080
  initialDelaySeconds: 25
  periodSeconds: 25
  timeoutSeconds: 5
# -- Configure any additional volumes that need to be attached to the pod
volumes: []
# -- Configure any additional volumesMounts that need to be attached to the containers
volumeMounts: []

# -- Additional labels that will be added across all resources definitions in the format of {mylabel: "myapp"}
additionalLabels: { }
# -- Additional annotations that will be added across all resources  in the format of {cert-manager.io/issuer: "letsencrypt-prod"}. key app is taken
additionalAnnotations: { }