apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "link.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: link
{{ include "link.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.link.customAnnotations.deployment) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.link.customAnnotations.deployment }}
{{ toYaml .Values.global.link.customAnnotations.deployment | indent 4 }}
{{- end }}
{{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ include "link.name" . }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ include "link.name" . }}
        release: {{ .Release.Name }}
      {{- if or (.Values.global.istio.ingress) (.Values.global.link.customAnnotations.pod) }}
      annotations:
      {{- if .Values.global.istio.ingress }}
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
      {{- if .Values.global.link.customAnnotations.pod }}
      {{ toYaml .Values.global.link.customAnnotations.pod | indent 4 }}
      {{- end }}
      {{- end }}
    spec:
    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- include "link.topology-spread-constraints" . | indent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.global.serviceAccountName }}
      containers:
        - name: {{ include "link.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: CN_LINK_JAVA_OPTIONS
              value: {{ include "link.customJavaOptions" . | trim }}
            {{- include "link.usr-envs" . | indent 12 }}
            {{- include "link.usr-secret-envs" . | indent 12 }}
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local") ( .Values.customScripts) (.Values.customCommand) }}
          command:
            {{- if .Values.customCommand }}
            {{- toYaml .Values.customCommand | nindent 14 }}
            {{- else }}
            - /bin/sh
            - -c
            - |
                {{- with .Values.customScripts }}
                {{- toYaml . | replace "- " "" | nindent 16}}
                {{- end }}
                {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
                /usr/bin/python3 /scripts/updatelbip.py &
                {{- end}}
                /app/scripts/entrypoint.sh
            {{- end}}
          {{- end}}
          ports:
            - containerPort: 9091
            {{ if .Values.global.cnPrometheusPort }}
            - name: prometheus-port
              containerPort: {{ .Values.global.cnPrometheusPort }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config-cm
          livenessProbe:
{{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
{{- toYaml .Values.readinessProbe | nindent 12 }}
          lifecycle:
{{- toYaml .Values.lifecycle | nindent 12 }}
          volumeMounts:
          {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
            {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
            - name: {{ include "link.name" . }}-updatelbip
              mountPath: /scripts
            {{- end }}
          {{- with (include "cn.config.schema" . | fromYaml).volumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.global.cloud.testEnviroment }}
          resources: {}
          {{- else }}
          resources:
{{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
        {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        - name: {{ include "link.name" . }}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
        {{- end }}
      {{- with (include "cn.config.schema" . | fromYaml).volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if not .Values.global.isFqdnRegistered  }}
      hostAliases:
      - ip: {{ .Values.global.lbIp }}
        hostnames:
        - {{ .Values.global.fqdn }}
      {{- end }}
