services:
  sidecar:
    image: flask-sidecar
    build: ./
    restart: always
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=main.core:app
      - APP_MODE=${APP_MODE:-development}
      - CEDARLING_BOOTSTRAP_CONFIG_FILE=/run/secrets/cedarling_bootstrap_config_file
    volumes:
      - ./:/api
    secrets:
      - cedarling_bootstrap_config_file
secrets:
  cedarling_bootstrap_config_file:
    file: ./secrets/bootstrap.json
