<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.home}/logs/oxauth-rp-demo.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="BufferSize" value="1000"/>
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <category name="org.xdi.oxauth">
    <priority value="TRACE"/>
  </category>

  <category name="jboss.resteasy.plugins.server.servlet">
    <priority value="OFF"/>
  </category>

  <root>
    <priority value="INFO"/>
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>