<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="org.gluu.log">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />
		</Console>

		<RollingFile name="FILE" fileName="${sys:log.base}/logs/oxauth-rp-demo.log" filePattern="${sys:log.base}/logs/oxauth-rp-demo-%d{yyyy-MM-dd}-%i.log">

			<PatternLayout pattern="%d %-5p [%t] [%C{6}] (%F:%L) - %m%n" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- ############### oxAuth ################# -->
		<Logger name="org.gluu.oxauth" level="debug" />
		<Logger name="org.gluu.service" level="error" />

		<!-- ############### Gluu ################# -->
		<Logger name="org.gluu" level="error" />

		<!-- ############### JBoss ################# -->
		<Logger name="jboss.resteasy.plugins.server.servlet" level="error" />

		<Root level="info">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
