# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
ruamel.yaml==0.16.10
git+https://github.com/JanssenProject/jans@0abdb6b81740baaaf3ad4b9ae4fc44c18dd0f7e7#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
