# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
ruamel.yaml==0.16.10
git+https://github.com/JanssenProject/jans@62b82583a211ceba7abaaf4fef5a118d1dec9ef8#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
