<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jansAuthClient" parallel="tests" thread-count="4">

    <listeners>
        <listener class-name="io.jans.as.client.RetryListener"/>
    </listeners>

    <test name="JsonApplier Client test" enabled="true">
        <classes>
            <class name="io.jans.as.client.json.JsonApplierTest"/>
        </classes>
    </test>
    <test name="RegisterRequest Client test" enabled="true">
        <classes>
            <class name="io.jans.as.client.client.RegisterRequestTest"/>
        </classes>
    </test>
    <test name="PAR HTTP Client test" enabled="true">
        <classes>
            <class name="io.jans.as.client.ws.rs.par.ParHttpTest"/>
        </classes>
    </test>
    <test name="Acr Changed HTTP Test test" enabled="true">
        <classes>
            <class name="io.jans.as.client.ws.rs.acr.AcrChangedHttpTest"/>
        </classes>
    </test>

</suite>
