<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxD Common module Suite" parallel="tests">
    <test name="ParamsSecurityTest" enabled="true">
        <classes>
            <class name="org.gluu.oxd.common.params.ParamsSecurityTest"/>
        </classes>
    </test>
</suite>