ShibUserPassAuth {
   edu.vt.middleware.ldap.jaas.LdapLoginModule required
          host="ldaps://%(ldap_hostname)s:%(ldaps_port)s"
      subtreeSearch="true"
      base="o=gluu"
      subtreeSearch="true"
      serviceUser="%(ldap_binddn)s"
      serviceCredential="%(ldapPass)s"
      userField="$userField";
};
