#SSL
http.ssl-port=9444
http.ssl.certificate.file=/etc/certs/web_https.crt
http.ssl.certificate.key-file=/etc/certs/web_https.key
http.insecure-requests=redirect

#API protection
#comma separated list of approved issuer's
api.approved.issuer=%(approved_issuer)s
api.protection.type=oauth2
api.client.id=%(jca_client_id)s
api.client.password=%(jca_client_encoded_pw)s

#Endpoints Injection
endpoint.injection.enabled=true
auth.issuer.url=%(issuer)s
auth.openid.configuration.url=%(openIdConfigurationEndpoint)s
auth.openid.introspection.url=%(introspectionEndpoint)s
auth.openid.token.url=%(tokenEndpoint)s
auth.openid.revoke.url=%(tokenRevocationEndpoint)s

# healthCheck Configuration
smallrye-health.root-path=/health-check

#CORS SETTINGS
http.cors=true
http.cors.origins=*
http.cors.methods=GET,PUT,POST
