quarkus.package.type=uber-jar

# HOSTNAME AND PORT
%dev.quarkus.http.port=8080
%dev.quarkus.http.host=127.0.0.1

# TEST PORT
quarkus.http.test-port=8083

# LOGGING
#
## QUARKUS ROOT LEVEL LOG
quarkus.log.level=INFO

## CONSOLE LOGGING
quarkus.log.console.enable=true
quarkus.log.console.format=%d{HH:mm:ss} %-5p [%c{2.}] (%t) %s%e%n
quarkus.log.console.level=INFO
quarkus.log.console.color=true
quarkus.log.category."io.jans.configapi".level=%(jca_log_level)s
# quarkus.log.category."io.jans".level=DEBUG

## FILE LOGGING
quarkus.log.file.enable=true
quarkus.log.file.path=logs/config_api.log
quarkus.log.file.level=%(jca_log_level)s
quarkus.log.file.format=%d{HH:mm:ss} %-5p [%c{2.}] (%t) %s%e%n
quarkus.log.file.rotation.max-file-size=1M
quarkus.log.file.rotation.max-backup-index=100
quarkus.log.file.rotation.rotate-on-boot=true
# quarkus.log.category."io.jans".level=DEBUG

## HTTP LOGGING
quarkus.http.access-log.enabled=true
quarkus.http.access-log.log-to-file=true
quarkus.http.access-log.base-file-name=logs/jans-config-api-access
quarkus.http.access-log.pattern=common

# DISABLE BANNER
quarkus.banner.enabled=false

# DON'T DELETE UNINJECTED BEANS
quarkus.arc.remove-unused-beans=false

# PROCESS ALL RUNNING REQUEST BEFORE SHUTDOWN
quarkus.shutdown.timeout=30

# PRODUCTION CONFIGURATION
%prod.quarkus.http.insecure-requests=enabled
%prod.quarkus.http.port=8074
%prod.quarkus.http.ssl-port=9444
%prod.quarkus.http.ssl.certificate.file=/etc/certs/web_https.crt
%prod.quarkus.http.ssl.certificate.key-file=/etc/certs/web_https.key
# %prod.quarkus.http.insecure-requests=redirect

# APPLICATION METRICS
%prod.quarkus-smallrye-metrics_quarkus.smallrye-metrics.extensions.enabled=false

# API protection
api.protection.type=oauth2
api.client.id=%(jca_client_id)s
api.client.password=%(jca_client_encoded_pw)s

# endpoints
endpoint.injection.enabled=true
auth.issuer.url=%(issuer)s
auth.openid.configuration.url=%(openIdConfigurationEndpoint)s
auth.openid.introspection.url=%(introspectionEndpoint)s
auth.openid.token.url=%(tokenEndpoint)s
auth.openid.revoke.url=%(tokenRevocationEndpoint)s

# healthCheck Configuration
quarkus.smallrye-health.root-path=/health-check

# CORS SETTINGS
quarkus.http.cors=true
quarkus.http.cors.origins=*
quarkus.http.cors.methods=GET,PUT,POST
