# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
click==8.1.7
git+https://github.com/JanssenProject/jans@09ca1d7578c2ae1221b06576a380390ed92654ba#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
