# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
click==6.7
libcst<0.4
git+https://github.com/JanssenProject/jans@36125fe65c5f20af7a06f5cb96743cf60fec3d06#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
