<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jansFido2Server" parallel="false">

	<listeners>
		<listener class-name="io.jans.fido2.u2f.RetryListener" />
	</listeners>

    <test name="RawAuthenticationServiceTest" enabled="true">
        <classes>
            <class name="io.jans.fido2.u2f.service.legacy.RawAuthenticationServiceTest" />
        </classes>
    </test>

	<test name="RawAuthenticationServiceUnitTest" enabled="false">
		<classes>
			<class name="io.jans.fido2.u2f.service.legacy.RawAuthenticationServiceUnitTest" />
		</classes>
	</test>

	<test name="RawRegistrationServiceTest" enabled="true">
		<classes>
			<class name="io.jans.fido2.u2f.service.legacy.RawRegistrationServiceTest" />
		</classes>
	</test>

</suite>
