# coding: utf-8

"""
    SCIM API

    Gluu SCIM 2.0 server API. Developers can think of SCIM as a REST API with endpoints exposing CRUD functionality (create, update, retrieve and delete) for identity management resources such as users, groups, and fido devices.   # noqa: E501

    OpenAPI spec version: 4.2.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UserApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_users(self, **kwargs):  # noqa: E501
        """get_users  # noqa: E501

        Query User resources (see section 3.4.2 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :param str filter: See section 3.4.2.2 of RFC 7644
        :param int start_index:
        :param int count:
        :param str sort_by:
        :param str sort_oder:
        :return: UserListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_users_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_users_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_users_with_http_info(self, **kwargs):  # noqa: E501
        """get_users  # noqa: E501

        Query User resources (see section 3.4.2 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :param str filter: See section 3.4.2.2 of RFC 7644
        :param int start_index:
        :param int count:
        :param str sort_by:
        :param str sort_oder:
        :return: UserListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attributes', 'excluded_attributes', 'filter', 'start_index', 'count', 'sort_by', 'sort_oder']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'start_index' in params:
            query_params.append(('startIndex', params['start_index']))  # noqa: E501
        if 'count' in params:
            query_params.append(('count', params['count']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_oder' in params:
            query_params.append(('sortOder', params['sort_oder']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/jans-scim/restv1/v2/Users', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def jans_scim_restv1_v2_users_post(self, body, **kwargs):  # noqa: E501
        """jans_scim_restv1_v2_users_post  # noqa: E501

        Allows creating a User resource via POST (see section 3.3 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.jans_scim_restv1_v2_users_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UserResource body: Payload that represents the Group to create (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.jans_scim_restv1_v2_users_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.jans_scim_restv1_v2_users_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def jans_scim_restv1_v2_users_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """jans_scim_restv1_v2_users_post  # noqa: E501

        Allows creating a User resource via POST (see section 3.3 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.jans_scim_restv1_v2_users_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UserResource body: Payload that represents the Group to create (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'attributes', 'excluded_attributes']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method jans_scim_restv1_v2_users_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `jans_scim_restv1_v2_users_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/jans-scim/restv1/v2/Users', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserResource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_id_delete(self, id, **kwargs):  # noqa: E501
        """users_id_delete  # noqa: E501

        Deletes a user resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_delete(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Identifier of the resource to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.users_id_delete_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_id_delete_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def users_id_delete_with_http_info(self, id, **kwargs):  # noqa: E501
        """users_id_delete  # noqa: E501

        Deletes a user resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_delete_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Identifier of the resource to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `users_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/Users/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_id_get(self, id, **kwargs):  # noqa: E501
        """users_id_get  # noqa: E501

        Retrieves a User resource by Id (see section 3.4.1 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.users_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def users_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """users_id_get  # noqa: E501

        Retrieves a User resource by Id (see section 3.4.1 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'attributes', 'excluded_attributes']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `users_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/Users/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserResource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_id_patch(self, body, id, **kwargs):  # noqa: E501
        """users_id_patch  # noqa: E501

        Updates one or more attributes of a User resource using a sequence of additions, removals, and  replacements operations. See section 3.5.2 of RFC 7644   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_patch(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PatchRequest body: Payload describing the patch operations to apply upon the resource identified by param id (required)
        :param str id: (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.users_id_patch_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_id_patch_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def users_id_patch_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """users_id_patch  # noqa: E501

        Updates one or more attributes of a User resource using a sequence of additions, removals, and  replacements operations. See section 3.5.2 of RFC 7644   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_patch_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PatchRequest body: Payload describing the patch operations to apply upon the resource identified by param id (required)
        :param str id: (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'attributes', 'excluded_attributes']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_id_patch" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `users_id_patch`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `users_id_patch`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/Users/{id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserResource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_id_put(self, body, id, **kwargs):  # noqa: E501
        """users_id_put  # noqa: E501

        Updates a User resource (see section 3.5.1 of RFC 7644). Update works in a replacement fashion&amp;#58; every attribute value found in the payload sent will replace the one in the existing resource representation. Attributes  not passed in the payload will be left intact.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_put(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UserResource body: Payload with the data to replace in the existing user identified by the id param (required)
        :param str id: (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.users_id_put_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_id_put_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def users_id_put_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """users_id_put  # noqa: E501

        Updates a User resource (see section 3.5.1 of RFC 7644). Update works in a replacement fashion&amp;#58; every attribute value found in the payload sent will replace the one in the existing resource representation. Attributes  not passed in the payload will be left intact.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_id_put_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UserResource body: Payload with the data to replace in the existing user identified by the id param (required)
        :param str id: (required)
        :param str attributes: See section 3.9 of RFC 7644
        :param str excluded_attributes: See section 3.9 of RFC 7644
        :return: UserResource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'attributes', 'excluded_attributes']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `users_id_put`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `users_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/Users/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserResource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_search_post(self, body, **kwargs):  # noqa: E501
        """users_search_post  # noqa: E501

        Query User resources (see section 3.4.2 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_search_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SearchRequest body: Payload that represents the search criteria (required)
        :return: UserListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.users_search_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.users_search_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def users_search_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """users_search_post  # noqa: E501

        Query User resources (see section 3.4.2 of RFC 7644)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.users_search_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SearchRequest body: Payload that represents the search criteria (required)
        :return: UserListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_search_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `users_search_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['testmode']  # noqa: E501

        return self.api_client.call_api(
            '/Users/.search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
