apiVersion: v1
kind: Secret
metadata:
  name: {{ include "janssen-all-in-one.fullname" . }}-gen-json-file
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-{{ include "janssen-all-in-one.name" . }}-aio
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  configuration.json: |-
    {
      "_configmap": {
        "hostname": {{ .Values.fqdn | quote }},
        "country_code": {{ .Values.countryCode | quote }},
        "state": {{ .Values.state | quote }},
        "city": {{ .Values.city | quote }},
        "admin_email": {{ .Values.email | quote }},
        "orgName": {{ .Values.orgName | quote }},
        "auth_sig_keys": {{ index .Values "auth-server" "authSigKeys" | quote }},
        "auth_enc_keys": {{ index .Values "auth-server" "authEncKeys" | quote }},
        "optional_scopes": {{ list (include "janssen-all-in-one.optionalScopes" . | fromJsonArray | join ",") | quote }},
        "init_keys_exp": {{ index .Values "auth-server-key-rotation" "initKeysLife" }}
      },
      "_secret": {
        "admin_password": {{ .Values.adminPassword | quote }},
        "ldap_password": {{ .Values.adminPassword | quote }},
        "redis_password": {{ .Values.redisPassword | quote }},
        {{ if eq .Values.cnPersistenceType "sql" }}
        "sql_password": {{ .Values.configmap.cnSqldbUserPassword | quote }},
        {{- end }}
        {{ if or ( eq .Values.cnPersistenceType "couchbase" ) ( eq .Values.cnPersistenceType "hybrid" ) }}
        "couchbase_password": {{ .Values.configmap.cnCouchbasePassword | quote }},
        "couchbase_superuser_password": {{ .Values.configmap.cnCouchbaseSuperUserPassword | quote }},
        {{- end }}
        "encoded_salt": {{ .Values.salt | quote }}
      }
    }

{{ if or ( eq .Values.cnPersistenceType "couchbase" ) ( eq .Values.cnPersistenceType "hybrid" ) }}
{{- if not .Values.istio.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-crt
  labels:
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  couchbase.crt: {{ .Values.configmap.cnCouchbaseCrt }}
{{- end }}
{{- end }}

{{ if or (eq .Values.configSecretAdapter "aws") (eq .Values.configAdapterName "aws") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-aws-config-creds
  labels:
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  aws_shared_credential_file: |-
    [{{ .Values.configmap.cnAwsProfile }}]
    aws_access_key_id = {{ .Values.configmap.cnAwsAccessKeyId }}
    aws_secret_access_key = {{ .Values.configmap.cnAwsSecretAccessKey }}
  aws_config_file: |-
    [{{ .Values.configmap.cnAwsProfile }}]
    region = {{ .Values.configmap.cnAwsDefaultRegion }}
  aws_secrets_replica_regions: |-
    {{ .Values.configmap.cnAwsSecretsReplicaRegions | toJson }}
{{- end }}

{{ if or (eq .Values.configSecretAdapter "google") (eq .Values.cnPersistenceType "spanner") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-google-sa
  labels:
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  google-credentials.json: {{ .Values.configmap.cnGoogleSecretManagerServiceAccount }}
{{- end}}

{{ if eq .Values.configSecretAdapter "vault" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-vault
  labels:
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  vault_role_id: {{ .Values.configmap.cnVaultRoleId | b64enc }}
  vault_secret_id: {{ .Values.configmap.cnVaultSecretId | b64enc }}
{{- end}}

{{- if or (eq .Values.cnPersistenceType "couchbase") (eq .Values.cnPersistenceType "hybrid")  }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-pass
  labels:
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  couchbase_password: {{ .Values.configmap.cnCouchbasePassword | b64enc }}
  couchbase_superuser_password: {{ .Values.configmap.cnCouchbaseSuperUserPassword | b64enc }}
{{- end}}

{{- if .Values.saml.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-kc-db-pass
  labels:
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
data:
  kc_db_password: {{ .Values.configmap.kcDbPassword | b64enc }}
{{- end}}
