{{- if not .Values.cnConfiguratorCustomSchema.secretName -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-configuration-file
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-{{ include "janssen-all-in-one.name" . }}-aio
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.customAnnotations.secret }}
{{ toYaml .Values.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
stringData:
  {{ .Values.cnConfiguratorConfigurationFile | base }}: |-
{{ include "janssen-all-in-one.config.prepareSchema" . | indent 4  }}
{{- end }}

---

{{- if .Values.cnConfiguratorKey -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-configuration-key-file
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: configurator
{{ include "janssen-all-in-one.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.config.customAnnotations.secret) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.config.customAnnotations.secret }}
{{ toYaml .Values.config.customAnnotations.secret | indent 4 }}
{{- end }}
{{- end }}
type: Opaque
data:
  {{ .Values.cnConfiguratorKeyFile | base }}: {{ .Values.cnConfiguratorKey | b64enc }}
{{- end }}
