{{- if or (eq .Values.global.cnPersistenceType "ldap") (eq .Values.global.cnPersistenceType "hybrid") }}
{{ range $k, $v := until ( .Values.multiCluster.replicaCount | int ) }}
---
# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: StatefulSet
metadata:
  {{- if $.Values.multiCluster.enabled }}
  name: {{ include "opendj.fullname" $ }}-regional-{{$v}}
  {{- else }}
  name: {{ include "opendj.fullname" $ }}
  {{- end }}
  namespace: {{ $.Release.Namespace }}
  labels:
{{ include "opendj.labels" $ | indent 4}}
    {{- if $.Values.multiCluster.enabled }}
    appregion: {{ include "opendj.name" $ }}-regional-{{$v}}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- if $.Values.multiCluster.enabled }}
      app: {{ include "opendj.name" $ }}
      appregion: {{ include "opendj.name" $ }}-regional-{{$v}}
      {{- else }}
      app: {{ include "opendj.name" $ }}
      {{- end }}
  serviceName: {{ include "opendj.name" $ }}
  {{- if $.Values.multiCluster.enabled }}
  replicas: 1
  {{- else }}
  replicas: {{ $.Values.replicas }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- if $.Values.multiCluster.enabled }}
        app: {{ include "opendj.name" $ }}
        appregion: {{ include "opendj.name" $ }}-regional-{{$v}}
        {{- else }}
        app: {{ include "opendj.name" $ }}
        {{- end }}
      {{- if $.Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
    {{- with $.Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      dnsPolicy: {{ $.Values.dnsPolicy | quote }}
    {{- with $.Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
      {{- with $.Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $.Values.multiCluster.enabled }}
        - name: serfkey
          secret:
            secretName: {{ $.Release.Name }}-serf-key
        - name: serfpeers
          configMap:
            name: {{ $.Release.Name }}-serf-peers
      {{- end }}
      containers:
      - name: {{ include "opendj.name" $ }}
        imagePullPolicy: {{ $.Values.image.pullPolicy }}
        image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
        env:
          {{- include "opendj.usr-envs" $ | indent 12 }}
          {{- include "opendj.usr-secret-envs" $ | indent 12 }}
        {{- if $.Values.multiCluster.enabled }}
          - name: JANS_SERF_ADVERTISE_ADDR
            value: "{{ $.Release.Name }}-opendj-{{$.Values.multiCluster.clusterId}}-regional-{{$v}}-{{ $.Values.multiCluster.serfAdvertiseAddrSuffix }}:307{{$.Values.multiCluster.namespaceIntId}}{{$v}}"
          - name: JANS_LDAP_ADVERTISE_ADMIN_PORT
            value: "304{{$.Values.multiCluster.namespaceIntId}}{{$v}}"
          - name: JANS_LDAP_ADVERTISE_LDAPS_PORT
            value: "306{{$.Values.multiCluster.namespaceIntId}}{{$v}}"
          - name: JANS_LDAP_ADVERTISE_REPLICATION_PORT
            value: "309{{$.Values.multiCluster.namespaceIntId}}{{$v}}"
        {{- end }}
        lifecycle:
          preStop:
            exec:
              command: ["python3", "/app/scripts/deregister_peer.py"]
        envFrom:
        - configMapRef:
            name: {{ $.Release.Name }}-config-cm
        {{ if $.Values.global.usrEnvs.secret }}
        - secretRef:
            name: {{ $.Release.Name }}-global-user-custom-envs
        {{- end }}
        {{ if $.Values.global.usrEnvs.normal }}
        - configMapRef:
            name: {{ $.Release.Name }}-global-user-custom-envs
        {{- end }}
        ports:
        {{- range $key, $value := $.Values.ports }}
          - containerPort: {{ $value.targetPort }}
            name: {{ $key }}
        {{- end }}
        volumeMounts:
        {{- range $key, $values := $.Values.openDjVolumeMounts }}
          - mountPath: {{$values.mountPath}}
            name: {{$values.name}}
            subPath: {{$key}}
        {{- end }}
        {{- with $.Values.volumeMounts }}
{{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if $.Values.multiCluster.enabled }}
          - mountPath: "/etc/jans/conf/serf-key"
            name: serfkey
            subPath: serf-key
          - mountPath: "/etc/jans/conf/serf-peers-static.json"
            name: serfpeers
            subPath: serf-peers-static.json
        {{- end }}
        livenessProbe:
{{- toYaml $.Values.livenessProbe | nindent 10 }}
        readinessProbe:
{{- toYaml $.Values.readinessProbe | nindent 10 }}
        {{- if or (eq $.Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq $.Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
        resources: {}
        {{- else if $.Values.global.cloud.testEnviroment }}
        resources: {}
        {{- else }}
        resources:
{{- toYaml $.Values.resources | nindent 10 }}
        {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: opendj-volume
    spec:
      accessModes:
      - {{ $.Values.persistence.accessModes }}
      resources:
        requests:
          storage: {{ $.Values.persistence.size }}
      {{- if eq $.Values.global.storageClass.provisioner "k8s.io/minikube-hostpath" }}
      storageClassName: standard
      {{- else }}
      storageClassName: {{ include "opendj.fullname" $ | quote }}
      {{- end }}
{{- end }}
{{- end }}
