# Please do not attempt to edit this flow without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu
name: triggerdevbuild
on: [workflow_dispatch]
jobs:
  checkBuildAndUpdate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo python3 -m pip install --upgrade pip
          sudo pip3 install setuptools --upgrade
          sudo pip3 install -r ./automation/requirements.txt
          sudo apt-get update
          sudo apt-get install jq

      - uses: actions/checkout@v2

      - name: Update images
        run: |
          cd automation
          sudo python3 auto_update_build_date.py

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY_PASSPHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: true

      - name: Configure Git
        run: |
          git config user.name "mo-auto"
          git config user.email "54212639+mo-auto@users.noreply.github.com"
          git config --global user.signingkey "${{ steps.import_gpg.outputs.keyid }}"
          git add .
          git commit -S -s -m "chore(Dockerfile): updated build date"
      # Push updated index and packaged tgz back into git repo
      - name: Update repo with output
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.MOWORKFLOWTOKEN }}
          committer: mo-auto <54212639+mo-auto@users.noreply.github.com>
          author: mo-auto <54212639+mo-auto@users.noreply.github.com>
          branch: update-source-build-date
          title: 'chore(Dockerfile): updated build date'
          body: |
            - Updated build date
            - Auto-generated

          labels: |
            enhancement
            bot
          assignees: moabu
          reviewers: moabu
          delete-branch: true