Source: oxd-server
Section: java
Priority: optional
Maintainer: Adrian Alves <adrian@gluu.org>
Build-Depends: debhelper (>= 8.0.0),
Standards-Version: 3.9.5
Homepage: http://www.gluu.org

Package: oxd-server
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: plugins for OpenID and UMA
 oxd-server is a middleware service web application
 developers can use to facilitate user authentication
 and authorization with an external OAuth 2.0
 identity provider.
