[Unit]
Description=oxd-server daemon
After=network.target

[Service]
Type=forking
ExecStart=/opt/oxd-server/bin/oxd-server.sh start
ExecStop=/opt/oxd-server/bin/oxd-server.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
