[Unit]
Description=oxd-server daemon
After=network.target

[Service]
Type=simple
PIDFile=/var/run/oxd-server-4.0.beta.pid
ExecStart=/opt/oxd-server/bin/oxd-server.sh start
ExecStop=/opt/oxd-server/bin/oxd-server.sh stop
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
