#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_clean:
		rm -rf oxd-common/target
		rm -rf oxd-client/target
		rm -rf oxd-common/target		
		rm -rf oxd-server/target
		rm -rf oxd-rp-client/target
		dh_clean
override_dh_auto_build:
#		mvn clean package -Dmaven.test.skip=true
		mvn clean install -U -Dmaven.test.skip=true
override_dh_auto_install:
		mkdir -p debian/oxd-server/opt/oxd-server/conf/
		mkdir -p debian/oxd-server/opt/oxd-server/bin/
		mkdir -p debian/oxd-server/opt/oxd-server/lib/
	    	mkdir -p debian/oxd-server/opt/oxd-https-extension/lib/
		cp oxd-server/src/main/resources/oxd-conf.json debian/oxd-server/opt/oxd-server/conf/
		cp oxd-server/src/main/resources/oxd-default-site-config.json debian/oxd-server/opt/oxd-server/conf/
		cp oxd-server/src/main/resources/log4j.xml debian/oxd-server/opt/oxd-server/conf/
		cp oxd-server/src/main/bin/oxd-start.sh debian/oxd-server/opt/oxd-server/bin/
		cp oxd-common/target/oxd-common.jar debian/oxd-server/opt/oxd-server/lib/
#		cp oxd-ping/target/oxd-ping-jar-with-dependencies.jar debian/oxd-server/opt/oxd-server/lib/
		cp oxd-server/target/oxd-server-jar-with-dependencies.jar debian/oxd-server/opt/oxd-server/lib/
		cp oxd-https-extension/target/oxd-https-extension-3.2.0-SNAPSHOT.jar debian/oxd-server/opt/oxd-https-extension/lib/
		cp oxd-https-extension/oxd-https.keystore debian/oxd-server/opt/oxd-https-extension/lib/
		cp oxd-https-extension/oxd-https.yml debian/oxd-server/opt/oxd-https-extension/lib/
#		cp lib/* debian/oxd-server/opt/oxd-server/lib/

override_dh_fixperms:
		dh_fixperms
		chmod 755 debian/oxd-server/opt/oxd-server/bin/oxd-start.sh
