#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

#override_dh_clean:
#               rm -rf common/target
#               rm -rf client/target
#               rm -rf common/target
#               rm -rf server/target
#               rm -rf rp-client/target
#               dh_clean
#override_dh_auto_build:
#               mvn clean package -Dmaven.test.skip=true
#               mvn clean install -U -Dmaven.test.skip=true
override_dh_auto_install:
		mkdir -p debian/client-api/opt/client-api/bin/
		mkdir -p debian/client-api/opt/client-api/data/
		mkdir -p debian/client-api/opt/client-api/conf/
		mkdir -p debian/client-api/opt/client-api/lib/
		cp server/src/main/bin/client-api-start.sh debian/client-api/opt/client-api/bin/
		cp server/src/main/bin/lsca.sh debian/client-api/opt/client-api/bin/
		cp server/src/main/resources/client-api-server.yml debian/client-api/opt/client-api/conf/
		cp server/src/main/resources/client-api-server.keystore debian/client-api/opt/client-api/conf/
		cp server/src/main/resources/swagger.yaml debian/client-api/opt/client-api/conf/
		cp bcprov-jdk15on-1.54.jar debian/client-api/opt/client-api/lib/
		cp bcpkix-jdk15on-1.54.jar debian/client-api/opt/client-api/lib/
		cp server/target/jans-client-api-server.jar debian/client-api/opt/client-api/lib/
		mkdir -p debian/client-api/var/log/client-api/
		touch debian/client-api/var/log/client-api/client-api.log
		mkdir -p debian/client-api/etc/init.d/
		mkdir -p debian/client-api/etc/default/
		mkdir -p debian/client-api/lib/systemd/system/
		cp debian/client-api.init.d.file debian/client-api/etc/init.d/client-api
		cp debian/client-api-default debian/client-api/etc/default/client-api
		cp debian/client-api.service.file debian/client-api/lib/systemd/system/client-api.service
		cp debian/client-api.sh debian/client-api/opt/client-api/bin/client-api.sh

override_dh_strip_nondeterminism:
override_dh_fixperms:
		dh_fixperms
		chmod 755 debian/client-api/opt/client-api/bin/client-api-start.sh
		chmod 755 debian/client-api/opt/client-api/bin/lsca.sh
		chown -R jetty:jetty debian/client-api/opt/client-api/data
		chown -R jetty:jetty debian/client-api/var/log/client-api/
		chmod 764 debian/client-api/opt/client-api/data
