# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
libcst<0.4
click==6.7
marshmallow==3.20.1
fqdn==1.4.0
ruamel.yaml==0.18.5
supervisor==4.2.5
jwcrypto==1.4.2
pluggy==1.3.0
git+https://github.com/JanssenProject/jans@25633cf9ab019fdf60a65d2c27f2665c359abab7#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
