# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
click==8.1.7
marshmallow==3.20.1
fqdn==1.5.1
ruamel.yaml==0.18.5
supervisor==4.2.5
pluggy==1.4.0
git+https://github.com/JanssenProject/jans@0df521304ba836b2d38480578b7668c8f2e89a85#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
