# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.58.0
libcst<0.4
git+https://github.com/JanssenProject/jans@9dd82da5c87ee829c73a1135ce8740b8353f8ab5#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
