.fa-info-circle{cursor:pointer}
.pop_tog {
    background: #f0f0f0;
    width: 100%;
    display: inline-block;
    padding: 13px;
    box-shadow: 0px 0px 6px #999;
    margin-top: 12px;
    display:none;
    float: left;

}
.not_body li .pop_tog p {
    color: #777;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
}
.notification_popup {
    max-width: 60%;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    margin-top: 55px;
    box-shadow: 0px 0px 8px #ccc;
}
.not_header {
    background: #f5f5f5;
    padding: 5px 15px;
}
.not_header a img {
    width: 98px;
}
.not_body h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}
.not_header .text_right {
    text-align: right;
    padding-top: 14px;
    padding-right: 20px;
}
.btn_rw {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 14px;
}
.not_body {
    padding: 15px;
}
.not_body ul {
    list-style-type: none;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.not_body li {
    border-top: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    padding: 13px 14px;
}
.btn_rw a.button-primary {
    background: #00aeef;
    color: #fff;
    padding: 12px 46px;
    text-decoration: none;
}
.btn_rw a.button-default {
    background: #d8d8d8;
    color: #777;
    padding: 12px 30px;
}
.border_rad {
    text-align: center;
}
.not_body li span.user {
    float: left;
    margin-right: 17px;
    font-size: 28px;
    color: #00aeef;
}

.not_body li p {
    float: left;
    display: inline-block;
    width: 81%;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.not_body li  .fa-info-circle {
    float: right;
    text-align: right;
    font-size: 18px;
    color: #888;
    margin-top: 7px;
}
.notification_cls{
    background: #e7e7e7;
}

.body{font-family: 'Open Sans', sans-serif;}
.bs-docs-section {
    padding: 30px 0px;
}
.bs-docs-section h2 {
    text-align: center;
    margin-bottom: 10px;
}
.bs-docs-section p {
    text-align: center;
    margin-bottom: 36px;
}
.qr_bx {
    padding: 26px;
    border: 1px solid #f4f4f4;
    max-width: 900px;
    margin: 0 auto;
}
.left_img img{width:100%}
.button {
    margin-bottom: 28px;
    margin-top: 28px;
}
.button a.android {
    background: #fff;
    box-shadow: 0px 3px 6px #ccc;
    padding: 5px 11px;
    display: inline-block;
    border-radius:5px;
}
.button a.iphone {
    background: #000000;
    box-shadow: 0px 3px 6px #ccc;
    padding: 5px 11px;
    display: inline-block;
    border-radius:5px;
    margin-left:5px;
}
.links a {
    color: #079857;
}

.links .seprator {
    color: #079857;
    margin: 0 19px;
}

.links {
    margin-top: 13px;
}
.col-md-6.left_img {
    padding-right: 29px;
}
.paddin_bx {
    padding: 35px 0px;
}
.paddin_bx h3{font-size:28px; color:#3c3c3c; font-weight:600}
.paddin_bx p{color:#7f8c95; text-align:left; font-size:14px; line-height:24px;}
.foot_bor p{font-size:14px;}
.foot_bor p a{color:#0088cc}
.padding_spc {
    border-top: 1px solid #f3f3f3;
    padding-top: 23px;
    padding-bottom: 20px;
}

#pbar_outerdiv{
    width: 100%;
    height: 20px;
    border: 1px solid #ecedec;
    z-index: 1;
    position: relative;
    background: #f8f9f8;
    margin-top: 14px;
    overflow: hidden;
}
#pbar_innerdiv{
    background-color: #e1e1e1; z-index: 2; height: 100%;
}

@media (max-width:480px){

    .not_body li {
        padding: 13px 5px;
    }
    .not_header {
        text-align: center;
    }
    .not_body ul {
        list-style-type: none;
        margin-top: 4px;
    }
    .not_header .text_right {
        text-align: center;
    }
    .not_body li p {
        width: 74%;
        margin-top: 5px;
    }

    .button {
        text-align: center;
    }
    .navbar-header a {
        text-align: center;
        width: 100%;
    }
    .navbar-brand>img {
        display: block;
        margin: 0 auto;
    }
    .padding_spc{text-align: center;}
    .links {
        margin-top: 13px;
        text-align: center;
    }
    .paddin_bx p{text-align: center;}
    .button a.android {margin-bottom: 16px;}
}
