.alignCenter {
    text-align: center;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.alignTop {
	vertical-align: top;
}

.alignMiddle {
    vertical-align: middle;
}

.alignLeftTop {
    text-align: left;
    vertical-align: top;
}

.alignBottom {
    vertical-align: bottom;
}

.alignRightTop {
    vertical-align: top;
    text-align: right;
    float: right;
}

.bolded {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

.width100 {
	width: 100%;
}
