{{ if .Values.hpa.enabled -}}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "fido2.fullname" . }}
  labels:
    APP_NAME: fido2
{{ include "fido2.labels" . | indent 4}}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.fido2.customAnnotations.horizontalPodAutoscaler) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.fido2.customAnnotations.horizontalPodAutoscaler }}
{{ toYaml .Values.global.fido2.customAnnotations.horizontalPodAutoscaler | indent 4 }}
{{- end }}
{{- end }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "fido2.fullname" . }}
  minReplicas: {{ .Values.hpa.minReplicas }}
  maxReplicas: {{ .Values.hpa.maxReplicas }}
  {{- if .Values.hpa.targetCPUUtilizationPercentage }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ .Values.hpa.targetCPUUtilizationPercentage }}  
  {{- else if .Values.hpa.metrics }}
  metrics:
  {{- with .Values.hpa.metrics }}
{{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- if .Values.hpa.behavior }}
  behavior:
  {{- with .Values.hpa.behavior }}
{{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
{{- end }}