<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="SCIM-Client" parallel="false">

    <parameter name="propertiesFile" value="target/test-classes/testng2.properties" />
    
    <listeners>
        <listener class-name="io.jans.scim2.listener.AlterSuiteListener" />
        <listener class-name="io.jans.scim2.listener.SkipTestsListener" />
    </listeners>

    <test name="Service Provider Configuration Endpoints Test" enabled="true">
        <!-- section 4 RFC 7644 -->
        <classes>
            <class name="io.jans.scim2.client.servicemeta.ServiceProviderConfigTest" />
            <class name="io.jans.scim2.client.servicemeta.ResourceTypesTest" />
            <class name="io.jans.scim2.client.servicemeta.SchemasTest" />
        </classes>
    </test>

    <test name="Minimalist resources Test" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.singleresource.MinimalUserTest" />
            <class name="io.jans.scim2.client.singleresource.MinimalGroupTest" />
        </classes>
    </test>

    <test name="User Resource Test" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.singleresource.AverageUserTest" />
            <class name="io.jans.scim2.client.singleresource.FullUserTest" />
        </classes>
    </test>

    <test name="User Resource Search Test" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.search.SimpleSearchUserTest" />
            <class name="io.jans.scim2.client.search.ComplexSearchUserTest" />
            <class name="io.jans.scim2.client.search.PaginationUserSearchTest" />
        </classes>
    </test>

    <test name="User and Groups Assignment Test" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.multipleresource.GroupAssignUserTest" />
        </classes>
    </test>

    <test name="Attributes query param tests" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.singleresource.QueryParamRetrievalTest" />
            <class name="io.jans.scim2.client.singleresource.QueryParamCreateUpdateTest" />
        </classes>
    </test>

    <test name="Multiple Resources Test" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.search.MultipleResourcesSearchTest" />
        </classes>
    </test>

    <test name="User Patches" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.patch.PatchReplaceUserTest" />
            <class name="io.jans.scim2.client.patch.PatchAddUserTest" />
            <class name="io.jans.scim2.client.patch.PatchDeleteUserTest" />
            <class name="io.jans.scim2.client.patch.PatchUserExtTest" />
        </classes>
    </test>

    <test name="Miscelaneous Patches" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.patch.PatchValueFilterUserTest" />
            <class name="io.jans.scim2.client.patch.PatchGroupTest" />
        </classes>
    </test>

    <test name="Bulk operations" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.bulk.UsersBulkTest" />
            <class name="io.jans.scim2.client.bulk.GroupsBulkTest" />
        </classes>
    </test>

    <test name="Fido Devices Test" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.singleresource.Fido2DeviceTest" />
        </classes>
    </test>

    <test name="Corner and other weird cases" enabled="true">
        <classes>
            <class name="io.jans.scim2.client.corner.WrongPayloadUserExtTest" />
            <class name="io.jans.scim2.client.corner.WrongPayloadUserTest" />
            <class name="io.jans.scim2.client.corner.PairwiseIdentifiersTest" />
            <class name="io.jans.scim2.client.corner.SpecialCharsTest" />
            <!--class name="io.jans.scim2.client.corner.WrongPayloadUserPatchTest" /-->
        </classes>
    </test>

    <test name="Additional tests" enabled="true">
        <classes>
        	<class name="io.jans.scim2.client.multipleresource.UpdatedUsersTest" />
            <!--class name="io.jans.scim2.client.SampleTest" /-->
        </classes>
    </test>

</suite>
