{{ if and (index .Values "global" "kc-scheduler" "enabled") (.Values.global.saml.enabled) -}}
kind: CronJob
apiVersion: batch/v1
metadata:
  name: {{ include "kc-scheduler.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: kc-scheduler
    release: {{ .Release.Name }}
{{ include "kc-scheduler.labels" . | indent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if .Values.additionalAnnotations }}
  annotations:
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
spec:
  schedule: "@every {{ .Values.interval }}m"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "false"
        spec:
        {{- with .Values.image.pullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 8 }}
        {{- end }}
          dnsPolicy: {{ .Values.dnsPolicy | quote }}
        {{- with .Values.dnsConfig }}
          dnsConfig:
{{ toYaml . | indent 12 }}
        {{- end }}
          containers:
            - name: {{ include "kc-scheduler.name" . }}
              {{- if .Values.customScripts }}
              command:
                - /bin/sh
                - -c
                - |
                    {{- with .Values.customScripts }}
                    {{- toYaml . | replace "- " "" | nindent 20}}
                    {{- end }}
                    /app/scripts/entrypoint.sh
              {{- end}}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              env:
                {{- include "kc-scheduler.usr-envs" . | indent 16 }}
                {{- include "kc-scheduler.usr-secret-envs" . | indent 16 }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              lifecycle:
{{- toYaml .Values.lifecycle | nindent 16 }}
              volumeMounts:
              {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 16 }}
              {{- end }}
              envFrom:
                - configMapRef:
                    name: {{ .Release.Name }}-config-cm
                {{ if .Values.global.usrEnvs.secret }}
                - secretRef:
                    name: {{ .Release.Name }}-global-user-custom-envs
                {{- end }}
                {{ if .Values.global.usrEnvs.normal }}
                - configMapRef:
                    name: {{ .Release.Name }}-global-user-custom-envs
                {{- end }}
              {{- if and ( .Values.global.opendj.enabled ) (or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath")) }}
              resources: {}
              {{- else if .Values.global.cloud.testEnviroment }}
              resources: {}
              {{- else }}
              resources:
{{- toYaml .Values.resources | nindent 16 }}
              {{- end }}
          volumes:
          {{- with .Values.volumes }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          restartPolicy: Never
          {{- if not .Values.global.isFqdnRegistered }}
          hostAliases:
            - ip: {{ .Values.global.lbIp }}
              hostnames:
                - {{ .Values.global.fqdn }}
          {{- end }}
{{- end }}
