Package: oxd-server
Version: 3.1.1-9+trusty+Ub14.04
Architecture: all
Maintainer: Adrian Alves <adrian@gluu.org>
Installed-Size: 20196
Depends: default-jdk
Section: java
Priority: optional
Homepage: http://www.gluu.org
Description: plugins for OpenID and UMA
 oxd - OpenID Connect and UMA plugins for
 Apache and nginx web containers
