[Unit]
Description=Janssen Lock Service
After=%(order_jans_lock_service)s

[Service]
Type=forking
ExecStart=/opt/dist/scripts/jans-lock start
ExecStop=/opt/dist/scripts/jans-lock stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
