[Unit]
Description=Janssen Link Server
After=%(order_jans_keycloak_link_service)s

[Service]
Type=forking
ExecStart=/opt/dist/scripts/jans-keycloak-link start
ExecStop=/opt/dist/scripts/jans-keycloak-link stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
