[Unit]
Description=Janssen Client API service
After=jans-auth.service

[Service]
Type=forking
ExecStart=/opt/dist/scripts/jans-client-api start
ExecStop=/opt/dist/scripts/jans-client-api stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
