[Unit]
Description=Janssen Auth Server
After=%(start_auth_after)s

[Service]
Type=forking
ExecStart=/opt/dist/scripts/jans-auth start
ExecStop=/opt/dist/scripts/jans-auth stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
