[Unit]
Description=Janssen Casa service
After=%(order_jans_casa_service)s

[Service]
Type=forking
ExecStart=%(jans_scripts_dir)s/jans-casa start
ExecStop=%(jans_scripts_dir)s/jans-casa stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
