[Unit]
Description=Janssen Cache Refresh Server
After=%(order_jans_cache_refresh_service)s

[Service]
Type=forking
ExecStart=/opt/dist/scripts/jans-cache-refresh start
ExecStop=/opt/dist/scripts/jans-cache-refresh stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
