[Unit]
Description=Open Policy Agent Server
After=network.target

[Service]
Type=simple
ExecStart=%(opa_bin_dir)s/opa run --server --addr %(jans_opa_host)s:%(jans_opa_port)s
StandardOutput=file:%(opa_log_dir)s/stdout.log
StandardError=file:%(opa_log_dir)s/stderr.log

User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
