@import url('https://fonts.googleapis.com/css?family=Slackey');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 500px;
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.inputText {
  width: 100%;
  margin-bottom: 30px;
  border-style: solid;
  border-radius: 4px;
  border-color: rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  min-height: 38px;
  box-sizing: border-box;
}

.inputStyle {
  padding: 0 0 0 15px;
  border-width: 2px;
}


input:disabled {
  background-color: #575757;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: #ffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  padding: 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.redFont {
  color: #ff0000;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.container {
  width: 100vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid #5fcf80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-width: 600px;
  font-size: 15px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.required {
  color: red;
}

.warningAlert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.logo {
  /** webpackIgnore: true */
  font-family: Slackey;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 100px;
  color: rgb(0, 167, 0);
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.MuiPickersArrowSwitcher-spacer{
  width: 0px !important;
}

.form-container {
  position: relative;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure loader stays above the form */
}

.image-container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Optional: Center align other content */
  padding-bottom: 50px;
}

.image-container img {
  max-width: 100%; /* Ensure responsiveness */
  height: auto;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}