# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# Default values for nginx-ingress.
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080
ingress:
  # -- Enable Admin UI endpoints. COMING SOON.
  adminUiEnabled: true
  # -- Admin UI ingress resource labels. key app is taken.
  adminUiLabels: { }
  # -- Enable endpoint /.well-known/openid-configuration
  openidConfigEnabled: true
  # -- openid-configuration ingress resource labels. key app is taken
  openidConfigLabels: { }
  # -- Enable endpoint /.well-known/uma2-configuration
  uma2ConfigEnabled: true
  # -- uma 2 config ingress resource labels. key app is taken
  uma2ConfigLabels: { }
  # -- Enable endpoint /.well-known/webfinger
  webfingerEnabled: true
  # -- webfinger ingress resource labels. key app is taken
  webfingerLabels: { }
  # -- Enable endpoint /.well-known/simple-web-discovery
  webdiscoveryEnabled: true
  # -- webdiscovery ingress resource labels. key app is taken
  webdiscoveryLabels: { }
  # -- Enable endpoint /.well-known/scim-configuration
  scimConfigEnabled: false
  # -- webdiscovery ingress resource labels. key app is taken
  scimConfigLabels: { }
  # -- Enable SCIM endpoints /jans-scim
  scimEnabled: false
  # -- scim config ingress resource labels. key app is taken
  scimLabels: { }
  # Enable config API endpoints /jans-config-api
  configApiEnabled: true
  # -- configAPI ingress resource labels. key app is taken
  configApiLabels: { }
  # -- Enable endpoint /.well-known/fido-configuration
  u2fConfigEnabled: true
  # -- u2f config ingress resource labels. key app is taken
  u2fConfigLabels: { }
  # -- Enable endpoint /.well-known/fido2-configuration
  fido2ConfigEnabled: false
  # -- fido2 config ingress resource labels. key app is taken
  fido2ConfigLabels: { }
  # -- Enable Auth server endpoints /jans-auth
  authServerEnabled: true
  # -- Auth server config ingress resource labels. key app is taken
  authServerLabels: { }
  # -- Enable mTLS on Auth server endpoint /jans-auth/restv1/token
  authServerProtectedToken: false
  # -- Auth server protected token ingress resource labels. key app is taken
  authServerProtectedTokenLabels: { }
  # -- Enable mTLS onn Auth server endpoint /jans-auth/restv1/register
  authServerProtectedRegister: false
  # -- Auth server protected token ingress resource labels. key app is taken
  authServerProtectedRedisterLabels: { }
  # -- Additional labels that will be added across all ingress definitions in the format of {mylabel: "myapp"}
  additionalLabels: { }
  # in the format of {cert-manager.io/cluster-issuer: nameOfClusterIssuer, kubernetes.io/tls-acme: "true"}
  additionalAnnotations: {}
  annotations: {}
  path: /
  hosts:
    - demoexample.jans.io
  tls:
   - secretName: tls-certificate
     hosts:
       - demoexample.jans.io
