kubeVersion: ">=v1.22.0-0"
annotations:
  artifacthub.io/changes: |
    - 1.0.21 dev chart release
  artifacthub.io/containsSecurityUpdates: 'true'
  artifacthub.io/images: |
    - name: auth-server
      image: ghcr.io/janssenproject/jans/auth-server:1.0.21_dev
    - name: auth-server-key-rotation
      image: ghcr.io/janssenproject/jans/certmanager:1.0.21_dev
    - name: configuration-manager
      image: ghcr.io/janssenproject/jans/configurator:1.0.21_dev
    - name:  config-api
      image: ghcr.io/janssenproject/jans/config-api:1.0.21_dev
    - name: fido2
      image: ghcr.io/janssenproject/jans/fido2:1.0.21_dev
    - name: opendj
      image: gluufederation/opendj:5.0.0_dev
    - name: persistence
      image: ghcr.io/janssenproject/jans/persistence-loader:1.0.21_dev
    - name: casa
      image: ghcr.io/janssenproject/jans/casa:1.0.21_dev
    - name: scim
      image: ghcr.io/janssenproject/jans/scim:1.0.21_dev
  artifacthub.io/license: Apache-2.0
  artifacthub.io/prerelease: 'true'
  catalog.cattle.io/certified: partner
  catalog.cattle.io/release-name: janssen
  catalog.cattle.io/display-name: Janssen Cloud Identity and Access Management Microservices
apiVersion: v2
appVersion: "1.0.21-dev"
icon: >-
  https://raw.githubusercontent.com/JanssenProject/jans/main/docs/assets/logo/janssen_project_favicon_transparent_50px_50px.png
home: https://jans.io
sources:
  - https://jans.io
  - https://github.com/JanssenProject/jans/charts/janssen
maintainers:
  - name: moabu
    email: support@jans.io
description: Janssen Access and Identity Management Microservices Chart. This chart deploys each janssen microservice as a separate deployment.
name: janssen
version: 1.0.21-dev
dependencies:
    - name: casa
      version: 1.0.21-dev
      condition: global.casa.enabled

    - name: config
      condition: global.config.enabled
      version: 1.0.21-dev

    - name: config-api
      condition: global.config-api.enabled
      version: 1.0.21-dev

    - name: opendj
      condition: global.opendj.enabled
      version: 1.0.21-dev

    - name: auth-server
      condition: global.auth-server.enabled
      version: 1.0.21-dev

    - name: fido2
      condition: global.fido2.enabled
      version: 1.0.21-dev

    - name: scim
      condition: global.scim.enabled
      version: 1.0.21-dev

    - name: nginx-ingress
      condition: global.nginx-ingress.enabled
      version: 1.0.21-dev

    - name: auth-server-key-rotation
      condition: global.auth-server-key-rotation.enabled
      version: 1.0.21-dev

    - name: persistence
      condition: global.persistence.enabled
      version: 1.0.21-dev

    - name: link
      condition: global.link.enabled
      version: 1.0.21-dev
