kubeVersion: ">=v1.21.0-0"
annotations:
  artifacthub.io/changes: |
    - 1.0.6 dev chart release
  artifacthub.io/containsSecurityUpdates: 'true'
  artifacthub.io/images: |
    - name: auth-server
      image: janssenproject/auth-server:1.0.6-1
    - name: auth-server-key-rotation
      image: janssenproject/certmanager:1.0.6-1
    - name: configuration-manager
      image: janssenproject/configurator:1.0.6-1
    - name:  config-api
      image: janssenproject/config-api:1.0.6-1
    - name: fido2
      image: janssenproject/fido2:1.0.6-1
    - name: opendj
      image: gluufederation/opendj:5.0.0_dev
    - name: persistence
      image: janssenproject/persistence-loader:1.0.6-1
    - name: scim
      image: janssenproject/scim:1.0.6-1
  artifacthub.io/license: Apache-2.0
  artifacthub.io/prerelease: 'true'
  catalog.cattle.io/certified: partner
  catalog.cattle.io/release-name: janssen
  catalog.cattle.io/display-name: Janssen Cloud Identity and Access Management
apiVersion: v2
appVersion: "1.0.6"
icon: >-
  https://raw.githubusercontent.com/JanssenProject/jans/main/docs/assets/logo/janssen_project_favicon_transparent_50px_50px.png
home: https://jans.io
sources:
  - https://jans.io
  - https://github.com/JanssenProject/jans/charts/janssen
maintainers:
  - name: moabu
    email: support@jans.io
description: Janssen Access and Identity Management
name: janssen
version: 1.0.6
dependencies:
    - name: config
      condition: global.config.enabled
      version: 1.0.6

    - name: config-api
      condition: global.config-api.enabled
      version: 1.0.6

    - name: opendj
      condition: global.opendj.enabled
      version: 1.0.6

    - name: auth-server
      condition: global.auth-server.enabled
      version: 1.0.6

    - name: fido2
      condition: global.fido2.enabled
      version: 1.0.6

    - name: scim
      condition: global.scim.enabled
      version: 1.0.6

    - name: nginx-ingress
      condition: global.nginx-ingress.enabled
      version: 1.0.6

    - name: auth-server-key-rotation
      condition: global.auth-server-key-rotation.enabled
      version: 1.0.6

    - name: persistence
      condition: global.persistence.enabled
      version: 1.0.6
