# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
click==6.7
marshmallow==3.10.0
fqdn==1.4.0
libcst<0.4
git+https://github.com/JanssenProject/jans@43dead615f3508ca393c330c2db27a8fb9d1017a#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
