<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxAuthModel" parallel="false">
    <test name="Code Verifier (PKCE)" enabled="true">
        <classes>
            <class name="org.xdi.oxauth.model.authorize.CodeVerifierTest"/>
        </classes>
    </test>

    <test name="JS Engine test" enabled="true">
        <classes>
            <class name="org.xdi.oxauth.model.uma.JsonLogicTest" />
        </classes>
    </test>
    <test name="JsonLogic Node Parser Test" enabled="true">
        <classes>
            <class name="org.xdi.oxauth.model.uma.JsonLogicNodeParserTest" />
        </classes>
    </test>
    <test name="CertUtils Test" enabled="true">
        <classes>
            <class name="org.xdi.oxauth.model.util.CertUtilsTest"/>
        </classes>
    </test>

</suite>