<?xml version='1.0' encoding='utf-8'?>

<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

  <Connector port="8009" address="localhost" protocol="AJP/1.3"
    tomcatAuthentication="false" scheme="https" secure="true" 
    clientAuth="false" sslProtocol="TLS" SSLEnabled="true"
    keystoreFile="/etc/certs/shibIDP.jks"
    keystoreType="JKS" keystorePass="%(shibJksPass)s"
    truststoreFile="/etc/certs/shibIDP.jks"
    truststorePass="%(shibJksPass)s" truststoreType="JKS"
    truststoreAlgorithm="DelegateToApplication"/>

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
        unpackWARs="true" autoDeploy="false"
	    xmlValidation="false" xmlNamespaceAware="false">

      </Host>
    </Engine>
  </Service>

</Server>
