# raw swagger spec link:
# https://raw.githubusercontent.com/JanssenProject/jans/jans-auth-server/master/docs/swagger.yaml
# https://gluu.org/swagger-ui/?url=https://raw.githubusercontent.com/JanssenProject/jans/jans-auth-server/master/docs/swagger.yaml
openapi: 3.0.1
info:
  title: Janssen Authorization Server
  description: Janssen Authorization Server - OAuth 2.0 server; OpenID Connect Provider (OP) & UMA Authorization Server (AS)
  contact:
    email: yuriyz@gluu.org
  license:
    name: License
    url: https://github.com/JanssenProject/jans/jans-auth-server/blob/master/LICENSE
  version: "5.0"
servers:
  - url: https://gluu.org/
tags:
  - name: developers
    description: Janssen Authorization Server is an open source OpenID Connect Provider (OP) and UMA Authorization Server (AS). The project also includes OpenID Connect Client code which can be used by websites to validate tokens. Server currently implements all required aspects of the OpenID Connect stack, including an OAuth 2.0 authorization server, Simple Web Discovery, Dynamic Client Registration, JSON Web Tokens, JSON Web Keys, and User Info Endpoint. Server is tightly coupled with Gluu Admin UI.

paths:
  /authorize:
    get:
      tags:
        - Authorization
      summary: The Authorization Endpoint performs Authentication of the End-User.
      description: End-User Authentication and Authorization done by sending the User Agent to the Authorization Endpoint using request parameters defined by OAuth 2.0 and OpenID Connect.
      operationId: get_authorize
      parameters:
        - name: scope
          in: query
          required: true
          description: OpenID Connect requests MUST contain the openid scope value. If the openid scope value is not present, the behavior is entirely unspecified. Other scope values MAY be present.
          schema:
            type: string
        - name: response_type
          in: query
          required: true
          description: OAuth 2.0 Response Type value that determines the authorization processing flow to be used, including what parameters are returned from the endpoints used.
          schema:
            type: string
        - name: client_id
          in: query
          required: true
          description: OAuth 2.0 Client Identifier valid at the Authorization Server.
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          description: Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider.
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: Opaque value used to maintain state between the request and the callback.
          schema:
            type: string
        - name: response_mode
          in: query
          required: false
          description: Informs the Authorization Server of the mechanism to be used for returning parameters from the Authorization Endpoint.
          schema:
            type: string
        - name: nonce
          in: query
          required: false
          description: String value used to associate a Client session with an ID Token, and to mitigate replay attacks.
          schema:
            type: string
        - name: display
          in: query
          required: false
          description: ASCII string value that specifies how the Authorization Server displays the authentication and consent user interface pages to the End-User.
          schema:
            type: string
        - name: prompt
          in: query
          required: false
          description: Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent. The defined values are - none, login, consent, select_account.
          schema:
            type: string
        - name: max_age
          in: query
          required: false
          description: Maximum Authentication Age. Specifies the allowable elapsed time in seconds since the last time the End-User was actively authenticated by the OP.
          schema:
            type: integer
        - name: ui_locales
          in: query
          required: false
          description: End-User's preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference.
          #example: \"fr-CA fr en\" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English (without a region designation).
          schema:
            type: string
        - name: id_token_hint
          in: query
          required: false
          description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response.
          schema:
            type: string
        - name: login_hint
          in: query
          required: false
          description: Hint to the Authorization Server about the login identifier the End-User might use to log in (if necessary).
          schema:
            type: string
        - name: acr_values
          in: query
          required: false
          description: Requested Authentication Context Class Reference values. Space-separated string that specifies the acr values that the Authorization Server is being requested to use for processing this Authentication Request, with the values appearing in order of preference.
          schema:
            type: string
        - name: amr_values
          in: query
          required: false
          description: AMR Values.
          schema:
            type: string
        - name: request
          in: query
          required: false
          description: This parameter enables OpenID Connect requests to be passed in a single, self-contained parameter and to be optionally signed and/or encrypted. The parameter value is a Request Object value. It represents the request as a JWT whose Claims are the request parameters.
          schema:
            type: string
        - name: request_uri
          in: query
          required: false
          description: This parameter enables OpenID Connect requests to be passed by reference, rather than by value. The request_uri value is a URL using the https scheme referencing a resource containing a Request Object value, which is a JWT containing the request parameters.
          schema:
            type: string
        - name: request_session_id
          in: query
          required: false
          description: Request session id.
          schema:
            type: string
        - name: session_id
          in: query
          required: false
          description: Session id of this call.
          schema:
            type: string
        - name: origin_headers
          in: query
          required: false
          description: Origin headers. Used in custom workflows.
          schema:
            type: string
        - name: code_challenge
          in: query
          required: false
          description: PKCE code challenge.
          schema:
            type: string
        - name: code_challenge_method
          in: query
          required: false
          description: PKCE code challenge method.
          schema:
            type: string
        - name: custom_response_headers
          in: query
          required: false
          description: Custom Response Headers.
          schema:
            type: string
        - name: claims
          in: query
          required: false
          description: Requested Claims.
          schema:
            type: string
        - name: auth_req_id
          in: query
          required: false
          description: CIBA authentication request Id.
          schema:
            type: string
      responses:
        200:
          description: OK
          content: {}
        302:
          description: Error codes for authorization endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - unauthorized_client
                      - disabled_client
                      - access_denied
                      - retry
                      - unsupported_response_type
                      - invalid_scope
                      - server_error
                      - temporarily_unavailable
                      - invalid_request_redirect_uri
                      - login_required
                      - session_selection_required
                      - consent_required
                      - user_mismatched
                      - invalid_request_uri
                      - invalid_request_object
                      - authentication_session_invalid
                      - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Authorization
      summary: The Authorization Endpoint performs Authentication of the End-User.
      description: End-User Authentication and Authorization done by sending the User Agent to the Authorization Endpoint using request parameters defined by OAuth 2.0 and OpenID Connect.
      operationId: post_authorize
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - scope
                - response_type
                - client_id
                - redirect_uri
              properties:
                scope:
                  type: string
                  description: OpenID Connect requests MUST contain the openid scope value. If the openid scope value is not present, the behavior is entirely unspecified. Other scope values MAY be present.
                response_type:
                  type: string
                  description: OAuth 2.0 Response Type value that determines the authorization processing flow to be used, including what parameters are returned from the endpoints used.
                client_id:
                  type: string
                  description: OAuth 2.0 Client Identifier valid at the Authorization Server.
                redirect_uri:
                  type: string
                  description: Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider.
                state:
                  type: string
                  description: Opaque value used to maintain state between the request and the callback.
                response_mode:
                  type: string
                  description: Informs the Authorization Server of the mechanism to be used for returning parameters from the Authorization Endpoint.
                nonce:
                  type: string
                  description: String value used to associate a Client session with an ID Token, and to mitigate replay attacks.
                display:
                  type: string
                  description: ASCII string value that specifies how the Authorization Server displays the authentication and consent user interface pages to the End-User.
                prompt:
                  type: string
                  description: Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent.
                max_age:
                  type: integer
                  description: Maximum Authentication Age. Specifies the allowable elapsed time in seconds since the last time the End-User was actively authenticated by the OP.
                ui_locales:
                  type: string
                  description: End-User's preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference.
                  example: \"fr-CA fr en\" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English (without a region designation).
                id_token_hint:
                  type: string
                  description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response.
                login_hint:
                  type: string
                  description: Hint to the Authorization Server about the login identifier the End-User might use to log in (if necessary).
                acr_values:
                  type: string
                  description: Requested Authentication Context Class Reference values. Space-separated string that specifies the acr values that the Authorization Server is being requested to use for processing this Authentication Request, with the values appearing in order of preference.
                amr_values:
                  type: string
                  description: AMR Values.
                request:
                  type: string
                  description: This parameter enables OpenID Connect requests to be passed in a single, self-contained parameter and to be optionally signed and/or encrypted. The parameter value is a Request Object value. It represents the request as a JWT whose Claims are the request parameters.
                request_uri:
                  type: string
                  description: This parameter enables OpenID Connect requests to be passed by reference, rather than by value. The request_uri value is a URL using the https scheme referencing a resource containing a Request Object value, which is a JWT containing the request parameters.
                request_session_id:
                  type: string
                  description: Request session id.
                session_id:
                  type: string
                  description: Session id of this call.
                origin_headers:
                  type: string
                  description: Origin headers. Used in custom workflows.
                code_challenge:
                  type: string
                  description: PKCE code challenge.
                code_challenge_method:
                  type: string
                  description: PKCE code challenge method.
                custom_response_headers:
                  type: string
                  description: Custom Response Headers.
                claims:
                  type: string
                  description: Requested Claims.
      responses:
        200:
          description: OK
          content: {}
        302:
          description: Error codes for authorization endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - unauthorized_client
                      - disabled_client
                      - access_denied
                      - retry
                      - unsupported_response_type
                      - invalid_scope
                      - server_error
                      - temporarily_unavailable
                      - invalid_request_redirect_uri
                      - login_required
                      - session_selection_required
                      - consent_required
                      - user_mismatched
                      - invalid_request_uri
                      - invalid_request_object
                      - authentication_session_invalid
                      - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

  /par:
    post:
      tags:
        - Authorization
      summary: The Pushed Authorization Endpoint performs Authentication Request registration
      description: Registers Pushed Authorization Request at Pushed Authorization Endpoint using request parameters defined by https://datatracker.ietf.org/doc/html/draft-ietf-oauth-par-08.
      operationId: post_par
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - scope
                - response_type
                - client_id
                - redirect_uri
              properties:
                scope:
                  type: string
                  description: OpenID Connect requests MUST contain the openid scope value. If the openid scope value is not present, the behavior is entirely unspecified. Other scope values MAY be present.
                response_type:
                  type: string
                  description: OAuth 2.0 Response Type value that determines the authorization processing flow to be used, including what parameters are returned from the endpoints used.
                client_id:
                  type: string
                  description: OAuth 2.0 Client Identifier valid at the Authorization Server.
                redirect_uri:
                  type: string
                  description: Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider.
                state:
                  type: string
                  description: Opaque value used to maintain state between the request and the callback.
                response_mode:
                  type: string
                  description: Informs the Authorization Server of the mechanism to be used for returning parameters from the Authorization Endpoint.
                nonce:
                  type: string
                  description: String value used to associate a Client session with an ID Token, and to mitigate replay attacks.
                display:
                  type: string
                  description: ASCII string value that specifies how the Authorization Server displays the authentication and consent user interface pages to the End-User.
                prompt:
                  type: string
                  description: Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent.
                max_age:
                  type: integer
                  description: Maximum Authentication Age. Specifies the allowable elapsed time in seconds since the last time the End-User was actively authenticated by the OP.
                ui_locales:
                  type: string
                  description: End-User's preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference.
                  example: \"fr-CA fr en\" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English (without a region designation).
                id_token_hint:
                  type: string
                  description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response.
                login_hint:
                  type: string
                  description: Hint to the Authorization Server about the login identifier the End-User might use to log in (if necessary).
                acr_values:
                  type: string
                  description: Requested Authentication Context Class Reference values. Space-separated string that specifies the acr values that the Authorization Server is being requested to use for processing this Authentication Request, with the values appearing in order of preference.
                amr_values:
                  type: string
                  description: AMR Values.
                request:
                  type: string
                  description: This parameter enables OpenID Connect requests to be passed in a single, self-contained parameter and to be optionally signed and/or encrypted. The parameter value is a Request Object value. It represents the request as a JWT whose Claims are the request parameters.
                request_session_id:
                  type: string
                  description: Request session id.
                session_id:
                  type: string
                  description: Session id of this call.
                origin_headers:
                  type: string
                  description: Origin headers. Used in custom workflows.
                code_challenge:
                  type: string
                  description: PKCE code challenge.
                code_challenge_method:
                  type: string
                  description: PKCE code challenge method.
                custom_response_headers:
                  type: string
                  description: Custom Response Headers.
                claims:
                  type: string
                  description: Requested Claims.
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: ParResponse
                type: object
                required:
                  - request_uri
                  - expires_in
                properties:
                  request_uri:
                    type: string
                    description: The request URI corresponding to the authorization request posted.  This URI is used as reference to the respective request data in the subsequent authorization request only. The way the authorization process obtains the authorization request data is at the discretion of the authorization server and out of scope of this specification.  There is no need to make the authorization request data available to other parties via this URI.
                  expires_in:
                    type: string
                    description: A JSON number that represents the lifetime of the request URI in seconds as a positive integer.  The request URI lifetime is at the discretion of the authorization server but will typically be relatively short (e.g., between 5 and 600 seconds).
        302:
          description: Error codes for pushed authorization endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - unauthorized_client
                      - disabled_client
                      - access_denied
                      - retry
                      - unsupported_response_type
                      - invalid_scope
                      - server_error
                      - temporarily_unavailable
                      - invalid_request_object
                      - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/AccessDenied'
        500:
          $ref: '#/components/responses/InternalServerError'

  /bc-authorize:
    post:
      tags:
        - Authorization
      summary: Performs backchannel authorization of the end-user.
      description: The Backchannel Authentication Endpoint is used to initiate an out-of-band authentication of the end-user.
      operationId: bc-authorize
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - scope
                - client_notification_token
              properties:
                client_id:
                  type: string
                  description: OAuth 2.0 Client Identifier valid at the Authorization Server.
                scope:
                  type: string
                  description: CIBA authentication requests must contain the openid scope value.
                client_notification_token:
                  type: string
                  description: It is a bearer token provided by the Client that will be used by the OpenID Provider to authenticate the callback request to the Client. It is required if the Client is registered to use Ping or Push modes.
                acr_values:
                  type: string
                  description: Requested Authentication Context Class Reference values.
                login_hint_token:
                  type: string
                  description: A token containing information identifying the end-user for whom authentication is being requested.
                id_token_hint:
                  type: string
                  description: An ID Token previously issued to the Client by the OpenID Provider being passed back as a hint to identify the end-user for whom authentication is being requested.
                login_hint:
                  type: string
                  description: A hint to the OpenID Provider regarding the end-user for whom authentication is being requested.
                binding_message:
                  type: string
                  description: A human readable identifier or message intended to be displayed on both the consumption device and the authentication device to interlock them together for the transaction by way of a visual cue for the end-user.
                user_code:
                  type: string
                  description: A secret code, such as password or pin, known only to the user but verifiable by the OP.
                requested_expiry:
                  type: integer
                  description: A positive integer allowing the client to request the expires_in value for the auth_req_id the server will return.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: Backchannel Authorization
                required:
                  - AUTH_REQ_ID
                  - EXPIRES_IN
                  - INTERVAL
                type: object
                properties:
                  AUTH_REQ_ID:
                    type: string
                  EXPIRES_IN:
                    type: integer
                  INTERVAL:
                    type: integer
        400:
          $ref: '#/components/responses/InvalidRequest'
        401:
          description: Unauthorized CIBA (Client Initiated Backchannel Authentication) access.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - invalid_scope
                      - expired_login_hint_token
                      - unknown_user_id
                      - unauthorized_client
                      - missing_user_code
                      - invalid_user_code
                      - invalid_binding_message
                      - invalid_client
                      - unauthorized_end_user_device
                      - access_denied
                  error_description:
                    type: string
                  details:
                    type: string
        403:
          $ref: '#/components/responses/AccessDenied'
  /bc-deviceRegistration:
    post:
      tags:
        - Registration
      summary: Performs backchannel device registration.
      description: Performs backchannel device registration.
      operationId: bc-deviceRegistration
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - id_token_hint
                - device_registration_token
              properties:
                id_token_hint:
                  type: string
                  description: An ID Token previously issued to the Client by the OpenID Provider being passed back as a hint to identify the end-user for whom the device registration is being requested.
                device_registration_token:
                  type: string
                  description: OAuth 2.0 Client Identifier valid at the Authorization Serve
      responses:
        200:
          description: OK
          content: {}
        400:
          description: Invalid parameters are provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - invalid_scope
                      - expired_login_hint_token
                      - unknown_user_id
                      - unauthorized_client
                      - missing_user_code
                      - invalid_user_code
                      - invalid_binding_message
                      - invalid_client
                      - unauthorized_end_user_device
                      - access_denied
                  error_description:
                    type: string
                  details:
                    type: string
        403:
          $ref: '#/components/responses/AccessDenied'
  /clientinfo:
    get:
      tags:
        - Client Info
      summary: To get Claims details about the registered client.
      description: The ClientInfo Endpoint is an OAuth 2.0 Protected Resource that returns Claims about the registered client.
      operationId: get_clientinfo
      parameters:
        - name: access_token
          in: query
          schema:
            type: string
            description: Client-specific access token.
        - name: Authorization
          in: header
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ClientInfoResponse
                description: Client details in response.
                type: object
                properties:
                  displayName:
                    type: string
                  inum:
                    type: string
                    description: XRI i-number
                  jansAppType:
                    type: string
                    description: Appication type
                  jansIdTokenSignedResponseAlg:
                    type: string
                    description: ID Token Signed Response Algorithm
                  jansRedirectURI:
                    type: array
                    description: Array of redirect URIs values used in the Authorization
                    items:
                      type: string
                  oxId:
                    type: string
                    example:
                    description: Attribute Scope Id
                  custom_attributes:
                    type: array
                    items:
                      type: string
        400:
          description: Invalid Request are provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - invalid_token
                  error_description:
                    type: string
                  details:
                    type: string
    post:
      tags:
        - Client Info
      summary: To get Claims details about the registered client.
      description: The ClientInfo Endpoint is an OAuth 2.0 Protected Resource that returns Claims about the registered client.
      operationId: post_clientinfo
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - access_token
              properties:
                access_token:
                  type: string
                  description: Client-specific access token.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ClientInfoResponse
                description: Client details in response.
                type: object
                properties:
                  displayName:
                    type: string
                  inum:
                    type: string
                    description: XRI i-number
                  jansAppType:
                    type: string
                    description: Appication type
                  jansIdTokenSignedResponseAlg:
                    type: string
                    description: ID Token Signed Response Algorithm
                  jansRedirectURI:
                    type: array
                    description: Array of redirect URIs values used in the Authorization
                    items:
                      type: string
                  oxId:
                    type: string
                    example:
                    description: Attribute Scope Id
                  custom_attributes:
                    type: array
                    items:
                      type: string
        400:
          description: Invalid Request are provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - invalid_token
                  error_description:
                    type: string
                  details:
                    type: string
  /.well-known/gluu-configuration:
    post:
      tags:
        - Server Configuration
      summary:  Gets GluuServer configuration data that contains non-standard OpenID Connect discovery metadata.
      description: Gets GluuServer configuration data that contains non-standard OpenID Connect discovery metadata.
      operationId: well-known-gluu-configuration
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: GluuConfigurationResponse
                description: Client GluuAttribute by Dn(Distinguished Name) based on Authorization Scope.
                required:
                  - id_generation_endpoint
                  - introspection_endpoint
                type: object
                properties:
                  id_generation_endpoint:
                    type: string
                  introspection_endpoint:
                    type: string
                  auth_level_mapping:
                    type: object
                    additionalProperties:
                      type: string
                      description: Additional Custom Acr's map object
                  scope_to_claims_mapping:
                    type: object
                    additionalProperties:
                      type: string
                      description: Scope map object
        500:
          $ref: '#/components/responses/InternalServerError'
  /introspection:
    get:
      tags:
        - Token
      summary: The Introspection OAuth 2 Endpoint.
      description: The Introspection OAuth 2 Endpoint.
      operationId: get-introspection
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Client Authorization details that contains the access token along with other details.
          schema:
            type: string
          example: Bearer 23410913-abewfq.123483
        - name: token
          in: query
          required: true
          schema:
            type: string
          example: token=2YotnFZFEjr1zCsicMWpAA
        - name: token_type_hint
          in: query
          description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User.
          schema:
            type: string
        - name: response_as_jwt
          in: query
          description: OPTIONAL. Boolean value with default value false. If true, returns introspection response as JWT (signed based on client configuration used for authentication to Introspection Endpoint).
          schema:
            type: boolean
          example: response_as_jwt=false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: IntrospectionResponse
                description: meta-information about token
                required:
                  - active
                type: object
                properties:
                  active:
                    type: boolean
                    description: Boolean indicator of whether or not the presented token is currently active.
                    example: true
                  scope:
                    type: array
                    description: Provide list of scopes to which access was granted for this resource.
                    example:
                      - read write dolphin
                    items:
                      type: string
                  client_id:
                    type: string
                    description:  Client identifier for the OAuth 2.0 client that requested this token.
                    example: 1238j323ds-23ij4
                  username:
                    type: string
                    description: Human-readable identifier for the resource owner who authorized this token.
                    example: jdoe
                  token_type:
                    type: string
                    description: Type of the token as defined in Section 5.1 of OAuth 2.0 [RFC6749].
                    example: bearer, mac
                  exp:
                    type: integer
                    description: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission will expire.
                  iat:
                    type: integer
                    example: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission was originally issued.
                  sub:
                    type: string
                    description: Subject of the token, as defined in JWT [RFC7519].
                    example: Z5O3upPC88QrAjx00dis
                  aud:
                    type: string
                    description: Service-specific string identifier or list of string identifiers representing the intended audience for this token, as defined in JWT [RFC7519].
                    example: https://protected.example.net/resource
                  iss:
                    type: string
                    description: String representing the issuer of this token, as defined in JWT [RFC7519].
                    example: https://server.example.com/
                  acr_values:
                    type: string
                    description: Authentication Context Class Reference values.
                  jti:
                    type: string
                    description: String identifier for the token, as defined in JWT.

        400:
          description: Error codes for introspection endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - unauthorized_client
                      - disabled_client
                      - access_denied
                      - retry
                      - unsupported_response_type
                      - invalid_scope
                      - server_error
                      - temporarily_unavailable
                      - invalid_request_redirect_uri
                      - login_required
                      - session_selection_required
                      - consent_required
                      - user_mismatched
                      - invalid_request_uri
                      - invalid_request_object
                      - authentication_session_invalid
                      - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Token
      summary: The Introspection OAuth 2 Endpoint.
      description: The Introspection OAuth 2 Endpoint.
      operationId: post-introspection
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Client Authorization details that contains the access token along with other details.
          schema:
            type: string
          example: Bearer 23410913-abewfq.123483
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: Client access token.
                  example: token=2YotnFZFEjr1zCsicMWpAA
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: IntrospectionResponse
                description: meta-information about token
                required:
                  - active
                type: object
                properties:
                  active:
                    type: boolean
                    description: Boolean indicator of whether or not the presented token is currently active.
                    example: true
                  scope:
                    type: array
                    description: Provide list of scopes to which access was granted for this resource.
                    example:
                      - read write dolphin
                    items:
                      type: string
                  client_id:
                    type: string
                    description:  Client identifier for the OAuth 2.0 client that requested this token.
                    example: 1238j323ds-23ij4
                  username:
                    type: string
                    description: Human-readable identifier for the resource owner who authorized this token.
                    example: jdoe
                  token_type:
                    type: string
                    description: Type of the token as defined in Section 5.1 of OAuth 2.0 [RFC6749].
                    example: bearer, mac
                  exp:
                    type: integer
                    description: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission will expire.
                  iat:
                    type: integer
                    example: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission was originally issued.
                  sub:
                    type: string
                    description: Subject of the token, as defined in JWT [RFC7519].
                    example: Z5O3upPC88QrAjx00dis
                  aud:
                    type: string
                    description: Service-specific string identifier or list of string identifiers representing the intended audience for this token, as defined in JWT [RFC7519].
                    example: https://protected.example.net/resource
                  iss:
                    type: string
                    description: String representing the issuer of this token, as defined in JWT [RFC7519].
                    example: https://server.example.com/
                  acr_values:
                    type: string
                    description: Authentication Context Class Reference values.
                  jti:
                    type: string
                    description: String identifier for the token, as defined in JWT.
        400:
          description: Error codes for introspection endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_request
                      - unauthorized_client
                      - disabled_client
                      - access_denied
                      - retry
                      - unsupported_response_type
                      - invalid_scope
                      - server_error
                      - temporarily_unavailable
                      - invalid_request_redirect_uri
                      - login_required
                      - session_selection_required
                      - consent_required
                      - user_mismatched
                      - invalid_request_uri
                      - invalid_request_object
                      - authentication_session_invalid
                      - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /jwks:
    get:
      tags:
        - JWK - JSON Web Key Set (JWKs)
      summary: A JSON Web Key (JWK) used by server. JWK is a JSON data structure that represents a set of public keys as a JSON object [RFC4627].
      description: Provides list of JWK used by server.
      operationId: jwks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: WebKeysConfiguration
                required:
                  - keys
                type: object
                description: JSON Web Key Set (JWKS) - A JSON object that represents a set of JWKs. The JSON object MUST have a keys member, which is an array of JWKs.
                properties:
                  keys:
                    type: array
                    description: List of JSON Web Key (JWK) - A JSON object that represents a cryptographic key. The members of the object represent properties of the key, including its value.
                    items:
                      $ref: '#/components/schemas/JsonWebKey'
        500:
          $ref: '#/components/responses/InternalServerError'
  /register:
    post:
      tags:
        - Registration
      summary: Registers new client dynamically.
      description: The Client Registration Endpoint is an OAuth 2.0 Protected Resource through which a new Client registration can be requested.
      operationId: post-register
      requestBody:
        content:
          application/json:
            schema:
              title: RegisterParams
              required:
                - redirect_uris
              type: object
              properties:
                redirect_uris:
                  type: array
                  description: Redirection URI values used by the Client. One of these registered Redirection URI values must exactly match
                    the redirect_uri parameter value used in each Authorization Request
                  items:
                    type: string
                  example:
                    - https://client.example.org/cb
                claims_redirect_uri:
                  type: array
                  description: Array of The Claims Redirect URIs to which the client wishes the authorization server to direct
                    the requesting party's user agent after completing its interaction.
                  items:
                    type: string
                response_types:
                  type: array
                  description: A list of the OAuth 2.0 response_type values that the Client is declaring that it will restrict itself to using.
                    If omitted, the default is that the Client will use only the code Response Type. Allowed values are code, token, id_token.
                  items:
                    type: string
                grant_types:
                  type: array
                  description: A list of the OAuth 2.0 Grant Types that the Client is declaring that it will restrict itself to using.
                  items:
                    type: string
                contacts:
                  type: array
                  description: e-mail addresses of people responsible for this Client.
                  items:
                    type: string
                client_name:
                  type: string
                  description: Name of the Client to be presented to the user.
                logo_uri:
                  type: string
                  description: URL that references a logo for the Client application
                client_uri:
                  type: string
                  description: URL of the home page of the Client. The value of this field must point to a valid Web page.
                policy_uri:
                  type: string
                  description: URL that the Relying Party Client provides to the End-User to read about the how the profile data will be used.
                tos_uri:
                  type: string
                  description: URL that the Relying Party Client provides to the End-User to read about the Relying Party's terms of service.
                jwks_uri:
                  type: string
                  description: URL for the Client's JSON Web Key Set (JWK) document containing key(s) that are used for signing requests
                    to the OP. The JWK Set may also contain the Client's encryption
                    keys(s) that are used by the OP to encrypt the responses to the
                    Client. When both signing and encryption keys are made available,
                    a use (Key Use) parameter value is required for all keys in the
                    document to indicate each key's intended usage .
                jwks:
                  type: array
                  description: List of JSON Web Key (JWK) - A JSON object that represents a cryptographic key. The members of the object represent properties of the key, including its value.
                  items:
                    $ref: '#/components/schemas/JsonWebKey'
                  example: '{ "keys" : [ { "e" : "AQAB", "n" : "gmlDX_mgMcHX.." ] }'
                sector_identifier_uri:
                  type: string
                  description: URL using the https scheme to be used in calculating Pseudonymous Identifiers by the OP.
                subject_type:
                  type: string
                  description: Subject type requested for the Client ID. Valid types include pairwise and public.
                rpt_as_jwt:
                  type: boolean
                  description: Specifies whether RPT should be return as signed JWT.
                access_token_as_jwt:
                  type: boolean
                  description: Specifies whether access token as signed JWT.
                access_token_signing_alg:
                  type: string
                  description: Specifies signing algorithm that has to be used during JWT signing. If it's not specified,
                    then the default OP signing algorithm will be used .
                id_token_signed_response_alg:
                  type: string
                  description: JWS alg algorithm (JWA) required for signing the ID Token issued to this Client.
                id_token_encrypted_response_alg:
                  type: string
                  description: JWE alg algorithm (JWA) required for encrypting the ID Token issued to this Client.
                id_token_encrypted_response_enc:
                  type: string
                  description: JWE enc algorithm (JWA) required for encrypting the ID Token issued to this Client.
                userinfo_signed_response_alg:
                  type: string
                  description: JWS alg algorithm (JWA) required for signing UserInfo Responses.
                userinfo_encrypted_response_alg:
                  type: string
                  description: JWE alg algorithm (JWA) required for encrypting UserInfo Responses.
                userinfo_encrypted_response_enc:
                  type: string
                  description: JWE enc algorithm (JWA) required for encrypting UserInfo Responses.
                request_object_signing_alg:
                  type: string
                  description: JWS alg algorithm (JWA) that must be used for signing Request Objects sent to the OP.
                request_object_encryption_alg:
                  type: string
                  description: JWE alg algorithm (JWA) the RP is declaring that it may use for encrypting Request Objects sent to the OP.
                request_object_encryption_enc:
                  type: string
                  description: JWE enc algorithm (JWA) the RP is declaring that it may use for encrypting Request Objects sent to the OP.
                token_endpoint_auth_method:
                  type: string
                  description: Requested Client Authentication method for the Token Endpoint.
                token_endpoint_auth_signing_alg:
                  type: string
                  description: JWS alg algorithm (JWA) that must be used for signing the JWT used to authenticate the Client at the Token Endpoint
                    for the private_key_jwt and client_secret_jwt authentication methods.
                default_max_age:
                  type: integer
                  description: Specifies the Default Maximum Authentication Age.
                  example: 1000000
                require_auth_time:
                  type: boolean
                  description: Boolean value specifying whether the auth_time Claim in the ID Token is required. It is required when the value is true.
                default_acr_values:
                  type: array
                  description: Array of default requested Authentication Context Class Reference values that the Authorization Server must use for
                    processing requests from the Client.
                  items:
                    type: string
                minimum_acr_level:
                  type: integer
                  description: Integer value which sets minimum acr level.
                  example: 10
                minimum_acr_level_autoresolve:
                  type: boolean
                  description: boolean value, if false and minimum_acr_level is higher then current acr_values then reject request. If true - resolve acr according to either client's minimum_acr_priority_list or AS auth_level_mapping
                minimum_acr_priority_list:
                  type: array
                  description: enables client to specify the acr order of preference, rather then just the next lowest integer value
                  items:
                    type: string
                groups:
                  type: array
                  description: Array of client's groups.
                  items:
                    type: string
                initiate_login_uri:
                  type: string
                  description: Specifies the URI using the https scheme that the authorization server can call to initiate a login at the client.
                post_logout_redirect_uris:
                  type: array
                  description: Provide the URLs supplied by the RP to request that the user be redirected to this location after a logout has been
                    performed.
                  example:
                    - https://client.example.org/logout/page1
                    - https://client.example.org/logout/page2
                    - https://client.example.org/logout/page3
                  items:
                    type: string
                frontchannel_logout_uri:
                  type: string
                  description: RP URL that will cause the RP to log itself out when rendered in an iframe by the OP.
                frontchannel_logout_session_required:
                  type: boolean
                  description: Boolean value specifying whether the RP requires that a session ID query parameter be included
                    to identify the RP session at the OP when the logout_uri is used. If omitted, the default value is false.
                backchannel_logout_uri:
                  type: string
                  description: RP URL that will cause the RP to log itself out when sent a Logout Token by the OP.
                backchannel_logout_session_required:
                  type: boolean
                  description: Boolean value specifying whether the RP requires that a session ID Claim be included in the Logout Token
                    to identify the RP session with the OP when the backchannel_logout_uri is used. If omitted, the default value is false.
                request_uris:
                  type: array
                  description: Provide a list of request_uri values that are pre-registered by the Client for use at the Authorization Server.
                  items:
                    type: string
                scopes:
                  type: string
                  deprecated: true
                  description: This param will be removed in a future version because the correct is 'scope' not 'scopes', see (rfc7591).
                claims:
                  type: string
                  description: String containing a space-separated list of claims that can be requested individually.
                id_token_token_binding_cnf:
                  type: string
                  description: Specifies the JWT Confirmation Method member name (e.g. tbh) that the Relying Party expects
                    when receiving Token Bound ID Tokens. The presence of this parameter indicates that the Relying Party
                    supports Token Binding of ID Tokens.
                    If omitted, the default is that the Relying Party does not support Token Binding of ID Tokens.
                tls_client_auth_subject_dn:
                  type: string
                  description: An string representation of the expected subject distinguished name of the certificate,
                    which the OAuth client will use in mutual TLS authentication.
                allow_spontaneous_scopes:
                  type: boolean
                  description: Specifies whether to allow spontaneous scopes for client. The default value is false.
                  example: false
                spontaneous_scopes:
                  type: array
                  description: List of spontaneous scopes
                  items:
                    type: string
                run_introspection_script_before_access_token_as_jwt_creation_and_include_claims:
                  type: boolean
                  description: Boolean value with default value false. If true and access_token_as_jwt=true then run introspection script
                    and transfer claims into JWT.
                keep_client_authorization_after_expiration:
                  type: boolean
                  description: Boolean value indicating if the client authorization will not be removed afer expiration
                    (expiration date is same as client's expiration that created it). The default value is false.
                scope:
                  type: array
                  description: Provide list of scope which are used during authentication to authorize access to resource.
                  example:
                    - openid
                  items:
                    type: string
                authorized_origins:
                  type: array
                  description: specifies authorized JavaScript origins.
                  items:
                    type: string
                access_token_lifetime:
                  type: integer
                  description: Specifies the Client-specific access token expiration.
                  example: 100000000
                par_lifetime:
                  type: integer
                  description: Specifies the Client-specific PAR expiration in seconds.
                  example: 600
                require_pushed_authorization_requests:
                  type: boolean
                  description: Boolean parameter indicating
                    whether the only means of initiating an authorization request the
                    client is allowed to use is a pushed authorization request.  If
                    omitted, the default value is "false".
                software_id:
                  type: string
                  description: Specifies a unique identifier string (UUID) assigned
                    by the client developer or software publisher used by registration
                    endpoints to identify the client software to be dynamically registered.
                  example: 4NRB1-0XZABZI9E6-5SM3R
                software_version:
                  type: string
                  description: Specifies a version identifier string for the client
                    software identified by 'software_id'. The value of the 'software_version'
                    should change on any update to the client software identified
                    by the same 'software_id'.
                  example: "2.1"
                software_statement:
                  type: string
                  description: specifies a software statement containing client metadata
                    values about the client software as claims. This is a string value
                    containing the entire signed JWT.
                backchannel_token_delivery_mode:
                  type: string
                  description: specifies how backchannel token will be deliveried.
                  example: push, poll, ping
                backchannel_client_notification_endpoint:
                  type: string
                  description: Client Initiated Backchannel Authentication (CIBA) enables a Client to initiate the authentication of an end-user by means of out-of-band mechanisms. Upon receipt of the notification, the Client makes a request to the token endpoint to obtain the tokens.
                backchannel_authentication_request_signing_alg:
                  type: string
                  description: The JWS algorithm alg value that the Client will use for signing authentication request, as described in Section 7.1.1. of OAuth 2.0 [RFC6749]. When omitted, the Client will not send signed authentication requests.
                backchannel_user_code_parameter:
                  type: boolean
                  description: Boolean value specifying whether the Client supports the user_code parameter. If omitted, the default value is false.
                additional_audience:
                  type: array
                  description: Additional audiences.
                  items:
                    type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: RegisterResponseParam
                type: object
                required:
                  - client_id
                properties:
                  client_id:
                    type: string
                    description: Unique Client Identifier. It MUST NOT be currently valid for any other registered Client.
                  client_secret:
                    type: string
                    description: This value is used by Confidential Clients to authenticate to the Token Endpoint
                  registration_access_token:
                    type: string
                    description: Registration Access Token that can be used at the Client Configuration Endpoint to perform subsequent
                      operations upon the Client registration.
                  registration_client_uri:
                    type: string
                    description: Location of the Client Configuration Endpoint where the Registration Access Token can be used to perform subsequent operations upon the resulting Client registration.
                  client_id_issued_at:
                    type: integer
                    description: Time at which the Client Identifier was issued.
                  client_secret_expires_at:
                    type: integer
                    description: Time at which the client_secret will expire or 0 if it will not expire.
        400:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_redirect_uri
                      - invalid_claims_redirect_uri
                      - invalid_client_metadata
                      - invalid_token
                      - invalid_logout_uri
                      - invalid_software_statement
                      - access_denied
                  error_description:
                    type: string
                  details:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Registration
      summary: Updates Client Metadata for a registered client.
      description: Updates Client Metadata for a registered client.
      operationId: put-register
      parameters:
        - name: client_id
          in: query
          required: true
          description: Client ID that identifies client that must be updated by this request.
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Authorization header carrying \"registration_access_token\" issued before as a Bearer token
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              title: RegisterParams
              required:
                - redirect_uris
              type: object
              properties:
                redirect_uris:
                  type: array
                  description: Redirection URI values used by the Client. One of these registered Redirection URI values must exactly match
                    the redirect_uri parameter value used in each Authorization Request
                  items:
                    type: string
                  example:
                    - https://client.example.org/cb
                claims_redirect_uri:
                  type: array
                  description: Array of The Claims Redirect URIs to which the client wishes the authorization server to direct
                    the requesting party's user agent after completing its interaction.
                  items:
                    type: string
                response_types:
                  type: array
                  description: A list of the OAuth 2.0 response_type values that the Client is declaring that it will restrict itself to using.
                    If omitted, the default is that the Client will use only the code Response Type. Allowed values are code, token, id_token.
                  items:
                    type: string
                grant_types:
                  type: array
                  description: A list of the OAuth 2.0 Grant Types that the Client is declaring that it will restrict itself to using.
                  items:
                    type: string
                contacts:
                  type: array
                  description: e-mail addresses of people responsible for this Client.
                  items:
                    type: string
                client_name:
                  type: string
                  description: Name of the Client to be presented to the user.
                logo_uri:
                  type: string
                  description: URL that references a logo for the Client application
                client_uri:
                  type: string
                  description: URL of the home page of the Client. The value of this field must point to a valid Web page.
                policy_uri:
                  type: string
                  description: URL that the Relying Party Client provides to the End-User to read about the how the profile data will be used.
                tos_uri:
                  type: string
                  description: URL that the Relying Party Client provides to the End-User to read about the Relying Party's terms of service.
                jwks_uri:
                  type: string
                  description: URL for the Client's JSON Web Key Set (JWK) document containing key(s) that are used for signing requests
                    to the OP. The JWK Set may also contain the Client's encryption
                    keys(s) that are used by the OP to encrypt the responses to the
                    Client. When both signing and encryption keys are made available,
                    a use (Key Use) parameter value is required for all keys in the
                    document to indicate each key's intended usage .
                jwks:
                  type: array
                  description: List of JSON Web Key (JWK) - A JSON object that represents a cryptographic key. The members of the object represent properties of the key, including its value.
                  items:
                    $ref: '#/components/schemas/JsonWebKey'
                    example: '{ "keys" : [ { "e" : "AQAB", "n" : "gmlDX_mgMcHX.." ] }'
                sector_identifier_uri:
                  type: string
                  description: URL using the https scheme to be used in calculating Pseudonymous Identifiers by the OP.
                subject_type:
                  type: string
                  description: Subject type requested for the Client ID. Valid types include pairwise and public.
                rpt_as_jwt:
                  type: boolean
                  description: Specifies whether RPT should be return as signed JWT.
                access_token_as_jwt:
                  type: boolean
                  description: Specifies whether access token as signed JWT.
                access_token_signing_alg:
                  type: string
                  description: Specifies signing algorithm that has to be used during JWT signing. If it's not specified,
                    then the default OP signing algorithm will be used .
                id_token_signed_response_alg:
                  type: string
                  description: JWS alg algorithm (JWA) required for signing the ID Token issued to this Client.
                id_token_encrypted_response_alg:
                  type: string
                  description: JWE alg algorithm (JWA) required for encrypting the ID Token issued to this Client.
                id_token_encrypted_response_enc:
                  type: string
                  description: JWE enc algorithm (JWA) required for encrypting the ID Token issued to this Client.
                userinfo_signed_response_alg:
                  type: string
                  description: JWS alg algorithm (JWA) required for signing UserInfo Responses.
                userinfo_encrypted_response_alg:
                  type: string
                  description: JWE alg algorithm (JWA) required for encrypting UserInfo Responses.
                userinfo_encrypted_response_enc:
                  type: string
                  description: JWE enc algorithm (JWA) required for encrypting UserInfo Responses.
                request_object_signing_alg:
                  type: string
                  description: JWS alg algorithm (JWA) that must be used for signing Request Objects sent to the OP.
                request_object_encryption_alg:
                  type: string
                  description: JWE alg algorithm (JWA) the RP is declaring that it may use for encrypting Request Objects sent to the OP.
                request_object_encryption_enc:
                  type: string
                  description: JWE enc algorithm (JWA) the RP is declaring that it may use for encrypting Request Objects sent to the OP.
                token_endpoint_auth_method:
                  type: string
                  description: Requested Client Authentication method for the Token Endpoint.
                token_endpoint_auth_signing_alg:
                  type: string
                  description: JWS alg algorithm (JWA) that must be used for signing the JWT used to authenticate the Client at the Token Endpoint
                    for the private_key_jwt and client_secret_jwt authentication methods.
                default_max_age:
                  type: integer
                  description: Specifies the Default Maximum Authentication Age.
                  example: 1000000
                require_auth_time:
                  type: boolean
                  description: Boolean value specifying whether the auth_time Claim in the ID Token is required. It is required when the value is true.
                default_acr_values:
                  type: array
                  description: Array of default requested Authentication Context Class Reference values that the Authorization Server must use for
                    processing requests from the Client.
                  items:
                    type: string
                minimum_acr_level:
                  type: integer
                  description: Integer value which sets minimum acr level.
                  example: 10
                minimum_acr_level_autoresolve:
                  type: boolean
                  description: boolean value, if false and minimum_acr_level is higher then current acr_values then reject request. If true - resolve acr according to either client's minimum_acr_priority_list or AS auth_level_mapping
                minimum_acr_priority_list:
                  type: array
                  description: enables client to specify the acr order of preference, rather then just the next lowest integer value
                  items:
                    type: string
                initiate_login_uri:
                  type: string
                  description: Specifies the URI using the https scheme that the authorization server can call to initiate a login at the client.
                groups:
                  type: array
                  description: Array of client's groups.
                  items:
                    type: string
                post_logout_redirect_uris:
                  type: array
                  description: Provide the URLs supplied by the RP to request that the user be redirected to this location after a logout has been
                    performed.
                  example:
                    - https://client.example.org/logout/page1
                    - https://client.example.org/logout/page2
                    - https://client.example.org/logout/page3
                  items:
                    type: string
                frontchannel_logout_uri:
                  type: string
                  description: RP URL that will cause the RP to log itself out when rendered in an iframe by the OP.
                frontchannel_logout_session_required:
                  type: boolean
                  description: Boolean value specifying whether the RP requires that a session ID query parameter be included
                    to identify the RP session at the OP when the logout_uri is used. If omitted, the default value is false.
                backchannel_logout_uri:
                  type: string
                  description: RP URL that will cause the RP to log itself out when sent a Logout Token by the OP.
                backchannel_logout_session_required:
                  type: boolean
                  description: Boolean value specifying whether the RP requires that a session ID Claim be included in the Logout Token
                    to identify the RP session with the OP when the backchannel_logout_uri is used. If omitted, the default value is false.
                request_uris:
                  type: array
                  description: Provide a list of request_uri values that are pre-registered by the Client for use at the Authorization Server.
                  items:
                    type: string
                scopes:
                  type: string
                  deprecated: true
                  description: This param will be removed in a future version because the correct is 'scope' not 'scopes', see (rfc7591).
                claims:
                  type: string
                  description: String containing a space-separated list of claims that can be requested individually.
                id_token_token_binding_cnf:
                  type: string
                  description: Specifies the JWT Confirmation Method member name (e.g. tbh) that the Relying Party expects
                    when receiving Token Bound ID Tokens. The presence of this parameter indicates that the Relying Party
                    supports Token Binding of ID Tokens.
                    If omitted, the default is that the Relying Party does not support Token Binding of ID Tokens.
                tls_client_auth_subject_dn:
                  type: string
                  description: An string representation of the expected subject distinguished name of the certificate,
                    which the OAuth client will use in mutual TLS authentication.
                allow_spontaneous_scopes:
                  type: boolean
                  description: Specifies whether to allow spontaneous scopes for client. The default value is false.
                  example: false
                spontaneous_scopes:
                  type: array
                  description: List of spontaneous scopes
                  items:
                    type: string
                run_introspection_script_before_access_token_as_jwt_creation_and_include_claims:
                  type: boolean
                  description: Boolean value with default value false. If true and access_token_as_jwt=true then run introspection script
                    and transfer claims into JWT.
                keep_client_authorization_after_expiration:
                  type: boolean
                  description: Boolean value indicating if the client authorization will not be removed afer expiration
                    (expiration date is same as client's expiration that created it). The default value is false.
                scope:
                  type: array
                  description: Provide list of scope which are used during authentication to authorize access to resource.
                  example:
                    - openid
                  items:
                    type: string
                authorized_origins:
                  type: array
                  description: specifies authorized JavaScript origins.
                  items:
                    type: string
                access_token_lifetime:
                  type: integer
                  description: Specifies the Client-specific access token expiration.
                  example: 100000000
                par_lifetime:
                  type: integer
                  description: Specifies the Client-specific PAR expiration in seconds.
                  example: 600
                require_pushed_authorization_requests:
                  type: boolean
                  description: Boolean parameter indicating
                    whether the only means of initiating an authorization request the
                    client is allowed to use is a pushed authorization request.  If
                    omitted, the default value is "false".
                software_id:
                  type: string
                  description: Specifies a unique identifier string (UUID) assigned
                    by the client developer or software publisher used by registration
                    endpoints to identify the client software to be dynamically registered.
                  example: 4NRB1-0XZABZI9E6-5SM3R
                software_version:
                  type: string
                  description: Specifies a version identifier string for the client
                    software identified by 'software_id'. The value of the 'software_version'
                    should change on any update to the client software identified
                    by the same 'software_id'.
                  example: "2.1"
                software_statement:
                  type: string
                  description: specifies a software statement containing client metadata
                    values about the client software as claims. This is a string value
                    containing the entire signed JWT.
                backchannel_token_delivery_mode:
                  type: string
                  description: specifies how backchannel token will be deliveried.
                  example: push, poll, ping
                backchannel_client_notification_endpoint:
                  type: string
                  description: Client Initiated Backchannel Authentication (CIBA) enables a Client to initiate the authentication of an end-user by means of out-of-band mechanisms. Upon receipt of the notification, the Client makes a request to the token endpoint to obtain the tokens.
                backchannel_authentication_request_signing_alg:
                  type: string
                  description: The JWS algorithm alg value that the Client will use for signing authentication request, as described in Section 7.1.1. of OAuth 2.0 [RFC6749]. When omitted, the Client will not send signed authentication requests.
                backchannel_user_code_parameter:
                  type: boolean
                  description: Boolean value specifying whether the Client supports the user_code parameter. If omitted, the default value is false.
                additional_audience:
                  type: array
                  description: Additional audiences.
                  items:
                    type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: RegisterResponseParam
                type: object
                required:
                  - client_id
                properties:
                  client_id:
                    type: string
                    description: Unique Client Identifier. It MUST NOT be currently valid for any other registered Client.
                  client_secret:
                    type: string
                    description: This value is used by Confidential Clients to authenticate to the Token Endpoint
                  registration_access_token:
                    type: string
                    description: Registration Access Token that can be used at the Client Configuration Endpoint to perform subsequent
                      operations upon the Client registration.
                  registration_client_uri:
                    type: string
                    description: Location of the Client Configuration Endpoint where the Registration Access Token can be used to perform subsequent operations upon the resulting Client registration.
                  client_id_issued_at:
                    type: integer
                    description: Time at which the Client Identifier was issued.
                  client_secret_expires_at:
                    type: integer
                    description: Time at which the client_secret will expire or 0 if it will not expire.
        400:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                      - invalid_client_metadata
                      - invalid_token
                  error_description:
                    type: string
                  details:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Registration
      summary: Get client information for a previously registered client.
      description: Get client information for a previously registered client.
      operationId: get-register
      parameters:
        - name: client_id
          in: query
          required: true
          description: Client ID that identifies client.
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Authorization header carrying \"registration_access_token\" issued before as a Bearer token
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ClientResponse
                type: object
                properties:
                  redirect_uris:
                    type: array
                    description: Redirection URI values used by the Client. One of these registered Redirection URI values must exactly match
                      the redirect_uri parameter value used in each Authorization Request
                    items:
                      type: string
                    example:
                      - https://client.example.org/cb
                  claims_redirect_uri:
                    type: array
                    description: Array of The Claims Redirect URIs to which the client wishes the authorization server to direct
                      the requesting party's user agent after completing its interaction.
                    items:
                      type: string
                  response_types:
                    type: array
                    description: A list of the OAuth 2.0 response_type values that the Client is declaring that it will restrict itself to using.
                      If omitted, the default is that the Client will use only the code Response Type. Allowed values are code, token, id_token.
                    items:
                      type: string
                  grant_types:
                    type: array
                    description: A list of the OAuth 2.0 Grant Types that the Client is declaring that it will restrict itself to using.
                    items:
                      type: string
                  contacts:
                    type: array
                    description: e-mail addresses of people responsible for this Client.
                    items:
                      type: string
                  client_name:
                    type: string
                    description: Name of the Client to be presented to the user.
                  logo_uri:
                    type: string
                    description: URL that references a logo for the Client application
                  client_uri:
                    type: string
                    description: URL of the home page of the Client. The value of this field must point to a valid Web page.
                  policy_uri:
                    type: string
                    description: URL that the Relying Party Client provides to the End-User to read about the how the profile data will be used.
                  tos_uri:
                    type: string
                    description: URL that the Relying Party Client provides to the End-User to read about the Relying Party's terms of service.
                  jwks_uri:
                    type: string
                    description: URL for the Client's JSON Web Key Set (JWK) document containing key(s) that are used for signing requests
                      to the OP. The JWK Set may also contain the Client's encryption
                      keys(s) that are used by the OP to encrypt the responses to the
                      Client. When both signing and encryption keys are made available,
                      a use (Key Use) parameter value is required for all keys in the
                      document to indicate each key's intended usage .
                  jwks:
                    type: string
                    description: Client's JSON Web Key Set (JWK) document, passed by
                      value. The semantics of the jwks parameter are the same as the
                      jwks_uri parameter, other than that the JWK Set is passed by value,
                      rather than by reference. This parameter is intended only to be
                      used by Clients that, for some reason, are unable to use the jwks_uri
                      parameter, for instance, by native applications that might not
                      have a location to host the contents of the JWK Set. If a Client
                      can use jwks_uri, it must not use jwks. One significant downside
                      of jwks is that it does not enable key rotation. The jwks_uri
                      and jwks parameters must not be used together.
                    example: '{"key1": "value1", "key2": "value2"}'
                  sector_identifier_uri:
                    type: string
                    description: URL using the https scheme to be used in calculating Pseudonymous Identifiers by the OP.
                  subject_type:
                    type: string
                    description: Subject type requested for the Client ID. Valid types include pairwise and public.
                  rpt_as_jwt:
                    type: boolean
                    description: Specifies whether RPT should be return as signed JWT.
                  access_token_as_jwt:
                    type: boolean
                    description: Specifies whether access token as signed JWT.
                  access_token_signing_alg:
                    type: string
                    description: Specifies signing algorithm that has to be used during JWT signing. If it's not specified,
                      then the default OP signing algorithm will be used .
                  id_token_signed_response_alg:
                    type: string
                    description: JWS alg algorithm (JWA) required for signing the ID Token issued to this Client.
                  id_token_encrypted_response_alg:
                    type: string
                    description: JWE alg algorithm (JWA) required for encrypting the ID Token issued to this Client.
                  id_token_encrypted_response_enc:
                    type: string
                    description: JWE enc algorithm (JWA) required for encrypting the ID Token issued to this Client.
                  userinfo_signed_response_alg:
                    type: string
                    description: JWS alg algorithm (JWA) required for signing UserInfo Responses.
                  userinfo_encrypted_response_alg:
                    type: string
                    description: JWE alg algorithm (JWA) required for encrypting UserInfo Responses.
                  userinfo_encrypted_response_enc:
                    type: string
                    description: JWE enc algorithm (JWA) required for encrypting UserInfo Responses.
                  request_object_signing_alg:
                    type: string
                    description: JWS alg algorithm (JWA) that must be used for signing Request Objects sent to the OP.
                  request_object_encryption_alg:
                    type: string
                    description: JWE alg algorithm (JWA) the RP is declaring that it may use for encrypting Request Objects sent to the OP.
                  request_object_encryption_enc:
                    type: string
                    description: JWE enc algorithm (JWA) the RP is declaring that it may use for encrypting Request Objects sent to the OP.
                  token_endpoint_auth_method:
                    type: string
                    description: Requested Client Authentication method for the Token Endpoint.
                  token_endpoint_auth_signing_alg:
                    type: string
                    description: JWS alg algorithm (JWA) that must be used for signing the JWT used to authenticate the Client at the Token Endpoint
                      for the private_key_jwt and client_secret_jwt authentication methods.
                  default_max_age:
                    type: integer
                    description: Specifies the Default Maximum Authentication Age.
                    example: 1000000
                  require_auth_time:
                    type: boolean
                    description: Boolean value specifying whether the auth_time Claim in the ID Token is required. It is required when the value is true.
                  default_acr_values:
                    type: array
                    description: Array of default requested Authentication Context Class Reference values that the Authorization Server must use for
                      processing requests from the Client.
                    items:
                      type: string
                  minimum_acr_level:
                    type: integer
                    description: Integer value which sets minimum acr level.
                    example: 10
                  minimum_acr_level_autoresolve:
                    type: boolean
                    description: boolean value, if false and minimum_acr_level is higher then current acr_values then reject request. If true - resolve acr according to either client's minimum_acr_priority_list or AS auth_level_mapping
                  minimum_acr_priority_list:
                    type: array
                    description: enables client to specify the acr order of preference, rather then just the next lowest integer value
                    items:
                      type: string
                  initiate_login_uri:
                    type: string
                    description: Specifies the URI using the https scheme that the authorization server can call to initiate a login at the client.
                  groups:
                    type: array
                    description: Array of client's groups.
                    items:
                      type: string
                  post_logout_redirect_uris:
                    type: array
                    description: Provide the URLs supplied by the RP to request that the user be redirected to this location after a logout has been
                      performed.
                    example:
                      - https://client.example.org/logout/page1
                      - https://client.example.org/logout/page2
                      - https://client.example.org/logout/page3
                    items:
                      type: string
                  frontchannel_logout_uri:
                    type: string
                    description: RP URL that will cause the RP to log itself out when rendered in an iframe by the OP.
[...]
