<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxD Suite" parallel="tests">

    <parameter name="host" value="localhost"/>
    <parameter name="port" value="8099"/>
    <parameter name="discoveryUrl" value="https://ce-dev.gluu.org/.well-known/openid-configuration"/>
    <parameter name="umaDiscoveryUrl" value="https://ce-dev.gluu.org/.well-known/uma-configuration"/>
    <parameter name="redirectUrl" value="https://client.example.com/cb"/>
    <parameter name="clientName" value="oxD Client"/>
    <parameter name="userId" value="test_user"/>
    <parameter name="userSecret" value="test_user_password"/>
    <parameter name="clientId" value="@!0035.934F.1A51.77B0!0001!402D.66D0!0008!FF81!2D39"/>
    <parameter name="clientSecret" value="oxauth_client_test_password"/>
    <parameter name="amHost" value="ce-dev.gluu.org"/>
    <parameter name="rsHost" value="photoz.example.com"/>
    <parameter name="register_client_app_type" value="web"/>
    <parameter name="register_client_response_types" value="code id_token token"/>
    <parameter name="register_client_grant_types" value="authorization_code implicit"/>
    <parameter name="register_client_contacts" value="yuriy@gluu.org test_user@gluu.org"/>
    <parameter name="register_client_jwks_uri" value="https://ce-dev.gluu.org/jwks"/>
    <parameter name="register_client_token_endpoint_auth_method" value="client_secret_basic"/>
    <parameter name="request_url" value="http://example.com/object/1234"/>
    <parameter name="request_http_method" value="DELETE"/>

    <!-- OIC Tests -->
    <test name="Discovery" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.DiscoveryTest"/>
        </classes>
    </test>
    <test name="Register client" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterClientTest"/>
        </classes>
    </test>
    <test name="Client read" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.ClientReadTest"/>
        </classes>
    </test>
    <test name="Check IdToken" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CheckIdTokenTest"/>
        </classes>
    </test>
    <test name="Check AccessToken" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CheckAccessTokenTest"/>
        </classes>
    </test>

    <!-- UMA Tests -->
    <test name="Obtain PAT" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.ObtainPatTest"/>
        </classes>
    </test>
    <test name="Register resource" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterResourceTest"/>
        </classes>
    </test>
    <test name="Register permission ticket" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterTicketTest"/>
        </classes>
    </test>
    <test name="Rpt status check" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RptStatusTest"/>
        </classes>
    </test>
    <test name="Complete flow test" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CompleteFlowTest"/>
        </classes>
    </test>

    <!-- oxd RP -->
    <test name="Register site" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterSiteTest"/>
        </classes>
    </test>
    <test name="Get authorization url" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetAuthorizationUrlTest"/>
        </classes>
    </test>
    <test name="Get tokens by code" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetTokensByCodeTest"/>
        </classes>
    </test>
    <test name="Get user info" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetUserInfoTest"/>
        </classes>
    </test>
    <test name="Log out" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.LogoutTest"/>
        </classes>
    </test>

</suite>
