<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxD Suite" parallel="tests">

    <parameter name="host" value="localhost"/>
    <parameter name="port" value="8099"/>
    <parameter name="opHost" value="https://${test.server.name}"/>
    <parameter name="redirectUrl" value="https://client.example.com/cb"/>
    <parameter name="postLogoutRedirectUrl" value="https://client.example.com/cb/logout"/>
    <parameter name="logoutUrl" value="https://client.example.com/logout"/>
    <parameter name="userId" value="${auth.user.uid}"/>
    <parameter name="userSecret" value="${auth.user.password}"/>
    <parameter name="clientId" value="${auth.client.id}"/>
    <parameter name="clientSecret" value="${auth.client.secret}"/>
    <parameter name="licenseServerEndpoint" value="https://${test.server.name}/license-server"/>
    <parameter name="rsProtect" value="{'resources':[{'path':'/ws/phone','conditions':[{'httpMethods':['GET'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/view'],'ticketScopes':['http://photoz.example.com/dev/actions/view']},{'httpMethods':['PUT', 'POST'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/add'],'ticketScopes':['http://photoz.example.com/dev/actions/add']},{'httpMethods':['DELETE'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/remove'],'ticketScopes':['http://photoz.example.com/dev/actions/remove']}]}]}"/>

    <!-- Connect -->
    <test name="Register site" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterSiteTest"/>
        </classes>
    </test>
    <test name="Get authorization url" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetAuthorizationUrlTest"/>
        </classes>
    </test>
    <test name="Get tokens by code" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetTokensByCodeTest"/>
        </classes>
    </test>
    <test name="Get user info" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetUserInfoTest"/>
        </classes>
    </test>
    <test name="Log out" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.GetLogoutUrlTest"/>
        </classes>
    </test>
    <test name="Check IdToken" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CheckIdTokenTest"/>
        </classes>
    </test>
    <test name="Check AccessToken" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CheckAccessTokenTest"/>
        </classes>
    </test>

    <!-- UMA -->
    <test name="UMA - Full Flow Test" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.UmaFullTest"/>
        </classes>
    </test>
    <test name="RS - Protect" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RsProtectTest"/>
        </classes>
    </test>
    <test name="RP - Get RPT" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RpGetRptTest"/>
        </classes>
    </test>
    <test name="RP - Get GAT" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RpGetGatTest"/>
        </classes>
    </test>


</suite>
