# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
libcst<0.4
git+https://github.com/JanssenProject/jans@87ac453c121b9bdd2dfd7cb4ebb7b8628f322474#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
