
# server configuration
use_client_authentication_for_pat: true
trust_all_certs: false
trust_store_path: ''
trust_store_password: ''
enable_jwks_generation: true
crypt_provider_key_store_path: '/opt/client-api/conf/client-api-jwks.keystore'
crypt_provider_key_store_password: 'example'
crypt_provider_dn_name: 'CN=jans-client CA Certificates'
support-google-logout: true
state_expiration_in_minutes: 5
nonce_expiration_in_minutes: 5
db_cleanup_interval_in_hours: 1
rp_cache_expiration_in_minutes: 60
public_op_key_cache_expiration_in_minutes: 60
protect_commands_with_access_token: true
accept_id_token_without_signature: false
protect_commands_with_rp_id: []
uma2_auto_register_claims_gathering_endpoint_as_redirect_uri_of_client: false
add_client_credentials_grant_type_automatically_during_client_registration: true
migration_source_folder_path: ''
allowed_op_hosts: []
storage: h2
enable_tracing: false
# tracer: jaeger or zipkin
tracer: 'jaeger'
tracer_host: 'localhost'
tracer_port: 5775
storage_configuration:
  dbFileLocation: /opt/client-api/data/rp_db

# Connectors
server:
  applicationConnectors:
    - type: https
      port: 8443
      keyStorePath: /opt/client-api/conf/client-api-server.keystore
      keyStorePassword: example
      validateCerts: false
  adminConnectors:
    - type: https
      port: 8444
      keyStorePath: /opt/client-api/conf/client-api-server.keystore
      keyStorePassword: example
      validateCerts: false

# Logging settings.
logging:

  # Logger-specific levels.
  loggers:
    io.jans: INFO
    org.reflections.Reflections: ERROR

# Logback's Time Based Rolling Policy - archivedLogFilenamePattern: /tmp/application-%d{yyyy-MM-dd}.log.gz
# Logback's Size and Time Based Rolling Policy -  archivedLogFilenamePattern: /tmp/application-%d{yyyy-MM-dd}-%i.log.gz
# Logback's Fixed Window Rolling Policy -  archivedLogFilenamePattern: /tmp/application-%i.log.gz

  appenders:
    - type: console
    # - type: file
    #   threshold: TRACE
    #   logFormat: "%-6level [%d{HH:mm:ss.SSS}] [%t] %logger{5} - %X{code} %msg %n"
    #   currentLogFilename: /var/log/client-api/client-api.log
    #   archivedLogFilenamePattern: /var/log/client-api/client-api-%d{yyyy-MM-dd}-%i.log.gz
    #   archivedFileCount: 7
    #   timeZone: UTC
    #   maxFileSize: 10MB

defaultSiteConfig:
  op_configuration_endpoint: ''
  response_types: ['code']
  grant_type: ['authorization_code']
  acr_values: ['']
  scope: ['openid', 'profile', 'email']
  ui_locales: ['en']
  claims_locales: ['en']
  contacts: []
  redirect_uris: []
  logout_redirect_uris: []
  client_name: ''
  client_jwks_uri: ''
  token_endpoint_auth_method: ''
  token_endpoint_auth_signing_alg: ''
  request_uris: []
  front_channel_logout_uri: ''
  sector_identifier_uri: ''
  claims_redirect_uri: []
  client_id: ''
  client_secret: ''
  trusted_client: false
  access_token_as_jwt: false
  access_token_signing_alg: ''
  rpt_as_jwt: false
  logo_uri: ''
  client_uri: ''
  policy_uri: ''
  front_channel_logout_session_required: false
  tos_uri: ''
  jwks: ''
  id_token_binding_cnf: ''
  tls_client_auth_subject_dn: ''
  run_introspection_script_beforeaccess_token_as_jwt_creation_and_include_claims: false
  id_token_signed_response_alg: ''
  id_token_encrypted_response_alg: ''
  id_token_encrypted_response_enc: ''
  user_info_signed_response_alg: ''
  user_info_encrypted_response_alg: ''
  user_info_encrypted_response_enc: ''
  request_object_signing_alg: ''
  request_object_encryption_alg: ''
  request_object_encryption_enc: ''
  default_max_age: null
  require_auth_time: false
  initiate_login_uri: ''
  authorized_origins: []
  access_token_lifetime: null
  software_id: ''
  software_version: ''
  software_statement: ''
  custom_attributes: {}
