.project
.settings/
*.classpath

.idea



### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/server/.oxd-license
/server/oxd-server.log
/server/oxd_db.mv.db
/server/oxd_db.trace.db
gen-client/profiles/*
gen-client/profiles/*/
!gen-client/profiles/default/
gen-client/src/test/resources/properties/*
!gen-client/src/test/resources/properties/testng.properties
!gen-client/src/test/resources/properties/testng.xml
gen-client/target/
server/dependency-reduced-pom.xml
server/src/test/resources/properties/users/*
uma-rs-core/target/
uma-rs-resteasy/target/