openapi: 3.0.1
info:
  title: jans-config-api
  description: jans-config-api - Authorization services
  contact:
    email: xxx@gluu.org
  license:
    name: License
    url: 'https://github.com/JanssenProject/blob/master/LICENSE'
  version: '1.0.0'
servers:
  - url: 'https://jans.io/'
tags:
  - name: developers
    description: jans-config-api enables access to the features available via the existing Jans Authorization Server API.
  - name: Attribute
  - name: Default Authentication Method
  - name: Cache Configuration
  - name: Cache Configuration – Memcached
  - name: Cache Configuration – Redis
  - name: Cache Configuration – in-Memory
  - name: Cache Configuration – Native-Persistence
  - name: Configuration – Properties
  - name: Configuration – Fido2
  - name: Configuration – SMTP
  - name: Configuration – Logging
  - name: Configuration – JWK - JSON Web Key (JWK)
  - name: Custom Scripts
  - name: Database - LDAP configuration
  - name: OAuth - OpenID Connect - Clients
  - name: OAuth - OpenID Connect - Sector Identifiers
  - name: OAuth - UMA Resources
  - name: OAuth - Scopes
paths:
  /jans-config-api/api/v1/jans-auth-server/config:
    get:
      summary: Gets all Jans authorization server configuration properties.
      description: Gets all Jans authorization server configuration properties.
      operationId: get-properties
      security:
        - jans-auth: [https://jans.io/oauth/jans-auth-server/config/properties.readonly]
      tags:
        - Configuration – Properties
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AppConfiguration
                description: Jans Authorization Server config properties.
                items:
                  $ref: '#/components/schemas/AppConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Partially modifies Jans authorization server Application configuration properties.
      description: Partially modifies Jans authorization server AppConfiguration properties.
      operationId: patch-properties
      security:
        - jans-auth: [https://jans.io/oauth/jans-auth-server/config/properties.write]
      tags:
        - Configuration – Properties
      requestBody:
        content:
          application/json:
            schema:
              type: string 
              $ref: '#/components/schemas/PatchRequest'
              description: String representing patch-document.
              example: '[ {op:replace, path: loggingLevel, value: DEBUG } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AppConfiguration
                description: Jans authorization server config properties.
                items:
                  $ref: '#/components/schemas/AppConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/api/v1/fido2/config:
    get:
      summary: Gets Jans Authorization Server Fido2 configuration properties.
      description: Gets Jans Authorization Server Fido2 configuration properties.
      operationId: get-properties-fido2
      tags:
        - Configuration – Fido2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Fido2 configuration
                items:
                  type: object
                  description: Fido2 configuration properties.
                  properties:
                    authenticatorCertsFolder:
                      description: Authenticators certificates fodler.
                      type: string
                      minLength: 1
                    mdsAccessToken:
                      description: MDS Access token.
                      type: string
                      minLength: 1
                    mdsCertsFolder:
                      description: MDS TOC root certificates folder.
                      type: string
                      minLength: 1
                    mdsTocsFolder:
                      description: MDS TOC files folder.
                      type: string
                      minLength: 1
                    userAutoEnrollment:
                      description: Allow to enroll users on enrollment/authentication requests.
                      type: boolean
                    unfinishedRequestExpiration:
                      description: Expiration time in seconds for pending enrollment/authentication requests
                      type: integer
                      multipleOf: 1
                      maximum: 2147483647
                      minimum: 0
                      exclusiveMaximum: false
                      exclusiveMinimum: false
                    authenticationHistoryExpiration:
                      description: Expiration time in seconds for approved authentication requests.
                      type: integer
                      multipleOf: 1
                      maximum: 2147483647
                      minimum: 0
                      exclusiveMaximum: false
                      exclusiveMinimum: false
                    serverMetadataFolder:
                      description: Authenticators metadata in json format.
                      type: string
                      minLength: 1
                      example: virtual devices
                    disableFido2:
                      description: Enable/Disable Fido2 endpoints.
                      type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/fido2.readonly]
    put:
      summary: Updates Fido2 configuration properties.
      description: Updates Fido2 configuration properties.
      operationId: put-properties-fido2
      tags:
        - Configuration – Fido2
      requestBody:
        content:
          application/json:
            schema:
              title: Fido2 configuration
              items:
                type: object
                description: Fido2 configuration properties.
                properties:
                  authenticatorCertsFolder:
                    description: Authenticators certificates fodler.
                    type: string
                    minLength: 1
                  mdsAccessToken:
                    description: MDS Access token.
                    type: string
                    minLength: 1
                  mdsCertsFolder:
                    description: MDS TOC root certificates folder.
                    type: string
                    minLength: 1
                  mdsTocsFolder:
                    description: MDS TOC files folder.
                    type: string
                    minLength: 1
                  userAutoEnrollment:
                    description: Allow to enroll users on enrollment/authentication requests.
                    type: boolean
                  unfinishedRequestExpiration:
                    description: Expiration time in seconds for pending enrollment/authentication requests
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 0
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  authenticationHistoryExpiration:
                    description: Expiration time in seconds for approved authentication requests.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 0
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  serverMetadataFolder:
                    description: Authenticators metadata in json format.
                    type: string
                    minLength: 1
                    example: virtual devices
                  disableFido2:
                    description: Enable/Disable Fido2 endpoints.
                    type: boolean
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/fido2.write]
    parameters: []
  /jans-config-api/api/v1/attributes:
    get:
      summary: Gets a list of Gluu attributes.
      description: 'Gets all attributes. Optionally max-size of the result, attribute status and pattern can be provided.'
      operationId: get-attributes
      tags:
        - Attribute
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Gluu Attributes
                description: List of all attribute.
                type: array
                items:
                  $ref: '#/components/schemas/GluuAttribute'
        '401':
          description: Unauthorized
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/attributes.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
        - schema:
            type: string
            default: all
          in: query
          name: status
          description: Status of the attribute
    post:
      summary: Adds a new attribute.
      description: Adds a new attribute.
      operationId: post-attributes
      tags:
        - Attribute
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GluuAttribute'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          description: Unauthorized
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/attributes.write]
    put:
      summary: Updates an existing attribute.
      description: Updates an existing attribute.
      operationId: put-attributes
      tags:
        - Attribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GluuAttribute'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttribute
                type: object
                items:
                  $ref: '#/components/schemas/GluuAttribute'
        '401':
          description: Unauthorized
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/attributes.write]
    parameters: []
  '/jans-config-api/api/v1/attributes/{inum}':
    parameters:
      - name: inum
        in: path
        required: true
        description: Attribute ID.
        schema:
          type: string
    get:
      summary: Gets an attribute based on inum.
      description: Gets an attribute based on inum.
      operationId: get-attributes-by-inum
      tags:
        - Attribute
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/attributes.readonly]
    delete:
      summary: Deletes an attribute based on inum.
      description: Deletes an attribute based on inum.
      operationId: delete-attributes-by-inum
      tags:
        - Attribute
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/attributes.write]
    patch:
      summary: Partially modify a GluuAttribute.
      description: Partially modify a GluuAttribute.
      operationId: patch-attributes-by-inum
      security:
        - jans-auth: [https://jans.io/oauth/config/attributes.write]
      tags:
        - Attribute
      requestBody:
        content:
          application/json:
            schema:
              type: string 
              $ref: '#/components/schemas/PatchRequest'
              description: String representing patch-document.
              example: '[ {op:replace, path: displayName, value: \"CustomAttribute\" } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GluuAttribute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/api/v1/acrs:
    get:
      summary: Gets default authentication method.
      description: Gets default authentication method.
      operationId: get-acrs
      tags:
        - Default Authentication Method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AuthenticationMethod
                description: Default authentication method.
                type: object
                properties:
                  defaultAcr:
                    type: string
                  oxtrustAcr:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/acrs.readonly]
    put:
      summary: Updates default authentication method.
      description: Updates default authentication method.
      operationId: put-acrs
      tags:
        - Default Authentication Method
      requestBody:
        content:
          application/json:
            schema:
              title: AuthenticationMethod
              description: Authentication method to be updated as default.
              type: object
              properties:
                defaultAcr:
                  type: string
                oxtrustAcr:
                  type: string
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/acrs.write]
    parameters: []
  /jans-config-api/api/v1/config/database/ldap:
    get:
      summary: Gets list of existing LDAP configurations.
      description: Gets list of existing LDAP configurations. 
      operationId: get-config-database-ldap
      tags:
        - Database - LDAP configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: LdapConfiguration
                description: List of configured LDAP configuration.
                type: array
                items:
                  $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.readonly]
    post:
      summary: Adds a new LDAP configuration.
      description: Adds a new LDAP configuration.
      operationId: post-config-database-ldap
      tags:
        - Database - LDAP configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapConfiguration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.write]
    put:
      summary: Updates LDAP configuration.
      description: Updates LDAP configuration.
      operationId: put-config-database-ldap
      tags:
        - Database - LDAP configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.write]
    parameters: []
  '/jans-config-api/api/v1/config/database/ldap/{name}':
    parameters:
      - name: name
        in: path
        required: true
        description: Name of LDAP configuration.
        schema:
          type: string
    get:
      summary: Gets an LDAP configuration by name.
      description: Gets an LDAP configuration by name.
      operationId: get-config-database-ldap-by-name
      tags:
        - Database - LDAP configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.readonly]
    delete:
      summary: Deletes an LDAP configuration.
      description: Deletes an LDAP configuration.
      operationId: delete-config-database-ldap-by-name
      tags:
        - Database - LDAP configuration
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.write]
    patch:
      summary: Partially modify an LDAP configuration.
      description: Partially modify an LDAP configuration.
      operationId: patch-config-database-ldap-by-name
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.write]
      tags:
        - Database - LDAP configuration
      requestBody:
        content:
          application/json:
            schema:
              type: string 
              $ref: '#/components/schemas/PatchRequest'
              description: String representing patch-document.
              example: '[ {op:replace, path: maxConnections, value: 8 } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jans-config-api/api/v1/config/database/ldap/test:
    post:
      summary: Tests a LDAP configurations by name.
      description: Tests a LDAP configurations by name.
      operationId: post-config-database-ldap-test
      tags:
        - Database - LDAP configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
                description: LDAP connection status true if connection is successfully established.
                  
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/ldap.readonly]
  /jans-config-api/api/v1/config/database/couchbase:
    get:
      summary: Gets list of existing Couchbase configurations.
      description: Gets list of existing Couchbase configurations. 
      operationId: get-config-database-couchbase
      tags:
        - Database - Couchbase configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: CouchbaseConfiguration
                description: List of configured Couchbase configuration.
                type: array
                items:
                  $ref: '#/components/schemas/CouchbaseConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.readonly]
    post:
      summary: Adds a new Couchbase configuration.
      description: Adds a new Couchbase configuration.
      operationId: post-config-database-couchbase
      tags:
        - Database - Couchbase configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouchbaseConfiguration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouchbaseConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.write]
    put:
      summary: Updates Couchbase configuration.
      description: Updates Couchbase configuration.
      operationId: put-config-database-couchbase
      tags:
        - Database - Couchbase configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouchbaseConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouchbaseConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.write]
    parameters: []
  /jans-config-api/api/v1/config/database/couchbase/{name}:
    parameters:
      - name: name
        in: path
        required: true
        description: Name of Couchbase configuration.
        schema:
          type: string
    get:
      summary: Gets a Couchbase configurations by name.
      description: Gets a Couchbase configurations by name.
      operationId: get-config-database-couchbase-by-name
      tags:
        - Database - Couchbase configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: CouchbaseConfiguration
                description: List of configured Couchbase configuration.
                $ref: '#/components/schemas/CouchbaseConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.readonly]
    patch:
      summary: Partially modify an Couchbase configuration.
      description: Partially modify an Couchbase configuration.
      operationId: patch-config-database-couchbase-by-name
      tags:
        - Database - Couchbase configuration
      requestBody:
        content:
          application/json:
            schema:
              type: string 
              $ref: '#/components/schemas/PatchRequest'
              description: String representing patch-document.
              example: '[ {op:replace, path: maxConnections, value: 8 } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouchbaseConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.write]
    delete:
      summary: Deletes a Couchbase configurations by name.
      description: Deletes a Couchbase configurations by name.
      operationId: delete-config-database-couchbase-by-name
      tags:
        - Database - Couchbase configuration
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.write]
  /jans-config-api/api/v1/config/database/couchbase/test:
    post:
      summary: Tests a Couchbase configurations by name.
      description: Tests a Couchbase configurations by name.
      operationId: post-config-database-couchbase-test
      tags:
        - Database - Couchbase configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouchbaseConfiguration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
                description: Couchbase connection status true if connection is successfully established.
                  
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/database/couchbase.readonly]
  /jans-config-api/api/v1/config/scripts:
    get:
      summary: Gets a list of custom scripts.
      description: Gets a list of custom scripts.
      operationId: get-config-scripts
      tags:
        - Custom Scripts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/scripts.readonly]
    post:
      summary: Adds a new custom script.
      description: Adds a new custom script.
      operationId: post-config-scripts
      tags:
        - Custom Scripts
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'      
      security:
        - jans-auth: [https://jans.io/oauth/config/scripts.write]
    put:
      summary: Updates a custom script.
      description: Updates a custom script.
      operationId: put-config-scripts
      tags:
        - Custom Scripts
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CustomScript'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/scripts.write]
  /jans-config-api/api/v1/config/scripts/type/{type}:
    parameters:
      - schema:
          type: string
          enum:
            - '- person_authentication'
            - '- introspection'
            - '- resource_owner_password_credentials'
            - '- application_session'
            - '- cache_refresh'
            - '- update_user'
            - '- user_registration'
            - '- client_registration'
            - '- id_generator'
            - '- uma_rpt_policy'
            - '- uma_rpt_claims'
            - '- uma_claims_gathering'
            - '- consent_gathering'
            - '- dynamic_scope'
            - '- spontaneous_scope'
            - '- end_session'
            - '- post_authn'
            - '- scim'
            - '- ciba_end_user_notification'
            - '- persistence_extension'
            - '- idp'
        name: type
        in: path
        description: Script type.
        required: true
      - schema:
          type: string
        in: query
        name: pattern
        description: Search pattern.
      - schema:
          type: integer
          default: 50
        in: query
        name: limit
        description: Search size - max size of the results to return.
    get:
      summary: Gets list of scripts by type.
      description: Gets list of scripts by type.
      operationId: get-config-scripts-by-type
      tags:
        - Custom Scripts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/scripts.readonly]
  /jans-config-api/api/v1/config/scripts/inum/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        required: true
        description: Script identifier.
    get:
      summary: Gets a script by Inum.
      description: Gets a script by Inum.
      operationId: get-config-scripts-by-inum
      tags:
        - Custom Scripts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScript'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/scripts.readonly]
  /jans-config-api/api/v1/config/scripts/{inum}:
    parameters:
      - schema:
          type: string
        name: inum
        in: path
        required: true
        description: Script identifier.
    delete:
      summary: Deletes a custom script.
      description: Deletes a custom script.
      operationId: delete-config-scripts-by-inum
      tags:
        - Custom Scripts
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/scripts.write]
  /jans-config-api/api/v1/config/cache:
    get:
      summary: Returns cache configuration.
      description: Returns cache configuration.
      operationId: get-config-cache
      tags:
        - Cache Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache Configuration.
                properties:
                  cacheProviderType:
                    description: The cache Provider Type.
                    type: string
                    enum:
                      - IN_MEMORY
                      - MEMCACHED
                      - REDIS
                      - NATIVE_PERSISTENCE
                  memcachedConfiguration:
                    description: Memcached cache configuration.
                    type: object
                    required:
                      - servers
                      - maxOperationQueueLength
                      - bufferSize
                      - defaultPutExpiration
                      - memcachedConnectionFactoryType
                    properties:
                      servers:
                        type: string
                        description: Server details separated by spaces.
                        format: url
                        minLength: 1
                      maxOperationQueueLength:
                        type: integer
                        description: Maximum operation Queue Length.
                        default: 99999999
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      bufferSize:
                        type: integer
                        description: Buffer Size.
                        default: 32768
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      defaultPutExpiration:
                        type: integer
                        description: Expiration timeout value.
                        default: 60
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      memcachedConnectionFactoryType:
                        type: string
                        description: The MemcachedConnectionFactoryType Type.
                        enum:
                          - DEFAULT
                          - BINARY
                  redisConfiguration:
                    type: object
                    description: Cache Configuration
                    properties:
                      redisProviderType:
                        description: Type of connection.
                        type: string
                        enum:
                          - STANDALONE
                          - CLUSTER
                          - SHARDED
                          - SENTINEL
                      servers:
                        description: 'server details separated by comma e.g. ''server1:8080server2:8081''.'
                        type: string
                        title: servers
                        format: url
                        minLength: 3
                      password:
                        description: Redis password.
                        type: string
                        minLength: 0
                      defaultPutExpiration:
                        description: defaultPutExpiration timeout value.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      sentinelMasterGroupName:
                        description: Sentinel Master Group Name (required if SENTINEL type of connection is selected).
                        type: string
                        minLength: 1
                      useSSL:
                        description: Enable SSL communication between Gluu Server and Redis cache.
                        type: boolean
                      sslTrustStoreFilePath:
                        description: Directory Path to Trust Store.
                        type: string
                        format: url
                        minLength: 1
                      maxIdleConnections:
                        description: The cap on the number of \idle\ instances in the pool. If max idle is set too low on heavily loaded systems it is possible you will see objects being destroyed and almost immediately new objects being created. This is a result of the active threads momentarily returning objects faster than they are requesting them causing the number of idle objects to rise above max idle. The best value for max idle for heavily loaded system will vary but the default is a good starting point.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      maxTotalConnections:
                        description: The number of maximum connection instances in the pool.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      connectionTimeout:
                        description: Connection time out.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      soTimeout:
                        description: With this option set to a non-zero timeout a read() call on the InputStream associated with this Socket will block for only this amount of time. If the timeout expires a java.net.SocketTimeoutException is raised though the Socket is still valid. The option must be enabled prior to entering the blocking operation to have effect. The timeout must be > 0. A timeout of zero is interpreted as an infinite timeout.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      maxRetryAttempts:
                        description: Maximum retry attempts in case of failure.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                  inMemoryConfiguration:
                    type: object
                    description: Cache configuration.
                    properties:
                      defaultPutExpiration:
                        description: defaultPutExpiration timeout value.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                  nativePersistenceConfiguration:
                    type: object
                    description: Cache configuration.
                    properties:
                      defaultPutExpiration:
                        description: defaultPutExpiration timeout value.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        default: 60
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      defaultCleanupBatchSize:
                        description: defaultCleanupBatchSize page size.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 25
                        default: 25
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      deleteExpiredOnGetRequest:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.readonly]
    patch:
      summary: Partially modifies cache configuration.
      description: Partially modifies cache configuration.
      operationId: patch-config-cache
      tags:
        - Cache Configuration
      requestBody:
        content:
          application/json:
            schema:
              type: string 
              $ref: '#/components/schemas/PatchRequest'
              description: String representing patch-document.
              example: '[ {op:replace, path: memcachedConfiguration, value: response.memcachedConfiguration } ]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache Configuration.
                properties:
                  cacheProviderType:
                    description: The cacheProvider Type.
                    type: string
                    enum:
                      - IN_MEMORY
                      - MEMCACHED
                      - REDIS
                      - NATIVE_PERSISTENCE
                  memcachedConfiguration:
                    description: Memcached cache configuration.
                    type: object
                    required:
                      - servers
                      - maxOperationQueueLength
                      - bufferSize
                      - defaultPutExpiration
                      - memcachedConnectionFactoryType
                    properties:
                      servers:
                        type: string
                        description: Server details separated by spaces.
                        format: url
                        minLength: 1
                      maxOperationQueueLength:
                        type: integer
                        description: Maximum operation Queue Length.
                        default: 99999999
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      bufferSize:
                        type: integer
                        description: Buffer Size.
                        default: 32768
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      defaultPutExpiration:
                        type: integer
                        description: Expiration timeout value.
                        default: 60
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      memcachedConnectionFactoryType:
                        type: string
                        description: The MemcachedConnectionFactoryType Type.
                        enum:
                          - DEFAULT
                          - BINARY
                  redisConfiguration:
                    type: object
                    description: Cache Configuration
                    properties:
                      redisProviderType:
                        description: Type of connection.
                        type: string
                        enum:
                          - STANDALONE
                          - CLUSTER
                          - SHARDED
                          - SENTINEL
                      servers:
                        description: 'server details separated by comma e.g. ''server1:8080server2:8081''.'
                        type: string
                        title: servers
                        format: url
                        minLength: 3
                      password:
                        description: Redis password.
                        type: string
                        minLength: 0
                      defaultPutExpiration:
                        description: defaultPutExpiration timeout value.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      sentinelMasterGroupName:
                        description: Sentinel Master Group Name (required if SENTINEL type of connection is selected).
                        type: string
                        minLength: 1
                      useSSL:
                        description: Enable SSL communication between Gluu Server and Redis cache.
                        type: boolean
                      sslTrustStoreFilePath:
                        description: Directory Path to Trust Store.
                        type: string
                        format: url
                        minLength: 1
                      maxIdleConnections:
                        description: The cap on the number of \idle\ instances in the pool. If max idle is set too low on heavily loaded systems it is possible you will see objects being destroyed and almost immediately new objects being created. This is a result of the active threads momentarily returning objects faster than they are requesting them causing the number of idle objects to rise above max idle. The best value for max idle for heavily loaded system will vary but the default is a good starting point.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      maxTotalConnections:
                        description: The number of maximum connection instances in the pool.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      connectionTimeout:
                        description: Connection time out.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      soTimeout:
                        description: With this option set to a non-zero timeout a read() call on the InputStream associated with this Socket will block for only this amount of time. If the timeout expires a java.net.SocketTimeoutException is raised though the Socket is still valid. The option must be enabled prior to entering the blocking operation to have effect. The timeout must be > 0. A timeout of zero is interpreted as an infinite timeout.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      maxRetryAttempts:
                        description: Maximum retry attempts in case of failure.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                  inMemoryConfiguration:
                    type: object
                    description: Cache configuration.
                    properties:
                      defaultPutExpiration:
                        description: defaultPutExpiration timeout value.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                  nativePersistenceConfiguration:
                    type: object
                    description: Cache configuration.
                    properties:
                      defaultPutExpiration:
                        description: defaultPutExpiration timeout value.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 1
                        default: 60
                        exclusiveMaximum: false
                        exclusiveMinimum: false
                      defaultCleanupBatchSize:
                        description: defaultCleanupBatchSize page size.
                        type: integer
                        multipleOf: 1
                        maximum: 2147483647
                        minimum: 25
                        default: 25
                        exclusiveMaximum: false
                        exclusiveMinimum: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.write]
  /jans-config-api/api/v1/config/cache/memcached:
    get:
      summary: Returns Memcached cache configuration.
      description: Returns Memcached cache configuration.
      operationId: get-config-cache-memcached
      tags:
        - Cache Configuration – Memcached
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Memcached cache configuration.
                required:
                  - servers
                  - maxOperationQueueLength
                  - bufferSize
                  - defaultPutExpiration
                  - memcachedConnectionFactoryType
                properties:
                  servers:
                    type: string
                    description: Server details separated by spaces.
                    format: url
                    minLength: 1
                  maxOperationQueueLength:
                    type: integer
                    description: Maximum operation Queue Length.
                    default: 99999999
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  bufferSize:
                    type: integer
                    description: Buffer Size.
                    default: 32768
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  defaultPutExpiration:
                    type: integer
                    description: Expiration timeout value.
                    default: 60
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  memcachedConnectionFactoryType:
                    type: string
                    description: The MemcachedConnectionFactoryType Type.
                    enum:
                      - DEFAULT
                      - BINARY
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates Memcached cache configuration.
      description: Updates Memcached cache configuration.
      operationId: put-config-cache-memcached
      tags:
        - Cache Configuration – Memcached
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Memcached cache configuration.
              required:
                - servers
                - maxOperationQueueLength
                - bufferSize
                - defaultPutExpiration
                - memcachedConnectionFactoryType
              properties:
                servers:
                  type: string
                  description: Server details separated by spaces.
                  format: url
                  minLength: 1
                maxOperationQueueLength:
                  type: integer
                  description: Maximum operation Queue Length.
                  default: 99999999
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                bufferSize:
                  type: integer
                  description: Buffer Size.
                  default: 32768
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                defaultPutExpiration:
                  type: integer
                  description: Expiration timeout value.
                  default: 60
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                memcachedConnectionFactoryType:
                  type: string
                  description: The MemcachedConnectionFactoryType Type.
                  enum:
                  - DEFAULT
                  - BINARY
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Memcached cache configuration.
                required:
                  - servers
                  - maxOperationQueueLength
                  - bufferSize
                  - defaultPutExpiration
                  - memcachedConnectionFactoryType
                properties:
                  servers:
                    type: string
                    description: Server details separated by spaces.
                    format: url
                    minLength: 1
                  maxOperationQueueLength:
                    type: integer
                    description: Maximum operation Queue Length.
                    default: 99999999
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  bufferSize:
                    type: integer
                    description: Buffer Size.
                    default: 32768
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  defaultPutExpiration:
                    type: integer
                    description: Expiration timeout value.
                    default: 60
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  memcachedConnectionFactoryType:
                    type: string
                    description: The MemcachedConnectionFactoryType Type.
                    enum:
                    - DEFAULT
                    - BINARY
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.write]
    parameters: []
  /jans-config-api/api/v1/config/cache/redis:
    get:
      summary: Returns Redis cache configuration.
      description: Returns Redis cache configuration.
      operationId: get-config-cache-redis
      tags:
        - Cache Configuration – Redis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache Configuration
                properties:
                  redisProviderType:
                    description: Type of connection.
                    type: string
                    enum:
                      - STANDALONE
                      - CLUSTER
                      - SHARDED
                      - SENTINEL
                  servers:
                    description: 'server details separated by comma e.g. ''server1:8080server2:8081''.'
                    type: string
                    title: servers
                    format: url
                    minLength: 3
                  password:
                    description: Redis password.
                    type: string
                    minLength: 0
                  defaultPutExpiration:
                    description: defaultPutExpiration timeout value.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  sentinelMasterGroupName:
                    description: Sentinel Master Group Name (required if SENTINEL type of connection is selected).
                    type: string
                    minLength: 1
                  useSSL:
                    description: Enable SSL communication between Gluu Server and Redis cache.
                    type: boolean
                  sslTrustStoreFilePath:
                    description: Directory Path to Trust Store.
                    type: string
                    format: url
                    minLength: 1
                  maxIdleConnections:
                    description: The cap on the number of \idle\ instances in the pool. If max idle is set too low on heavily loaded systems it is possible you will see objects being destroyed and almost immediately new objects being created. This is a result of the active threads momentarily returning objects faster than they are requesting them causing the number of idle objects to rise above max idle. The best value for max idle for heavily loaded system will vary but the default is a good starting point.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  maxTotalConnections:
                    description: The number of maximum connection instances in the pool.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  connectionTimeout:
                    description: Connection time out.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  soTimeout:
                    description: With this option set to a non-zero timeout a read() call on the InputStream associated with this Socket will block for only this amount of time. If the timeout expires a java.net.SocketTimeoutException is raised though the Socket is still valid. The option must be enabled prior to entering the blocking operation to have effect. The timeout must be > 0. A timeout of zero is interpreted as an infinite timeout.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  maxRetryAttempts:
                    description: Maximum retry attempts in case of failure.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates Redis cache configuration.
      description: Updates Redis cache configuration.
      operationId: put-config-cache-redis
      tags:
        - Cache Configuration – Redis
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Cache Configuration
              properties:
                redisProviderType:
                  description: Type of connection.
                  type: string
                  enum:
                    - STANDALONE
                    - CLUSTER
                    - SHARDED
                    - SENTINEL
                servers:
                  description: 'server details separated by comma e.g. ''server1:8080server2:8081''.'
                  type: string
                  title: servers
                  format: url
                  minLength: 3
                password:
                  description: Redis password.
                  type: string
                  minLength: 0
                defaultPutExpiration:
                  description: defaultPutExpiration timeout value.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                sentinelMasterGroupName:
                  description: Sentinel Master Group Name (required if SENTINEL type of connection is selected).
                  type: string
                  minLength: 1
                useSSL:
                  description: Enable SSL communication between Gluu Server and Redis cache.
                  type: boolean
                sslTrustStoreFilePath:
                  description: Directory Path to Trust Store.
                  type: string
                  format: url
                  minLength: 1
                maxIdleConnections:
                  description: The cap on the number of \idle\ instances in the pool. If max idle is set too low on heavily loaded systems it is possible you will see objects being destroyed and almost immediately new objects being created. This is a result of the active threads momentarily returning objects faster than they are requesting them causing the number of idle objects to rise above max idle. The best value for max idle for heavily loaded system will vary but the default is a good starting point.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                maxTotalConnections:
                  description: The number of maximum connection instances in the pool.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                connectionTimeout:
                  description: Connection time out.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                soTimeout:
                  description: With this option set to a non-zero timeout a read() call on the InputStream associated with this Socket will block for only this amount of time. If the timeout expires a java.net.SocketTimeoutException is raised though the Socket is still valid. The option must be enabled prior to entering the blocking operation to have effect. The timeout must be > 0. A timeout of zero is interpreted as an infinite timeout.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                maxRetryAttempts:
                  description: Maximum retry attempts in case of failure.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache Configuration
                properties:
                  redisProviderType:
                    description: Type of connection.
                    type: string
                    enum:
                      - STANDALONE
                      - CLUSTER
                      - SHARDED
                      - SENTINEL
                  servers:
                    description: 'server details separated by comma e.g. ''server1:8080server2:8081''.'
                    type: string
                    title: servers
                    format: url
                    minLength: 3
                  password:
                    description: Redis password.
                    type: string
                    minLength: 0
                  defaultPutExpiration:
                    description: defaultPutExpiration timeout value.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  sentinelMasterGroupName:
                    description: Sentinel Master Group Name (required if SENTINEL type of connection is selected).
                    type: string
                    minLength: 1
                  useSSL:
                    description: Enable SSL communication between Gluu Server and Redis cache.
                    type: boolean
                  sslTrustStoreFilePath:
                    description: Directory Path to Trust Store.
                    type: string
                    format: url
                    minLength: 1
                  maxIdleConnections:
                    description: The cap on the number of \idle\ instances in the pool. If max idle is set too low on heavily loaded systems it is possible you will see objects being destroyed and almost immediately new objects being created. This is a result of the active threads momentarily returning objects faster than they are requesting them causing the number of idle objects to rise above max idle. The best value for max idle for heavily loaded system will vary but the default is a good starting point.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  maxTotalConnections:
                    description: The number of maximum connection instances in the pool.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  connectionTimeout:
                    description: Connection time out.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  soTimeout:
                    description: With this option set to a non-zero timeout a read() call on the InputStream associated with this Socket will block for only this amount of time. If the timeout expires a java.net.SocketTimeoutException is raised though the Socket is still valid. The option must be enabled prior to entering the blocking operation to have effect. The timeout must be > 0. A timeout of zero is interpreted as an infinite timeout.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  maxRetryAttempts:
                    description: Maximum retry attempts in case of failure.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.write]
    parameters: []
  /jans-config-api/api/v1/config/cache/in-memory:
    get:
      summary: Returns in-Memory cache configuration.
      description: Returns in-Memory cache configuration.
      operationId: get-config-cache-in-memory
      tags:
        - Cache Configuration – in-Memory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache configuration.
                properties:
                  defaultPutExpiration:
                    description: defaultPutExpiration timeout value.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates in-Memory cache configuration.
      description: Updates in-Memory cache configuration.
      operationId: put-config-cache-in-memory
      tags:
        - Cache Configuration – in-Memory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Cache configuration.
              properties:
                defaultPutExpiration:
                  description: defaultPutExpiration timeout value.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  exclusiveMaximum: false
                  exclusiveMinimum: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache configuration.
                properties:
                  defaultPutExpiration:
                    description: defaultPutExpiration timeout value.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    exclusiveMaximum: false
                    exclusiveMinimum: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.write]
    parameters: []
  /jans-config-api/api/v1/config/cache/native-persistence:
    get:
      summary: Returns native persistence cache configuration.
      description: Returns native persistence cache configuration.
      operationId: get-config-cache-native-persistence
      tags:
        - Cache Configuration – Native-Persistence
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache configuration.
                properties:
                  defaultPutExpiration:
                    description: defaultPutExpiration timeout value.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    default: 60
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  defaultCleanupBatchSize:
                    description: defaultCleanupBatchSize page size.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 25
                    default: 25
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  deleteExpiredOnGetRequest:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.readonly]
    put:
      summary: Updates native persistence cache configuration.
      description: Updates native persistence cache configuration.
      operationId: put-config-cache-native-persistence
      tags:
        - Cache Configuration – Native-Persistence
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Cache configuration.
              properties:
                defaultPutExpiration:
                  description: defaultPutExpiration timeout value.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 1
                  default: 60
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                defaultCleanupBatchSize:
                  description: defaultCleanupBatchSize page size.
                  type: integer
                  multipleOf: 1
                  maximum: 2147483647
                  minimum: 25
                  default: 25
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                deleteExpiredOnGetRequest:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Cache configuration.
                properties:
                  defaultPutExpiration:
                    description: defaultPutExpiration timeout value.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 1
                    default: 60
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  defaultCleanupBatchSize:
                    description: defaultCleanupBatchSize page size.
                    type: integer
                    multipleOf: 1
                    maximum: 2147483647
                    minimum: 25
                    default: 25
                    exclusiveMaximum: false
                    exclusiveMinimum: false
                  deleteExpiredOnGetRequest:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/cache.write]
    parameters: []
  /jans-config-api/api/v1/config/smtp:
    get:
      summary: Returns SMTP server configuration.
      description: Returns SMTP server configuration.
      operationId: get-config-smtp
      tags:
        - Configuration – SMTP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: SMTP configuration.
                properties:
                  host:
                    description: Hostname of the SMTP server.
                    type: string
                    format: url
                  port:
                    description: Port number of the SMTP server.
                    type: integer
                    multipleOf: 1
                  requires-ssl:
                    description: 'Boolean value with default value false. If true, SSL will be enabled.'
                    type: boolean
                  trust-host:
                    type: boolean
                    description: Boolean value with default value false.
                  from-name:
                    description: Name of the sender.
                    type: string
                  from-email-address:
                    description: Email Address of the Sender.
                    type: string
                  requires-authentication:
                    description: Boolean value with default value false. It true it will enable sender authentication.
                    type: boolean
                  user-name:
                    description: Username of the SMTP.
                    type: string
                  password:
                    description: Password for the SMTP.
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/smtp.readonly]
    post:
      summary: Adds SMTP server configuration.
      description: Adds SMTP server configuration.
      operationId: post-config-smtp
      tags:
        - Configuration – SMTP
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: SMTP configuration.
              properties:
                host:
                  description: Hostname of the SMTP server.
                  type: string
                  format: url
                port:
                  description: Port number of the SMTP server.
                  type: integer
                  multipleOf: 1
                requires-ssl:
                  description: 'Boolean value with default value false. If true, SSL will be enabled.'
                  type: boolean
                trust-host:
                  type: boolean
                  description: Boolean value with default value false.
                from-name:
                  description: Name of the sender.
                  type: string
                from-email-address:
                  description: Email Address of the Sender.
                  type: string
                requires-authentication:
                  description: Boolean value with default value false. It true it will enable sender authentication.
                  type: boolean
                user-name:
                  description: Username of the SMTP.
                  type: string
                password:
                  description: Password for the SMTP.
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                description: SMTP configuration.
                properties:
                  host:
                    description: Hostname of the SMTP server.
                    type: string
                    format: url
                  port:
                    description: Port number of the SMTP server.
                    type: integer
                    multipleOf: 1
                  requires-ssl:
                    description: 'Boolean value with default value false. If true, SSL will be enabled.'
                    type: boolean
                  trust-host:
                    type: boolean
                    description: Boolean value with default value false.
                  from-name:
                    description: Name of the sender.
                    type: string
                  from-email-address:
                    description: Email Address of the Sender.
                    type: string
                  requires-authentication:
                    description: Boolean value with default value false. It true it will enable sender authentication.
                    type: boolean
                  user-name:
                    description: Username of the SMTP.
                    type: string
                  password:
                    description: Password for the SMTP.
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/smtp.write]
    put:
      summary: Updates SMTP server configuration.
      description: Updates SMTP server configuration.
      operationId: put-config-smtp
      tags:
        - Configuration – SMTP
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: SMTP configuration.
              properties:
                host:
                  description: Hostname of the SMTP server.
                  type: string
                  format: url
                port:
                  description: Port number of the SMTP server.
                  type: integer
                  multipleOf: 1
                requires-ssl:
                  description: 'Boolean value with default value false. If true, SSL will be enabled.'
                  type: boolean
                trust-host:
                  type: boolean
                  description: Boolean value with default value false.
                from-name:
                  description: Name of the sender.
                  type: string
                from-email-address:
                  description: Email Address of the Sender.
                  type: string
                requires-authentication:
                  description: Boolean value with default value false. It true it will enable sender authentication.
                  type: boolean
                user-name:
                  description: Username of the SMTP.
                  type: string
                password:
                  description: Password for the SMTP.
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: SMTP configuration.
                properties:
                  host:
                    description: Hostname of the SMTP server.
                    type: string
                    format: url
                  port:
                    description: Port number of the SMTP server.
                    type: integer
                    multipleOf: 1
                  requires-ssl:
                    description: 'Boolean value with default value false. If true, SSL will be enabled.'
                    type: boolean
                  trust-host:
                    type: boolean
                    description: Boolean value with default value false.
                  from-name:
                    description: Name of the sender.
                    type: string
                  from-email-address:
                    description: Email Address of the Sender.
                    type: string
                  requires-authentication:
                    description: Boolean value with default value false. It true it will enable sender authentication.
                    type: boolean
                  user-name:
                    description: Username of the SMTP.
                    type: string
                  password:
                    description: Password for the SMTP.
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/smtp.write]
    delete:
      summary: Deletes SMTP server configuration.
      description: Deletes SMTP server configuration.
      operationId: delete-config-smtp
      tags:
        - Configuration – SMTP
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/smtp.write]
    parameters: []
  /jans-config-api/api/v1/config/smtp/test:
    get:
      summary: Test SMTP server configuration.
      description: Test SMTP server configuration.
      operationId: test-config-smtp
      tags:
        - Configuration – SMTP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: SMTP configuration test status.
                properties:
                  service:
                    description: Service name.
                    type: string
                    example: SMTP SERVER CONFIGURATION TEST
                  status:
                    description: Status of SMTP server connection test.
                    type: string
                    enum: 
                    - OKAY
                    - FAILED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/smtp.readonly]
  /jans-config-api/api/v1/logging:
    get:
      tags:
        - Configuration – Logging
      summary: Returns Jans Authorization Server logging settings.
      description: Returns Jans Authorization Server logging settings.
      operationId: get-config-logging
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  type: object
                  description: Log configuration.
                  properties:
                    loggingLevel:
                      type: string
                      description: Logging level for Jans Authorization Server logger.
                      enum:
                        - TRACE
                        - DEBUG
                        - INFO
                        - WARN
                        - ERROR
                        - FATAL
                        - 'OFF'
                    loggingLayout:
                      type: string
                      description: Logging layout used for Jans Authorization Server loggers.
                      enum:
                        - text
                        - json
                    httpLoggingEnabled:
                      description: To enable http request/response logging.
                      type: boolean
                    disableJdkLogger:
                      description: To enable/disable Jdk logging.
                      type: boolean
                    enabledOAuthAuditLogging:
                      description: To enable/disable OAuth audit logging.
                      type: boolean
                    externalLoggerConfiguration:
                      description: Path to external log4j2 configuration file.
                      type: string
                    httpLoggingExludePaths:
                      description: List of paths to exclude from logger.
                      type: array
                      items:
                        type: string
                      example:
                        - /auth/img
                        - /auth/stylesheet                 
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/logging.readonly]
    put:
      tags:
        - Configuration – Logging
      summary: Updates Jans Authorization Server logging settings.
      description: Updates Jans Authorization Server logging settings.
      operationId: put-config-logging
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: object
                description: Log configuration.
                properties:
                  loggingLevel:
                    type: string
                    description: Logging level for Jans Authorization Server logger.
                    enum:
                      - TRACE
                      - DEBUG
                      - INFO
                      - WARN
                      - ERROR
                      - FATAL
                      - 'OFF'
                  loggingLayout:
                    type: string
                    description: Logging layout used for Jans Authorization Server loggers.
                    enum:
                      - text
                      - json
                  httpLoggingEnabled:
                    description: To enable http request/response logging.
                    type: boolean
                  disableJdkLogger:
                    description: To enable/disable Jdk logging.
                    type: boolean
                  enabledOAuthAuditLogging:
                    description: To enable/disable OAuth audit logging.
                    type: boolean
                  externalLoggerConfiguration:
                    description: Path to external log4j2 configuration file.
                    type: string
                  httpLoggingExludePaths:
                    description: List of paths to exclude from logger.
                    type: array
                    items:
                      type: string
                    example:
                      - /auth/img
                      - /auth/stylesheet
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/logging.write]
    parameters: []
  /jans-config-api/api/v1/config/jwks:
    get:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Gets list of JSON Web Key (JWK) used by server.
      description: 'Gets list of JSON Web Key (JWK) used by server. JWK is a JSON data structure that represents a set of public keys as a JSON object [RFC4627].'
      operationId: get-config-jwks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: WebKeysConfiguration
                required:
                  - keys
                type: object
                description: 'JSON Web Key Set (JWKS) - A JSON object that represents a set of JWKs. The JSON object MUST have a keys member, which is an array of JWKs.'
                properties:
                  keys:
                    type: array
                    description: 'List of JSON Web Key (JWK) - A JSON object that represents a cryptographic key. The members of the object represent properties of the key, including its value.'
                    items:
                      $ref: '#/components/schemas/JsonWebKey'
                  jwksAlgorithmsSupported:
                    type: array
                    description: A list of algorithms that will be used in JWKS endpoint.
                    minItems: 1
                    uniqueItems: true
                    items:
                      type: string
                    enum:
                      - RS256
                      - RS384
                      - RS512
                      - ES256
                      - ES384
                      - ES512
                      - PS256
                      - PS384
                      - PS512
                      - RSA1_5
                      - RSA-OAEP
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/jwks.readonly]
    put:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Puts/replaces JWKS
      description: Puts/replaces JSON Web Keys (JWKS).
      operationId: put-config-jwks
      requestBody:
        content:
          application/json:
            schema:
              title: WebKeysConfiguration
              required:
                - keys
              type: object
              description: 'JSON Web Key Set (JWKS) - A JSON object that represents a set of JWKs. The JSON object MUST have a keys member, which is an array of JWKs.'
              properties:
                keys:
                  type: array
                  description: 'List of JSON Web Key (JWK) - A JSON object that represents a cryptographic key. The members of the object represent properties of the key, including its value.'
                  items:
                    $ref: '#/components/schemas/JsonWebKey'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/jwks.write]
    patch:
      tags:
        - Configuration – JWK - JSON Web Key (JWK)
      summary: Patch JWKS
      description: Patch JSON Web Keys (JWKS).
      operationId: patch-config-jwks
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: string
              $ref: '#/components/schemas/PatchRequest'
              description: String representing patch-document.
              example: '[{"op": "add","path": "/keys/1", "value": { "kty": "RSA", "e": "AQAB","use": "sig","crv": "","kid": "dd570bfb-276a-44aa-a97d-667b57587108_sig_rs256","x5c": ["MIIDBDCC..."],"exp": 1599751946863,"alg": "RS256","n": "zj1NE.."}}]'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jans-auth: [https://jans.io/oauth/config/jwks.write]
  /jans-config-api/api/v1/openid/clients:
    get:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Gets list of OpenID Connect clients
      description: Gets list of OpenID Connect clients
      operationId: get-oauth-openid-clients
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: OpenID Clients.
                description: List of OpenID clients.
                type: array
                items:
                  $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal Server Error
      security:
        - jans-auth: [https://jans.io/oauth/config/openid/clients.readonly]
      parameters:
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Search size - max size of the results to return.
        - schema:
            type: string
          in: query
          name: pattern
          description: Search pattern.
    post:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Create new OpenId connect client
      description: Create new OpenId connect client
      operationId: post-oauth-openid-clients
      requestBody:
        content:
[...]
