# raw swagger spec link:
# https://raw.githubusercontent.com/GluuFederation/oxauth-config/master/docs/oxauth-config-swagger.yaml
# https://gluu.org/swagger-ui/?url=https://raw.githubusercontent.com/GluuFederation/oxauth-config/master/docs/oxauth-config-swagger.yaml
openapi: 3.0.1
info:
  title: oxauth-config
  description: oxauth-config - Authorization services
  contact:
    email: xxx@gluu.org
  license:
    name: License
    url: https://github.com/GluuFederation/oxauth-config/blob/master/LICENSE
  version: "1.0"
servers:

- url: https://gluu.org/
tags:
- name: developers
  description: oxauth-config enables access to the features available via the existing oxAuth API.
   
paths:
  /attributes:
    get:
      tags:
      - Attribute
      summary: Gets all  Gluu attributes filtered, active as well as inactive.
      description: Gets all  Gluu attributes filtered, active as well as inactive.
      operationId: attributes
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttributes
                description: List of all attribute.
                type: array
                items: 
                  type: object
                  title: GluuAttribute
                  description: Newly added attribute.
                  required:
                  - inum
                  - name
                  - displayName
                  - dataType
                  - status
                  properties:
                    inum:
                      type: string
                      description: Unique id identifying the attribute
                    name:
                      type : string
                      description: Name of the attribute.
                      example: name, displayName,birthdate, email
                    displayName:
                      type : string
                      items:
                        type: string                  
                    description:
                      type: string 
                      description: User friendly descriptive detail of attribute.
                    dataType:
                      type: string
                      description: Data Type of attribute.
                      enum:
                      - STRING 
                      - NUMERIC
                      - BOOLEAN
                      - BINARY
                      - DATE 
                    status:
                      type: string
                      description: Distingusihed Name
                    oxMultiValuedAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is multi-value
                    lifetime:
                      type: string
                    sourceAttribute:
                      type: string
                    salt:
                      type: string
                    nameIdType:
                      type: string
                    origin:
                      type: string
                    editType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    viewType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    usageType:
                      type: object
                      description: GluuAttributeUsageType
                      items:
                        type: string
                    oxAuthClaimName:
                      type: string
                    seeAlso:
                      type: string
                    saml1Uri:
                      type: string
                    saml2Uri:
                      type: string
                    urn:
                      type: string
                    oxSCIMCustomAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is a SCIM custom attribute
                    custom:
                      type: boolean
                      description: Boolean value indicating if the attribute is a custom attribute
                    requred:
                      type: boolean
                      description: Boolean value indicating is a mandatory attribute
                    attributeValidation:
                      type: object
                      description: Details of validations to be applied on the attribute
                      properties:
                        regexp:
                          type: string
                          description: Reguar expression to be used to validate the dataType.
                        minLength:
                          type: integer
                        maxLength:
                          type: integer
                    gluuTooltip:
                      type: string
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Attribute
      summary: Adds a new Gluu attribute.
      description: Adds a new Gluu attribute.
      operationId: post-attributes
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              title: GluuAttribute
              description: Newly added attribute.
              type: object
              required:
              - name
              - displayName
              - dataType
              - status
              properties:
                name:
                  type : string
                  description: Name of the attribute.
                  example: name, displayName,birthdate, email
                displayName:
                  type : string
                  items:
                    type: string                  
                description:
                  type: string 
                  description: User friendly descriptive detail of attribute.
                dataType:
                  type: string
                  description: Data Type of attribute.
                  enum:
                  - STRING 
                  - NUMERIC
                  - BOOLEAN
                  - BINARY
                  - DATE 
                status:
                  type: string
                  description: Distingusihed Name
                oxMultiValuedAttribute:
                  type: boolean
                  description: Boolean value indicating if the attribute is multi-value
                lifetime:
                  type: string
                sourceAttribute:
                  type: string
                salt:
                  type: string
                nameIdType:
                  type: string
                origin:
                  type: string
                editType:
                  type: array
                  description: GluuUserRole
                  items:
                    type: string
                viewType:
                  type: array
                  description: GluuUserRole
                  items:
                    type: string
                usageType:
                  type: object
                  description: GluuAttributeUsageType
                  items:
                    type: string
                oxAuthClaimName:
                  type: string
                seeAlso:
                  type: string
                saml1Uri:
                  type: string
                saml2Uri:
                  type: string
                urn:
                  type: string
                oxSCIMCustomAttribute:
                  type: boolean
                  description: Boolean value indicating if the attribute is a SCIM custom attribute
                custom:
                  type: boolean
                  description: Boolean value indicating if the attribute is a custom attribute
                requred:
                  type: boolean
                  description: Boolean value indicating is a mandatory attribute
                attributeValidation:
                  type: object
                  description: Details of validations to be applied on the attribute
                  properties:
                    regexp:
                      type: string
                      description: Reguar expression to be used to validate the dataType.
                    minLength:
                      type: integer
                    maxLength:
                      type: integer
                gluuTooltip:
                      type: string
      responses:
        200:        
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttribute
                description: Newly added attribute.
                type: object
                required:
                - inum
                - name
                - displayName
                - dataType
                - status
                properties:
                  inum:
                    type: string
                    description: Unique id identifying the attribute
                  name:
                    type : string
                    description: Name of the attribute.
                    example: name, displayName,birthdate, email
                  displayName:
                    type : string
                    items:
                      type: string                  
                  description:
                    type: string 
                    description: User friendly descriptive detail of attribute.
                  dataType:
                    type: string
                    description: Data Type of attribute.
                    enum:
                    - STRING 
                    - NUMERIC
                    - BOOLEAN
                    - BINARY
                    - DATE 
                  status:
                    type: string
                    description: Distingusihed Name
                  oxMultiValuedAttribute:
                    type: boolean
                    description: Boolean value indicating if the attribute is multi-value
                  lifetime:
                    type: string
                  sourceAttribute:
                    type: string
                  salt:
                    type: string
                  nameIdType:
                    type: string
                  origin:
                    type: string
                  editType:
                    type: array
                    description: GluuUserRole
                    items:
                      type: string
                  viewType:
                    type: array
                    description: GluuUserRole
                    items:
                      type: string
                  usageType:
                    type: object
                    description: GluuAttributeUsageType
                    items:
                      type: string
                  oxAuthClaimName:
                    type: string
                  seeAlso:
                    type: string
                  saml1Uri:
                    type: string
                  saml2Uri:
                    type: string
                  urn:
                    type: string
                  oxSCIMCustomAttribute:
                    type: boolean
                    description: Boolean value indicating if the attribute is a SCIM custom attribute
                  custom:
                    type: boolean
                    description: Boolean value indicating if the attribute is a custom attribute
                  requred:
                    type: boolean
                    description: Boolean value indicating is a mandatory attribute
                  attributeValidation:
                    type: object
                    description: Details of validations to be applied on the attribute
                    properties:
                      regexp:
                        type: string
                        description: Reguar expression to be used to validate the dataType.
                      minLength:
                        type: integer
                      maxLength:
                        type: integer
                  gluuTooltip:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Attribute
      summary: Updates an existing attribute.
      description: Updates an existing attribute.
      operationId: put-attributes
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              title: GluuAttribute
              description: Attribute details
              type: object
              required:
              - inum
              - name
              - displayName
              - dataType
              - status
              properties:
                inum:
                  type: string
                  description: Unique id identifying the attribute
                name:
                  type : string
                  description: Name of the attribute.
                  example: name, displayName,birthdate, email
                displayName:
                  type : string
                  items:
                    type: string                  
                description:
                  type: string 
                  description: User friendly descriptive detail of attribute.
                dataType:
                  type: string
                  description: Data Type of attribute.
                  enum:
                  - STRING 
                  - NUMERIC
                  - BOOLEAN
                  - BINARY
                  - DATE 
                status:
                  type: string
                  description: Distingusihed Name
                oxMultiValuedAttribute:
                  type: boolean
                  description: Boolean value indicating if the attribute is multi-value
                lifetime:
                  type: string
                sourceAttribute:
                  type: string
                salt:
                  type: string
                nameIdType:
                  type: string
                origin:
                  type: string
                editType:
                  type: array
                  description: GluuUserRole
                  items:
                    type: string
                viewType:
                  type: array
                  description: GluuUserRole
                  items:
                    type: string
                usageType:
                  type: object
                  description: GluuAttributeUsageType
                  items:
                    type: string
                oxAuthClaimName:
                  type: string
                seeAlso:
                  type: string
                saml1Uri:
                  type: string
                saml2Uri:
                  type: string
                urn:
                  type: string
                oxSCIMCustomAttribute:
                  type: boolean
                  description: Boolean value indicating if the attribute is a SCIM custom attribute
                custom:
                  type: boolean
                  description: Boolean value indicating if the attribute is a custom attribute
                requred:
                  type: boolean
                  description: Boolean value indicating is a mandatory attribute
                attributeValidation:
                  type: object
                  description: Details of validations to be applied on the attribute
                  properties:
                    regexp:
                      type: string
                      description: Reguar expression to be used to validate the dataType.
                    minLength:
                      type: integer
                    maxLength:
                      type: integer
                gluuTooltip:
                  type: string
      responses:
        200:        
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttribute
                description: Updated attribute object.
                type: object
                required:
                - inum
                - name
                - displayName
                - dataType
                - status
                properties:
                  inum:
                    type: string
                    description: Unique id identifying the attribute
                  name:
                    type : string
                    description: Name of the attribute.
                    example: name, displayName,birthdate, email
                  displayName:
                    type : string
                    items:
                      type: string                  
                  description:
                    type: string 
                    description: User friendly descriptive detail of attribute.
                  dataType:
                    type: string
                    description: Data Type of attribute.
                    enum:
                    - STRING 
                    - NUMERIC
                    - BOOLEAN
                    - BINARY
                    - DATE 
                  status:
                    type: string
                    description: Distingusihed Name
                  oxMultiValuedAttribute:
                    type: boolean
                    description: Boolean value indicating if the attribute is multi-value
                  lifetime:
                    type: string
                  sourceAttribute:
                    type: string
                  salt:
                    type: string
                  nameIdType:
                    type: string
                  origin:
                    type: string
                  editType:
                    type: array
                    description: GluuUserRole
                    items:
                      type: string
                  viewType:
                    type: array
                    description: GluuUserRole
                    items:
                      type: string
                  usageType:
                    type: object
                    description: GluuAttributeUsageType
                    items:
                      type: string
                  oxAuthClaimName:
                    type: string
                  seeAlso:
                    type: string
                  saml1Uri:
                    type: string
                  saml2Uri:
                    type: string
                  urn:
                    type: string
                  oxSCIMCustomAttribute:
                    type: boolean
                    description: Boolean value indicating if the attribute is a SCIM custom attribute
                  custom:
                    type: boolean
                    description: Boolean value indicating if the attribute is a custom attribute
                  requred:
                    type: boolean
                    description: Boolean value indicating is a mandatory attribute
                  attributeValidation:
                    type: object
                    description: Details of validations to be applied on the attribute
                    properties:
                      regexp:
                        type: string
                        description: Reguar expression to be used to validate the dataType.
                      minLength:
                        type: integer
                      maxLength:
                        type: integer
                  gluuTooltip:
                    type: string
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError' 
  /attributes/{inum}:
    delete:
      tags:
      - Attribute
      summary: Deletes an attribute identified inum. 
      description: Deletes an attribute identified inum.
      operationId: delete-attributes/{inum}
      parameters:
        - name: inum
          in: path
          required: true
          description: Attribute ID.
          schema:
            type : string
      responses:
        200:
          description: OK
          content: {}
        404:
          $ref: '#/components/responses/NotFound'        
        500:
          $ref: '#/components/responses/InternalServerError' 
  /attributes/active:
    get:
      tags:
      - Attribute
      summary: Get all active attributes.
      description: Gets all active attributes
      operationId: attributes-active
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttributes
                description: List of active attribute.
                type: array
                items: 
                  type: object
                  title: GluuAttribute
                  description: Newly added attribute.
                  required:
                  - inum
                  - name
                  - displayName
                  - dataType
                  - status
                  properties:
                    inum:
                      type: string
                      description: Unique id identifying the attribute
                    name:
                      type : string
                      description: Name of the attribute.
                      example: name, displayName,birthdate, email
                    displayName:
                      type : string
                      items:
                        type: string                  
                    description:
                      type: string 
                      description: User friendly descriptive detail of attribute.
                    dataType:
                      type: string
                      description: Data Type of attribute.
                      enum:
                      - STRING 
                      - NUMERIC
                      - BOOLEAN
                      - BINARY
                      - DATE 
                    status:
                      type: string
                      description: Distingusihed Name
                    oxMultiValuedAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is multi-value
                    lifetime:
                      type: string
                    sourceAttribute:
                      type: string
                    salt:
                      type: string
                    nameIdType:
                      type: string
                    origin:
                      type: string
                    editType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    viewType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    usageType:
                      type: object
                      description: GluuAttributeUsageType
                      items:
                        type: string
                    oxAuthClaimName:
                      type: string
                    seeAlso:
                      type: string
                    saml1Uri:
                      type: string
                    saml2Uri:
                      type: string
                    urn:
                      type: string
                    oxSCIMCustomAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is a SCIM custom attribute
                    custom:
                      type: boolean
                      description: Boolean value indicating if the attribute is a custom attribute
                    requred:
                      type: boolean
                      description: Boolean value indicating is a mandatory attribute
                    attributeValidation:
                      type: object
                      description: Details of validations to be applied on the attribute
                      properties:
                        regexp:
                          type: string
                          description: Reguar expression to be used to validate the dataType.
                        minLength:
                          type: integer
                        maxLength:
                          type: integer
                    gluuTooltip:
                      type: string
        500:
          $ref: '#/components/responses/InternalServerError' 
  /attributes/inactive:
    get:
      tags:
      - Attribute
      summary: Get all inactive attributes.
      description: Gets all inactive attributes
      operationId: attributes-inactive
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttributes
                description: List of inactive attributes.
                type: array
                items: 
                  type: object
                  title: GluuAttribute
                  description: Newly added attribute.
                  required:
                  - inum
                  - name
                  - displayName
                  - dataType
                  - status
                  properties:
                    inum:
                      type: string
                      description: Unique id identifying the attribute
                    name:
                      type : string
                      description: Name of the attribute.
                      example: name, displayName,birthdate, email
                    displayName:
                      type : string
                      items:
                        type: string                  
                    description:
                      type: string 
                      description: User friendly descriptive detail of attribute.
                    dataType:
                      type: string
                      description: Data Type of attribute.
                      enum:
                      - STRING 
                      - NUMERIC
                      - BOOLEAN
                      - BINARY
                      - DATE 
                    status:
                      type: string
                      description: Distingusihed Name
                    oxMultiValuedAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is multi-value
                    lifetime:
                      type: string
                    sourceAttribute:
                      type: string
                    salt:
                      type: string
                    nameIdType:
                      type: string
                    origin:
                      type: string
                    editType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    viewType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    usageType:
                      type: object
                      description: GluuAttributeUsageType
                      items:
                        type: string
                    oxAuthClaimName:
                      type: string
                    seeAlso:
                      type: string
                    saml1Uri:
                      type: string
                    saml2Uri:
                      type: string
                    urn:
                      type: string
                    oxSCIMCustomAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is a SCIM custom attribute
                    custom:
                      type: boolean
                      description: Boolean value indicating if the attribute is a custom attribute
                    requred:
                      type: boolean
                      description: Boolean value indicating is a mandatory attribute
                    attributeValidation:
                      type: object
                      description: Details of validations to be applied on the attribute
                      properties:
                        regexp:
                          type: string
                          description: Reguar expression to be used to validate the dataType.
                        minLength:
                          type: integer
                        maxLength:
                          type: integer
                    gluuTooltip:
                      type: string                 
        500:
          $ref: '#/components/responses/InternalServerError' 
  /attributes/attribute/{inum}:
    get:
      tags:
      - Attribute
      summary: Gets attribute by inum 
      description: Gets attribute by inum 
      operationId: attributes/attribute/{inum}
      parameters:
        - name: inum
          in: path
          required: true
          description: Attribute ID.
          schema:
            type : string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttribute
                description: Gluu Server attribute coreesponding to the identifier{inum}
                type: object
                required:
                - inum
                - name
                - displayName
                - dataType
                - status
                properties:
                  inum:
                    type: string
                    description: Unique id identifying the attribute
                  name:
                    type : string
                    description: Name of the attribute.
                    example: name, displayName,birthdate, email
                  displayName:
                    type : string
                    items:
                      type: string                  
                  description:
                    type: string 
                    description: User friendly descriptive detail of attribute.
                  dataType:
                    type: string
                    description: Data Type of attribute.
                    enum:
                    - STRING 
                    - NUMERIC
                    - BOOLEAN
                    - BINARY
                    - DATE 
                  status:
                    type: string
                    description: Distingusihed Name
                  oxMultiValuedAttribute:
                    type: boolean
                    description: Boolean value indicating if the attribute is multi-value
                  lifetime:
                    type: string
                  sourceAttribute:
                    type: string
                  salt:
                    type: string
                  nameIdType:
                    type: string
                  origin:
                    type: string
                  editType:
                    type: array
                    description: GluuUserRole
                    items:
                      type: string
                  viewType:
                    type: array
                    description: GluuUserRole
                    items:
                      type: string
                  usageType:
                    type: object
                    description: GluuAttributeUsageType
                    items:
                      type: string
                  oxAuthClaimName:
                    type: string
                  seeAlso:
                    type: string
                  saml1Uri:
                    type: string
                  saml2Uri:
                    type: string
                  urn:
                    type: string
                  oxSCIMCustomAttribute:
                    type: boolean
                    description: Boolean value indicating if the attribute is a SCIM custom attribute
                  custom:
                    type: boolean
                    description: Boolean value indicating if the attribute is a custom attribute
                  requred:
                    type: boolean
                    description: Boolean value indicating is a mandatory attribute
                  attributeValidation:
                    type: object
                    description: Details of validations to be applied on the attribute
                    properties:
                      regexp:
                        type: string
                        description: Reguar expression to be used to validate the dataType.
                      minLength:
                        type: integer
                      maxLength:
                        type: integer
                  gluuTooltip:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError' 
  /attributes/search:
    get:
      tags:
      - Attribute
      summary: Search attributes by pattern , and specify the max size of the results to return.
      description: Search attributes by pattern , and specify the max size of the results to return.
      operationId: attributes-search
      parameters:
        - name: pattern
          in: query
          required: true
          description: Serach pattern.
          schema:
            type : string
        - name: size
          in: query
          required: true
          description: Serach size -  max size of the results to return.
          schema:
            type : integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: GluuAttributes
                description: List of attributes with either of \"displayName\", \"description\" and \"gluuAttribute\" matching the specified partner.
                type: array
                items: 
                  type: object
                  title: GluuAttribute
                  description: Attribute details
                  required:
                  - inum
                  - name
                  - displayName
                  - dataType
                  - status
                  properties:
                    inum:
                      type: string
                      description: Unique id identifying the attribute
                    name:
                      type : string
                      description: Name of the attribute.
                      example: name, displayName,birthdate, email
                    displayName:
                      type : string
                      items:
                        type: string                  
                    description:
                      type: string 
                      description: User friendly descriptive detail of attribute.
                    dataType:
                      type: string
                      description: Data Type of attribute.
                      enum:
                      - STRING 
                      - NUMERIC
                      - BOOLEAN
                      - BINARY
                      - DATE 
                    status:
                      type: string
                      description: Distingusihed Name
                    oxMultiValuedAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is multi-value
                    lifetime:
                      type: string
                    sourceAttribute:
                      type: string
                    salt:
                      type: string
                    nameIdType:
                      type: string
                    origin:
                      type: string
                    editType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    viewType:
                      type: array
                      description: GluuUserRole
                      items:
                        type: string
                    usageType:
                      type: object
                      description: GluuAttributeUsageType
                      items:
                        type: string
                    oxAuthClaimName:
                      type: string
                    seeAlso:
                      type: string
                    saml1Uri:
                      type: string
                    saml2Uri:
                      type: string
                    urn:
                      type: string
                    oxSCIMCustomAttribute:
                      type: boolean
                      description: Boolean value indicating if the attribute is a SCIM custom attribute
                    custom:
                      type: boolean
                      description: Boolean value indicating if the attribute is a custom attribute
                    requred:
                      type: boolean
                      description: Boolean value indicating is a mandatory attribute
                    attributeValidation:
                      type: object
                      description: Details of validations to be applied on the attribute
                      properties:
                        regexp:
                          type: string
                          description: Reguar expression to be used to validate the dataType.
                        minLength:
                          type: integer
                        maxLength:
                          type: integer
                    gluuTooltip:
                      type: string
        500:
          $ref: '#/components/responses/InternalServerError'
  /acrs:
    get:
      tags:
      - Authentication
      summary: Gets default authentication method.
      description: Gets default authentication method.
      operationId: get-acrs
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: AuthenticationMethod
                description: Default Authentication Method.
                type: object
                properties: 
                  defaultAcr:
                    type: string
                  oxtrustAcr:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Authentication
      summary: Updates default authentication method.
      description: Updates default authentication method.
      operationId: put-acrs
      requestBody:
        content:
          application/json:
            schema:
              title: AuthenticationMethod
              description: Authentication Method to be updated as default.
              type: object
              properties: 
                defaultAcr:
                  type: string
                oxtrustAcr:
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: AuthenticationMethod
                description: Updated Authentication Method.
                type: object
                properties: 
                  defaultAcr:
                    type: string
                  oxtrustAcr:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
  /configuration/ldap:
    get:
      tags:
      - LDAP configuration
      summary: Gets an existing LDAP configuration.
      description: Gets an existing LDAP configuration.
      operationId: get-configuration-ldap
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: LdapConfiguration
                description: List of configured LDAP configuration.
                type: array
                items:
                  type: object
                  required:
                  - configId
                  - bindDN
                  - bindPassword
                  - servers
                  - baseDNs
                  - primaryKey
                  - localPrimaryKey
                  properties: 
                     configId:
                       type: string
                       description: Unique identifier
                     bindDN:
                       type: string
                       description: User Distingusihed Name for binding. 
                     bindPassword:
                       type: string
                       description: User password for binding.
                     servers:
                       type: array
                       description: List of LDAP authentication servers.
                       items:
                         type: string
                         description: Unique name of the authentication server and port number.
                         example:  authserver.org:63
                     maxConnections:
                       type: integer
                       description: Total number of simultaneous connections allowed.
                     useSSL:
                       type: boolean
                     baseDNs:
                       type: array
                       description: list of LDAP base Distingusihed Name
                       items:
                         type: string
                     primaryKey:
                       type: string
                       description: Used to search and bind operations in configured LDAP server.
                       example: SAMAccountName,uid, email
                     localPrimaryKey:
                       type: string
                       description: Used to search local user entry in Gluu Server’s internal LDAP directory.
                       example: uid, email
                     useAnonymousBind:
                       type: boolean
                       description: Boolean value used to indicate if the LDAP Server will allow anonymous bind request.
                     enabled:
                       type: boolean
                     level:
                       type: integer                    
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - LDAP configuration
      summary: Adds a new LDAP configuration.
      description: Adds a new LDAP configuration.
      operationId: post-configuration-ldap
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: LDAP configuration to be added.
              required:
              - configId
              - bindDN
              - bindPassword
              - servers
              - baseDNs
              - primaryKey
              - localPrimaryKey
              properties: 
                configId:
                  type: string
                  description: Unique identifier
                bindDN:
                  type: string
                  description: User Distingusihed Name for binding.  
                bindPassword:
                  type: string
                  description: User password for binding.
                servers:
                  type: array
                  description: List of LDAP authentication servers.
                  items:
                    type: string
                    description: Unique name of the authentication server and port number.
                    example:  authserver.org:63
                maxConnections:
                  type: integer
                  description: Total number of simultaneous connections allowed.
                useSSL:
                  type: boolean
                baseDNs:
                  type: array
                  description: list of LDAP base Distingusihed Name
                  items:
                    type: string
                primaryKey:
                  type: string
                  description: Used to search and bind operations in configured LDAP server.
                  example: SAMAccountName,uid, email
                localPrimaryKey:
                  type: string
                  description: Used to search local user entry in Gluu Server’s internal LDAP directory.
                  example: uid, email
                useAnonymousBind:
                  type: boolean
                  description: Boolean value used to indicate if the LDAP Server will allow anonymous bind request.
                enabled:
                  type: boolean
                level:
                  type: integer      
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: LdapConfiguration
                description: Newly added LdapConfiguration.
                type: object
                required:
                - configId
                - bindDN
                - bindPassword
                - servers
                - baseDNs
                - primaryKey
                - localPrimaryKey
                properties: 
                  configId:
                    type: string
                    description: Unique identifier
                  bindDN:
                    type: string
                    description: User Distingusihed Name for binding. 
                  bindPassword:
                    type: string
                    description: User password for binding. 
                  servers:
                    type: array
                    description: List of LDAP authentication servers.
                    items:
                      type: string
                      description: Unique name of the authentication server and port number.
                      example:  authserver.org:63
                  maxConnections:
                    type: integer
                    description: Total number of simultaneous connections allowed.
                  useSSL:
                    type: boolean
                  baseDNs:
                    type: array
                    description: list of LDAP base Distingusihed Name
                    items:
                      type: string
                  primaryKey:
                    type: string
                    description: Used to search and bind operations in configured LDAP server.
                    example: SAMAccountName,uid, email
                  localPrimaryKey:
                    type: string
                    description: Used to search local user entry in Gluu Server’s internal LDAP directory.
                    example: uid, email
                  useAnonymousBind:
                    type: boolean
                    description: Boolean value used to indicate if the LDAP Server will allow anonymous bind request.
                  enabled:
                    type: boolean
                  level:
                    type: integer                    
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - LDAP configuration
      summary: Updates an existing LDAP configuration.
      description: Updates an existing LDAP configuration.
      operationId: put-configuration-ldap
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: Updated LDAP configuration.              
              required:
              - configId
              - bindDN
              - bindPassword
              - servers
              - baseDNs
              - primaryKey
              - localPrimaryKey
              properties: 
                configId:
                  type: string
                  description: Unique identifier
                bindDN:
                  type: string
                  description: User Distingusihed Name for binding.  
                bindPassword:
                  type: string
                  description: User password for binding.  
                servers:
                  type: array
                  description: List of LDAP authentication servers.
                  items:
                    type: string
                    description: Unique name of the authentication server and port number.
                    example:  authserver.org:63
                maxConnections:
                  type: integer
                  description: Total number of simultaneous connections allowed.
                useSSL:
                  type: boolean
                baseDNs:
                  type: array
                  description: list of LDAP base Distingusihed Name
                  items:
                    type: string
                primaryKey:
                  type: string
                  description: Used to search and bind operations in configured LDAP server.
                  example: SAMAccountName,uid, email
                localPrimaryKey:
                  type: string
                  description: Used to search local user entry in Gluu Server’s internal LDAP directory.
                  example: uid, email
                useAnonymousBind:
                  type: boolean
                  description: Boolean value used to indicate if the LDAP Server will allow anonymous bind request.
                enabled:
                  type: boolean
                level:
                  type: integer      
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: LdapConfiguration
                description: Updated LdapConfiguration.
                type: object
                required:
                - configId
                - bindDN
                - bindPassword
                - servers
                - baseDNs
                - primaryKey
                - localPrimaryKey
                properties: 
                  configId:
                    type: string
                    description: Unique identifier
                  bindDN:
                    type: string
                    description: User Distingusihed Name for binding.
                  bindPassword:
                    type: string
                    description: User password for binding.
                  servers:
                    type: array
                    description: List of LDAP authentication servers.
                    items:
                      type: string
                      description: Unique name of the authentication server and port number.
                      example:  authserver.org:63
                  maxConnections:
                    type: integer
                    description: Total number of simultaneous connections allowed.
                  useSSL:
                    type: boolean
                  baseDNs:
                    type: array
                    description: list of LDAP base Distingusihed Name
                    items:
                      type: string
                  primaryKey:
                    type: string
                    description: Used to search and bind operations in configured LDAP server.
                    example: SAMAccountName,uid, email
                  localPrimaryKey:
                    type: string
                    description: Used to search local user entry in Gluu Server’s internal LDAP directory.
                    example: uid, email
                  useAnonymousBind:
                    type: boolean
                    description: Boolean value used to indicate if the LDAP Server will allow anonymous bind request.
                  enabled:
                    type: boolean
                  level:
                    type: integer                    
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /configuration/ldap/{name}:
    delete:
      tags:
      - LDAP configuration
      summary: Deletes an existing LDAP configuration.
      description: Deletes existing LDAP configuration.
      operationId: delete-configuration-ldap/{name}
      parameters:
        - name: name
          in: path
          required: true
          description: Name of the LDAP configuration.
          schema:
            type : string   
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: LdapConfiguration
                description: List of configured LDAP configuration.
                type: array
                items:
                  type: object
                  required:
                  - configId
                  - bindDN
                  - bindPassword
                  - servers
                  - baseDNs
                  - primaryKey
                  - localPrimaryKey
                  properties: 
                     configId:
                       type: string
                       description: Unique identifier
                     bindDN:
                       type: string
                       description: User Distingusihed Name for binding. 
                     bindPassword:
                       type: string
                       description: User password for binding. 
                     servers:
                       type: array
                       description: List of LDAP authentication servers.
                       items:
                         type: string
                         description: Unique name of the authentication server and port number.
                         example:  authserver.org:63
                     maxConnections:
                       type: integer
                       description: Total number of simultaneous connections allowed.
                     useSSL:
                       type: boolean
                     baseDNs:
                       type: array
                       description: list of LDAP base Distingusihed Name
                       items:
                         type: string
                     primaryKey:
                       type: string
                       description: Used to search and bind operations in configured LDAP server.
                       example: SAMAccountName,uid, email
                     localPrimaryKey:
                       type: string
                       description: Used to search local user entry in Gluu Server’s internal LDAP directory.
                       example: uid, email
                     useAnonymousBind:
                       type: boolean
                       description: Boolean value used to indicate if the LDAP Server will allow anonymous bind request.
                     enabled:
                       type: boolean
                     level:
                       type: integer      
        500:
          $ref: '#/components/responses/InternalServerError'
  /configuration/ldap/status:
    post:
      tags:
      - LDAP configuration
      summary: Fetches LDAP connection status.
      description: Fetches LDAP connection status.
      operationId: post-configuration-ldap-status
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: LdapConnectionData.
              required:
              - bindDN
              - bindPassword
              - servers
              - useSSL
              properties: 
                bindDN:
                  type: string
                  description: User Distingusihed Name for binding. 
                bindPassword:
                  type: string
                  description: User password for binding. 
                servers:
                  type: array
                  description: List of LDAP authentication servers.
                  items:
                    type: string
                    description: Unique name of the authentication server and port number.
                    example:  authserver.org:63               
                useSSL:
                  type: boolean               
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ConnectionStatusDTO
                description: LDAP ConnectionStatus object.
                type: object
                required:
                - isUp
                properties:
                 isUp:
                   type: boolean
                   description: Boolean value indicating the status of LDAP connection.
                   example: true for connection up and running
        500:
          $ref: '#/components/responses/InternalServerError'
  /configuration/ldap/{name}/status:
    get:
      tags:
      - LDAP configuration
      summary: Fetches the LDAP connection status based on name.
      description: Fetches LDAP connection status.
      operationId: get-configuration-ldap-{name}-status
      parameters:
       - name: name
         in: path
         required: true
         description: Name of the LDAP configuration.
         schema:
           type : string 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ConnectionStatusDTO
                description: LDAP ConnectionStatus object.
                type: object
                required:
                - isUp
                properties:
                 isUp:
                   type: boolean
                   description: Boolean value indicating the status of LDAP connection.
                   example: true for connection up and running
        500:
          $ref: '#/components/responses/InternalServerError' 
          
components: 
  responses:
    Found: #302 - FOUND
      description: Resource Found. 
      content: {}
    InvalidRequest: #400 - BAD_REQUEST
      description: Invalid parameters are provided to endpoint. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'  
    Unauthorized: #401 - UNAUTHORIZED
      description: Unauthorized access request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AccessDenied: #403 - FORBIDDEN
          description: Invalid details provided hence access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    NotFound: #404 - NOT_FOUND
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    NotAcceptable: #406 - NOT_ACCEPTABLE
          description: Request Not Acceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    InternalServerError: #500 - INTERNAL_SERVER_ERROR
      description: Internal error occured. Please check log file for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
     
  schemas:  
    ErrorResponse:
      required:
      - error
      - error_description
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        details:
          type: string