openapi: 3.0.1
info:
  title: oxauth-config
  description: oxauth-config - Authorization services
  contact:
    email: xxx@gluu.org
  license:
    name: License
    url: 'https://github.com/GluuFederation/oxauth-config/blob/master/LICENSE'
  version: '1.0'
servers:
  - url: 'https://gluu.org/'
tags:
  - name: developers
    description: oxauth-config enables access to the features available via the existing oxAuth API.
  - name: Attribute
  - name: Authentication
  - name: Cache Configuration
  - name: Cache Configuration – Memcached
  - name: Cache Configuration – Redis
  - name: Cache Configuration – in-Memory
  - name: Cache Configuration – Native-Persistence
  - name: Configuration – Properties
  - name: Configuration – Backchannel
  - name: Configuration – Dynamic Registration
  - name: Configuration – IdToken
  - name: Configuration – oxEleven
  - name: Configuration – Request Object
  - name: Configuration – Responses Types
  - name: Configuration – Responses Modes
  - name: Configuration – User Info
  - name: Configuration – UMA
  - name: Configuration – Session ID
  - name: Configuration – Pairwise
  - name: Configuration – Fido2
  - name: Configuration – CIBA
  - name: Configuration – Cors Configuration Filter
  - name: Configuration – SMTP
  - name: Configuration – Library
  - name: Configuration – Logs
  - name: Configuration – JWK - JSON Web Key Set (JWKs)
  - name: Custom Scripts
  - name: Custom Scripts - Person Authentication
  - name: Custom Scripts - Consent Gathering
  - name: Custom Scripts - Client Registration
  - name: Custom Scripts - Dynamic Scopes
  - name: Custom Scripts - UMA RPT Policies
  - name: Custom Scripts - UMA Claims Gathering
  - name: Custom Scripts - Introspection
  - name: Custom Scripts - Resource Owner Password Credentials
  - name: Custom Scripts - Application Session
  - name: Database - Couchbase
  - name: Database - LDAP configuration
  - name: Graphics - Logo
  - name: Graphics - Favicon
  - name: OAuth - OpenID Connect - Clients
  - name: OAuth - OpenID Connect - Scopes
  - name: OAuth - OpenID Connect - Sector Identifiers
  - name: OAuth - UMA Scopes
  - name: OAuth - UMA Resources
paths:
  /config/properties:
    get:
      summary: Gets all oxAuth configuration properties.
      description: Gets all oxAuth configuration properties.
      operationId: get-properties-all
      security:
        - oxAuth:
            - read
      tags:
        - Configuration – Properties
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AppConfiguration
                description: List of all oxauth-config properties.
                items:
                  type: object
                  title: AppConfiguration
                  description: App configuration properties.
                  required:
                    - sessionAsJwt
                    - issuer
                    - baseEndpoint
                    - authorizationEndpoint
                    - tokenEndpoint
                    - tokenRevocationEndpoint
                    - userInfoEndpoint
                    - clientInfoEndpoint
                    - checkSessionIFrame
                    - endSessionEndpoint
                    - jwksUri
                    - registrationEndpoint
                    - openIdDiscoveryEndpointLDAP
                    - openIdConfigurationEndpoint
                    - idGenerationEndpoint
                    - introspectionEndpoint
                    - introspectionAccessTokenMustHaveUmaProtectionScope
                    - umaConfigurationEndpoint
                    - oxElevenGenerateKeyEndpoint
                    - oxElevenSignEndpoint
                    - oxElevenVerifySignatureEndpoint
                    - oxElevenDeleteKeyEndpoint
                    - oxElevenJwksEndpoint
                    - openidSubAttribute
                    - responseTypesSupported
                    - responseModesSupported
                    - grantTypesSupported
                    - defaultSubjectType
                    - userInfoSigningAlgValuesSupported
                    - userInfoEncryptionAlgValuesSupported
                    - userInfoEncryptionEncValuesSupported
                    - idTokenSigningAlgValuesSupported
                    - idTokenEncryptionAlgValuesSupported
                    - idTokenEncryptionEncValuesSupported
                    - requestObjectSigningAlgValuesSupported
                    - requestObjectEncryptionAlgValuesSupported
                    - requestObjectEncryptionEncValuesSupported
                    - tokenEndpointAuthMethodsSupported
                    - tokenEndpointAuthSigningAlgValuesSupported
                    - dynamicRegistrationCustomAttributes
                    - displayValuesSupported
                    - claimTypesSupported
                    - serviceDocumentation
                    - claimsLocalesSupported
                    - idTokenTokenBindingCnfValuesSupported
                    - uiLocalesSupported
                    - opPolicyUri
                    - opTosUri
                    - authorizationCodeLifetime
                    - refreshTokenLifetime
                    - idTokenLifetime
                    - accessTokenLifetime
                    - umaRptLifetime
                    - umaTicketLifetime
                    - umaPctLifetime
                    - umaResourceLifetime
                  properties:
                    sessionAsJwt:
                      type: boolean
                      description: Boolean value true saves session data as a JWT.
                    issuer:
                      type: string
                      description: URL using the https scheme that OP asserts as Issuer identifier.
                      example: 'https://server.example.com/'
                    baseEndpoint:
                      type: string
                      description: The base URL for endpoints.
                      example: 'https://server.example.com/oxauth/restv1'
                    authorizationEndpoint:
                      type: string
                      description: The authorization endpoint URL.
                      example: 'https://server.example.com/oxauth/restv1/authorize'
                    tokenEndpoint:
                      type: string
                      description: The token endpoint URL.
                      example: 'https://server.example.com/oxauth/restv1/token'
                    tokenRevocationEndpoint:
                      type: string
                      description: The URL for the access_token or refresh_token revocation endpoint.
                      example: 'https://server.example.com/oxauth/restv1/revoke'
                    userInfoEndpoint:
                      type: string
                      description: The User Info endpoint URL.
                      example: 'https://server.example.com/oxauth/restv1/userinfo'
                    clientInfoEndpoint:
                      type: string
                      description: The Client Info endpoint URL.
                      example: 'https://server.example.com/oxauth/restv1/clientinfo'
                    checkSessionIFrame:
                      type: string
                      description: URL for an OP IFrame that supports cross-origin communications for session state information with the RP Client using the HTML5 postMessage API.
                      example: 'https://server.example.com/oxauth/opiframe.htm'
                    endSessionEndpoint:
                      type: string
                      description: URL at the OP to which an RP can perform a redirect to request that the end user be logged out at the OP.
                      example: 'https://server.example.com/oxauth/restv1/end_session'
                    jwksUri:
                      type: string
                      description: URL of the OP's JSON Web Key Set (JWK) document. This contains the signing key(s) the RP uses to validate signatures from the OP.
                      example: 'https://server.example.com/oxauth/restv1/jwks'
                    registrationEndpoint:
                      type: string
                      description: URL of the Registration Endpoint.
                      example: 'https://server.example.com/oxauth/restv1/register'
                    openIdDiscoveryEndpoint:
                      type: string
                      description: URL for the Discovery Endpoint.
                      example: 'https://server.example.com/.well-known/webfinger'
                    openIdConfigurationEndpoint:
                      type: string
                      description: URL for the Open ID Connect Configuration Endpoint.
                      example: 'https://server.example.com/.well-known/openid-configuration'
                    idGenerationEndpoint:
                      type: string
                      description: URL for the ID Generation Endpoint.
                      example: 'https://server.example.com/oxauth/restv1/id'
                    introspectionEndpoint:
                      type: string
                      description: URL for the Introspection Endpoint.
                      example: 'https://server.example.com/oxauth/restv1/introspection'
                    introspectionAccessTokenMustHaveUmaProtectionScope:
                      type: boolean
                      description: Reject introspection requests if access_token in Authorization header does not have uma_protection scope.
                      default: false
                    umaConfigurationEndpoint:
                      type: string
                      description: URL for the UMA Configuration Endpoint.
                      example: 'https://server.example.com/oxauth/restv1/uma2-configuration'
                    sectorIdentifierEndpoint:
                      type: string
                      description: URL for the Sector Identifier Endpoint.
                      example: null
                    oxElevenGenerateKeyEndpoint:
                      type: string
                      description: URL for the oxEleven Generate Key Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/generateKey'
                    oxElevenSignEndpoint:
                      type: string
                      description: URL for the oxEleven Sign Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/sign'
                    oxElevenVerifySignatureEndpoint:
                      type: string
                      description: URL for the oxEleven Verify Signature Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/verifySignature'
                    oxElevenDeleteKeyEndpoint:
                      type: string
                      description: URL for the oxEleven Delete Key Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/deleteKey'
                    oxElevenJwksEndpoint:
                      type: string
                      description: URL for the oxEleven JWKS Endpoint.
                      example: null
                    openidSubAttribute:
                      type: string
                      description: Specifies which LDAP attribute is used for the subject identifier claim.
                      example: inum
                    responseTypesSupported:
                      type: array
                      description: A list of the OAuth 2.0 response_type values that this OP supports.
                      minItems: 1
                      items:
                        type: string
                      enum:
                        - code
                        - token
                        - id_token
                    responseModesSupported:
                      type: array
                      description: A list of the OAuth 2.0 Response Mode values that this OP supports.
                      items:
                        type: string
                      enum:
                        - query
                        - fragment
                        - form_post
                    grantTypesSupported:
                      type: array
                      description: A list of the OAuth 2.0 Grant Type values that this OP supports.
                      items:
                        type: string
                      enum:
                        - authorization_code
                        - implicit
                        - password
                        - client_credentials
                        - refresh_token
                        - '\urn\:ietf\:params\:oauth\:grant-type\:uma-ticket'
                        - '\urn\:openid\:params\:grant-type\:ciba'
                    dynamicGrantTypeDefault:
                      type: array
                      description: list of the OAuth 2.0 Grant Type values that it's possible to set via client registration API..
                      items:
                        type: string
                      enum:
                        - authorization_code
                        - implicit
                        - password
                        - client_credentials
                        - refresh_token
                        - 'urn:ietf:params:oauth:grant-type:uma-ticket'
                        - 'urn:openid:params:grant-type:ciba'
                    subjectTypesSupported:
                      type: array
                      description: A list of the Subject Identifier types that this OP supports. Valid types include pairwise and public.
                      items:
                        type: string
                      enum:
                        - public
                        - pairwise
                    defaultSubjectType:
                      type: string
                      description: Default Subject Type used for Dynamic Client Registration.
                      items:
                        type: string
                      enum:
                        - public
                        - pairwise
                    userInfoSigningAlgValuesSupported:
                      type: array
                      description: A list of the JWS signing algorithms (alg values) JWA supported by the UserInfo Endpoint to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                        - PS256
                        - PS384
                        - PS512
                    userInfoEncryptionAlgValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (alg values) JWA supported by the UserInfo Endpoint to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - RSA1_5
                        - RSA-OAEP
                        - A128KW
                        - A256KW
                    userInfoEncryptionEncValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (enc values) JWA supported by the UserInfo Endpoint to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - A128CBC+HS256
                        - A256CBC+HS512
                        - A128GCM
                        - A256GCM
                    idTokenSigningAlgValuesSupported:
                      type: array
                      description: A list of the JWS signing algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - none
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                        - PS256
                        - PS384
                        - PS512
                    idTokenEncryptionAlgValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - RSA1_5
                        - RSA-OAEP
                        - A128KW
                        - A256KW
                    idTokenEncryptionEncValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (enc values) supported by the OP for the ID Token to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - A128CBC+HS256
                        - A256CBC+HS512
                        - A128GCM
                        - A256GCM
                    requestObjectSigningAlgValuesSupported:
                      type: array
                      description: A list of the JWS signing algorithms (alg values) supported by the OP for Request Objects.
                      items:
                        type: string
                      enum:
                        - none
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                        - PS256
                        - PS384
                        - PS512
                    requestObjectEncryptionAlgValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (alg values) supported by the OP for Request Objects.
                      items:
                        type: string
                      enum:
                        - RSA1_5
                        - RSA-OAEP
                        - A128KW
                        - A256KW
                    requestObjectEncryptionEncValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (enc values) supported by the OP for Request Objects.
                      items:
                        type: string
                      enum:
                        - A128CBC+HS256
                        - A256CBC+HS512
                        - A128GCM
                        - A256GCM
                    tokenEndpointAuthMethodsSupported:
                      type: array
                      description: A list of Client Authentication methods supported by this Token Endpoint.
                      items:
                        type: string
                      enum:
                        - client_secret_basic
                        - client_secret_post
                        - client_secret_jwt
                        - private_key_jwt
                    tokenEndpointAuthSigningAlgValuesSupported:
                      type: array
                      description: A list of the JWS signing algorithms (alg values) supported by the Token Endpoint for the signature on the JWT used to authenticate the Client at the Token Endpoint for the private_key_jwt and client_secret_jwt authentication methods.
                      items:
                        type: string
                      enum:
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                        - PS256
                        - PS384
                        - PS512
                    dynamicRegistrationCustomAttributes:
                      type: array
                      description: Custom attributes for the Dynamic registration.
                      items:
                        type: string
                      enum:
                        - oxAuthTrustedClient
                    displayValuesSupported:
                      type: array
                      description: A list of the display parameter values that the OpenID Provider supports.
                      items:
                        type: string
                      enum:
                        - page
                        - popup
                    claimTypesSupported:
                      type: array
                      description: A list of the Claim Types that the OpenID Provider supports.
                      items:
                        type: string
                      enum:
                        - normal
                    serviceDocumentation:
                      type: string
                      description: URL of a page containing human-readable information that developers might want or need to know when using the OpenID Provider.
                      items:
                        type: string
                      format: url
                      example: 'http://gluu.org/docs'
                    claimsLocalesSupported:
                      type: array
                      description: Languages and scripts supported for values in Claims being returned.
                      items:
                        type: string
                      enum:
                        - en
                    idTokenTokenBindingCnfValuesSupported:
                      type: array
                      description: 'Array containing a list of the JWT Confirmation Method member names supported by the OP for Token Binding of ID Tokens. The presence of this parameter indicates that the OpenID Provider supports Token Binding of ID Tokens. If omitted, the default is that the OpenID Provider does not support Token Binding of ID Tokens.'
                      items:
                        type: string
                      enum:
                        - tbh
                    uiLocalesSupported:
                      type: array
                      description: Languages and scripts supported for the user interface.
                      items:
                        type: string
                      enum:
                        - en
                        - es
                    persistIdTokenInLdap:
                      type: boolean
                      description: Specifies whether to persist id_token into LDAP (otherwise saves into cache).
                      default: false
                    persistRefreshTokenInLdap:
                      type: boolean
                      description: Specifies whether to persist refresh_token into LDAP (otherwise saves into cache).
                      default: true
                    claimsParameterSupported:
                      type: boolean
                      description: Specifies whether the OP supports use of the claim’s parameter.
                      default: false
                    requestParameterSupported:
                      type: boolean
                      description: Boolean value specifying whether the OP supports use of the request parameter.
                      default: false
                    requestUriParameterSupported:
                      type: boolean
                      description: Boolean value specifying whether the OP supports use of the request_uri parameter.
                      default: false
                    requireRequestUriRegistration:
                      type: boolean
                      description: Boolean value specifying whether the OP requires any request_uri values used to be pre-registered using the request_uris registration parameter.
                      default: false
                    opPolicyUri:
                      type: string
                      description: URL that the OpenID Provider provides to the person registering the Client to read about the OP's requirements on how the Relying Party can use the data provided by the OP.
                      example: 'http://ox.gluu.org/doku.php?id=oxauth:policy'
                    opTosUri:
                      type: string
                      description: URL that the OpenID Provider provides to the person registering the Client to read about OpenID Provider's terms of service.
                      example: 'http://ox.gluu.org/doku.php?id=oxauth:tos'
                    authorizationCodeLifetime:
                      type: integer
                      description: The lifetime of the Authorization Code.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 60
                    refreshTokenLifetime:
                      type: integer
                      description: The lifetime of the Refresh Token.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 14400
                    idTokenLifetime:
                      type: integer
                      description: The lifetime of the ID Token.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    accessTokenLifetime:
                      type: integer
                      description: The lifetime of the short-lived Access Token.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    umaRptLifetime:
                      type: integer
                      description: UMA RPT lifetime.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    umaTicketLifetime:
                      type: integer
                      description: UMA ticket lifetime.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    umaPctLifetime:
                      type: integer
                      description: UMA PCT lifetime.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    umaResourceLifetime:
                      type: integer
                      description: UMA PCT lifetime.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    umaAddScopesAutomatically:
                      type: boolean
                      description: Add UMA scopes automatically if it is not registered yet.
                      default: false
                    umaValidateClaimToken:
                      type: boolean
                      description: Validate claim_token as id_token assuming it is issued by local idp.
                      default: false
                    umaGrantAccessIfNoPolicies:
                      type: boolean
                      description: Specifies whether to grant access to resources if there are no any policies associated with scopes.
                      default: false
                    umaRestrictResourceToAssociatedClient:
                      type: boolean
                      description: Restrict access to resource by associated client.
                      default: false
                    umaKeepClientDuringResourceSetRegistration:
                      type: boolean
                      description: Save client information during resource registration.
                      default: false
                    umaRptAsJwt:
                      type: boolean
                      description: Issue RPT as JWT or as random string.
                      default: false
                    cleanServiceInterval:
                      type: integer
                      description: Time interval for the Clean Service in seconds.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 60
                    cleanServiceBaseDns:
                      type: array
                      description: List of additional base dns under which AS will look up for expired entities.
                      items:
                        type: string
                      minItems: 0
                      uniqueItems: true
                      example:
                        - ssn
                    cleanServiceBatchChunkSize:
                      type: integer
                      description: Each clean up iteration fetches chunk of expired data per base dn and removes it from storage.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 10000
                    keyRegenerationEnabled:
                      type: boolean
                      description: Boolean value specifying whether to regenerate keys.
                      default: false
                    keyRegenerationInterval:
                      type: integer
                      description: The interval for key regeneration in hours.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 48
                    defaultSignatureAlgorithm:
                      type: string
                      description: The default signature algorithm to sign ID Tokens.
                      items:
                        type: string
                      enum:
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                    oxOpenIdConnectVersion:
                      type: string
                      description: OpenID Connect Version.
                      minLength: 1
                      example: openidconnect-1.0
                    oxId:
                      type: string
                      description: URL for the Inum generator Service.
                      format: url
                      minLength: 1
                      example: 'https://server.example.com/oxid/service/gluu/inum'
                    dynamicRegistrationEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable Dynamic Registration.
                      default: false
                    dynamicRegistrationExpirationTime:
                      type: integer
                      description: 'Expiration time in seconds for clients created with dynamic registration, -1 means never expire.'
                      multipleOf: 1
                      minimum: 0
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      default: -1
                    dynamicRegistrationPersistClientAuthorizations:
                      type: boolean
                      description: Boolean value specifying whether to persist client authorizations.
                      default: false
                    trustedClientEnabled:
                      type: boolean
                      description: Boolean value specifying whether a client is trusted and no authorization is required.
                      default: false
                    dynamicRegistrationScopesParamEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable scopes parameter in dynamic registration.
                      default: false
                    dynamicRegistrationCustomObjectClass:
                      type: string
                      description: LDAP custom object class for dynamic registration.
                      minLength: 1
                    personCustomObjectClassList:
                      type: array
                      description: LDAP custom object class list for dynamic person enrolment.
                      uniqueItems: true
                      minItems: 0
                      items:
                        type: string
                      enum:
                        - gluuCustomPerson
                        - gluuPerson
                    authenticationFiltersEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable user authentication filters.
                      default: false
                    clientAuthenticationFiltersEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable client authentication filters.
                      default: false
                    authenticationFilters:
                      type: array
                      description: User authentication filters.
                      uniqueItems: false
                      minItems: 1
                      items:
                        type: object
                        properties:
                          filter:
                            type: string
                            example: '(&(mail=*{0}*)(inum={1}))'
                          bind:
                            type: boolean
                            default: false
                          bind-password-attribute:
                            type: string
                          base-dn:
                            type: string
                            example: 'ou=people,o=gluu'
                    clientAuthenticationFilters:
                      type: array
                      description: Client authentication filters.
                      uniqueItems: false
                      minItems: 1
                      items:
                        type: object
                        properties:
                          filter:
                            type: string
                            example: 'myCustomAttr1={0}'
                          bind:
                            type: boolean
                            default: false
                          bind-password-attribute:
                            type: string
                          base-dn:
                            type: string
                            example: 'ou=clients,o=gluu'
                    sessionIdUnusedLifetime:
                      type: integer
                      description: The lifetime for unused session states.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 86400
                    sessionIdUnauthenticatedUnusedLifetime:
                      type: integer
                      description: The lifetime for unused unauthenticated session states.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      default: 120
                      example: 800
                    sessionIdLifetime:
                      type: integer
                      description: The lifetime of session id in seconds. If 0 or -1 then expiration is not set. `session_id` cookie expires when browser session ends.
                      multipleOf: 1
                      minimum: -1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      default: 86400
                      example: 86400
                    sessionIdEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable authentication by session_id.
                      default: false
                    sessionIdPersistOnPromptNone:
                      type: boolean
                      description: Boolean value specifying whether to persist session ID on prompt none.
                      default: false
                    configurationUpdateInterval:
                      type: integer
                      description: The interval for configuration update in seconds.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 3600
                    cssLocation:
                      type: string
                      description: The location for CSS files.
                      minLength: 1
                    jsLocation:
                      type: string
                      description: The location for JavaScript files.
                      minLength: 1
                    imgLocation:
                      type: string
                      description: The location for image files.
                      minLength: 1
                    metricReporterInterval:
                      type: integer
                      description: The interval for metric reporter in seconds.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 300
                    metricReporterKeepDataDays:
                      type: integer
                      description: The days to keep metric reported data.
                      multipleOf: 1
                      minimum: 1
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      example: 15
                    metricReporterEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable Metric Reporter.
                      default: true
                    pairwiseIdType:
                      type: string
                      description: The pairwise ID type.
                      items:
                        type: string
                      enum:
                        - persistent
                        - algorithmic
                    pairwiseCalculationKey:
                      type: string
                      description: Key to calculate algorithmic pairwise IDs.
                      minLength: 1
                    pairwiseCalculationSalt:
                      type: string
                      description: Salt to calculate algorithmic pairwise IDs.
                      minLength: 1
                    shareSubjectIdBetweenClientsWithSameSectorId:
                      type: boolean
                      description: Share Subject ID between clients with same Sector ID.
                      default: false
                    webKeysStorage:
                      type: string
                      description: Web Key Storage Type.
                      format: enum - keystore - pkcs11
                    dnName:
                      type: string
                      description: DN of certificate issuer.
                      minLength: 1
                      example: CN=oxAuth CA Certificates
                    keyStoreFile:
                      type: string
                      description: The Key Store File (JKS).
                      minLength: 1
                      example: /etc/certs/oxauth-keys.jks
                    keyStoreSecret:
                      type: string
                      description: The password of the Key Store.
                      minLength: 1
                    endSessionWithAccessToken:
                      type: boolean
                      description: Accept access token to call end_session endpoint.
                    clientWhiteList:
                      type: array
                      description: White List for Client Redirection URIs.
                      uniqueItems: true
                      minItems: 0
                      items:
                        type: string
                    clientBlackList:
                      type: array
                      description: Black List for Client Redirection URIs.
                      uniqueItems: true
                      minItems: 0
                      items:
                        type: string
                    legacyIdTokenClaims:
                      type: boolean
                      description: Include Claims in ID Token.
                    customHeadersWithAuthorizationResponse:
                      type: boolean
                      description: Boolean value specifying whether to enable Custom Response Header parameter to return custom headers with the Authorization Response.
                    frontChannelLogoutSessionSupported:
                      type: boolean
                      description: Boolean value to specify support for front channel logout session.
                    useCacheForAllImplicitFlowObjects:
                      type: boolean
                      description: Boolean value to specify whether to persist all objects into cache during Implicit Flow.
                      default: false
                    invalidateSessionCookiesAfterAuthorizationFlow:
                      type: boolean
                      description: Boolean value to specify whether to invalidate `session_id` and `consent_session_id` cookies right after successful or unsuccessful authorization.
                      default: false
                    updateUserLastLogonTime:
                      type: boolean
                      description: Boolean value to specify if application should update oxLastLogonTime attribute on user authentication.
                      default: false
                    updateClientAccessTime:
                      type: boolean
                      description: Boolean value to specify if application should update oxLastAccessTime/oxLastLogonTime attributes on client authentication.
                      default: false
                    enableClientGrantTypeUpdate:
                      type: boolean
                      description: Boolean value to specify if client can update Grant Type values.
                      default: false
                    loggingLevel:
                      type: string
                      description: Logging level for oxAuth logger.
                      format: enum - TRACE - DEBUG - INFO - WARN - ERROR - FATAL - OFF
                    corsConfigurationFilters:
                      type: array
                      description: CORS Configuration filters.
                      minItems: 1
                      uniqueItems: false
                      items:
                        type: object
                        properties:
                          filterName:
                            type: string
                            minLength: 1
                          corsEnabled:
                            type: boolean
                            default: true
                          corsAllowedOrigins:
                            type: string
                            minLength: 1
                            default: \*
                          corsAllowedMethods:
                            type: string
                            default: 'GET, POST, HEAD, OPTIONS'
                          corsAllowedHeaders:
                            type: string
                            minLength: 1
                            default: 'Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers'
                          corsExposedHeaders:
                            type: string
                            minLength: 1
                          corsSupportCredentials:
                            type: boolean
                            default: true
                          corsLoggingEnabled:
                            type: boolean
                            default: false
                          corsPreflightMaxAge:
                            type: integer
                            multipleOf: 1
                            minimum: 1
                            exclusiveMinimum: false
                            maximum: 2147483647
                            exclusiveMaximum: false
                            default: 1800
                          corsRequestDecorate:
                            type: boolean
                            default: true
                    logClientIdOnClientAuthentication:
                      type: boolean
                      description: Boolean value to specify if application should log the Client ID on client authentication.
                    logClientNameOnClientAuthentication:
                      type: boolean
                      description: Boolean value to specify if application should log the Client Name on client authentication.
                    authorizationRequestCustomAllowedParameters:
                      type: array
                      description: Authorization Request Custom Allowed Parameters.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                    legacyDynamicRegistrationScopeParam:
                      type: boolean
                      description: Legacy Dynamic Registration Scopes JSON Array Param.
                    openidScopeBackwardCompatibility:
                      type: boolean
                      description: 'Set to false to only allow token endpoint request for openid scope with grant type equals to authorization_code, restrict access to userinfo to scope openid and only return id_token if scope contains openid.'
                      default: false
                    skipAuthorizationForOpenIdScopeAndPairwiseId:
                      type: boolean
                      description: 'If a client has only openid scope and pairwise id, person should not have to authorize.'
                      default: false
                    allowPostLogoutRedirectWithoutValidation:
                      type: boolean
                      description: Allows post logout redirect without validation for End Session Endpoint.
                      default: false
                    httpLoggingEnabled:
                      type: boolean
                      description: Enable/Disable request/response logging filter.
                      default: false
                    httpLoggingExludePaths:
                      type: array
                      description: List of base URI for which request/response logging filter should not record activity.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                      example: '\"/oxauth/img\", \"/oxauth/stylesheet\"'
                    externalLoggerConfiguration:
                      type: string
                      description: Path to external log4j2 logging configuration.
                      minLength: 1
                      example: /identity/logviewer/configure
                    disableU2fEndpoint:
                      type: boolean
                      description: Path to external log4j2 logging configuration.
                      default: false
                    disableJdkLogger:
                      type: boolean
                      description: Boolean value specifying whether to enable JDK Loggers.
                      default: true
                    jmsUserName:
                      type: string
                      description: JMS UserName.
                      minLength: 1
                    jmsPassword:
                      type: string
                      description: JMS Password.
                      minLength: 1
                    jmsBrokerURISetjmsBrokerURISet:
                      type: array
                      description: JMS Broker URI Set.
                      format: select
                      items:
                        type: string
                    oxElevenTestModeToken:
                      type: string
                      description: oxEleven Test Mode Token.
                      minLength: 1
                    enabledOAuthAuditLogging:
                      type: boolean
                      description: enabled OAuth Audit Logging.
                    authenticationProtectionConfiguration:
                      type: object
                      description: Authentication Brute Force Protection Configuration.
                      properties:
                        attemptExpiration:
                          type: integer
                          multipleOf: 1
                          minimum: 1
                          maximum: 2147483647
                          exclusiveMinimum: false
                          exclusiveMaximum: false
                        maximumAllowedAttemptsWithoutDelay:
                          type: integer
                          multipleOf: 1
                          minimum: 1
                          maximum: 2147483647
                          exclusiveMinimum: false
                          exclusiveMaximum: false
                        delayTime:
                          type: integer
                          multipleOf: 1
                          minimum: 1
                          maximum: 2147483647
                          exclusiveMinimum: false
                          exclusiveMaximum: false
                        bruteForceProtectionEnabled:
                          type: boolean
                    errorHandlingMethod:
                      type: string
                      description: A list of possible error handling methods.
                      format: enum - internal - remote
                    useLocalCache:
                      type: boolean
                      description: 'Boolean value specifying whether to enable local in-memory cache for attributes, scopes, clients and organization configuration.'
                      default: false
                    spontaneousScopeLifetime:
                      type: integer
                      description: The lifetime of spontaneous scope in seconds.
                      multipleOf: 1
                      minimum: 1
                      maximum: 2147483647
                      exclusiveMinimum: false
                      exclusiveMaximum: false
                    jwksAlgorithmsSupported:
                      type: array
                      description: A list of algorithms that will be used in JWKS endpoint.
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                      format: select - RS256 - RS384 - RS512 - ES256 - ES384 - ES512 - PS256 - PS384 - PS512 - RSA1_5 - RSA-OAEP
                    dynamicRegistrationPasswordGrantTypeEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable Password Grant Type during Dynamic Registration.
                      default: false
                    returnClientSecretOnRead:
                      type: boolean
                      description: Boolean value specifying whether a client_secret is returned on client GET or PUT. Set to false by default which means to not return secret.
                      default: false
                    rejectJwtWithNoneAlg:
                      type: boolean
                      description: Boolean value specifying whether reject JWT requested or validated with algorithm None. Default value is true.
                      default: true
                    expirationNotificatorEnabled:
                      type: boolean
                      description: 'Boolean value specifying whether expiration notificator is enabled (used to identify expiration for persistence that support TTL, like Couchbase).'
                      default: true
                    expirationNotificatorMapSizeLimit:
                      type: integer
                      description: The expiration notificator maximum size limit.
                      default: 100000
                    expirationNotificatorIntervalInSeconds:
                      type: integer
                      description: The expiration notificator interval in seconds.
                      default: 600
                    clientRegDefaultToCodeFlowWithRefresh:
                      type: boolean
                      description: Boolean value specifying whether to add Authorization Code Flow with Refresh grant during client registration.
                    sessionIdRequestParameterEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable session_id HTTP request parameter.
                      default: false
                    changeSessionIdOnAuthentication:
                      type: boolean
                      description: Boolean value specifying whether to enable session_id HTTP request parameter.
                      default: true
                    serverSessionIdLifetime:
                      type: integer
                      description: The sessionId lifetime in seconds for sessionId.
                      default: 86400
                    cookieDomain:
                      type: string
                      description: Sets cookie domain for all cookies created by OP.
                    loggingLayout:
                      type: string
                      description: Sets the layout of logging.
                    fapiCompatibility:
                      type: boolean
                      description: Boolean value specifying whether turn on FAPI compatibility mode. If true AS behaves in more strict mode.
                      default: false
                    forceIdTokenHintPrecense:
                      type: boolean
                      description: Boolean value specifying whether force id_token_hint parameter presence (false by default).
                      default: false
                    forceOfflineAccessScopeToEnableRefreshToken:
                      type: boolean
                      description: Boolean value specifying whether force offline_access scope to enable refresh_token grant type. Default value is true.
                      default: true
                    errorReasonEnabled:
                      type: boolean
                      description: Boolean value specifying whether to return detailed reason of the error from AS. Default value is false.
                      default: false
                    removeRefreshTokensForClientOnLogout:
                      type: boolean
                      description: Boolean value specifying whether to remove refresh tokens on logout. Default value is true.
                      default: true
                    consentGatheringScriptBackwardCompatibility:
                      type: boolean
                      description: Boolean value specifying whether turn on Consent Gathering Script backward compatibility mode. If true AS will pick up script with higher level globally. If false (default) AS will pick up script based on client configuration.
                      default: false
                    introspectionScriptBackwardCompatibility:
                      type: boolean
                      description: Boolean value specifying whether switch off client's introspection scripts (true value) and run all scripts that exists on server. Default value is false.
                      default: false
                    keepAuthenticatorAttributesOnAcrChange:
                      type: boolean
                      description: Boolean value specifying whether to keep authenticator attributes on ACR change.
                      default: false
                    backchannelClientId:
                      type: string
                      description: Backchannel Client Id.
                      minLength: 0
                    backchannelRedirectUri:
                      type: string
                      description: Backchannel Redirect Uri.
                      minLength: 0
                      example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelRedirectUri'
                    backchannelAuthenticationEndpoint:
                      type: string
                      description: Backchannel Authentication Endpoint.
                      minLength: 0
                      example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelAuthenticationEndpoint()'
                    backchannelDeviceRegistrationEndpoint:
                      type: string
                      description: Backchannel Device Registration Endpoint.
                      minLength: 0
                      example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelDeviceRegistrationEndpoint'
                    backchannelTokenDeliveryModesSupported:
                      type: array
                      description: Backchannel Token Delivery Modes Supported.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                      format: select - poll - ping - push
                    backchannelAuthenticationRequestSigningAlgValuesSupported:
                      type: array
                      description: Backchannel Authentication Request Signing Alg Values Supported.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                      format: select - RS512 - ES256 - ES384 - ES512 - PS256 - PS384 - PS512
                    backchannelUserCodeParameterSupported:
                      type: boolean
                      description: Backchannel User Code Parameter Supported
                    backchannelBindingMessagePattern:
                      type: string
                      description: Backchannel Binding Message Pattern.
                      minLength: 0
                    backchannelAuthenticationResponseExpiresIn:
                      type: integer
                      description: Backchannel Authentication Response Expires In.
                      multipleOf: 1
                      minimum: 1
                      maximum: 2147483647
                      exclusiveMinimum: false
                      exclusiveMaximum: false
                    backchannelAuthenticationResponseInterval:
                      type: integer
                      description: Backchannel Authentication Response Interval.
                      multipleOf: 1
                      minimum: 1
                      maximum: 2147483647
                      exclusiveMinimum: false
                      exclusiveMaximum: false
                    backchannelLoginHintClaims:
                      type: array
                      description: Backchannel Login Hint Claims.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                    cibaEndUserNotificationConfig:
                      type: object
                      description: CIBA End User Notification Config.
                      required:
                        - apiKey
                        - authDomain
                        - databaseURL
                        - projectId
                        - storageBucket
                        - messagingSenderId
                        - appId
                        - notificationUrl
                        - notificationKey
                        - publicVapidKey
                      properties:
                        apiKey:
                          type: string
                          minLength: 1
                        authDomain:
                          type: string
                          minLength: 1
                        databaseURL:
                          type: string
                          minLength: 1
                        projectId:
                          type: string
                          minLength: 1
                        storageBucket:
                          type: string
                          minLength: 1
                        messagingSenderId:
                          type: string
                          minLength: 1
                        appId:
                          type: string
                          minLength: 1
                        notificationUrl:
                          type: string
                          minLength: 1
                        notificationKey:
                          type: string
                          minLength: 1
                        publicVapidKey:
                          type: string
                          minLength: 1
                    backchannelRequestsProcessorJobIntervalSec:
                      type: integer
                      description: Specifies the allowable elapsed time in seconds backchannel request processor executes.
                    backchannelRequestsProcessorJobChunkSize:
                      type: integer
                      description: Each backchannel request processor iteration fetches chunk of data to be processed.
                    cibaGrantLifeExtraTimeSec:
                      type: integer
                      description: Specifies the CIBA Grant life extra time in seconds.
                    cibaMaxExpirationTimeAllowedSec:
                      type: integer
                      description: Specifies the CIBA token expiration time in seconds.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /config/properties/backchannel:
    get:
      summary: Gets oxAuth backchannel configuration properties.
      description: Gets oxAuth backchannel configuration properties.
      operationId: get-properties-backchannel
      tags:
        - Configuration – Backchannel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: BackchannelConfiguration
                items:
                  type: object
                  title: BackchannelConfiguration
                  description: Backchannel configuration properties.
                  required:
                    - backchannelClientId
                    - backchannelRedirectUri
                    - backchannelAuthenticationEndpoint
                    - backchannelDeviceRegistrationEndpoint
                    - backchannelTokenDeliveryModesSupported
                    - backchannelAuthenticationRequestSigningAlgValuesSupported
                    - backchannelUserCodeParameterSupported
                  properties:
                    backchannelClientId:
                      type: string
                      description: Backchannel Client Id.
                      minLength: 0
                    backchannelRedirectUri:
                      type: string
                      description: Backchannel Redirect Uri.
                      minLength: 0
                      example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelRedirectUri'
                    backchannelAuthenticationEndpoint:
                      type: string
                      description: Backchannel Authentication Endpoint.
                      minLength: 0
                      example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelAuthenticationEndpoint()'
                    backchannelDeviceRegistrationEndpoint:
                      type: string
                      description: Backchannel Device Registration Endpoint.
                      minLength: 0
                      example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelDeviceRegistrationEndpoint'
                    backchannelTokenDeliveryModesSupported:
                      type: array
                      description: Backchannel Token Delivery Modes Supported.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                      format: select - poll - ping - push
                    backchannelAuthenticationRequestSigningAlgValuesSupported:
                      type: array
                      description: Backchannel Authentication Request Signing Alg Values Supported.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
                      format: select - RS512 - ES256 - ES384 - ES512 - PS256 - PS384 - PS512
                    backchannelUserCodeParameterSupported:
                      type: boolean
                      description: Backchannel User Code Parameter Supported
                    backchannelBindingMessagePattern:
                      type: string
                      description: Backchannel Binding Message Pattern.
                      minLength: 0
                    backchannelAuthenticationResponseExpiresIn:
                      type: integer
                      description: Backchannel Authentication Response Expires In.
                      multipleOf: 1
                      minimum: 1
                      maximum: 2147483647
                      exclusiveMinimum: false
                      exclusiveMaximum: false
                    backchannelAuthenticationResponseInterval:
                      type: integer
                      description: Backchannel Authentication Response Interval.
                      multipleOf: 1
                      minimum: 1
                      maximum: 2147483647
                      exclusiveMinimum: false
                      exclusiveMaximum: false
                    backchannelLoginHintClaims:
                      type: array
                      description: Backchannel Login Hint Claims.
                      minItems: 0
                      uniqueItems: true
                      items:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth backchannel configuration properties.
      description: Updates oxAuth backchannel configuration properties.
      operationId: put-properties-backchannel
      tags:
        - Configuration – Backchannel
      requestBody:
        content:
          application/json:
            schema:
              title: BackchannelConfiguration
              items:
                type: object
                title: BackchannelConfiguration
                description: Backchannel configuration properties.
                required:
                  - backchannelClientId
                  - backchannelRedirectUri
                  - backchannelAuthenticationEndpoint
                  - backchannelDeviceRegistrationEndpoint
                  - backchannelTokenDeliveryModesSupported
                  - backchannelAuthenticationRequestSigningAlgValuesSupported
                  - backchannelUserCodeParameterSupported
                properties:
                  backchannelClientId:
                    type: string
                    description: Backchannel Client Id.
                    minLength: 0
                  backchannelRedirectUri:
                    type: string
                    description: Backchannel Redirect Uri.
                    minLength: 0
                    example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelRedirectUri'
                  backchannelAuthenticationEndpoint:
                    type: string
                    description: Backchannel Authentication Endpoint.
                    minLength: 0
                    example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelAuthenticationEndpoint()'
                  backchannelDeviceRegistrationEndpoint:
                    type: string
                    description: Backchannel Device Registration Endpoint.
                    minLength: 0
                    example: 'https://server.example.com/oxeleven/rest/backchannel/backchannelDeviceRegistrationEndpoint'
                  backchannelTokenDeliveryModesSupported:
                    type: array
                    description: Backchannel Token Delivery Modes Supported.
                    minItems: 0
                    uniqueItems: true
                    items:
                      type: string
                    format: select - poll - ping - push
                  backchannelAuthenticationRequestSigningAlgValuesSupported:
                    type: array
                    description: Backchannel Authentication Request Signing Alg Values Supported.
                    minItems: 0
                    uniqueItems: true
                    items:
                      type: string
                    format: select - RS512 - ES256 - ES384 - ES512 - PS256 - PS384 - PS512
                  backchannelUserCodeParameterSupported:
                    type: boolean
                    description: Backchannel User Code Parameter Supported
                  backchannelBindingMessagePattern:
                    type: string
                    description: Backchannel Binding Message Pattern.
                    minLength: 0
                  backchannelAuthenticationResponseExpiresIn:
                    type: integer
                    description: Backchannel Authentication Response Expires In.
                    multipleOf: 1
                    minimum: 1
                    maximum: 2147483647
                    exclusiveMinimum: false
                    exclusiveMaximum: false
                  backchannelAuthenticationResponseInterval:
                    type: integer
                    description: Backchannel Authentication Response Interval.
                    multipleOf: 1
                    minimum: 1
                    maximum: 2147483647
                    exclusiveMinimum: false
                    exclusiveMaximum: false
                  backchannelLoginHintClaims:
                    type: array
                    description: Backchannel Login Hint Claims.
                    minItems: 0
                    uniqueItems: true
                    items:
                      type: string
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - write
  /config/properties/dyn_registration:
    get:
      summary: Gets oxAuth dynamic configuration properties.
      description: Gets oxAuth dynamic configuration properties.
      operationId: get-properties-dyn_registration
      tags:
        - Configuration – Dynamic Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Dynamic Configuration
                items:
                  type: object
                  title: Dynamic Configuration
                  description: Dynamic Configuration properties.
                  properties:
                    dynamicRegistrationEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable Dynamic Registration.
                      default: null
                    dynamicRegistrationPasswordGrantTypeEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable Password Grant Type during Dynamic Registration.
                      default: false
                    dynamicRegistrationPersistClientAuthorizations:
                      type: boolean
                      description: Boolean value specifying whether to persist client authorizations.
                      default: false
                    dynamicRegistrationScopesParamEnabled:
                      type: boolean
                      description: Boolean value specifying whether to enable scopes parameter in dynamic registration.
                      default: false
                    dynamicRegistrationExpirationTime:
                      type: integer
                      description: 'Expiration time in seconds for clients created with dynamic registration, -1 means never expire.'
                      multipleOf: 1
                      minimum: 0
                      exclusiveMinimum: false
                      maximum: 2147483647
                      exclusiveMaximum: false
                      default: -1
                    legacyDynamicRegistrationScopeParam:
                      type: boolean
                      description: Legacy Dynamic Registration Scopes JSON Array Param.
                    dynamicRegistrationCustomAttributes:
                      type: array
                      description: Custom attributes for the Dynamic registration.
                      items:
                        type: string
                      enum:
                        - oxAuthTrustedClient
                    dynamicRegistrationCustomObjectClass:
                      type: string
                      description: LDAP custom object class for dynamic registration.
                      minLength: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth dynamic configuration properties.
      description: Updates oxAuth dynamic configuration properties.
      operationId: put-properties-dyn_registration
      tags:
        - Configuration – Dynamic Registration
      requestBody:
        content:
          application/json:
            schema:
              title: Dynamic Configuration
              items:
                type: object
                title: Dynamic Configuration
                description: Dynamic Configuration properties.
                properties:
                  dynamicRegistrationEnabled:
                    type: boolean
                    description: Boolean value specifying whether to enable Dynamic Registration.
                    default: null
                  dynamicRegistrationPasswordGrantTypeEnabled:
                    type: boolean
                    description: Boolean value specifying whether to enable Password Grant Type during Dynamic Registration.
                    default: false
                  dynamicRegistrationPersistClientAuthorizations:
                    type: boolean
                    description: Boolean value specifying whether to persist client authorizations.
                    default: false
                  dynamicRegistrationScopesParamEnabled:
                    type: boolean
                    description: Boolean value specifying whether to enable scopes parameter in dynamic registration.
                    default: false
                  dynamicRegistrationExpirationTime:
                    type: integer
                    description: 'Expiration time in seconds for clients created with dynamic registration, -1 means never expire.'
                    multipleOf: 1
                    minimum: 0
                    exclusiveMinimum: false
                    maximum: 2147483647
                    exclusiveMaximum: false
                    default: -1
                  legacyDynamicRegistrationScopeParam:
                    type: boolean
                    description: Legacy Dynamic Registration Scopes JSON Array Param.
                  dynamicRegistrationCustomAttributes:
                    type: array
                    description: Custom attributes for the Dynamic registration.
                    items:
                      type: string
                    enum:
                      - oxAuthTrustedClient
                  dynamicRegistrationCustomObjectClass:
                    type: string
                    description: LDAP custom object class for dynamic registration.
                    minLength: 1
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - write
  /config/properties/idtoken:
    get:
      summary: Gets oxAuth IdToken configuration properties.
      description: Gets oxAuth IdToken configuration properties.
      operationId: get-properties-idtoken
      tags:
        - Configuration – IdToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: IdToken Configuration
                items:
                  type: object
                  title: IdToken
                  description: IdToken configuration properties.
                  properties:
                    idTokenSigningAlgValuesSupported:
                      type: array
                      description: A list of the JWS signing algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - none
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                        - PS256
                        - PS384
                        - PS512
                    idTokenEncryptionAlgValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - RSA1_5
                        - RSA-OAEP
                        - A128KW
                        - A256KW
                    idTokenEncryptionEncValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (enc values) supported by the OP for the ID Token to encode the Claims in a JWT.
                      items:
                        type: string
                      enum:
                        - A128CBC+HS256
                        - A256CBC+HS512
                        - A128GCM
                        - A256GCM
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth IdToken configuration properties.
      description: Updates oxAuth IdToken configuration properties.
      operationId: put-properties-idtoken
      tags:
        - Configuration – IdToken
      requestBody:
        content:
          application/json:
            schema:
              title: IdToken Configuration
              items:
                type: object
                title: IdToken
                description: IdToken configuration properties.
                properties:
                  idTokenSigningAlgValuesSupported:
                    type: array
                    description: A list of the JWS signing algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT.
                    items:
                      type: string
                    enum:
                      - none
                      - HS256
                      - HS384
                      - HS512
                      - RS256
                      - RS384
                      - RS512
                      - ES256
                      - ES384
                      - ES512
                      - PS256
                      - PS384
                      - PS512
                  idTokenEncryptionAlgValuesSupported:
                    type: array
                    description: A list of the JWE encryption algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT.
                    items:
                      type: string
                    enum:
                      - RSA1_5
                      - RSA-OAEP
                      - A128KW
                      - A256KW
                  idTokenEncryptionEncValuesSupported:
                    type: array
                    description: A list of the JWE encryption algorithms (enc values) supported by the OP for the ID Token to encode the Claims in a JWT.
                    items:
                      type: string
                    enum:
                      - A128CBC+HS256
                      - A256CBC+HS512
                      - A128GCM
                      - A256GCM
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - write
  /config/properties/ox-eleven:
    get:
      summary: Gets oxAuth oxEleven configuration properties.
      description: Gets oxAuth oxEleven configuration properties.
      operationId: get-properties-ox-eleven
      tags:
        - Configuration – oxEleven
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: oxEleven Configuration
                items:
                  type: object
                  title: oxEleven
                  description: oxEleven configuration properties.
                  properties:
                    oxElevenGenerateKeyEndpoint:
                      type: string
                      description: URL for the oxEleven Generate Key Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/generateKey'
                    oxElevenSignEndpoint:
                      type: string
                      description: URL for the oxEleven Sign Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/sign'
                    oxElevenVerifySignatureEndpoint:
                      type: string
                      description: URL for the oxEleven Verify Signature Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/verifySignature'
                    oxElevenDeleteKeyEndpoint:
                      type: string
                      description: URL for the oxEleven Delete Key Endpoint.
                      example: 'https://server.example.com/oxeleven/rest/oxeleven/deleteKey'
                    oxElevenJwksEndpoint:
                      type: string
                      description: URL for the oxEleven JWKS Endpoint.
                      example: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth oxEleven configuration properties.
      description: Updates oxAuth oxEleven configuration properties.
      operationId: put-properties-ox-eleven
      tags:
        - Configuration – oxEleven
      requestBody:
        content:
          application/json:
            schema:
              title: oxEleven Configuration
              items:
                type: object
                title: oxEleven
                description: oxEleven configuration properties.
                properties:
                  oxElevenGenerateKeyEndpoint:
                    type: string
                    description: URL for the oxEleven Generate Key Endpoint.
                    example: 'https://server.example.com/oxeleven/rest/oxeleven/generateKey'
                  oxElevenSignEndpoint:
                    type: string
                    description: URL for the oxEleven Sign Endpoint.
                    example: 'https://server.example.com/oxeleven/rest/oxeleven/sign'
                  oxElevenVerifySignatureEndpoint:
                    type: string
                    description: URL for the oxEleven Verify Signature Endpoint.
                    example: 'https://server.example.com/oxeleven/rest/oxeleven/verifySignature'
                  oxElevenDeleteKeyEndpoint:
                    type: string
                    description: URL for the oxEleven Delete Key Endpoint.
                    example: 'https://server.example.com/oxeleven/rest/oxeleven/deleteKey'
                  oxElevenJwksEndpoint:
                    type: string
                    description: URL for the oxEleven JWKS Endpoint.
                    example: null
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - write
  /config/properties/request-object:
    get:
      summary: Gets oxAuth Request object configuration properties.
      description: Gets oxAuth Request object configuration properties.
      operationId: get-properties-request-object
      tags:
        - Configuration – Request Object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Request object configuration
                items:
                  type: object
                  description: Request object configuration properties.
                  properties:
                    requestObjectSigningAlgValuesSupported:
                      type: array
                      description: A list of the JWS signing algorithms (alg values) supported by the OP for Request Objects.
                      items:
                        type: string
                      enum:
                        - none
                        - HS256
                        - HS384
                        - HS512
                        - RS256
                        - RS384
                        - RS512
                        - ES256
                        - ES384
                        - ES512
                        - PS256
                        - PS384
                        - PS512
                    requestObjectEncryptionAlgValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (alg values) supported by the OP for Request Objects.
                      items:
                        type: string
                      enum:
                        - RSA1_5
                        - RSA-OAEP
                        - A128KW
                        - A256KW
                    requestObjectEncryptionEncValuesSupported:
                      type: array
                      description: A list of the JWE encryption algorithms (enc values) supported by the OP for Request Objects.
                      items:
                        type: string
                      enum:
                        - A128CBC+HS256
                        - A256CBC+HS512
                        - A128GCM
                        - A256GCM
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth Request object configuration properties.
      description: Updates oxAuth Request object configuration properties.
      operationId: put-properties-request-object
      tags:
        - Configuration – Request Object
      requestBody:
        content:
          application/json:
            schema:
              title: Request object configuration
              items:
                type: object
                description: Request object configuration properties.
                properties:
                  requestObjectSigningAlgValuesSupported:
                    type: array
                    description: A list of the JWS signing algorithms (alg values) supported by the OP for Request Objects.
                    items:
                      type: string
                    enum:
                      - none
                      - HS256
                      - HS384
                      - HS512
                      - RS256
                      - RS384
                      - RS512
                      - ES256
                      - ES384
                      - ES512
                      - PS256
                      - PS384
                      - PS512
                  requestObjectEncryptionAlgValuesSupported:
                    type: array
                    description: A list of the JWE encryption algorithms (alg values) supported by the OP for Request Objects.
                    items:
                      type: string
                    enum:
                      - RSA1_5
                      - RSA-OAEP
                      - A128KW
                      - A256KW
                  requestObjectEncryptionEncValuesSupported:
                    type: array
                    description: A list of the JWE encryption algorithms (enc values) supported by the OP for Request Objects.
                    items:
                      type: string
                    enum:
                      - A128CBC+HS256
                      - A256CBC+HS512
                      - A128GCM
                      - A256GCM
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - write
  /config/properties/response-type:
    get:
      summary: Gets oxAuth Response Type configuration properties.
      description: Gets oxAuth Response Type configuration properties.
      operationId: get-properties-response-type
      tags:
        - Configuration – Responses Types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response Type configuration
                items:
                  type: object
                  description: Response Type configuration properties.
                  properties:
                    responseTypesSupported:
                      type: array
                      description: A list of the OAuth 2.0 response_type values that this OP supports.
                      minItems: 1
                      items:
                        type: string
                      enum:
                        - code
                        - token
                        - id_token
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth Response Type configuration properties.
      description: Updates oxAuth Response Type configuration properties.
      operationId: put-properties-response-type
      tags:
        - Configuration – Responses Types
      requestBody:
        content:
          application/json:
            schema:
              title: Response Type configuration
              items:
                type: object
                description: Response Type configuration properties.
                properties:
                  responseTypesSupported:
                    type: array
                    description: A list of the OAuth 2.0 response_type values that this OP supports.
                    minItems: 1
                    items:
                      type: string
                    enum:
                      - code
                      - token
                      - id_token
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - write
  /config/properties/response-mode:
    get:
      summary: Gets oxAuth Response Mode configuration properties.
      description: Gets oxAuth Response Mode configuration properties.
      operationId: get-properties-response-mode
      tags:
        - Configuration – Responses Modes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response Mode configuration
                items:
                  type: object
                  description: Response Mode configuration properties.
                  properties:
                    responseModesSupported:
                      type: array
                      description: A list of the OAuth 2.0 Response Mode values that this OP supports.
                      items:
                        type: string
                      enum:
                        - query
                        - fragment
                        - form_post
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - oxAuth:
            - read
    put:
      summary: Updates oxAuth Response Mode configuration properties.
      description: Updates oxAuth Response Mode configuration properties.
      operationId: put-properties-response-mode
      tags:
        - Configuration – Responses Modes
      requestBody:
        content:
          application/json:
            schema:
              title: Response Mode configuration
              items:
                type: object
                description: Response Mode configuration properties.
                properties:
                  responseModesSupported:
                    type: array
                    description: A list of the OAuth 2.0 Response Mode values that this OP supports.
                    items:
                      type: string
                    enum:
                      - query
                      - fragment
                      - form_post
      responses:
        '200':
[...]
