<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>oxAuth Server</display-name>

    <!-- Seam -->
    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>
    <filter>
        <filter-name>Seam Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OpenIdConfiguration</servlet-name>
        <servlet-class>org.xdi.oxauth.servlet.OpenIdConfiguration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenIdConfiguration</servlet-name>
        <url-pattern>/.well-known/openid-configuration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WebFinger</servlet-name>
        <servlet-class>org.xdi.oxauth.servlet.WebFinger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebFinger</servlet-name>
        <url-pattern>/.well-known/webfinger</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SectorIdentifier</servlet-name>
        <servlet-class>org.xdi.oxauth.servlet.SectorIdentifier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SectorIdentifier</servlet-name>
        <url-pattern>/sectoridentifier/*</url-pattern>
    </servlet-mapping>

    <!-- Facelets development mode (disable in production) -->
    <!-- Change to "Production" when you are ready to deploy -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>${javax.faces.PROJECT_STAGE}</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
        <param-value>org.gluu.oxauth.resource.custom.ExternalResourceHandler</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
   <!-- Change to -1 when you don't want the compiler should check for changes -->
   <context-param>
      <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
      <param-value>${javax.faces.FACELETS_REFRESH_PERIOD}</param-value>
   </context-param>

    <!-- Cors -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.gluu.oxserver.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/.well-known/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/seam/resource/restv1/oxauth/userinfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/seam/resource/restv1/oxauth/clientinfo</url-pattern>
    </filter-mapping>

    <!-- JSF -->
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>Restrict raw XHTML Documents</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <!-- Cert authentication for case when there is proxy like Apache -->
    <!-- Don't remove. Use when there is standalone tomcat only.
    <security-constraint>
        <display-name>Request client cert for specific page</display-name>
        <web-resource-collection>
            <web-resource-name>Cert login page</web-resource-name>
            <url-pattern>/cert-login</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
            </auth-constraint>
    </security-constraint>
    -->

   <!-- Track session only in cookie -->
    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

<!--
    <env-entry>
        <env-entry-name>com.sun.faces.ClientStateSavingPassword</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>qLIsT+20NUPIyAp0SXHIUEWaXfYqdgM5EWYSx9VE4b0=</env-entry-value>
    </env-entry>
-->

</web-app>
