<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">

    <display-name>oxAuth Server</display-name>
    <!-- Seam -->
    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>
    <filter>
        <filter-name>Seam Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OpenIdConfiguration</servlet-name>
        <servlet-class>org.xdi.oxauth.servlet.OpenIdConfiguration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenIdConfiguration</servlet-name>
        <url-pattern>/.well-known/openid-configuration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebFinger</servlet-name>
        <servlet-class>org.xdi.oxauth.servlet.WebFinger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebFinger</servlet-name>
        <url-pattern>/.well-known/webfinger</url-pattern>
    </servlet-mapping>
    <!-- Facelets development mode (disable in production) -->
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>@debug@</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <!-- swagger servlet reader -->
    <!--<servlet>-->
        <!--<servlet-name>DefaultServletReaderConfig</servlet-name>-->
        <!--<servlet-class>com.wordnik.swagger.servlet.config.DefaultServletReaderConfig</servlet-class>-->
        <!--<load-on-startup>2</load-on-startup>-->
        <!--<init-param>-->
            <!--<param-name>swagger.resource.package</param-name>-->
            <!--<param-value>org.xdi.oxauth.idgen.ws.rs;org.xdi.oxauth.authorize.ws.rs</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>swagger.api.basepath</param-name>-->
            <!--<param-value>http://localhost:8085</param-value>-->
            <!--&lt;!&ndash;<param-value>http://seed.gluu.org</param-value>&ndash;&gt;-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>api.version</param-name>-->
            <!--<param-value>1.0.0</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->

    <!--&lt;!&ndash; swagger api declaration &ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>ApiDeclarationServlet</servlet-name>-->
        <!--<servlet-class>com.wordnik.swagger.servlet.listing.ApiDeclarationServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ApiDeclarationServlet</servlet-name>-->
        <!--<url-pattern>/api-docs/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <!-- JSF -->
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>Restrict raw XHTML Documents</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <session-config>
        <session-timeout>30</session-timeout>
	<tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <!--
       <persistence-unit-ref>
          <persistence-unit-ref-name>oxauth/pu</persistence-unit-ref-name>
          <persistence-unit-name>oxauth</persistence-unit-name>
       </persistence-unit-ref>
    -->

	<env-entry>
		<env-entry-name>com.sun.faces.ClientStateSavingPassword</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>qLIsT+20NUPIyAp0SXHIUEWaXfYqdgM5EWYSx9VE4b0=</env-entry-value>
	</env-entry>
</web-app>
