# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
image:
  repository: janssenproject/scim
  tag: 1.0.0_a3
  pullPolicy: Always

#Resources for the deployment
requests:
  memory: 1000Mi
limits:
  memory: 1000Mi

#ports for the deployment
ports:
  containerPort: 8080

# service
service:
  scimServiceName: scim
  name: http-scim
