{{ if .Values.hpa.enabled -}}
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "opendj.fullname" . }}
  labels:
{{ include "opendj.labels" $ | indent 4}}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | indent 4 }}
{{- end }}
{{- if .Values.additionalAnnotations }}
  annotations:
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: {{ include "opendj.fullname" . }}
  minReplicas: {{ .Values.hpa.minReplicas }}
  maxReplicas: {{ .Values.hpa.maxReplicas }}
  {{- if .Values.hpa.targetCPUUtilizationPercentage }}
  targetCPUUtilizationPercentage: {{ .Values.hpa.targetCPUUtilizationPercentage }}
  {{- else if .Values.hpa.metrics }}
  metrics:
  {{- with .Values.hpa.metrics }}
{{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- if .Values.hpa.behavior }}
  behavior:
  {{- with .Values.hpa.behavior }}
{{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
{{- end }}