{{- if or (eq .Values.global.cnPersistenceType "ldap") (eq .Values.global.cnPersistenceType "hybrid") }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "opendj.fullname" $ }}
  namespace: {{ $.Release.Namespace }}
  labels:
{{ include "opendj.labels" $ | indent 4}}
{{- if $.Values.additionalLabels }}
{{ toYaml $.Values.additionalLabels | indent 4 }}
{{- end }}
{{- if or (.Values.additionalAnnotations) (.Values.global.opendj.customAnnotations.statefulset) }}
  annotations:
{{- if .Values.additionalAnnotations }}
{{ toYaml .Values.additionalAnnotations | indent 4 }}
{{- end }}
{{- if .Values.global.opendj.customAnnotations.statefulset }}
{{ toYaml .Values.global.opendj.customAnnotations.statefulset | indent 4 }}
{{- end }}
{{- end }}
spec:
  selector:
    matchLabels:
      app: {{ include "opendj.name" $ }}
  serviceName: {{ include "opendj.name" $ }}
  replicas: {{ $.Values.replicas }}
  template:
    metadata:
      labels:
        app: {{ include "opendj.name" $ }}
      {{- if $.Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      serviceAccountName: {{ .Values.global.serviceAccountName }}  
      containers:
      - name: {{ include "opendj.name" $ }}
        {{- if .Values.customScripts }}
        command:
          - /bin/sh
          - -c
          - |
              {{- with .Values.customScripts }}
              {{- toYaml . | replace "- " "" | nindent 14}}
              {{- end }}
              /app/scripts/entrypoint.sh
        {{- end}}
        imagePullPolicy: {{ $.Values.image.pullPolicy }}
        image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
        env:
          {{- include "opendj.usr-envs" $ | indent 12 }}
          {{- include "opendj.usr-secret-envs" $ | indent 12 }}
        lifecycle:
{{- toYaml .Values.lifecycle | nindent 10 }}
        envFrom:
        - configMapRef:
            name: {{ $.Release.Name }}-config-cm
        {{ if $.Values.global.usrEnvs.secret }}
        - secretRef:
            name: {{ $.Release.Name }}-global-user-custom-envs
        {{- end }}
        {{ if $.Values.global.usrEnvs.normal }}
        - configMapRef:
            name: {{ $.Release.Name }}-global-user-custom-envs
        {{- end }}
        ports:
        {{- range $key, $value := $.Values.ports }}
          - containerPort: {{ $value.targetPort }}
            name: {{ $key }}
        {{- end }}
        volumeMounts:
        {{- range $key, $values := $.Values.openDjVolumeMounts }}
          - mountPath: {{$values.mountPath}}
            name: {{$values.name}}
            subPath: {{$key}}
        {{- end }}
        {{- with $.Values.volumeMounts }}
{{- toYaml . | nindent 10 }}
        {{- end }}
          - name: ldap-certkey
            mountPath: {{ .Values.global.cnLdapCertFile }}
            subPath: opendj.crt
          - name: ldap-certkey
            mountPath: {{ .Values.global.cnLdapKeyFile }}
            subPath: opendj.key
          - name: ldap-pass
            mountPath: {{ .Values.global.cnLdapPasswordFile }}
            subPath: ldap_password
          - name: ldap-pass
            mountPath: {{ .Values.global.cnLdapTruststorePasswordFile }}
            subPath: ldap_truststore_password
        livenessProbe:
{{- toYaml $.Values.livenessProbe | nindent 10 }}
        readinessProbe:
{{- toYaml $.Values.readinessProbe | nindent 10 }}
        {{- if or (eq $.Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq $.Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
        resources: {}
        {{- else if $.Values.global.cloud.testEnviroment }}
        resources: {}
        {{- else }}
        resources:
{{- toYaml $.Values.resources | nindent 10 }}
        {{- end }}
      volumes:
      - name: ldap-pass
        secret:
          secretName: {{ .Release.Name }}-ldap-pass
      - name: ldap-certkey
        secret:
          secretName: {{ .Release.Name }}-ldap-certkey
  volumeClaimTemplates:
  - metadata:
      name: opendj-volume
    spec:
      accessModes:
      - {{ $.Values.persistence.accessModes }}
      resources:
        requests:
          storage: {{ $.Values.persistence.size }}
      {{- if eq $.Values.global.storageClass.provisioner "k8s.io/minikube-hostpath" }}
      storageClassName: standard
      {{- else }}
      storageClassName: {{ include "opendj.fullname" $ | quote }}
      {{- end }}
{{- end }}
