# coding: utf-8

"""
    SCIM API

    Janssen SCIM 2.0 server API. Developers can think of SCIM as a REST API with endpoints exposing CRUD functionality (create, update, retrieve and delete) for identity management resources such as users, groups, and fido devices.   # noqa: E501

    OpenAPI spec version: 5.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class Fido2DevicesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_fido2_device_by_id(self, id, **kwargs):  # noqa: E501
        """delete_fido2_device_by_id  # noqa: E501

        Deletes a Fido 2 resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_fido2_device_by_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Identifier of the resource to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_fido2_device_by_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_fido2_device_by_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_fido2_device_by_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """delete_fido2_device_by_id  # noqa: E501

        Deletes a Fido 2 resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_fido2_device_by_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Identifier of the resource to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_fido2_device_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_fido2_device_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['scim_auth']  # noqa: E501

        return self.api_client.call_api(
            '/Fido2Devices/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_fido2_device_by_id(self, id, **kwargs):  # noqa: E501
        """get_fido2_device_by_id  # noqa: E501

        Retrieves a Fido 2 device by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fido2_device_by_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str attributes: A comma-separated list of attribute names to return in the response
        :param str excluded_attributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list)
        :param str user_id: Identifier (inum) of the device owner. This param is not required when underlying database is LDAP
        :return: Fido2DeviceResource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_fido2_device_by_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_fido2_device_by_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_fido2_device_by_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """get_fido2_device_by_id  # noqa: E501

        Retrieves a Fido 2 device by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fido2_device_by_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str attributes: A comma-separated list of attribute names to return in the response
        :param str excluded_attributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list)
        :param str user_id: Identifier (inum) of the device owner. This param is not required when underlying database is LDAP
        :return: Fido2DeviceResource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'attributes', 'excluded_attributes', 'user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_fido2_device_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_fido2_device_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501
        if 'user_id' in params:
            query_params.append(('userId', params['user_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['scim_auth']  # noqa: E501

        return self.api_client.call_api(
            '/Fido2Devices/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Fido2DeviceResource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_fido2_devices(self, **kwargs):  # noqa: E501
        """get_fido2_devices  # noqa: E501

        Query Fido 2 resources  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fido2_devices(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attributes: A comma-separated list of attribute names to return in the response
        :param str excluded_attributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list)
        :param str user_id: Used to restrict the search to fido 2 resources owned by a specific user
        :param str filter: An expression specifying the search criteria. See section 3.4.2.2 of RFC 7644
        :param int start_index: The 1-based index of the first query result
        :param int count: Specifies the desired maximum number of query results per page
        :param str sort_by: The attribute whose value will be used to order the returned responses
        :param str sort_order: Order in which the sortBy param is applied. Allowed values are \"ascending\" and \"descending\"
        :return: Fido2ListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_fido2_devices_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_fido2_devices_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_fido2_devices_with_http_info(self, **kwargs):  # noqa: E501
        """get_fido2_devices  # noqa: E501

        Query Fido 2 resources  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fido2_devices_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attributes: A comma-separated list of attribute names to return in the response
        :param str excluded_attributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list)
        :param str user_id: Used to restrict the search to fido 2 resources owned by a specific user
        :param str filter: An expression specifying the search criteria. See section 3.4.2.2 of RFC 7644
        :param int start_index: The 1-based index of the first query result
        :param int count: Specifies the desired maximum number of query results per page
        :param str sort_by: The attribute whose value will be used to order the returned responses
        :param str sort_order: Order in which the sortBy param is applied. Allowed values are \"ascending\" and \"descending\"
        :return: Fido2ListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attributes', 'excluded_attributes', 'user_id', 'filter', 'start_index', 'count', 'sort_by', 'sort_order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_fido2_devices" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501
        if 'user_id' in params:
            query_params.append(('userId', params['user_id']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'start_index' in params:
            query_params.append(('startIndex', params['start_index']))  # noqa: E501
        if 'count' in params:
            query_params.append(('count', params['count']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['scim_auth']  # noqa: E501

        return self.api_client.call_api(
            '/Fido2Devices', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Fido2ListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_fido2_device(self, body, **kwargs):  # noqa: E501
        """search_fido2_device  # noqa: E501

        Query Fido 2 resources  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_fido2_device(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SearchRequest body: Payload that represents the search criteria (required)
        :param str user_id: Used to restrict the search to fido 2 resources owned by a specific user
        :return: Fido2ListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_fido2_device_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.search_fido2_device_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def search_fido2_device_with_http_info(self, body, **kwargs):  # noqa: E501
        """search_fido2_device  # noqa: E501

        Query Fido 2 resources  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_fido2_device_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SearchRequest body: Payload that represents the search criteria (required)
        :param str user_id: Used to restrict the search to fido 2 resources owned by a specific user
        :return: Fido2ListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_fido2_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `search_fido2_device`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'user_id' in params:
            query_params.append(('userId', params['user_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['scim_auth']  # noqa: E501

        return self.api_client.call_api(
            '/Fido2Devices/.search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Fido2ListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_fido2_device_by_id(self, body, id, **kwargs):  # noqa: E501
        """update_fido2_device_by_id  # noqa: E501

        Updates a Fido 2 resource. Update works in a replacement fashion&amp;#58; every attribute value found in the payload sent will replace the one in the existing resource representation. Attributes  not passed in the payload will be left intact.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_fido2_device_by_id(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Fido2DeviceResource body: Payload with the data to replace in the existing device identified by the id param (required)
        :param str id: (required)
        :param str attributes: A comma-separated list of attribute names to return in the response
        :param str excluded_attributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list)
        :return: Fido2DeviceResource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_fido2_device_by_id_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_fido2_device_by_id_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def update_fido2_device_by_id_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """update_fido2_device_by_id  # noqa: E501

        Updates a Fido 2 resource. Update works in a replacement fashion&amp;#58; every attribute value found in the payload sent will replace the one in the existing resource representation. Attributes  not passed in the payload will be left intact.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_fido2_device_by_id_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Fido2DeviceResource body: Payload with the data to replace in the existing device identified by the id param (required)
        :param str id: (required)
        :param str attributes: A comma-separated list of attribute names to return in the response
        :param str excluded_attributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list)
        :return: Fido2DeviceResource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'attributes', 'excluded_attributes']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_fido2_device_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_fido2_device_by_id`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_fido2_device_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'attributes' in params:
            query_params.append(('attributes', params['attributes']))  # noqa: E501
        if 'excluded_attributes' in params:
            query_params.append(('excludedAttributes', params['excluded_attributes']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/scim+json', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/scim+json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['scim_auth']  # noqa: E501

        return self.api_client.call_api(
            '/Fido2Devices/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Fido2DeviceResource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
