# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
ruamel.yaml==0.16.10
git+https://github.com/JanssenProject/jans@4063981f124d9111c41357d868183295b55b6d86#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
