# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.54.2
libcst<0.4
git+https://github.com/JanssenProject/jans@6f01fbe443e8460db433a54c376bc551af46b909#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
