# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
git+https://github.com/JanssenProject/jans@4f5f937123b0e1de969bf9b5c97564596363be44#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
