# License terms and conditions for Janssen Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.global.scim.scimServiceName }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "scim.labels" . | indent 4}}
spec:
  {{- if .Values.global.alb.ingress }}
  type: NodePort
  {{- end }}
  ports:
  - port: {{ .Values.service.port }}
    name: {{ .Values.service.name }}
  selector:
    app: {{ .Release.Name }}-{{ include "scim.name" . }} #scim
    