<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxD Suite" parallel="false">

    <parameter name="host" value="localhost"/>
    <parameter name="port" value="8098"/>
    <parameter name="discoveryUrl" value="https://seed.gluu.org/.well-known/openid-configuration"/>
    <parameter name="umaDiscoveryUrl" value="https://seed.gluu.org/.well-known/uma-configuration"/>
    <parameter name="redirectUrl" value="https://client.example.com/cb"/>
    <parameter name="clientName" value="oxD Client"/>
    <parameter name="userId" value="mike"/>
    <parameter name="userSecret" value="secret"/>
    <parameter name="clientId" value="@!1111!0008!FF81!2D39"/>
    <parameter name="clientSecret" value="6213e9b9-c46d-4008-8af1-03f918a8ade4"/>
    <parameter name="amHost" value="seed.gluu.org"/>
    <parameter name="rsHost" value="photoz.example.com"/>
    <parameter name="licenseServerEndpoint" value="https://seed.gluu.org/license-server"/>

    <!-- main class to set up and tear down suite -->
    <test name="SetUp" enabled="true">
        <classes>
            <class name="org.xdi.oxd.server.SetUpTest"/>
        </classes>
    </test>

    <!-- OIC Tests -->
    <test name="Discovery" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.DiscoveryTest"/>
        </classes>
    </test>
    <test name="Register client" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterClientTest"/>
        </classes>
    </test>
    <test name="Client read" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.ClientReadTest"/>
        </classes>
    </test>
    <test name="Check IdToken" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CheckIdTokenTest"/>
        </classes>
    </test>
    <test name="Check AccessToken" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.CheckAccessTokenTest"/>
        </classes>
    </test>

    <!-- UMA Tests -->
    <test name="Obtain PAT" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.ObtainPatTest"/>
        </classes>
    </test>
    <test name="Obtain AAT" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.ObtainAatTest"/>
        </classes>
    </test>
    <test name="Obtain RPT" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.ObtainRptTest"/>
        </classes>
    </test>
    <test name="Register resource" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterResourceTest"/>
        </classes>
    </test>
    <test name="Register permission ticket" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RegisterTicketTest"/>
        </classes>
    </test>
    <test name="Rpt status check" enabled="true">
        <classes>
            <class name="org.xdi.oxd.client.RptStatusTest"/>
        </classes>
    </test>
</suite>
