# pinned to py3-grpcio version to avoid failure on native extension build
grpcio==1.41.0
libcst<0.4
git+https://github.com/JanssenProject/jans@a31dee3fa43be70c64f267fc86f8162b9b48dce2#egg=jans-pycloudlib&subdirectory=jans-pycloudlib
