html {
    overflow-y: scroll;
}

body {
    font-size: 12px;
    margin: 0px;
}

a img {
    border: none;
}

h1 {
    font-size: 1.6em;
    margin-top: 0;
}

input[type=submit], input[type=button] {
    font-size: 11px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

input[type=text], input[type=password], textarea {
    font-size: 12px;
    padding-left: 1px;
}

select {
    font-size: 13px;
}

.tableControl, .actionButtons {
    width: 100%;
}

.tableControl a {
    padding-left: 10px;
}

.tableControl {
    text-align: right;
}

.footer {
    text-align: center;
    font-size: 11px;
    margin-bottom: 10px;
}

.rich-table {
    width: 100%;
}

.body {
    padding: 30px 30px 30px 30px;
}

.message {
    padding: 5px;
    list-style: none;
    border: 0;
    background: none;
    padding: 0;
    color: #000000;
    margin: 5px 0 15px 0;
    font-size: 12px;
}

.message li {
    background: none no-repeat scroll left center transparent;
    height: 24px;
    padding-left: 32px;
    padding-top: 10px;
    background-position: 4px 4px;
}

.message li.infomsg {
    background-image: url("../img/msginfo2.png");
    background-color: #e4ffdc;
}

.message li.errormsg {
    background-image: url("../img/msgerror2.png");
    background-color: #ffdcdc;
}

.message li.warnmsg {
    background-image: url("../img/msgwarn2.png");
    background-color: #ffffdc;
}

.name {
    /*vertical-align: top;*/
    font-weight: bold;
    /*min-width: 115px;*/
    text-wrap: avoid;

    /*float: left;
    padding-top: 5px;
    margin-top: 3px;
    clear: left;*/
}

.nameText {
    vertical-align: top;
    font-weight: bold;
    min-width: 115px;
    float: left;
    padding-top: 5px;
    clear: left;
}

.striked {
    text-decoration: line-through;
}

.value {

}

.hint {

}

.error {
    float: left;
    padding: 5px;
}

.errors {
    color: #FF0000;
    vertical-align: middle;
}

img.errors {
    padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
    border: 1px solid red !important;
}

.required {
    color: #FF0000;
    padding-left: 2px;
}

.rich-stglpanel-body {
    overflow: auto;
}

.noPadding {
    padding: 0px;
}

/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/

.rich-panel input[type=submit], .rich-panel input[type=button],
.rich-tabpanel input[type=submit], .rich-tabpanel input[type=button] {
    margin-bottom: 0;
}

.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
    margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
    margin-left: 2px;
    position: relative;
    top: 1px;
}

.actionButtons {
    padding-left: 1px;
}

.actionButtons select {
    margin: 5px 5px 5px 0;
    vertical-align: bottom;
}

.rich-toolbar-item a {
    text-decoration: none;
}

.rich-toolbar-item a:hover, .rich-ddmenu-label-select {
    text-decoration: underline;
}

.rich-toolbar-item .rich-menu-item a:hover {
    text-decoration: none;
}

.rich-datalist {
    list-style: square;
    margin: 6px 0 1px 0;
    padding-left: 18px;
}

.rich-list-item {
    padding-bottom: 4px;
}

div.info {
    font-size: 1.2em;
}

ul.bullets {
    list-style: square;
}

ul.bullets li {
    padding-bottom: 2px;
}

td.action {
    text-align: center;
    width: 8em;
    white-space: nowrap;
}

td.action a {
    padding-left: 1px;
    padding-right: 1px;
}

table.radio {
    border: 0;
}

table.radio td {
    padding: 0 2px;
}

table.radio input[type=radio] {
    vertical-align: bottom;
}

/* -- SKINS.XCSS OVERRIDES -- */

.body {
    width: 960px;
    margin: 0 auto;
}

#detectPokenButton {
    position: relative;
    bottom: 10px;
    padding: 5px 10px !important;
}

.addPersona {
    padding: 3px !important;
    margin: 5px 0 !important;
}

.moveContact {
    margin: 0px 0px 0 0 !important;
    padding: 0px !important;
}

.addPersona,
#detectPokenButton,
#groupInventory .addGroup,
#trustRelationships .addAttribute,
#personInventory .addPerson,
#attributeInventory .addAttribute, /*Attribute inventory page's Add attribute button.*/
input[type="submit"],
input[type="button"] {
    margin: 5px 5px 0 0;
    border: 1px solid #a5b6c7;
    color: #3b3b3b !important;
    background-color: #f1f1f6;
    background-image: url("../img/buttons_bg.jpg");
    background-repeat: repeat-x;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    padding: 1px;
}

#groupInventory .value,
#personInventory .value {
    padding: 0;
}

#detectPokenButton:active {
    bottom: 9px !important;
}

.addPersona:active,
#groupInventory .addGroup:active,
#trustRelationships .addAttribute:active,
#personInventory .addPerson:active,
#attributeInventory .addAttribute:active,
input[type="button"]:active,
input[type="submit"]:active {
    position: relative;
    top: 1px;
}

.rich-toolbar-item, .rich-toolbar {
    background-color: green;
    background-image: url("../img/menu_bg.png") !important;
    height: 33px;
}

.dr-toolbar-int {
    font-weight: normal;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}

.rich-toolbar a:hover,
.rich-toolbar a:active,
.rich-toolbar a:focus {
    color: white;
}

/* AUTHORIZE PAGE */
#authorizeForm {
    margin: 0 auto;
    width: 400px;
}

/* LOG IN PAGE */

#loginForm, #oneid_form {
    margin: 0 auto;
}

#loginForm2 {
    margin: 0 auto;
    width: 500px;
}

#loginForm .dr-pnl {
    background-color: transparent;
    border: none;

}

#loginForm .dr-pnl-b {
    background-image: url("../img/loginbox_bg.jpg") !important;
    border: 1px solid #819ea0 !important;
}

#loginForm .dr-pnl-h {
    background-color: transparent;
    background-image: none;
    border: none;
    color: #3b3b3b;
    font-size: 24px;
    margin-bottom: 5px;
}

p.info {
    font-style: italic;
    color: #3b3b3b;
}

#loginForm p.info {
    margin-bottom: 0;
}

#logo {
    margin: 10px
}

/* FOOTER */

.footer {
    background-image: url("../img/footer_bg.jpg");
    font-size: 11px;
    margin: 0 auto 20px;
    text-align: center;
    width: 960px;
    padding: 10px 0;
    border-top: 1px solid #dbdbdb;
}

.footer p {
    margin-top: 0 !important;
}

.footer a:link,
.footer a:visited {
    color: #275732;
}

/* HOMEPAGE */

#home {
    margin: 0 auto;
    width: 960px;
}

#home .dr-pnl {
    background-color: #F3F2F2;
    background-image: url("../img/seam_bg.jpg");
    border-color: #C0C0C0;
}

#home .dr-pnl-b {
    padding: 0;
}

#home .left {
    float: left;
}

#home .right {
    float: right;
    width: 300px;
    text-align: center
}

#home .info {
    height: 285px;
    padding: 10px;
}

#home h1 {
    color: #105259;
    font-size: 24px;
}

#home .dr-pnl li {
    font-style: italic;
}

/* ADD PERSON PAGE */

#userProfile,
#addPersonInventory {
    background-color: #F3F2F2;
    background-image: url("../img/seam_bg.jpg");
    border: 1px solid #C0C0C0;
    margin: 0 auto;
    padding: 15px;
    width: 265px;
}

#addPersonInventory input[type="submit"] {
    margin: 0 auto;
}

#addPersonInventory table {
    margin: 0 auto;
}

/* PERSONINVENTORY */

#personInventory {
    width: 960px;
    margin: 0 auto;
}

#groupInventory .searchParameters,
#personInventory .searchParameters {
    padding: 3px;
    margin-right: 10px;
}

#personInventory .dr-dscr-act,
#personInventory .dr-dscr-inact {
    border: none;
}

#personInventory .dr-dscr-inact {
    color: gray;
}

#groupInventory .error,
#personInventory .error {
    padding: 8px 0 0 0;
}

/* ATTRIBUTE INVENTORY */

#attributeInventory {
    width: 960px;
    margin: 0 auto;
}

#attributeInventory .rich-datalist {
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
}

#attributeInventory .rich-list-item {
    display: inline;
    margin-right: 10px;
    padding: 5px;
    background-color: #e9e9f3;
}

#attributeInventory .rich-list-item a:link,
#attributeInventory .rich-list-item a:visited {
    color: #3b3b3b;
    text-decoration: none;
    font-style: italic;
}

#attributeInventory .rich-list-item a:hover,
#attributeInventory .rich-list-item a:focus {
    text-decoration: underline;
}

#ContactsFormId,
#groupInventory #groupsFormId,
#personInventory #personsFormId,
#trustRelationships #trustRelationsshipList,
#attributeInventory #attributesFormId {
    background-color: #FFFFFF;
    border-collapse: collapse;
    empty-cells: show;
}

#PersonaList thead,
#ContactsFormId thead,
#groupInventory #groupsFormId thead,
#personInventory #personsFormId thead,
#trustRelationships #trustRelationsshipList thead,
#attributeInventory #attributesFormId thead {
    border-bottom: 1px solid #C0C0C0;
}

#PersonaList thead th,
#ContactsFormId thead th,
#groupInventory #groupsFormId thead th,
#personInventory #personsFormId thead th,
#trustRelationships #trustRelationsshipList thead th,
#attributeInventory #attributesFormId thead th {
    color: white;
    font-size: 12px;
    background-image: url("../img/personinventorytable_bg.jpg");
    background-repeat: repeat-x;
    border-right: 1px solid #C0C0C0;
    height: 23px;
}

#PersonaList tbody td,
#ContactsFormId tbody td,
#groupInventory #groupsFormId tbody td,
#personInventory #personsFormId tbody td,
#trustRelationships #trustRelationsshipList tbody td,
#attributeInventory #attributesFormId tbody td {
    border-bottom: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    padding: 4px;
}

#PersonaList tbody td {
    border-left: 1px solid #C0C0C0;
}

#attributeForm {
    margin: 0 auto;
    width: 325px;
    background-image: url("../img/seam2_bg.jpg");
    padding: 10px;
    border: 1px solid #C0C0C0;
}

#userProfile {
    width: 265px;
}

#trustRelationshipForm .name,
#attributeForm .name {
    color: #3b3b3b;
}

/* ERROR PAGE */

#errorPage ul {
    background-color: #FDEDED;
    border: 1px solid #DBDBDB;
}

#errorPage h1 {
    color: #670000;
}

#errorPage p {
    font-style: italic;
}

/* MY PROFILE PAGE */

.authReqs {
    background-color: #FFF8DC;
    border: 1px dashed #D3D3D3;
    padding: 10px;
}

#Personas {

}

#Personas thead {
}

#viewProfile .personalist {
    width: 315px;
}

#viewProfile .headertext {
    color: #105259;
    font-size: 24px;
}

#viewProfile .personaColumn .addPersona {
    margin-left: 3px;
}

#PersonaList {
    padding: 5px 0;
    margin-bottom: 5px;
}

#viewProfile {
    margin: 0 auto;
    width: 770px;
}

#viewProfile .attributeProfileColumn {
    width: 200px;
    position: absolute;
}

.alignTop {
    vertical-align: top;
    width: *;
}

.alignLeft {
    width: *;
}

.personasList {
    width: 150px;
}

.alignRight {
    width: 1px;
}

.wrapperTable thead th {
    border-bottom: 1px solid gray;
    text-align: left;
}

#PersonaList thead th {
    border: none;
    padding: 5px;
}

#updateButtons {
    text-align: right;
    margin-top: 10px;
}

/* DEFAULT SKIN OVERRIDES */

.dr-tbpnl-tb-inact {
    background-color: transparent !important;
    background-image: none;
}

.dr-tbpnl-tb-sel {
    border-color: white !important;
}

.dr-tbpnl-tbtopbrdr,
.dr-tbpnl-tbbrdr {
    padding: 0 !important;
}

.rich-inplace-view {
    background-color: transparent !important;
    border-bottom: 1px dotted !important;
    font-style: italic !important;
}

.rich-inplace-edit,
.rich-inplace-view {
    cursor: pointer !important;
    padding: 2px;
}

.rich-inplace-field {
    width: 100% !important;
}

.rich-inplace-changed {
    cursor: pointer !important;
    border: none !important;
    padding: 2px;
}

.rich-inplace-input-changed-hover {
    color: green !important;
}

.dr-tbpnl-tb-act {
    background-image: url("../img/tab_bg.jpg") !important;
}

.dr-tbpnl-cntnt {
    background-color: white !important;
}

.formColumn {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: threedface;
    border: 1px solid #C0C0C0;
    padding: 15px;
}

.formColumn div.prop .value {
    margin-top: 3px;
}

#updateButtons input[type="submit"],
#updateButtons input[type="button"] {
    padding: 5px 10px;
}

#trustRelationshipForm,
#personForm {
    width: 770px !important;
    margin: 0 auto;
}

#personForm {
    margin-top: 15px;
}

#trustRelationshipForm .attributeColumn,
#personForm .attributeColumn {
    width: 300px !important;
}

#updateOrganization {
    background-image: url("../img/seam2_bg.jpg");
    border: 1px solid #C0C0C0;
    margin: 0 auto;
    padding: 15px;
    width: 450px;
}

#personImport {
    background-image: url("../img/seam2_bg.jpg");
    border: 1px solid #C0C0C0;
    margin: 0 auto;
    padding: 15px;
    width: 430px;
}

#addGroup {
    background-image: url("../img/seam2_bg.jpg");
    border: 1px solid #C0C0C0;
    margin: 0 auto;
    padding: 15px;
    width: 315px;
}

/* Add Group Panel Styling */

#passwordPanelHeader,
#selectMemberModelPanelHeader {
    background-image: url("../img/personinventorytable_bg.jpg");
    height: 20px;
    padding: 5px 0 0 10px;
    border: 0;
}

#selectMemberModelPanelContainer #memberFormId input[type="text"] {
    margin-right: 5px;
    padding: 3px;
}

.rich-mpnl-controls {
    right: 7px !important;
    top: 7px !important;
}

#detectPoken {
    float: left;
    margin: 5px 5px 0 0;
}

#ContactsFormId {
    text-align: right;
    margin: 15px 0 0 0;
}

#ContactsFormId input {
    margin-right: 0 !important;
    padding: 3px !important;
}

#ContactsFormId table {
    text-align: left;
}
