<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Swagger Client Suite" parallel="false">

    <parameter name="host" value="http://localhost"/>
    <parameter name="opHost" value="https://${test.server.name}"/>
    <parameter name="opDiscoveryPath" value=""/>
    <parameter name="redirectUrl" value="https://client.example.com/cb"/>
    <parameter name="postLogoutRedirectUrl" value="https://client.example.com/cb/logout"/>
    <parameter name="logoutUrl" value="https://client.example.com/logout"/>
    <parameter name="userId" value="${auth.user.uid}"/>
    <parameter name="userSecret" value="${auth.user.password}"/>
    <parameter name="clientId" value="${auth.client.id}"/>
    <parameter name="clientSecret" value="${auth.client.secret}"/>
    <parameter name="rsProtect"
               value="{'resources':[{'path':'/ws/phone','conditions':[{'httpMethods':['GET'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/view'],'ticketScopes':['http://photoz.example.com/dev/actions/view']},{'httpMethods':['PUT', 'POST'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/add'],'ticketScopes':['http://photoz.example.com/dev/actions/add']},{'httpMethods':['DELETE'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/remove'],'ticketScopes':['http://photoz.example.com/dev/actions/remove']}]}]}"/>
    <parameter name="rsProtectScopeExpression"
               value="{'resources':[{'path':'/ws/phone','conditions':[{'httpMethods':['GET'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/view'],'scope_expression':{'rule':{'and':[{'or':[{'var':0},{'var':1}]},{'var':2}]},'data':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/add','http://photoz.example.com/dev/actions/view']}},{'httpMethods':['PUT','POST'],'scope_expression':{'rule':{'and':[{'or':[{'var':0},{'var':1}]},{'var':2}]},'data':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/add','http://photoz.example.com/dev/actions/view']},'ticketScopes':['http://photoz.example.com/dev/actions/add']},{'httpMethods':['DELETE'],'scopes':['http://photoz.example.com/dev/actions/all','http://photoz.example.com/dev/actions/remove'],'ticketScopes':['http://photoz.example.com/dev/actions/remove']}]}]}"/>
    <parameter name="rsProtectScopeExpressionSecond"
               value="{'resources':[{'path':'/GetAll','conditions':[{'httpMethods':['GET'],'scopes':['http://photoz.example.com/dev/actions/a1','http://photoz.example.com/dev/actions/a2','http://photoz.example.com/dev/actions/a3'],'ticketScopes':['http://photoz.example.com/dev/actions/a1','http://photoz.example.com/dev/actions/a2','http://photoz.example.com/dev/actions/a3'],'scope_expression':{'rule':{'and':[{'or':[{'var':0},{'var':1}]},{'var':2}]},'data':['http://photoz.example.com/dev/actions/a1','http://photoz.example.com/dev/actions/a2','http://photoz.example.com/dev/actions/a3']}}]}]}"/>

    <!-- main class to set up and tear down suite -->
   <test name="SetUp" enabled="true">
        <classes>
            <class name="io.swagger.client.api.SetUpTest"/>
        </classes>
    </test>

    <!-- Connect -->
    <test name="Get OpDiscovery" enabled="true">
        <classes>
            <class name="io.swagger.client.api.GetOpDiscoveryConfigTest"></class>
        </classes>
    </test>
    <test name="Register site" enabled="true">
        <classes>
            <class name="io.swagger.client.api.RegisterSiteTest"/>
        </classes>
    </test>
    <test name="Remove site" enabled="true">
        <classes>
            <class name="io.swagger.client.api.RemoveSiteTest"/>
        </classes>
    </test>
    <!--
        <test name="Get authorization url" enabled="true">
            <classes>
                <class name="io.swagger.client.api.GetAuthorizationUrlTest"/>
            </classes>
        </test>
    <test name="Get tokens by code" enabled="true">
           <classes>
               <class name="io.swagger.client.api.GetTokensByCodeTest"/>
           </classes>
       </test>
       <test name="Get user info" enabled="true">
           <classes>
               <class name="io.swagger.client.api.GetUserInfoTest"/>
           </classes>
       </test>
       <test name="Log out" enabled="true">
           <classes>
               <class name="io.swagger.client.api.GetLogoutUrlTest"/>
           </classes>
       </test>
       <test name="Check IdToken" enabled="true">
           <classes>
               <class name="io.swagger.client.api.CheckIdTokenTest"/>
           </classes>
       </test>
       <test name="Check AccessToken" enabled="true">
           <classes>
               <class name="io.swagger.client.api.CheckAccessTokenTest"/>
           </classes>
       </test>
       <test name="Authorization code flow prompt=none" enabled="true">
           <classes>
               <class name="io.swagger.client.api.AuthorizationCodeFlowTest"/>
           </classes>
       </test>
       <test name="Migration Service Test" enabled="false">
           <classes>
               <class name="io.swagger.client.api.service.MigrationServiceTest"/>
           </classes>
       </test>

       &lt;!&ndash; UMA Tests &ndash;&gt;
       <test name="UMA - Full Flow Test" enabled="true">
           <classes>
               <class name="io.swagger.client.api.UmaFullTest"/>
           </classes>
       </test>
       <test name="RS - Protect" enabled="true">
           <classes>
               <class name="io.swagger.client.api.RsProtectTest"/>
           </classes>
       </test>
       <test name="RS - Check Access" enabled="true">
           <classes>
               <class name="io.swagger.client.api.RsCheckAccessTest"/>
           </classes>
       </test>
       <test name="RP - Get RPT" enabled="true">
           <classes>
               <class name="io.swagger.client.api.RpGetRptTest"/>
           </classes>
       </test>
       <test name="RP - Get Claims-Gathering Url" enabled="true">
           <classes>
               <class name="io.swagger.client.api.UmaGetClaimsGatheringUrlTest"/>
           </classes>
       </test>
       <test name="Introspect RPT" enabled="true">
           <classes>
               <class name="io.swagger.client.api.IntrospectRptTest"/>
           </classes>
       </test>

       &lt;!&ndash; Custom &ndash;&gt;
       <test name="Setup client" enabled="true">
           <classes>
               <class name="io.swagger.client.api.SetupClientTest"/>
           </classes>
       </test>
       <test name="Get client token" enabled="true">
           <classes>
               <class name="io.swagger.client.api.GetClientTokenTest"/>
           </classes>
       </test>
       <test name="Introspect access token" enabled="true">
           <classes>
               <class name="io.swagger.client.api.IntrospectAccessTokenTest"/>
           </classes>
       </test>
   -->
</suite>
