[Unit]
Description=Janssen Radius service
Requires=oxauth.service
After=oxauth.service

[Service]
Type=forking
ExecStart=/etc/init.d/jans-radius start
ExecStop=/etc/init.d/jans-radius stop
User=radius
Group=jans

[Install]
WantedBy=multi-user.target
