name: Janssen Build & Test

on:
  push:
    branches:
      - main
    paths:
      - "jans-**"
      - "agama"
  schedule:
    - cron: '0 8 * * *'
  pull_request:
    branches:
      - main
    paths:
      - "jans-**"
      - "agama"
  workflow_dispatch:
    inputs:
      project:
        type: choice
        options:
          - "jans-bom"
          - "jans-orm"
          - "jans-core"
          - "jans-lock/lock-server"
          - "agama"
          - "jans-auth-server"
          - "jans-link"
          - "jans-fido2"
          - "jans-scim"
          - "jans-config-api"
          - "jans-casa"
          - "jans-shibboleth-idp"
          - "jans-bom jans-orm jans-core jans-lock/lock-server agama jans-auth-server jans-link jans-fido2 jans-scim jans-config-api jans-casa jans-shibboleth-idp"
        description: 'Service'
        required: true
        default: "jans-bom jans-orm jans-core jans-lock/lock-server agama jans-auth-server jans-link jans-fido2 jans-scim jans-config-api jans-casa jans-shibboleth-idp"
concurrency:
  group: run-once
  cancel-in-progress: false
permissions:
  contents: read
jobs:
  cleanup:
    runs-on: ubuntu-22.04
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read
      packages: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit
    - name: Get version ID for 0.0.0-nightly
      id: get_version_id
      run: |
        page=1
        services=""
        while true; do
          response=$(gh api -H "Accept: application/vnd.github+json" \
            /orgs/JanssenProject/packages?package_type=maven\&per_page=100\&page=$page)
          names=$(echo "$response" | jq -r '.[].name')
          if [ -z "$names" ]; then
            break
          fi
          services="$services $names"
          page=$((page + 1))
        done

        services=$(echo "$services" | tr '\n' ' ' | sed 's/ *$//')
        echo "Services: $services"
          for service in $services; do
            echo "Checking $service"
            version_id=$(gh api -H "Accept: application/vnd.github+json" \
              /orgs/JanssenProject/packages/maven/"${service}"/versions \
              | jq -r '.[] | select(.name == "0.0.0-nightly") | .id')
            echo "version_id=$version_id" >> $GITHUB_ENV
            gh api --method DELETE \
            -H "Accept: application/vnd.github+json" \
