name: Build and Publish Releases to Hub

on:
  push:
    tags:
      - "*"
    branches:
      # below branch is triggered by jenkins which triggers dev image
      - update-source-build-date
    paths:
      - "docker-jans-**/**"
      - "!**.md"
  pull_request:
    branches:
      - main
      # below branch is triggered by jenkins which triggers dev image
      - update-source-build-dates
    paths:
      - "docker-jans-**/**"
      - "!docker-jans-**/CHANGELOG.md"
      - "!docker-jans-**/version.txt"
      - "!**.md"
  workflow_dispatch:
    inputs:
      services:
        description: 'One or set of the docker images. Format as following: "docker-jans-auth-server docker-jans-certmanager docker-jans-config-api docker-jans-configurator docker-jans-fido2 docker-jans-persistence-loader docker-jans-scim docker-jans-monolith docker-jans-loadtesting-jmeter"'
        required: true
        default: 'docker-jans-auth-server docker-jans-certmanager docker-jans-config-api docker-jans-configurator docker-jans-fido2 docker-jans-persistence-loader docker-jans-scim docker-jans-monolith docker-jans-loadtesting-jmeter'
      cn_version:
        description: 'The war version to build the image off'
        required: false
        default: ''
      image_tag:
        description: 'The manual image tag to post'
        required: false
        default: ''
      tags:
        description: 'Tags'
        required: false

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 8
      matrix:
        docker-images: ["auth-server", "certmanager", "config-api", "configurator", "fido2", "persistence-loader", "scim", "monolith", "loadtesting-jmeter"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check docker directories that changed
        id: build_docker_image
        run: |
          BUILD=true
          DEFAULT_ALL=${{ github.event.inputs.services }}
          if [ -z "$DEFAULT_ALL" ]
          then
            DEFAULT_ALL="docker-jans-auth-server docker-jans-certmanager docker-jans-config-api docker-jans-configurator docker-jans-fido2 docker-jans-persistence-loader docker-jans-scim docker-jans-monolith docker-jans-loadtesting-jmeter"
          else
            echo "$DEFAULT_ALL"
          fi
          # Detect actual docker folders that changed if error arises default to all images
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          DIRECTORIES_CHANGED=$(gh pr view $pull_number --json files --jq '.files.[].path' | cut -d/ -f1 | sort -u | grep "docker-jans" || echo "$DEFAULT_ALL")
          if [[ "$DIRECTORIES_CHANGED" =~ "${{ matrix.docker-images }}" ]]; then
            echo "A change in this images directory has occurred"
            echo ::set-output name=build::${BUILD}
          fi

      - name: Install dependencies
        if: steps.build_docker_image.outputs.build || github.event_name == 'tags'
        run: |
          sudo apt-get update
          sudo python3 -m pip install --upgrade pip
          sudo pip3 install setuptools --upgrade
          sudo pip3 install -r ./automation/requirements.txt
          sudo apt-get update


      - name: Prepare
        if: steps.build_docker_image.outputs.build || github.event_name == 'tags'
        id: prep
        run: |
          DOCKER_FILE_LOCATION=./docker-jans-${{ matrix.docker-images }}
          if [[ "loadtesting-jmeter" =~ "${{ matrix.docker-images }}" ]]; then
            DOCKER_FILE_LOCATION=./demos/benchmarking/docker-jans-loadtesting-jmeter
          fi
          MAIN_VERSION=$(python3 -c "from dockerfile_parse import DockerfileParser ; dfparser = DockerfileParser('$DOCKER_FILE_LOCATION') ; print(dfparser.labels['version'])")
          DOCKER_IMAGE=janssenproject/${{ matrix.docker-images }}
          VERSION=${MAIN_VERSION}_dev
          BUILD=true
          if [[ $GITHUB_REF == refs/tags/docker-jans-${{ matrix.docker-images }}-* ]]; then
            VERSION=${GITHUB_REF#refs/tags/docker-jans-${{ matrix.docker-images }}-v}
          elif [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "A tag not matching the image triggered the build. I will not continue."
            BUILD=""
          fi
          TAGS="${DOCKER_IMAGE}:${VERSION}"
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\_[a-b]{1}[0-9]{1,3}$ ]]; then
            TAGS="$TAGS,${DOCKER_IMAGE}:${MAIN_VERSION}_dev"
          fi
          # If the user passed a manual image tag to build a custom manual image
          MANUAL_IMAGE_TAG=${{ github.event.inputs.image_tag }}
          if [ ! -z "$MANUAL_IMAGE_TAG" ]
          then
            TAGS="$TAGS,${DOCKER_IMAGE}:${MANUAL_IMAGE_TAG}"
            echo "Manual image tag has been inputted by the user"
          else
            echo "$TAGS"
          fi
          # If the user passed a war version to build off ,change this war version.
          CN_VERSION=${{ github.event.inputs.cn_version }}
          if [ ! -z "$CN_VERSION" ]
          then
            python3 -c "from dockerfile_parse import DockerfileParser ; dfparser = DockerfileParser('./docker-jans-${{ matrix.docker-images }}') ; dfparser.envs['CN_VERSION'] = '${{ github.event.inputs.cn_version }}'"
            echo "War version has been modified."
          else
            echo "$CN_VERSION"
          fi
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=build::${BUILD}
          echo ::set-output name=dockerfilelocation::${DOCKER_FILE_LOCATION}

      # UPDATE BUILD DATES INSIDE THE DOCKERFILE BEFORE BUILDING THE DEV IMAGES TRIGGERED BY JENKINS
      - name: Setup Python 3.7
        if: github.event_name == 'workflow_dispatch' && ${{ matrix.docker-images }} == 'loadtesting-jmeter'
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Install Python dependencies
        if: github.event_name == 'workflow_dispatch' && ${{ matrix.docker-images }} == 'loadtesting-jmeter'
        run: |
          sudo apt-get update
          sudo python3 -m pip install --upgrade pip
          sudo pip3 install setuptools --upgrade
          sudo pip3 install -r ./automation/requirements.txt
          sudo apt-get update
          sudo apt-get install jq

      - name: Update Build date in Dockerfile
        if: github.event_name == 'workflow_dispatch' && ${{ matrix.docker-images }} == 'loadtesting-jmeter'
        id: update_build_date_in_dockerfile
        run: |
          sudo python3 ./automation/auto_update_build_date.py
      #END UPDATE BUILD DATES INSIDE THE DOCKERFILE BEFORE BUILDING THE DEV IMAGES TRIGGERED BY JENKINS

      - name: Set up QEMU
        if: steps.build_docker_image.outputs.build && steps.prep.outputs.build
        uses: docker/setup-qemu-action@master
        with:
          image: tonistiigi/binfmt:master
          platforms: all

      - name: Set up Docker Buildx
        if: steps.build_docker_image.outputs.build && steps.prep.outputs.build
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        if: steps.build_docker_image.outputs.build && steps.prep.outputs.build
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.MOAUTO_DOCKERHUB_USERNAME }}
          password: ${{ secrets.MOAUTO_DOCKERHUB_TOKEN }}

      - name: Build and push
        if: steps.build_docker_image.outputs.build && steps.prep.outputs.build
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ${{ steps.prep.outputs.dockerfilelocation }}
          file: ${{ steps.prep.outputs.dockerfilelocation }}/Dockerfile
          #target: prod
          # add to platforms comma seperated linux/ppc64leL Issue: py3-grpcio
          # add to platforms comma seperated linux/386 : Issue: openjdk11-jre-headless alpine package not
          # add to platforms comma seperated ,linux/arm/v6 : Issue: openjdk11-jre-headless alpine package not found
          # add to platforms comma seperated ,linux/arm/v7 : Issue: openjdk11-jre-headless alpine package not found
          # add to platforms comma seperated ,linux/s390x: All images with openjdk hav an issue with linux/s390x Problematic frame: J 6 c1 java.lang.String.hashCode()I java.base@11.0.9 (49 bytes) : Issue: openjdk11-jre-headles
          # add to platforms comma seperated ,linux/arm64:  : PyDev issue only

          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.prep.outputs.tags }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Image digest
        if: steps.build_docker_image.outputs.build && steps.prep.outputs.build
        run: echo ${{ steps.docker_build.outputs.digest }}
