name: Scan Image
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Container image
      run: docker build . --file Dockerfile --tag localbuild/scanimage:latest
    - uses: anchore/scan-action@v2
      id: scan
      with:
        image: "localbuild/scanimage:latest"
        acs-report-enable: true
    - name: upload Anchore scan SARIF report
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: results.sarif
    - uses: azure/container-scan@v0
      with:
        image-name: localbuild/scanimage:latest
