name: Images Janspycloud updater

on:
  push:
    branches:
      - master
      - main
      - "!release-**"
    paths:
      - "jans-pycloudlib/**"
  pull_request:
    branches:
      - master
      - main
      - "!release-**"
    paths:
      - "jans-pycloudlib/**"
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      PR_DOCKER_DEV_BRANCH_NAME: update-dev-jans-pycloudlib
      PR_DOCKER_STABLE_BRANCH_NAME: update-stable-jans-pycloudlib
      GITHUB_TOKEN: ${{ secrets.MOWORKFLOWTOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update dev requriments in docker images
        if: github.event_name == 'pull_request'
        id: build_dev_reqs
        run: |
          dockerimages="auth-server certmanager client-api config-api configurator fido2 persistence-loader scim"
          for image in $dockerimages; do
            sed -i '/git+https/c\git+https://github.com/$GITHUB_REPOSITORY@$PR_DOCKER_DEV_BRANCH_NAME#egg=jans-pycloudlib&subdirectory=jans-pycloudlib' ./docker-jans-$image/requirements.txt
          done

      - name: Configure Git and open dev PR
        if: github.event_name == 'pull_request'
        run: |
          git config user.name "mo-auto"
          git config user.email "54212639+mo-auto@users.noreply.github.com"
          git config --global user.signingkey "${{ steps.import_gpg.outputs.keyid }}"
          git add -A
          git commit -S -s -m "chore(jans-pycloudlib): updated dev build"


      - name: Update stable requriments in docker images
        if: github.event_name != 'pull_request'
        id: build_stable_reqs
        run: |
          dockerimages="auth-server certmanager client-api config-api configurator fido2 persistence-loader scim"]
          for image in $dockerimages; do
            sed -i '/git+https/c\git+https://github.com/$GITHUB_REPOSITORY@$PR_DOCKER_STABLE_BRANCH_NAME#egg=jans-pycloudlib&subdirectory=jans-pycloudlib' ./docker-jans-$image/requirements.txt
          done

      - name: Configure Git and open stable PR
        if: github.event_name != 'pull_request'
        run: |
          git config user.name "mo-auto"
          git config user.email "54212639+mo-auto@users.noreply.github.com"
          git config --global user.signingkey "${{ steps.import_gpg.outputs.keyid }}"
          git add -A
          git commit -S -s -m "chore(jans-pycloudlib): updated stable build"

      # Buggy behaviour with gh pr command. Will use the following action until bugs have been fixed.
      #PR=$(gh pr create --head $PR_DOCKER_DEV_BRANCH_NAME --assignee "moabu" --base "master" --body "Updated build date. Auto-generated." --label "enhancement,bot" --reviewer "moabu" --title "chore(Dockerfile): updated build dates" || echo "PR Branch is already open")
      - name: Open PR
        if: github.event_name != 'pull_request'
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.MOWORKFLOWTOKEN }}
          committer: mo-auto <54212639+mo-auto@users.noreply.github.com>
          author: mo-auto <54212639+mo-auto@users.noreply.github.com>
          branch: $PR_DOCKER_STABLE_BRANCH_NAME
          title: 'chore(Dockerfile): updated build date'
          body: |
            - Merge PR. Do not leave open
            - Updated stable build
            - Auto-generated.
          labels: |
            enhancement
            bot
          assignees: moabu
          reviewers: moabu
          delete-branch: true

      # Buggy behaviour with gh pr command. Will use the following action until bugs have been fixed.
      #PR=$(gh pr create --head $PR_DOCKER_DEV_BRANCH_NAME --assignee "moabu" --base "master" --body "Updated build date. Auto-generated." --label "enhancement,bot" --reviewer "moabu" --title "chore(Dockerfile): updated build dates" || echo "PR Branch is already open")
      - name: Open PR
        if: github.event_name == 'pull_request'
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.MOWORKFLOWTOKEN }}
          committer: mo-auto <54212639+mo-auto@users.noreply.github.com>
          author: mo-auto <54212639+mo-auto@users.noreply.github.com>
          branch: $PR_DOCKER_DEV_BRANCH_NAME
          title: 'chore(Dockerfile): updated build date'
          body: |
            - Always leave open
            - Updated stable build
            - Auto-generated.
          labels: |
            enhancement
            bot
          assignees: moabu
          reviewers: moabu
          delete-branch: true