name: Images Janspycloud updater

on:
  push:
    branches:
      - main
    paths:
      - "jans-pycloudlib/**"
      - "!**.md"
      - "!jans-pycloudlib/jans/pycloudlib/version.py"
  workflow_dispatch:

jobs:
  pycloud-updater:
    if: github.actor != 'mo-auto'
    runs-on: ubuntu-latest
    env:
      PR_DOCKER_BRANCH_NAME: update-jans-pycloudlib
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Configure Git
        run: |
          git config user.name "mo-auto"
          git config user.email "54212639+mo-auto@users.noreply.github.com"
          git config --global user.signingkey "${{ steps.import_gpg.outputs.keyid }}"
          git checkout -b ${{ env.PR_DOCKER_BRANCH_NAME }}
          echo "${{ secrets.MOAUTO_WORKFLOW_TOKEN }}" | gh auth login --with-token

      - name: Update stable requirements in docker images
        id: build_stable_reqs
        run: |
          dockerimages="auth-server certmanager config-api configurator fido2 persistence-loader scim"
          for image in $dockerimages; do
            sed -i '/git+https/c\git+https://github.com/${{ github.repository }}@${{ github.sha }}#egg=jans-pycloudlib&subdirectory=jans-pycloudlib' ./docker-jans-$image/requirements.txt
          done

      - name: Configure Git
        run: |
          git add -A
          git commit -S -s -m "chore(jans-pycloudlib): updated build"
          PR=$(gh pr create --assignee "moabu" --base "main" --body "Updated build date. Auto-generated." --label "enhancement,bot" --reviewer "moabu" --title "chore(Dockerfile): updated build dates" || echo "PR Branch is already open")
