name: Images Janspycloud updater

on:
  push:
    branches:
      - master
      - main
    paths:
      - "jans-pycloudlib/**"
      - "!**.md"
  pull_request:
    branches:
      - master
      - main
    paths:
      - "jans-pycloudlib/**"
      - "!jans-pycloudlib/CHANGELOG.md"
      - "!jans-pycloudlib/jans/pycloudlib/version.py"
      - "!**.md"
  workflow_dispatch:

jobs:
  pycloud-updater:
    runs-on: ubuntu-latest
    env:
      PR_DOCKER_BRANCH_NAME: update-jans-pycloudlib
    steps:
      - name: Checkout
        if: github.actor != 'mo-auto'
        uses: actions/checkout@v3

      - uses: actions/checkout@v3
        if: github.event_name == 'pull_request' && github.actor != 'mo-auto'
        with:
          ref: ${{ github.head_ref }}

      - name: Import GPG key
        id: import_gpg
        if: github.actor != 'mo-auto'
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update stable requriments in docker images
        if: github.actor != 'mo-auto'
        id: build_stable_reqs
        run: |
          dockerimages="auth-server certmanager config-api configurator fido2 persistence-loader scim"
          for image in $dockerimages; do
            sed -i '/git+https/c\git+https://github.com/${{ github.repository }}@${{ github.sha }}#egg=jans-pycloudlib&subdirectory=jans-pycloudlib' ./docker-jans-$image/requirements.txt
          done

      - name: Configure Git
        if: github.actor != 'mo-auto'
        run: |
          git config user.name "mo-auto"
          git config user.email "54212639+mo-auto@users.noreply.github.com"
          git config --global user.signingkey "${{ steps.import_gpg.outputs.keyid }}"
          git add -A
          git commit -S -s -m "chore(jans-pycloudlib): updated build"

      # Buggy behaviour with gh pr command. Will use the following action until bugs have been fixed.
      #PR=$(gh pr create --head $PR_DOCKER_DEV_BRANCH_NAME --assignee "moabu" --base "master" --body "Updated build date. Auto-generated." --label "enhancement,bot" --reviewer "moabu" --title "chore(Dockerfile): updated build dates" || echo "PR Branch is already open")
      - name: Open PR
        id: cpr
        uses: peter-evans/create-pull-request@v4
        if: github.event_name == 'pull_request' && github.actor != 'mo-auto'
        with:
          token: ${{ secrets.MOAUTO_WORKFLOW_TOKEN }}
          committer: mo-auto <54212639+mo-auto@users.noreply.github.com>
          author: mo-auto <54212639+mo-auto@users.noreply.github.com>
          branch: 'update-pycloud-in-${{ github.head_ref }}'
          title: 'chore(Dockerfiles): updated janspycloud build in ${{ github.head_ref }}'
          body: |
            - This PR will automerge
            - Updated unstable build
            - Auto-generated.
          labels: |
            enhancement
            bot
          assignees: moabu
          delete-branch: true
          base: ${{ github.head_ref }}

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created' && github.actor != 'mo-auto'
        uses: peter-evans/enable-pull-request-automerge@v2
        with:
          token: ${{ secrets.MOAUTO_WORKFLOW_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash

      # Buggy behaviour with gh pr command. Will use the following action until bugs have been fixed.
      #PR=$(gh pr create --head $PR_DOCKER_DEV_BRANCH_NAME --assignee "moabu" --base "master" --body "Updated build date. Auto-generated." --label "enhancement,bot" --reviewer "moabu" --title "chore(Dockerfile): updated build dates" || echo "PR Branch is already open")
      - name: Open PR
        uses: peter-evans/create-pull-request@v4
        if: github.event_name != 'pull_request' && github.actor != 'mo-auto'
        with:
          token: ${{ secrets.MOAUTO_WORKFLOW_TOKEN }}
          committer: mo-auto <54212639+mo-auto@users.noreply.github.com>
          author: mo-auto <54212639+mo-auto@users.noreply.github.com>
          branch: ${{ env.PR_DOCKER_BRANCH_NAME }}
          title: 'chore(Dockerfiles): updated janspycloud build'
          body: |
            - Always leave open
            - Updated unstable build
            - Auto-generated.
          labels: |
            enhancement
            bot
          assignees: moabu
          reviewers: moabu
          delete-branch: true
          base: ${{ github.head_ref }}
