name: Flake lint Python
on:
  push:
    branches:
      - main
    paths:
      - 'jans-pycloudlib/**'
      - 'jans-cli-tui/**'
      - 'jans-linux-setup/**'
  pull_request:
    branches:
      - main
    paths:
      - 'jans-pycloudlib/**'
      - 'jans-cli-tui/**'
      - 'jans-linux-setup/**'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      #max-parallel: 1
      fail-fast: false
      matrix:
        python-projects: [
          "jans-pycloudlib",
          "jans-cli-tui",
          "jans-linux-setup"
        ]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Set up Python 3.8
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      working-directory: ${{ matrix.python-projects }}
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=jans-linux-setup/jans_setup/setup_app/pylib,jans-linux-setup/jans_setup/static/extension
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude=jans-linux-setup/jans_setup/setup_app/pylib,jans-linux-setup/jans_setup/static/extension
      working-directory: ${{ matrix.python-projects }}
