name: sync
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "terraform-provider-jans/**"
permissions:
  contents: read

jobs:
  publish:
    name: Push to terraform-provider-jans repo
    if: github.repository == 'JanssenProject/jans'
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Split and sync to downstream repo
      run: |
        git config --global user.name "mo-auto"
        git config --global user.email "54212639+mo-auto@users.noreply.github.com"

        SPLIT_BRANCH="terraform-split"
        git subtree split --prefix=terraform-provider-jans -b "$SPLIT_BRANCH"

        DOWNSTREAM="https://github.com/JanssenProject/terraform-provider-jans.git"
        git remote add downstream "$DOWNSTREAM"
        git -c "http.https://github.com/.extraheader=AUTHORIZATION: bearer ${TOKEN}" push downstream "${SPLIT_BRANCH}:main" --force-with-lease
      env:
        TOKEN: ${{ secrets.MOAUTO_WORKFLOW_TOKEN }}
