name: cleanup caches by a branch
on:
  pull_request:
    types:
      - closed
  workflow_dispatch:
permissions:
  actions: write  # to delete PR caches via gh cache delete
  contents: read
jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Cleanup
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          BRANCH="refs/pull/${PR_NUMBER}/merge"

          echo "Fetching list of cache keys"
          cacheKeysForPR=$(gh cache list -R "$REPO" --ref "$BRANCH" | cut -f 1)

          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              gh cache delete "$cacheKey" -R "$REPO"
          done
          echo "Done"
