name: testcases

on:
  push:
    branches:
      - master
    paths:
      - "jans/**"
      - "tests/**"
      - "setup.py"
  pull_request:
    branches:
      - master
    paths:
      - "jans/**"
      - "tests/**"
      - "setup.py"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install tox
    - name: Test with pytest
      run: |
        cat tox.ini |  sed -s "s@cov-report=term-missing@cov-report=xml@g" > tmpfile.ini && mv tmpfile.ini tox.ini
        tox
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        files: ./coverage1.xml,./coverage2.xml
        directory: ./coverage/reports/
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true